Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, kyma-tests-kubeless-integration, kyma-tests-kubeless, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Rename to Namespace Controller
  docs/kyma/docs/034-inst-install-subcomponents.md
  resources/core/charts/namespace-controller/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs

Move service catalog installation to shared package
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/clusterserviceclass_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/servicebinding_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/servicecatalog_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/serviceclass_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/serviceinstance_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalogaddons/servicebinding_usage_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/shared/fixture/servicebinding.go
  tests/ui-api-layer-acceptance-tests/internal/domain/shared/fixture/serviceinstance.go
  tests/ui-api-layer-acceptance-tests/internal/domain/shared/servicebindingusage.go
  tests/ui-api-layer-acceptance-tests/internal/domain/shared/serviceinstance.go
  tests/ui-api-layer-acceptance-tests/internal/domain/shared/setup/servicecatalog.go
  tests/ui-api-layer-acceptance-tests/internal/domain/shared/wait/serviceinstance.go
Due: none

Move files to servicecatalogaddons domain
  components/ui-api-layer/internal/domain/servicecatalog/automock/export.go
  components/ui-api-layer/internal/domain/servicecatalog/dep.go
  components/ui-api-layer/internal/domain/servicecatalog/export_test.go
  components/ui-api-layer/internal/domain/servicecatalog/listener/automock/export.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/automock/export.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/automock/service_binding_operations.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/automock/service_binding_usage_operations.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/automock/status_binding_usage_extractor.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/automock/usage_kind_services.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/export_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/listener/automock/export.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/listener/automock/gql_binding_usage_converter.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/listener/servicebinding_usage.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/listener/servicebinding_usage_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicebindingusage_converter.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicebindingusage_converter_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicebindingusage_resolver.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicebindingusage_resolver_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicebindingusage_service.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicebindingusage_service_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/status/binding_usage.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/status/binding_usage_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/usagekind_converter.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/usagekind_converter_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/usagekind_resolver.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/usagekind_resolver_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/usagekind_service.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/usagekind_service_test.go
  components/ui-api-layer/pkg/resource/notifier.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Adjust changes to servicecatalogaddons
  components/ui-api-layer/internal/domain/k8s/deployment_resolver.go
  components/ui-api-layer/internal/domain/k8s/deployment_resolver_test.go
  components/ui-api-layer/internal/domain/k8s/export_test.go
  components/ui-api-layer/internal/domain/k8s/k8s.go
  components/ui-api-layer/internal/domain/root_resolver.go
  components/ui-api-layer/internal/domain/servicecatalog/dep.go
  components/ui-api-layer/internal/domain/servicecatalog/disabled/resolver.go
  components/ui-api-layer/internal/domain/servicecatalog/disabled/service_binding_finder_lister.go
  components/ui-api-layer/internal/domain/servicecatalog/export_test.go
  components/ui-api-layer/internal/domain/servicecatalog/pretty/kind.go
  components/ui-api-layer/internal/domain/servicecatalog/servicecatalog.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/automock/export.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/automock/service_binding_usage_operations.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/bindableresources_resolver.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/bindableresources_resolver_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/disabled/resolver.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/disabled/service_binding_usage_lister.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/export_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/pretty/kind.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicebindingusage_resolver.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicebindingusage_resolver_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicebindingusage_service.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicecatalogaddons.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/usagekind_resolver.go
  components/ui-api-layer/internal/domain/shared/automock/service_binding_finder_lister.go
  components/ui-api-layer/internal/domain/shared/automock/service_binding_getter.go
  components/ui-api-layer/internal/domain/shared/automock/service_catalog_addons_retriever.go
  components/ui-api-layer/internal/domain/shared/automock/service_catalog_retriever.go
  components/ui-api-layer/internal/domain/shared/servicecatalog.go
  components/ui-api-layer/internal/domain/shared/servicecatalogaddons.go
  components/ui-api-layer/pkg/resource/notifier.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Finish splitting SC domain to SC and SCA
  components/ui-api-layer/internal/domain/k8s/deployment_resolver_test.go
  components/ui-api-layer/internal/domain/root_resolver.go
  components/ui-api-layer/internal/domain/servicecatalog/automock/export.go
  components/ui-api-layer/internal/domain/servicecatalog/servicecatalog_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/automock/bindable_resource_lister.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/automock/export.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/automock/service_binding_operations.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/automock/service_binding_usage_operations.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/bindableresources_resolver_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicebindingusage_resolver_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicebindingusage_service_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicecatalogaddons.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

switch to gorilla mux router; add authentication middleware; fetch user info from context
  components/apiserver-proxy/internal/authn/oidc.go
  components/ui-api-layer/Gopkg.lock
  components/ui-api-layer/internal/authn/middleware.go
  components/ui-api-layer/internal/authn/oidc.go
  components/ui-api-layer/main.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Small improvements
  components/ui-api-layer/internal/authn/middleware.go
  components/ui-api-layer/main.go
  resources/core/charts/ui-api/templates/deployment.yaml
Due: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Move RBAC directive to authn package
  components/ui-api-layer/internal/authz/rbac.go
  components/ui-api-layer/main.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

review fix
  resources/core/charts/namespace-controller/README.md
Due: kyma-integration, kyma-gke-integration, console-integration

Format code
  components/ui-api-layer/internal/domain/k8s/deployment_resolver.go
  components/ui-api-layer/internal/domain/root_resolver.go
  components/ui-api-layer/internal/domain/servicecatalog/dep.go
  components/ui-api-layer/internal/domain/servicecatalog/export_test.go
  components/ui-api-layer/internal/domain/servicecatalog/servicecatalog.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/export_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/listener/automock/export.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicebindingusage_resolver.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicebindingusage_resolver_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicebindingusage_service.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicebindingusage_service_test.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicecatalogaddons.go
  components/ui-api-layer/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Increase timeout for BackendModule test
  tests/ui-api-layer-acceptance-tests/internal/domain/ui/backendmodule_test.go
Due: none

fix
  components/xip-patch/xip-patch.sh
  installation/resources/installer-config-cluster.yaml.tpl
  resources/xip-patch/templates/job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

revert accidential changes in apiserver-proxy
  components/apiserver-proxy/internal/authn/oidc.go
Due: console-integration

fix
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/tests/test-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

fix
  installation/resources/installer-config-cluster.yaml.tpl
Due: kyma-integration, kyma-gke-integration

Make separate namespaces for SC and SCA tests
  tests/ui-api-layer-acceptance-tests/internal/domain/k8s/limitrange_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/k8s/resourcequota_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/servicebinding_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/servicebroker_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/servicecatalog.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/servicecatalog_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/serviceclass_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/serviceinstance_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalogaddons/servicebinding_usage_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalogaddons/servicecatalogaddons.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalogaddons/usage_kind_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/shared/fixture/servicebinding.go
  tests/ui-api-layer-acceptance-tests/internal/domain/shared/fixture/serviceinstance.go
  tests/ui-api-layer-acceptance-tests/internal/domain/shared/setup/servicecatalog.go
  tests/ui-api-layer-acceptance-tests/internal/domain/shared/wait/serviceinstance.go
  tests/ui-api-layer-acceptance-tests/internal/domain/shared/wait/wait.go
  tests/ui-api-layer-acceptance-tests/internal/domain/ui/backendmodule_test.go
  tests/ui-api-layer-acceptance-tests/internal/installer/broker.go
  tests/ui-api-layer-acceptance-tests/internal/installer/pod.go
  tests/ui-api-layer-acceptance-tests/tester.go
Due: none

fix
  installation/scripts/configure-components.sh
Due: kyma-integration, kyma-gke-integration

init
  installation/cmd/run.sh
  installation/scripts/configure-azure-broker.sh
  installation/scripts/configure-components.sh
  installation/scripts/generate-local-config.sh
  installation/scripts/installer.sh
Due: kyma-integration, kyma-gke-integration

Fix dynamic IPs
  installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  resources/istio-kyma-patch/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

remove all references
  components/installer/scripts/run.sh
  docs/kyma/docs/033-inst-local-installation-scripts.md
Due: console-integration, kyma-docs

Application-connector fix for xip-io feature (#2166)
  components/xip-patch/xip-patch.sh
  installation/resources/installer-config-cluster.yaml.tpl
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/tests/test-acceptance.yaml
  resources/xip-patch/templates/job.yaml
  resources/xip-patch/templates/roles.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Correct links
  milv.config.yaml
Due: none

TW updates
  docs/kyma/docs/030-inst-local-installation-from-release.md
Due: kyma-docs

TW review 2
  docs/kyma/docs/033-inst-local-installation-scripts.md
Due: kyma-docs

Correct further links
  components/helm-broker/README.md
Due: console-integration

shellcheck
  installation/scripts/configure-components.sh
Due: kyma-integration, kyma-gke-integration

Improve the overall SC documentation
  docs/service-catalog/docs/005-architecture-service-catalog.md
  docs/service-catalog/docs/010-details-resources.md
  docs/service-catalog/docs/011-details-add-service-to-the-catalog.md
  docs/service-catalog/docs/012-details-provisioning-and-binding.md
  docs/service-catalog/docs/014-details-backup-and-restore.md
Due: kyma-docs

Rename to Namespace Controller (#2171)
  docs/kyma/docs/034-inst-install-subcomponents.md
  resources/core/charts/namespace-controller/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs

Extract sub-components configuration to the 'installer.sh' script (#2092)
  components/installer/scripts/run.sh
  docs/kyma/docs/033-inst-local-installation-scripts.md
  installation/cmd/run.sh
  installation/scripts/configure-azure-broker.sh
  installation/scripts/configure-components.sh
  installation/scripts/generate-local-config.sh
  installation/scripts/installer.sh
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs

Use bundles 0.2.0 - added testing bundles.
  docs/service-brokers/docs/003-overview-gcp-broker.md
  resources/core/charts/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs

bump img version
  resources/core/charts/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Support bind schemas and OSB fields in bundles
  components/helm-broker/Gopkg.lock
  components/helm-broker/Gopkg.toml
  components/helm-broker/internal/bind/resolver_example_test.go
  components/helm-broker/internal/bind/resolver_test.go
  components/helm-broker/internal/broker/broker_syncer.go
  components/helm-broker/internal/broker/broker_syncer_test.go
  components/helm-broker/internal/broker/catalog.go
  components/helm-broker/internal/broker/catalog_syncer_test.go
  components/helm-broker/internal/broker/server.go
  components/helm-broker/internal/bundle/form.go
  components/helm-broker/internal/bundle/form_test.go
  components/helm-broker/internal/bundle/helpers_test.go
  components/helm-broker/internal/bundle/loader.go
  components/helm-broker/internal/bundle/testdata/bundle-ignore-file-in-chart-dir.input.tgz
  components/helm-broker/internal/bundle/testdata/bundle-redis-0.0.1.golden/plans/enterprise/bind-instance-schema.json
  components/helm-broker/internal/bundle/testdata/bundle-redis-0.0.1.golden/plans/micro/bind-instance-schema.json
  components/helm-broker/internal/bundle/testdata/bundle-redis-0.0.1.input.tgz
  components/helm-broker/internal/config/config.go
  components/helm-broker/internal/model.go
  components/helm-broker/internal/storage/driver/etcd/entity_bundle.go
  components/helm-broker/internal/storage/storage.go
  docs/service-brokers/docs/005-overview-helm-broker.md
  docs/service-brokers/docs/012-configuration-helm-broker-bundles.md
Due: console-integration, kyma-docs

Support bind schemas and OSB fields in bundles (#2144)
  components/helm-broker/Gopkg.lock
  components/helm-broker/Gopkg.toml
  components/helm-broker/internal/bind/resolver_example_test.go
  components/helm-broker/internal/bind/resolver_test.go
  components/helm-broker/internal/broker/broker_syncer.go
  components/helm-broker/internal/broker/broker_syncer_test.go
  components/helm-broker/internal/broker/catalog.go
  components/helm-broker/internal/broker/catalog_syncer_test.go
  components/helm-broker/internal/broker/server.go
  components/helm-broker/internal/bundle/form.go
  components/helm-broker/internal/bundle/form_test.go
  components/helm-broker/internal/bundle/helpers_test.go
  components/helm-broker/internal/bundle/loader.go
  components/helm-broker/internal/bundle/testdata/bundle-ignore-file-in-chart-dir.input.tgz
  components/helm-broker/internal/bundle/testdata/bundle-redis-0.0.1.golden/plans/enterprise/bind-instance-schema.json
  components/helm-broker/internal/bundle/testdata/bundle-redis-0.0.1.golden/plans/micro/bind-instance-schema.json
  components/helm-broker/internal/bundle/testdata/bundle-redis-0.0.1.input.tgz
  components/helm-broker/internal/config/config.go
  components/helm-broker/internal/model.go
  components/helm-broker/internal/storage/driver/etcd/entity_bundle.go
  components/helm-broker/internal/storage/storage.go
  docs/service-brokers/docs/005-overview-helm-broker.md
  docs/service-brokers/docs/012-configuration-helm-broker-bundles.md
Due: console-integration, kyma-docs

Bump Helm Broker version
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Bump Helm Broker version (#2180)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Revert SB doc name change
  components/helm-broker/README.md
  docs/service-brokers/docs/011-configuration-helm-broker.md
  docs/service-brokers/docs/012-configuration-helm-broker-bundles.md
  docs/service-brokers/docs/013-configuration-helm-broker-bundles-binding.md
  docs/service-brokers/docs/014-configuration-enable-azure-broker.md
  docs/service-brokers/docs/020-architecture-ab.md
  docs/service-brokers/docs/021-architecture-helm-broker.md
  docs/service-brokers/docs/040-cr-event-activation.md
  milv.config.yaml
Due: console-integration, kyma-docs

Moved deleteIfExists to release manager
  components/application-operator/pkg/controller/reconciler.go
  components/application-operator/pkg/controller/reconciler_test.go
  components/application-operator/pkg/kymahelm/application/mocks/ReleaseManager.go
  components/application-operator/pkg/kymahelm/application/releasemanager.go
  components/application-operator/pkg/kymahelm/application/releasemanager_test.go
Due: console-integration, kyma-components-application-operator

bump instances img
  resources/core/charts/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration
