Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: values.schema.json
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Move custom values to ory chart values.yaml
  resources/ory/charts/hydra/values.yaml
  resources/ory/charts/oathkeeper/values.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Extract virtualservice from subcharts
  resources/ory/templates/virtualservice-hydra.yaml
  resources/ory/templates/virtualservice-oathkeeper.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Renamed controller, final fixes
  resources/ory/charts/maester/.helmignore
  resources/ory/charts/maester/Chart.yaml
  resources/ory/charts/maester/templates/_helpers.tpl
  resources/ory/charts/maester/templates/crd.yaml
  resources/ory/charts/maester/templates/deployment.yaml
  resources/ory/charts/maester/templates/rbac.yaml
  resources/ory/charts/maester/values.yaml
  resources/ory/charts/oathkeeper/templates/deployment.yaml
  resources/ory/charts/oathkeeper/templates/rules-configmap.yaml
  resources/ory/charts/oathkeeper/values.yaml
  resources/ory/charts/rule-controller/Chart.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Change clusterrole to role
  resources/ory/charts/rule-controller/templates/deployment.yaml
  resources/ory/charts/rule-controller/templates/rbac.yaml
  resources/ory/charts/rule-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Change role to clusterrole, bug in api call
  resources/ory/charts/rule-controller/templates/rbac.yaml
  resources/ory/charts/rule-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

add rule-controller chart
  resources/ory/charts/oathkeeper/templates/deployment.yaml
  resources/ory/charts/oathkeeper/templates/rules-configmap.yaml
  resources/ory/charts/oathkeeper/values.yaml
  resources/ory/charts/rule-controller/.helmignore
  resources/ory/charts/rule-controller/Chart.yaml
  resources/ory/charts/rule-controller/templates/_helpers.tpl
  resources/ory/charts/rule-controller/templates/crd.yaml
  resources/ory/charts/rule-controller/templates/deployment.yaml
  resources/ory/charts/rule-controller/templates/rbac.yaml
  resources/ory/charts/rule-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Kyma-related charts update
  resources/ory/charts/hydra/templates/ingress-admin.yaml
  resources/ory/charts/hydra/templates/ingress-public.yaml
  resources/ory/charts/hydra/templates/virtual-service.yaml
  resources/ory/charts/hydra/values.yaml
  resources/ory/charts/oathkeeper/templates/ingress-api.yaml
  resources/ory/charts/oathkeeper/templates/ingress-proxy.yaml
  resources/ory/charts/oathkeeper/templates/rules-configmap.yaml
  resources/ory/charts/oathkeeper/values.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Limits cause hydra pod unhealthy, removed test entries from configmap
  resources/ory/charts/oathkeeper/templates/rules-configmap.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

first working rbac, to be refined
  resources/ory/charts/rule-controller/templates/rbac.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Sync with ory/k8s latest changes
  resources/ory/charts/hydra/templates/configmap.yaml
  resources/ory/charts/hydra/templates/deployment.yaml
  resources/ory/charts/hydra/templates/ingress-admin.yaml
  resources/ory/charts/hydra/templates/ingress-public.yaml
  resources/ory/charts/hydra/templates/secrets.yaml
  resources/ory/charts/hydra/templates/service-admin.yaml
  resources/ory/charts/hydra/templates/service-public.yaml
  resources/ory/charts/maester/templates/deployment.yaml
  resources/ory/charts/maester/values.yaml
  resources/ory/charts/oathkeeper/templates/configmap-config-demo.yaml
  resources/ory/charts/oathkeeper/templates/configmap-config.yaml
  resources/ory/charts/oathkeeper/templates/configmap-rules.yaml
  resources/ory/charts/oathkeeper/templates/deployment.yaml
  resources/ory/charts/oathkeeper/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Configure default rules map entries
  resources/ory/charts/oathkeeper/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Configure default rules map entries
  resources/ory/charts/oathkeeper/templates/configmap.yaml
  resources/ory/charts/oathkeeper/templates/rules-configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Switch to newest oathkeeper image
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Rename controller to maester
  resources/ory/charts/maester/Chart.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Sync with ory/k8s latest changes
  resources/ory/charts/hydra/templates/_helpers.tpl
  resources/ory/charts/hydra/templates/deployment.yaml
  resources/ory/charts/maester/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Remove subpaths
  resources/ory/charts/maester/values.yaml
  resources/ory/charts/oathkeeper/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Remove subpaths
  resources/ory/charts/oathkeeper/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add missing content
  resources/ory/charts/oathkeeper/templates/configmap-config.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix demo behaviour
  resources/ory/charts/oathkeeper/templates/configmap-config.yaml
  resources/ory/charts/oathkeeper/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Split config dirs
  resources/ory/charts/oathkeeper/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Reduce sync time
  resources/compass-runtime-agent/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Rebase with master
  resources/ory/charts/maester/Chart.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add constrain for go-getter
  components/helm-broker/Gopkg.lock
  components/helm-broker/Gopkg.toml
Due: console-integration, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker

Add troubleshooting guide for the restore
  docs/backup/08-02-restore-backup.md
Due: post-master-kyma-docs-website, kyma-docs

Add constrain for go-getter (#5099)
  components/helm-broker/Gopkg.lock
  components/helm-broker/Gopkg.toml
Due: console-integration, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker

Add documentation about the git support in Helm Broker
  docs/helm-broker/01-01-helm-broker.md
  docs/helm-broker/02-01-helm-broker.md
  docs/helm-broker/02-02-deep-dive.md
  docs/helm-broker/03-02-bind-addons.md
  docs/helm-broker/03-03-create-addons-repo.md
  docs/helm-broker/03-04-fetch-addons-from-https-servers.md
  docs/helm-broker/03-04-fetch-addons-from-remote-servers.md
  docs/helm-broker/03-05-registration-rules.md
Due: post-master-kyma-docs-website, kyma-docs

Add Tenant and Group to Application and TokenRequest
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
  tests/end-to-end/external-solution-integration/pkg/testkit/connector.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/connect_application.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_application.go
Due: pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration

Bump image
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix import
  tests/end-to-end/external-solution-integration/pkg/testkit/connector.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_application.go
Due: pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration

Adjust calls
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
  tests/end-to-end/external-solution-integration/internal/scenario/send_event_and_check_counter.go
Due: pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration

Fix for update issue
  components/compass-runtime-agent/cmd/main.go
  components/compass-runtime-agent/internal/kyma/applications/manager.go
  components/compass-runtime-agent/internal/kyma/applications/mocks/Repository.go
  components/compass-runtime-agent/internal/kyma/applications/repository.go
  components/compass-runtime-agent/internal/kyma/applications/types.go
  components/compass-runtime-agent/internal/kyma/service.go
  components/compass-runtime-agent/internal/kyma/service_test.go
Due: console-integration

Rename Application services to not to start with Application Name
  components/application-operator/charts/application/templates/service.yaml
  components/application-operator/charts/application/templates/validator.yaml
Due: console-integration, kyma-components-application-operator

Add size limit for HelmBroker storage (#5061)
  docs/helm-broker/03-01-create-addons.md
  docs/helm-broker/05-01-helm-broker.md
  resources/helm-broker/templates/deploy.yaml
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Adjust tests, bump images
  resources/application-connector/values.yaml
  tests/application-operator-tests/test/testkit/k8sresources_check.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Sync with ory/k8s latest changes
  resources/ory/charts/maester/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Enable ory component
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump image
  resources/ory/charts/maester/values.yaml
  resources/ory/templates/hpa.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add note
  docs/backup/08-02-restore-backup.md
Due: post-master-kyma-docs-website, kyma-docs

Define tenant and group flags
  resources/core/templates/tests/test-external-solution.yaml
  resources/core/values.yaml
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
  tests/end-to-end/external-solution-integration/internal/scenario/send_event_and_check_counter.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration

Add toggle
  docs/backup/08-01-create-backup.md
Due: post-master-kyma-docs-website, kyma-docs
