Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

prow/kyma/kyma-integration:
  optional: true
  labels:
    preset-sa-vm-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-and-start-kyma.sh

prow/kyma/kyma-gke-integration:
  optional: true
  labels:
    preset-sa-gke-kyma-integration: 'true'
    preset-gc-compute-envs: 'true'
    preset-gc-project-env: 'true'
    preset-build-pr: 'true'
    preset-docker-push-repository: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

prow/test-infra/test-job-yaml-definitions:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      workingDir: /home/prow/go/src/github.com/kyma-project/test-infra/development/tools/jobs/
      env:
      - name: GOPATH
        value: /home/prow/go
      command:
      - make
      args:
      - jobs-tests
  ...

prow/test-infra/test-jobs-yaml-definitions:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      workingDir: /home/prow/go/src/github.com/kyma-project/test-infra/development/tools/jobs/
      command:
      - make
      args:
      - jobs-tests

Bump metadata tests version
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add more classes
  docs/service-brokers/gcp-broker-service-classes/bigquery/docs/plans-details.md
  docs/service-brokers/gcp-broker-service-classes/cloud-bigtable/docs/plans-details.md
  docs/service-brokers/gcp-broker-service-classes/cloud-iam-service-account/docs/overview.md
  docs/service-brokers/gcp-broker-service-classes/cloud-iam-service-account/docs/plans-details.md
  docs/service-brokers/gcp-broker-service-classes/cloud-pubsub/docs/overview.md
  docs/service-brokers/gcp-broker-service-classes/cloud-pubsub/docs/plans-details.md
  docs/service-brokers/gcp-broker-service-classes/cloud-spanner/docs/overview.md
  docs/service-brokers/gcp-broker-service-classes/cloud-spanner/docs/plans-details.md
  docs/service-brokers/gcp-broker-service-classes/cloud-sql-mysql/docs/overview.md
  docs/service-brokers/gcp-broker-service-classes/cloud-sql-mysql/docs/plans-details.md
Due: none

Support params.BUILD_COMPONENTS in release pipeline
  release.Jenkinsfile
Due: none

Refactoring acceptance test
  tests/remote-environment-controller-tests/Gopkg.lock
  tests/remote-environment-controller-tests/test/controllertests/controller_test.go
  tests/remote-environment-controller-tests/test/testkit/helm_client.go
  tests/remote-environment-controller-tests/test/testkit/k8sresources_check.go
  tests/remote-environment-controller-tests/test/testkit/k8sresources_client.go
  tests/remote-environment-controller-tests/test/testkit/suite.go
  tests/remote-environment-controller-tests/test/testkit/wait.go
Due: none

Support params.BUILD_COMPONENTS flag in release pipeline (#1786)
  release.Jenkinsfile
Due: none

Migrate Stability Checker to the prow
  tools/stability-checker/Makefile
Due: none

Add Makefiles for tools: ark-plugins, etcd-tls-setup
  tools/ark-plugins/Makefile
  tools/etcd-tls-setup/Makefile
Due: none

Fix redirects in curl when dowloading knative (#1776)
  components/knative-installer/Dockerfile
  components/knative-installer/install.sh
Due: none

Changed charts to segregate kubelesss unit tests and int tests (#1754)
  resources/core/charts/kubeless/templates/tests/test-kubeless-configmap.yaml
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
  resources/core/charts/kubeless/values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Migrate Helm Broker to prow
  components/helm-broker/Makefile
Due: none

Update values.yaml
  resources/knative-installer/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Changes based on review comments
  installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  installation/scripts/testing.sh
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Bump Metadata Service image
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update SBU status messages (#1761)
  components/binding-usage-controller/internal/controller/controller.go
  components/binding-usage-controller/internal/controller/controller_test.go
  components/binding-usage-controller/internal/controller/pretty/pretty.go
  components/binding-usage-controller/internal/controller/sbu_status.go
Due: prow/kyma/components/binding-usage-controller

Added test for skipProvisioning
  tests/remote-environment-controller-tests/Gopkg.lock
  tests/remote-environment-controller-tests/Gopkg.toml
  tests/remote-environment-controller-tests/test/controllertests/controller_test.go
  tests/remote-environment-controller-tests/test/testkit/k8sresources_client.go
  tests/remote-environment-controller-tests/test/testkit/suite.go
  tests/remote-environment-controller-tests/test/testkit/wait.go
Due: none

Add Makefiles for tools: ark-plugins, etcd-tls-setup (#1787)
  tools/ark-plugins/Makefile
  tools/etcd-tls-setup/Makefile
Due: none

Add option to append apperrors and fix error code when RE does not exist
  components/metadata-service/internal/apperrors/apperrors.go
  components/metadata-service/internal/apperrors/apperrors_test.go
  components/metadata-service/internal/metadata/remoteenv/repository.go
  components/metadata-service/internal/metadata/remoteenv/repository_test.go
  components/metadata-service/internal/metadata/servicedefservice.go
  components/metadata-service/internal/metadata/servicedefservice_test.go
Due: none

Update apperror tests
  components/metadata-service/internal/apperrors/apperrors_test.go
Due: none

Update tests/acceptance/README.md
  tests/acceptance/README.md
  tests/acceptance/build.sh
Due: none

Bump Metadata Service image (#1788)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add SQL class
  docs/service-brokers/gcp-broker-service-classes/cloud-pubsub/docs/plans-details.md
  docs/service-brokers/gcp-broker-service-classes/cloud-spanner/docs/plans-details.md
  docs/service-brokers/gcp-broker-service-classes/cloud-sql-mysql/docs/plans-details.md
Due: none

Add GCS overview
  docs/service-brokers/gcp-broker-service-classes/google-cloud-storage/docs/overview.md
Due: none

Add knative-installer component to charts (#1749)
  installation/cmd/run.ps1
  installation/cmd/run.sh
  installation/resources/installer-cr-cluster-knative.yaml.tpl
  installation/resources/installer-cr-knative.yaml.tpl
  installation/resources/watch-pods.yaml
  installation/scripts/create-cr.ps1
  installation/scripts/minikube.ps1
  installation/scripts/minikube.sh
  resources/knative-installer/Chart.yaml
  resources/knative-installer/README.md
  resources/knative-installer/templates/clusterrolebinding.yaml
  resources/knative-installer/templates/job.yaml
  resources/knative-installer/templates/serviceaccount.yaml
  resources/knative-installer/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Removed wait from k8s resource checks
  tests/remote-environment-controller-tests/test/controllertests/controller_test.go
  tests/remote-environment-controller-tests/test/testkit/k8sresources_check.go
  tests/remote-environment-controller-tests/test/testkit/k8sresources_client.go
  tests/remote-environment-controller-tests/test/testkit/suite.go
  tests/remote-environment-controller-tests/test/testkit/wait.go
Due: none

Update image version for Binding Usage Controller
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Renamed installation to provisioning
  components/remote-environment-controller/Gopkg.toml
  components/remote-environment-controller/pkg/controller/reconciler.go
  components/remote-environment-controller/pkg/controller/reconciler_test.go
  tests/remote-environment-controller-tests/test/testkit/suite.go
Due: none

unexported functions
  components/installer/pkg/overrides/overrides.go
Due: none

add comments
  components/installer/pkg/overrides/overrides.go
Due: none

Update 034-gs-get-client-certificate.md
  docs/application-connector/docs/034-gs-get-client-certificate.md
Due: none

Update 046-cr-tokenfetch.md
  docs/application-connector/docs/046-cr-tokenfetch.md
Due: none

formatting fix
  docs/application-connector/docs/034-gs-get-client-certificate.md
Due: none

gofmted
  components/installer/pkg/installation/controller.go
Due: none

fix
  components/installer/pkg/overrides/overrides.go
Due: none

Version official knative serving and eventing releases
  resources/knative/templates/eventing.yaml
  resources/knative/templates/serving.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add custom changes to knative release
  resources/knative/Chart.yaml
  resources/knative/README.md
  resources/knative/templates/eventing.yaml
  resources/knative/templates/serving.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Install knative chart instead of knative-installer
  installation/resources/installer-cr-knative.yaml.tpl
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add CODEOWNERS entry for knative chart
  CODEOWNERS
Due: none

Remove knative-installer
  CODEOWNERS
  components/knative-installer/.dockerignore
  components/knative-installer/Dockerfile
  components/knative-installer/Jenkinsfile
  components/knative-installer/README.md
  components/knative-installer/install.sh
  components/knative-installer/is-ready.sh
  resources/knative-installer/Chart.yaml
  resources/knative-installer/README.md
  resources/knative-installer/templates/clusterrolebinding.yaml
  resources/knative-installer/templates/job.yaml
  resources/knative-installer/templates/serviceaccount.yaml
  resources/knative-installer/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  prow/kyma/kyma-integration: any of: ^(resources|installation)
  prow/kyma/kyma-gke-integration: any of: ^(resources|installation)
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
