Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-components-ui-api-layer:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-docs:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-tests-kubeless-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Add watch-pods to kyma integration job (#2361)
  prow/kyma-integration-on-debian/deploy-and-test-kyma.sh
Due: none

Bump images of Application Registry and Application Proxy (#2352)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

fix typo
  installation/cmd/run.sh
Due: kyma-integration, kyma-gke-integration

apply fix
  installation/cmd/run.sh
  installation/scripts/installer.sh
  installation/scripts/minikube.sh
  installation/scripts/utils.sh
Due: kyma-integration, kyma-gke-integration

fix
  installation/cmd/run.sh
  installation/scripts/installer.sh
  installation/scripts/minikube.sh
  installation/scripts/utils.sh
Due: kyma-integration, kyma-gke-integration

set sidecar.istio.io/inject value to false inside application connector charts
  resources/application-connector/charts/application-broker/templates/deployment.yaml
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/charts/application-operator/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/application-registry/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/connection-token-handler/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/nginx-ingress/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

set sidecar injection to false where needed
  resources/core/charts/api-controller/templates/deployment.yaml
  resources/core/charts/api-controller/templates/tests/test-account-and-role.yaml
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
  resources/core/charts/azure-broker/charts/redis/templates/deployment.yaml
  resources/core/charts/azure-broker/templates/azure-service-classes-docu.yaml
  resources/core/charts/azure-broker/templates/deployment.yaml
  resources/core/charts/namespace-controller/templates/4-deployment.yaml
  resources/core/charts/namespace-controller/templates/tests/test-namespace-controller.yaml
  resources/dex/templates/dex-deployment.yaml
  resources/dex/templates/tests/test-dex-connection.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

fix
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

fix
  resources/core/charts/api-controller/templates/tests/test-account-and-role.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

set sidecar injection to false where needed
  resources/cluster-essentials/charts/pod-preset/templates/controller-manager/stateful-set.yaml
  resources/cluster-essentials/charts/pod-preset/templates/webhook/deploy.yaml
  resources/core/charts/docs/charts/content-ui/templates/deployment.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-gcp-service-classes.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-hb-service-classes.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-job.yaml
  resources/core/charts/etcd-operator/templates/backup-deployment.yaml
  resources/core/charts/helm-broker/charts/etcd-stateful/templates/03-statefulset.yaml
  resources/core/charts/helm-broker/templates/deploy.yaml
  resources/core/charts/service-catalog-addons/charts/brokers-ui/templates/deployment.yaml
  resources/core/templates/tests/test-core-acceptance.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/core/templates/tests/test-ui-api-acceptance.yaml
  resources/service-catalog/charts/catalog/templates/apiserver-deployment.yaml
  resources/service-catalog/charts/catalog/templates/controller-manager-deployment.yaml
  resources/service-catalog/charts/etcd-stateful/templates/00-etcd-tls-setup-job.yaml
  resources/service-catalog/charts/etcd-stateful/templates/03-statefulset.yaml
  resources/service-catalog/charts/etcd-stateful/templates/05-backup-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

set sidecar injection to false where needed
  resources/core/charts/event-bus/charts/push/templates/deployment.yaml
  resources/core/charts/event-bus/templates/tests/test-e2e-tester.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/templates/deployment.yaml
  resources/core/charts/kubeless/templates/kubeless-controller-deployment.yaml
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
  resources/logging/templates/daemonset.yaml
  resources/logging/templates/statefulset.yaml
  resources/logging/templates/tests/logging.yaml
  resources/monitoring/charts/exporter-kube-state/templates/deployment.yaml
  resources/monitoring/charts/exporter-node/templates/daemonset.yaml
  resources/monitoring/templates/tests/test-kube-prometheus.yaml
  resources/prometheus-operator/templates/create-servicemonitor-job.yaml
  resources/prometheus-operator/templates/deployment.yaml
  resources/prometheus-operator/templates/get-crd-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

set sidecar injection to false where needed
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/minio/templates/deployment.yaml
  resources/core/charts/minio/templates/post-install-create-bucket-job.yaml
  resources/core/charts/minio/templates/statefulset.yaml
  resources/core/charts/service-catalog-addons/charts/catalog-ui/templates/deployment.yaml
  resources/core/charts/service-catalog-addons/charts/instances-ui/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Apply suggestions from code review
  components/event-bus/README.md
Due: console-integration

Add authz/rbac test
  components/ui-api-layer/internal/authn/middleware.go
  components/ui-api-layer/internal/authz/rbac.go
  components/ui-api-layer/internal/authz/rbac_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Document uploading nats-streaming provisioner images (#2332)
  components/event-bus/README.md
Due: console-integration

Refactor test cases
  components/ui-api-layer/internal/authn/middleware_test.go
  components/ui-api-layer/internal/authz/auth_test.go
  components/ui-api-layer/internal/authz/fixture_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Add plugin for backing up and restore lambda functions
  tools/ark-plugins/internal/plugins/backup/function.go
  tools/ark-plugins/internal/plugins/restore/function.go
  tools/ark-plugins/main.go
Due: none

bump console core version
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Delete environment argument
  components/ui-api-layer/internal/domain/application/app_resolver.go
  components/ui-api-layer/internal/domain/application/application.go
  components/ui-api-layer/internal/domain/application/application_test.go
  components/ui-api-layer/internal/domain/application/disabled/resolver.go
  components/ui-api-layer/internal/domain/application/eventactivation_resolver.go
  components/ui-api-layer/internal/domain/application/eventactivation_resolver_test.go
  components/ui-api-layer/internal/domain/root_resolver.go
  components/ui-api-layer/internal/gqlschema/models_gen.go
  components/ui-api-layer/internal/gqlschema/schema.graphql
  components/ui-api-layer/internal/gqlschema/schema_gen.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Move prow folder - part one
  installation/scripts/prow/kyma-integration-on-debian/deploy-and-test-kyma.sh
  installation/scripts/prow/kyma-integration-on-debian/install-deps-debian.sh
Due: kyma-integration, kyma-gke-integration

Change names and numbers of selected documents
  docs/api-gateway/docs/01-01-api-gateway.md
  docs/api-gateway/docs/02-01-api-gateway.md
  docs/api-gateway/docs/03-01-security.md
  docs/api-gateway/docs/06-01-api.md
  docs/console/docs/01-01-console.md
  docs/console/docs/03-01-uiextensibility.md
  docs/console/docs/03-02-ui-api-layer.md
  docs/console/docs/06-01-microfrontend.md
  docs/console/docs/06-02-clustermicrofrontend.md
  docs/console/docs/06-03-backendmodule.md
  docs/event-bus/docs/01-01-event-bus.md
  docs/event-bus/docs/02-01-event-bus.md
  docs/event-bus/docs/03-01-concepts.md
  docs/event-bus/docs/03-02-event-flow-requirements.md
  docs/event-bus/docs/03-03-service-programming-model.md
  docs/event-bus/docs/03-04-troubleshooting.md
  docs/event-bus/docs/03-05-subscription-updates.md
  docs/event-bus/docs/06-01-subscription.md
  docs/event-bus/docs/07-01-cli-reference.md
Due: kyma-docs

Add a fix after the review
  docs/console/docs/06-03-backendmodule.md
Due: kyma-docs

Change names and numbers of selected documents (#2371)
  docs/api-gateway/docs/01-01-api-gateway.md
  docs/api-gateway/docs/02-01-api-gateway.md
  docs/api-gateway/docs/03-01-security.md
  docs/api-gateway/docs/06-01-api.md
  docs/console/docs/01-01-console.md
  docs/console/docs/03-01-uiextensibility.md
  docs/console/docs/03-02-ui-api-layer.md
  docs/console/docs/06-01-microfrontend.md
  docs/console/docs/06-02-clustermicrofrontend.md
  docs/console/docs/06-03-backendmodule.md
  docs/event-bus/docs/01-01-event-bus.md
  docs/event-bus/docs/02-01-event-bus.md
  docs/event-bus/docs/03-01-concepts.md
  docs/event-bus/docs/03-02-event-flow-requirements.md
  docs/event-bus/docs/03-03-service-programming-model.md
  docs/event-bus/docs/03-04-troubleshooting.md
  docs/event-bus/docs/03-05-subscription-updates.md
  docs/event-bus/docs/06-01-subscription.md
  docs/event-bus/docs/07-01-cli-reference.md
Due: kyma-docs

Create service in tests
  tests/knative-serving-acceptance/Gopkg.lock
  tests/knative-serving-acceptance/knative_serving_test.go
Due: none

Add lock file
  resources/knative/templates/tests/test-service.yaml
  tests/knative-serving-acceptance/Gopkg.lock
Due: kyma-integration, kyma-gke-integration, console-integration

Move prow folder under installation scripts (#2370)
  installation/scripts/prow/kyma-integration-on-debian/deploy-and-test-kyma.sh
  installation/scripts/prow/kyma-integration-on-debian/install-deps-debian.sh
Due: kyma-integration, kyma-gke-integration

Text analytics azure docs
  docs/docs-build.yaml
  docs/service-brokers/azure-broker-service-classes/azure-textanalytics/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-textanalytics/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-textanalytics/docs/plans-details.md
Due: kyma-docs

Mitigate err::NETWORK_CHANGED error + additinal timeout fixes
  resources/core/templates/tests/test-ui-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Added flags
  components/connector-service/cmd/connectorservice/options.go
Due: console-integration

Fix docs
  docs/kyma/docs/04-05-aks-installation.md
  docs/kyma/docs/04-07-aks-xip.io-domain.md
Due: kyma-docs

Add proxy_exclude_ip_ranges
  docs/kyma/docs/04-05-aks-installation.md
  docs/kyma/docs/04-07-aks-xip.io-domain.md
Due: kyma-docs

Add proxy_exclude_ip_ranges to yaml
  installation/resources/installer-config-cluster.yaml.tpl
Due: kyma-integration, kyma-gke-integration

- Extract all modular microfrontends from static console configuration into clustermicrofrontends CRs
  resources/core/charts/console/templates/apis-microfrontend.yaml
  resources/core/charts/console/templates/applications-microfrontend.yaml
  resources/core/charts/console/templates/clustermicrofrontend.crd.yaml
  resources/core/charts/console/templates/lambdas-microfrontend.yaml
  resources/core/charts/console/templates/microfrontend.crd.yaml
  resources/core/charts/console/templates/service-catalog-microfrontend.yaml
  resources/core/charts/console/templates/stats-metrics-microfrontend.yaml
  resources/core/charts/console/templates/tracing-microfrontend.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

First class NATS Streaming Helm chart
  installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  installation/resources/installer-cr-cluster-xip-io.yaml.tpl
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/core/charts/event-bus/charts/publish/templates/deployment.yaml
  resources/core/charts/event-bus/charts/push/templates/deployment.yaml
  resources/core/charts/event-bus/templates/_helpers.tpl
  resources/core/charts/event-bus/values.yaml
  resources/nats-streaming/.helmignore
  resources/nats-streaming/Chart.yaml
  resources/nats-streaming/templates/_helpers.tpl
  resources/nats-streaming/templates/configmap.yaml
  resources/nats-streaming/templates/service.yaml
  resources/nats-streaming/templates/statefulset.yaml
  resources/nats-streaming/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Add wait for upgrade
  components/installer/pkg/kymahelm/kyma-helm-client.go
  resources/service-catalog/charts/catalog/templates/apiserver-deployment.yaml
  resources/service-catalog/charts/catalog/templates/controller-manager-deployment.yaml
  tools/kyma-installer/kyma.Dockerfile
Due: kyma-integration, kyma-gke-integration, console-integration

temp change to test the GKE integration tests failure
  resources/nats-streaming/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Add wait for upgrade
  tools/kyma-installer/kyma.Dockerfile
Due: none

Duplicate the fullname to let the Helm upgrade works
  resources/core/charts/event-bus/values.yaml
  resources/nats-streaming/templates/configmap.yaml
  resources/nats-streaming/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Change numbering for documents
  docs/logging/docs/01-01-logging.md
  docs/logging/docs/02-01-logging.md
  docs/logging/docs/03-01-details-access-oklog.md
  docs/monitoring/docs/01-01-monitoring.md
  docs/monitoring/docs/02-01-monitoring.md
  docs/monitoring/docs/03-01-gs-monitoring-custom-metrics.md
Due: kyma-docs

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
