Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  prow/kyma/kyma-integration: any of: ^(resources|installation)
  prow/kyma/kyma-gke-integration: any of: ^(resources|installation)
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Bump documentation version (#1900)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Gopkg.lock
  components/connection-token-handler/Gopkg.lock
Due: console-integration

Gopkg.lock
  components/proxy-service/Gopkg.lock
Due: console-integration

Migrate Connector Service and Connector Service Tests to Prow (#1847)
  components/connector-service/.gitignore
  components/connector-service/Gopkg.lock
  components/connector-service/Makefile
  components/connector-service/before-commit.sh
  tests/connector-service-tests/Gopkg.lock
  tests/connector-service-tests/Makefile
  tests/connector-service-tests/before-commit.sh
Due: console-integration

Migrate Metadata Service and Metadata Service Tests to Prow (#1860)
  components/metadata-service/Gopkg.lock
  components/metadata-service/Makefile
  components/metadata-service/before-commit.sh
  tests/metadata-service-tests/Gopkg.lock
  tests/metadata-service-tests/Makefile
  tests/metadata-service-tests/before-commit.sh
Due: console-integration

Migrate RE Controller and RE Controller Tests to Prow (#1852)
  components/remote-environment-controller/.gitignore
  components/remote-environment-controller/Gopkg.lock
  components/remote-environment-controller/Makefile
  components/remote-environment-controller/before-commit.sh
  tests/remote-environment-controller-tests/Gopkg.lock
  tests/remote-environment-controller-tests/Makefile
  tests/remote-environment-controller-tests/before-commit.sh
Due: console-integration

Update Chart.yaml
  resources/knative/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update dead links about monitoring
  docs/monitoring/docs/030-gs-monitoring-custom-metrics.md
Due: none

Update dead links about monitoring (#1903)
  docs/monitoring/docs/030-gs-monitoring-custom-metrics.md
Due: none

Add prow related files for proxy-service component (#1867)
  components/proxy-service/.gitignore
  components/proxy-service/Makefile
  components/proxy-service/before-commit.sh
  components/proxy-service/scripts/can-i-commit.sh
Due: console-integration

Add prow related components for connection-token-handler component (#1858)
  components/connection-token-handler/.gitignore
  components/connection-token-handler/Gopkg.lock
  components/connection-token-handler/Makefile
  components/connection-token-handler/before-commit.sh
Due: console-integration

add makefile for test-environments
  tests/test-environments/Gopkg.toml
  tests/test-environments/Jenkinsfile
  tests/test-environments/Makefile
  tests/test-environments/prepare.sh
Due: none

fix
  tests/test-environments/prepare.sh
Due: none

2
  tests/test-environments/Gopkg.toml
  tests/test-environments/prepare.sh
Due: none

Create KNative chart (#1803)
  CODEOWNERS
  components/knative-installer/.dockerignore
  components/knative-installer/Dockerfile
  components/knative-installer/Jenkinsfile
  components/knative-installer/README.md
  components/knative-installer/install.sh
  components/knative-installer/is-ready.sh
  installation/resources/installer-cr-cluster-knative.yaml.tpl
  installation/resources/installer-cr-knative.yaml.tpl
  orchestrator.Jenkinsfile
  release.Jenkinsfile
  resources/knative-installer/README.md
  resources/knative-installer/templates/clusterrolebinding.yaml
  resources/knative-installer/templates/job.yaml
  resources/knative-installer/templates/serviceaccount.yaml
  resources/knative-installer/values.yaml
  resources/knative/Chart.yaml
  resources/knative/README.md
  resources/knative/templates/eventing.yaml
  resources/knative/templates/serving.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add docs for installing Kyma with Knative from sources
  docs/kyma/docs/038-inst-knative.md
  docs/kyma/docs/039-inst-custom-service-catalog.md
Due: none

Revert "Add docs for installing Kyma with Knative from sources"
  docs/kyma/docs/038-inst-knative.md
  docs/kyma/docs/039-inst-custom-service-catalog.md
Due: none

Added "virtualservices.networking.istio.io" to kyma-admin and kyma-view API groups
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Apply suggestions from mighty Szymus
  docs/kyma/docs/038-inst-knative.md
Due: none

fix
  tests/test-environments/Jenkinsfile
Due: none

Fix memory leak in Metadata Service
  components/metadata-service/internal/metadata/specification/minio/repository.go
  components/metadata-service/internal/metadata/specification/service.go
Due: console-integration

Define Makefile for UI API Layer Acceptance tests
  tests/ui-api-layer-acceptance-tests/Makefile
Due: none

Define Makefile for UI API Layer Acceptance tests (#1911)
  tests/ui-api-layer-acceptance-tests/Makefile
Due: none

remove unnecessary console overrides
  installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Switch to "networking.istio.io"
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix istio-kyma-patch
  resources/istio-kyma-patch/templates/clusterrole.yaml
  resources/istio-kyma-patch/templates/configmap.yaml
  resources/istio-kyma-patch/templates/job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add "networking.istio.io" to kyma-admin and kyma-view API groups (#1909)
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

reformat text
  resources/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add required value 'domainName'
  resources/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Change namespace and name of release
  resources/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

add makefile for test-environments (#1905)
  tests/test-environments/Jenkinsfile
  tests/test-environments/Makefile
  tests/test-environments/prepare.sh
Due: none

Fix typo
  resources/istio-kyma-patch/templates/clusterrole.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add k15r to CODEOWNERS
  CODEOWNERS
Due: none

Migrate logging, monitoring, kubeless tests to Prow
  tests/kubeless-integration/Gopkg.lock
  tests/kubeless-integration/Gopkg.toml
  tests/kubeless-integration/Makefile
  tests/kubeless/Gopkg.lock
  tests/kubeless/Gopkg.toml
  tests/kubeless/Makefile
  tests/logging/Gopkg.lock
  tests/logging/Gopkg.toml
  tests/logging/Makefile
  tests/test-logging-monitoring/Gopkg.lock
  tests/test-logging-monitoring/Gopkg.toml
  tests/test-logging-monitoring/Makefile
Due: none

Fix ui-api-layer
  components/ui-api-layer/internal/domain/content/storage/interfaces.go
  components/ui-api-layer/internal/domain/content/storage/minioclient.go
  components/ui-api-layer/internal/domain/content/storage/mock_client.go
  components/ui-api-layer/internal/domain/content/storage/store.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer

Change the domain for eventing
  resources/core/charts/kubeless/templates/tests/k8s.yaml
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix port forwarding documentation for logging
  docs/logging/docs/010-details-access-oklog.md
Due: none

Fix unit tests
  components/ui-api-layer/internal/domain/content/storage/store_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer

move kyma-installer to tools dir
  .dockerignore
  CODEOWNERS
  ci.Dockerfile
  docs/kyma/docs/032-inst-gke-installation.md
  docs/kyma/docs/033-inst-local-installation-scripts.md
  installation/scripts/build-kyma-installer.ps1
  installation/scripts/build-kyma-installer.sh
  release.Jenkinsfile
  tools/kyma-installer/Jenkinsfile
  tools/kyma-installer/artifacts.Jenkinsfile
  tools/kyma-installer/kyma.Dockerfile
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration
