Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

update README.md
  resources/knative-function-controller/README.md
Due: kyma-integration, kyma-gke-integration, console-integration

Revert secret
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add tags to envconfig
  components/compass-runtime-agent/cmd/options.go
Due: console-integration

Add protocol to URL
  resources/compass-runtime-agent/dev/create_config_map.sh
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

remove unnecessary file
  resources/knative-function-controller/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

remove .helmignore
  resources/knative-function-controller/.helmignore
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update components/knative-function-controller/README.md
  components/knative-function-controller/README.md
Due: console-integration, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller

update README.md based on review comments
  resources/knative-function-controller/README.md
Due: kyma-integration, kyma-gke-integration, console-integration

Fixed issue with not cleaning secrets plus some logging added
  components/compass-runtime-agent/internal/kyma/apiresources/service.go
  components/compass-runtime-agent/internal/kyma/apiresources/service_test.go
Due: console-integration

update image
  resources/knative-function-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix not hiding backdrop issue (#5110)
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update param names
  components/asset-store-controller-manager/README.md
  components/asset-store-controller-manager/pkg/assethook/config.go
  components/asset-store-controller-manager/pkg/controller/asset/asset_controller.go
  components/asset-store-controller-manager/pkg/controller/bucket/bucket_controller.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/clusterasset_controller.go
  components/asset-store-controller-manager/pkg/controller/clusterbucket/clusterbucket_controller.go
  components/asset-store-controller-manager/pkg/store/store.go
Due: console-integration, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager

Handle no modification
  components/asset-store-controller-manager/pkg/assethook/processor.go
Due: console-integration, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager

Update tests
  components/asset-store-controller-manager/pkg/assethook/automock/export.go
  components/asset-store-controller-manager/pkg/assethook/automock/http_processor.go
  components/asset-store-controller-manager/pkg/assethook/export_test.go
  components/asset-store-controller-manager/pkg/assethook/mutation_engine.go
  components/asset-store-controller-manager/pkg/assethook/mutation_engine_test.go
  components/asset-store-controller-manager/pkg/assethook/processor.go
  components/asset-store-controller-manager/pkg/assethook/processor_test.go
  components/asset-store-controller-manager/pkg/assethook/validation_engine.go
  components/asset-store-controller-manager/pkg/assethook/validation_engine_test.go
Due: console-integration, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager

update README.md
  components/knative-function-controller/README.md
Due: console-integration, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller

Switch to DefaultAuth as Auth not yet supported
  components/compass-runtime-agent/internal/compass/config_client_test.go
  components/compass-runtime-agent/internal/compass/connector.go
  components/compass-runtime-agent/internal/compass/connector_test.go
  components/compass-runtime-agent/internal/compass/converter.go
  components/compass-runtime-agent/internal/compass/converter_test.go
  components/compass-runtime-agent/internal/compass/query.go
Due: console-integration

Add depth query parameter info
  docs/helm-broker/03-03-create-addons-repo.md
Due: post-master-kyma-docs-website, kyma-docs

Update configmap.yaml
  resources/compass/charts/compass-ui/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Apply suggestions from code review
  components/asset-store-controller-manager/README.md
Due: console-integration, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager

Review fixes
  docs/helm-broker/03-03-create-addons-repo.md
Due: post-master-kyma-docs-website, kyma-docs

Use pointer type in cast
  components/compass-runtime-agent/internal/compass/converter.go
  components/compass-runtime-agent/internal/compass/converter_test.go
Due: console-integration

Fix docs topics removing (#5106)
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
Due: console-integration, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker

Add integration test for (Cluster)AddonConfiguration git feature
  components/helm-broker/Gopkg.lock
  components/helm-broker/test/integration/fake_repository_test.go
  components/helm-broker/test/integration/integration_test.go
  components/helm-broker/test/integration/source_test.go
  components/helm-broker/test/integration/suite_test.go
  components/helm-broker/test/integration/testdata/addons.tgz
Due: console-integration, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker

Fix after CR#1
  components/helm-broker/test/integration/integration_test.go
Due: console-integration, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker

Make config map optional
  resources/compass-runtime-agent/dev/create_config_map.sh
  resources/compass-runtime-agent/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Rename Application Services to not to start with Application Name (#5109)
  components/application-operator/charts/application/templates/policy.yaml
  components/application-operator/charts/application/templates/service.yaml
  components/application-operator/charts/application/templates/tests/test-acceptance.yaml
  components/application-operator/charts/application/templates/validator.yaml
  components/application-operator/charts/application/templates/virtual-service.yaml
  resources/application-connector/values.yaml
  tests/application-gateway-tests/test/executor/proxy/suite.go
  tests/application-operator-tests/test/testkit/k8sresources_check.go
  tests/application-registry-tests/Gopkg.lock
  tests/application-registry-tests/Gopkg.toml
  tests/application-registry-tests/test/k8stests/k8sresource_test.go
  tests/application-registry-tests/test/testkit/util.go
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update comment
  resources/compass-runtime-agent/dev/create_config_map.sh
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update docs/helm-broker/03-03-create-addons-repo.md
  docs/helm-broker/03-03-create-addons-repo.md
Due: post-master-kyma-docs-website, kyma-docs

Update docs/helm-broker/02-01-helm-broker.md
  docs/helm-broker/02-01-helm-broker.md
Due: post-master-kyma-docs-website, kyma-docs

Update docs/helm-broker/01-01-helm-broker.md
  docs/helm-broker/01-01-helm-broker.md
Due: post-master-kyma-docs-website, kyma-docs

Set up a scheduled backup by default
  docs/backup/01-01-backup.md
  docs/backup/05-01-velero.md
  resources/backup/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update codeowners
  CODEOWNERS
Due: none

Improve
  docs/backup/08-01-create-backup.md
Due: post-master-kyma-docs-website, kyma-docs

Add the Kiali ClusterDocsTopic
  resources/core/charts/docs/charts/content-ui/templates/docs-components-kiali-cdt.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update to latest ory charts version
  resources/ory/charts/hydra/templates/deployment.yaml
  resources/ory/charts/hydra/templates/secrets.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/.helmignore
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/Chart.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/files/crd-rules.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/_helpers.tpl
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/crd-configmap.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/crd-job.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/crd-rbac.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/deployment.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/rbac.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/values.yaml
  resources/ory/charts/oathkeeper/requirements.yaml
  resources/ory/charts/oathkeeper/values.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix after rebase
  components/helm-broker/cmd/controller/main.go
  components/helm-broker/internal/controller/setup.go
  components/helm-broker/test/integration/suite_test.go
Due: console-integration, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker

Use Kyma Addons 0.7.0
  installation/scripts/testing-common.sh
  resources/helm-broker/templates/default-addons-cfg.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector
