Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

docs updated
  tests/perf/README.md
Due: none

Allow not pre-defined fileds in a settings object
  common/microfrontend-client/pkg/apis/ui/v1alpha1/types.go
  common/microfrontend-client/pkg/apis/ui/v1alpha1/zz_generated.deepcopy.go
Due: none

Add description
  docs/asset-store/docs/05-02-asset-store-metadata-service.md
  docs/asset-store/docs/05-04-asset-upload-service.md
  docs/asset-store/docs/05-05-minio.md
Due: post-master-kyma-docs-website, kyma-docs

refactor
  resources/ory/charts/hydra/templates/hydra-system-credentials.yaml
  resources/ory/charts/hydra/templates/login-consent-svc.yaml
  resources/ory/charts/hydra/templates/login-consent-virtual-svc.yaml
  resources/ory/charts/hydra/templates/login-consent.yaml
  resources/ory/charts/hydra/templates/oauth2.yaml
  resources/ory/charts/hydra/templates/oidc-credentials.yaml
  resources/ory/charts/hydra/templates/service.yaml
  resources/ory/charts/hydra/templates/virtual-service.yaml
  resources/ory/charts/hydra/values.yaml
  resources/ory/charts/oathkeeper/templates/api-server-svc.yaml
  resources/ory/charts/oathkeeper/templates/api-server.yaml
  resources/ory/charts/oathkeeper/templates/proxy-svc.yaml
  resources/ory/charts/oathkeeper/templates/proxy.yaml
  resources/ory/charts/oathkeeper/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Allow not pre-defined fileds in a settings object
  components/console-backend-service/internal/domain/ui/clustermicrofrontend_converter.go
  components/console-backend-service/internal/domain/ui/clustermicrofrontend_converter_test.go
  components/console-backend-service/internal/domain/ui/microfrontend_converter.go
  components/console-backend-service/internal/domain/ui/microfrontend_converter_test.go
  components/console-backend-service/internal/domain/ui/pretty/kind.go
  components/console-backend-service/internal/gqlschema/config.yml
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  components/console-backend-service/internal/gqlschema/settings.go
Due: console-integration

Adding HttpWrapper that will handle retries
  tests/end-to-end/upgrade/pkg/tests/monitoring/grafana.go
Due: none

replace kyma.local with actual domain
  resources/ory/charts/hydra/templates/oauth2.yaml
  resources/ory/charts/hydra/templates/virtual-service.yaml
  resources/ory/charts/hydra/values.yaml
  resources/ory/charts/oathkeeper/templates/api-server-virtual-svc.yaml
  resources/ory/charts/oathkeeper/templates/proxy-virtual-svc.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Create a tutorial for setting Minio to the GCP Gateway mode (#3377)
  docs/asset-store/docs/03-03-minio-gateway.md
  docs/asset-store/docs/08-01-gateway-mode-set-up.md
  resources/assetstore/README.md
  resources/assetstore/charts/asset-upload-service/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Change sed to awk
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update installation/scripts/minikube.sh
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add explanation of the awk command
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Change tee to temp file
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Grafana Dashboard
  components/event-bus/internal/knative/metrics/metrics_def.go
  resources/monitoring/charts/grafana/dashboards/event-bus-subscription.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update docs/kyma/docs/04-04-use-your-own-domain.md
  docs/kyma/docs/04-04-use-your-own-domain.md
Due: post-master-kyma-docs-website, kyma-docs

Update docs/kyma/docs/04-03-cluster-installation.md
  docs/kyma/docs/04-03-cluster-installation.md
Due: post-master-kyma-docs-website, kyma-docs

Add docs for AWS broker
  docs/helm-broker/docs/01-01-helm-broker.md
Due: post-master-kyma-docs-website, kyma-docs

Add review changes
  docs/asset-store/docs/05-01-asset-store.md
  docs/asset-store/docs/05-02-asset-store-metadata-service.md
  docs/asset-store/docs/05-03-asset-store-controller-manager.md
  docs/asset-store/docs/05-04-asset-upload-service.md
  docs/asset-store/docs/05-05-minio.md
Due: post-master-kyma-docs-website, kyma-docs

Unit tests rewritten
  components/event-service/Gopkg.lock
  components/event-service/cmd/eventservice/eventgateway.go
  components/event-service/internal/events/subscribed/events.go
  components/event-service/internal/events/subscribed/events_test.go
  components/event-service/internal/events/subscribed/mocks/NamespacesClient.go
  components/event-service/internal/events/subscribed/mocks/SubscriptionsClient.go
  components/event-service/internal/externalapi/mocks/EventsClient.go
  components/event-service/internal/externalapi/subscribedeventshandler_test.go
Due: console-integration

Fix /etc/hosts permission change
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Remove unnecessary policy for Console Backend Service
  resources/core/charts/console-backend-service/templates/policy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Use Subscription getter - require finisheing
  components/event-service/cmd/eventservice/eventgateway.go
  components/event-service/internal/events/subscribed/events.go
  components/event-service/internal/events/subscribed/events_test.go
Due: console-integration

Unnecessary stub removed
  components/event-service/internal/events/subscribed/events_test.go
  components/event-service/internal/events/subscribed/mocks/SubscriptionsClient.go
  components/event-service/internal/events/subscribed/mocks/SubscriptionsGetter.go
Due: console-integration

Add a counter chart to the ignored published messages grafana dashboard
  resources/monitoring/charts/grafana/dashboards/event-bus.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Comment fixed
  components/event-service/internal/events/subscribed/events.go
  components/event-service/internal/events/subscribed/events_test.go
Due: console-integration

Disable hpa for istio
  installation/resources/installer-config-local.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Apply comments
  docs/kyma/docs/04-04-use-your-own-domain.md
Due: post-master-kyma-docs-website, kyma-docs

Get active events (#3765)
  components/application-operator/charts/application/templates/deployment.yaml
  components/application-operator/charts/application/templates/ingress.yaml
  components/application-operator/charts/application/templates/role-binding.yaml
  components/application-operator/charts/application/templates/tests/rbac-events-service-test.yaml
  components/application-operator/charts/application/templates/tests/test-acceptance.yaml
  components/connector-service/internal/clientcontext/extractor.go
  components/connector-service/internal/clientcontext/extractor_test.go
  components/connector-service/internal/clientcontext/model.go
  components/event-service/Gopkg.lock
  components/event-service/Gopkg.toml
  components/event-service/cmd/eventservice/eventgateway.go
  components/event-service/docs/api/api.yaml
  components/event-service/internal/events/subscribed/events.go
  components/event-service/internal/events/subscribed/events_test.go
  components/event-service/internal/events/subscribed/mocks/NamespacesClient.go
  components/event-service/internal/events/subscribed/mocks/SubscriptionsGetter.go
  components/event-service/internal/externalapi/errorhandler_test.go
  components/event-service/internal/externalapi/externalapi.go
  components/event-service/internal/externalapi/mocks/EventsClient.go
  components/event-service/internal/externalapi/subscribedeventshandler.go
  components/event-service/internal/externalapi/subscribedeventshandler_test.go
  components/event-service/internal/httptools/response.go
  docs/application-connector/docs/09-03-event-service.md
  tests/gateway-tests/Gopkg.lock
  tests/gateway-tests/Gopkg.toml
  tests/gateway-tests/test/apitests/gateway_events_test.go
  tests/gateway-tests/test/testkit/subscriptions_client.go
Due: console-integration, kyma-components-application-operator, post-master-kyma-docs-website, kyma-docs

Post-merge images
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

POC: Hydra + Oathkeeper (#3878)
  CODEOWNERS
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  installation/scripts/minikube.sh
  resources/ory/.helmignore
  resources/ory/Chart.yaml
  resources/ory/README.md
  resources/ory/charts/hydra/.helmignore
  resources/ory/charts/hydra/Chart.yaml
  resources/ory/charts/hydra/templates/_helpers.tpl
  resources/ory/charts/hydra/templates/hydra-system-credentials.yaml
  resources/ory/charts/hydra/templates/oauth2.yaml
  resources/ory/charts/hydra/templates/oidc-credentials.yaml
  resources/ory/charts/hydra/templates/service.yaml
  resources/ory/charts/hydra/templates/virtual-service.yaml
  resources/ory/charts/hydra/values.yaml
  resources/ory/charts/oathkeeper/.helmignore
  resources/ory/charts/oathkeeper/Chart.yaml
  resources/ory/charts/oathkeeper/templates/_helpers.tpl
  resources/ory/charts/oathkeeper/templates/api-server-svc.yaml
  resources/ory/charts/oathkeeper/templates/api-server-virtual-svc.yaml
  resources/ory/charts/oathkeeper/templates/api-server.yaml
  resources/ory/charts/oathkeeper/templates/oathkeeper-credentials-issuer-token.yaml
  resources/ory/charts/oathkeeper/templates/proxy-svc.yaml
  resources/ory/charts/oathkeeper/templates/proxy-virtual-svc.yaml
  resources/ory/charts/oathkeeper/templates/proxy.yaml
  resources/ory/charts/oathkeeper/values.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
