Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, pre-kyma-components-application-connectivity-certs-setup-job, post-kyma-components-application-connectivity-certs-setup-job, pre-master-kyma-components-application-gateway, post-master-kyma-components-application-gateway, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-backup, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-connector-service-tests, post-master-kyma-tests-connector-service-tests, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-api-controller, post-master-kyma-tests-integration-api-controller, pre-master-kyma-tests-integration-cluster-users, post-master-kyma-tests-integration-cluster-users, pre-kyma-tests-integration-event-service, post-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-logging, post-master-kyma-tests-integration-logging, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-backup-plugins, post-master-kyma-tools-backup-plugins, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  pre-kyma-components-application-connectivity-certs-setup-job: any of: ^components/application-connectivity-certs-setup-job/|^common/makefiles/
  post-kyma-components-application-connectivity-certs-setup-job: any of: ^components/application-connectivity-certs-setup-job/|^common/makefiles/
  pre-master-kyma-components-application-gateway: any of: ^components/application-gateway/
  post-master-kyma-components-application-gateway: any of: ^components/application-gateway/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  post-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: (any of: ^(resources/compass|resources/compass-runtime-agent|installation)/) or (any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$)))
  pre-master-kyma-development-artifacts-idk: any of: ^installation|^resources|^components/kyma-operator|^tools/kyma-installer
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gcs-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gcs-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/core/templates/tests\S+|resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-backup: (any of: ^((resources/backup\S+|tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))) or (any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$)))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-kind-lite: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  post-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  post-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  pre-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  post-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  pre-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/|^common/makefiles/
  post-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/|^common/makefiles/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  pre-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  post-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  post-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Fix waiting for ready Director
  resources/compass/templates/director-test.yaml
  resources/compass/templates/e2e-compass-test.yaml
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Update docs/monitoring/08-05-send-notifications.md
  docs/monitoring/08-05-send-notifications.md
Due: post-master-kyma-docs-website, kyma-docs

Fix review comments from Marco and Antoine
  components/event-bus/internal/knative/subscription/controller/eventactivation/reconcile.go
  components/event-bus/internal/knative/subscription/controller/eventactivation/reconcile_test.go
  components/event-bus/internal/knative/subscription/controller/knativesubscription/reconcile.go
  components/event-bus/internal/knative/subscription/controller/knativesubscription/reconcile_test.go
  components/event-bus/internal/knative/util/ky-controller.go
Due: console-integration

Bump images
  components/application-broker/deploy/migration/Dockerfile
  resources/application-connector/charts/application-broker/templates/deployment.yaml
  resources/application-connector/values.yaml
  resources/helm-broker/templates/deploy.yaml
  resources/helm-broker/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/service-catalog/templates/tests/test.yaml
  resources/service-catalog/values.yaml
  tests/service-catalog/Dockerfile
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Bump Helm-Broker - fix Pending Addons Config error, create secrets data on binding (#6543)
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

fix links (#6540)
  docs/monitoring/08-05-send-notifications.md
Due: post-master-kyma-docs-website, kyma-docs

Bump hb image with added provisioning parameters
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Add to CODEOWNERS mention about new chart in resources folder called rafter (#6517)
  CODEOWNERS
Due: none

Add if to rbac
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/rbac.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Update Compass chart (#6530)
  resources/compass/charts/gateway/templates/oathkeeper-rules.yaml
  resources/compass/charts/gateway/templates/virtualservice-mtls.yaml
  resources/compass/charts/gateway/templates/virtualservice-secure.yaml
  resources/compass/charts/gateway/templates/virtualservice.yaml
  resources/compass/templates/director-test.yaml
  resources/compass/templates/e2e-compass-test.yaml
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Upgrade NATS dispatcher and controller images
  resources/knative-provisioner-natss/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

add non-root user to images
  components/service-binding-usage-controller/Dockerfile
  resources/helm-broker/templates/deploy.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/deployment.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

cleaning
  components/apiserver-proxy/internal/monitoring/monitoring.go
  components/apiserver-proxy/internal/proxy/proxy.go
Due: console-integration

cleaning
  components/apiserver-proxy/internal/monitoring/monitoring.go
Due: console-integration

Tenant chooser doesn't change the current tenant for the current view in Compass UI (#6452)
  resources/compass/charts/cockpit/templates/configmap.yaml
  resources/compass/charts/cockpit/values.yaml
  resources/compass/charts/director/static-users.yaml
  resources/compass/values.yaml
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

cleaning
  components/apiserver-proxy/cmd/proxy/main.go
  components/apiserver-proxy/internal/monitoring/monitoring.go
Due: console-integration

move dashboard configurations to the proper place
  resources/monitoring/charts/grafana/dashboards/apiserver-proxy.json
  resources/monitoring/charts/grafana/dashboards/dex-dashboard.json
  resources/monitoring/charts/grafana/dashboards/ory-hydra-maester-dashboard.json
  resources/monitoring/charts/grafana/dashboards/ory-oathkeeper-maester-dashboard.json
  resources/monitoring/templates/grafana/kyma-dashboards/apiserver-proxy.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/dex.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/ory-hydra-maester.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/ory-oathkeeper-maester.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

cleaning
  components/apiserver-proxy/internal/monitoring/monitoring.go
  components/apiserver-proxy/internal/proxy/proxy_test.go
Due: console-integration

Remove FluentBit from docu
  docs/logging/01-01-logging.md
  docs/logging/02-01-logging.md
  docs/logging/05-01-logging.md
  docs/logging/08-01-configure-logcollector.md
  docs/logging/assets/logging-architecture.svg
Due: post-master-kyma-docs-website, kyma-docs

Handle null reference to Service Class (#6521)
  resources/service-catalog-addons/charts/service-catalog-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Update chart, add script
  resources/compass/charts/provisioner/copy-from-compass.sh
  resources/compass/charts/provisioner/templates/deployment.yaml
  resources/compass/charts/provisioner/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

cleaup
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

v2
  docs/logging/01-01-logging.md
Due: post-master-kyma-docs-website, kyma-docs

Removed redundant values from readme
  resources/event-bus/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk

Fix readme
  resources/event-bus/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk

after review
  components/application-broker/Dockerfile
  components/service-binding-usage-controller/Dockerfile
  resources/helm-broker/templates/deploy.yaml
  resources/helm-broker/values.yaml
  tests/service-catalog/Dockerfile
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Inject addons testing in upgrade tests
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/Gopkg.toml
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/injector/addons.go
  tests/end-to-end/upgrade/pkg/tests/service-catalog/helm_broker.go
Due: none

Fixed alignment
  resources/event-bus/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk

Update App Registry API spec description;\n Update App Registry API spec description in docs to match the one in the component directory
  docs/application-connector/assets/metadataapi.yaml
Due: post-master-kyma-docs-website, kyma-docs

Update knative-serving, knative-build makefiles to generic approach (#6548)
  tests/knative-build/Makefile
  tests/knative-serving/Makefile
Due: none

Update App Registry API spec description
  docs/application-connector/assets/metadataapi.yaml
Due: post-master-kyma-docs-website, kyma-docs

Update App Registry API spec description (#6553)
  docs/application-connector/assets/metadataapi.yaml
Due: post-master-kyma-docs-website, kyma-docs

trigger new image builds by minimal changes
  components/event-bus/Makefile
  components/event-service/Makefile
  components/event-sources/Makefile
  components/function-controller/Makefile
  components/kubeless-images/nodejs/Makefile
  tests/end-to-end/kubeless-integration/Makefile
  tests/event-bus/Makefile
  tests/integration/event-service/Makefile
  tests/knative-build/Makefile
  tests/knative-serving/Makefile
  tests/kubeless/Makefile
Due: console-integration, pre-kyma-tests-integration-event-service, post-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, kyma-tests-kubeless

bump images
  resources/core/values.yaml
  resources/event-bus/values.yaml
  resources/event-sources/values.yaml
  resources/function-controller/values.yaml
  resources/knative-build/values.yaml
  resources/knative-serving/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Inject addons testing in upgrade tests (#6536)
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/Gopkg.toml
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/injector/addons.go
  tests/end-to-end/upgrade/pkg/tests/service-catalog/helm_broker.go
Due: none

Update testing charts for cbs and kubeless (#6485)
  installation/scripts/testing.sh
  resources/core/charts/console-backend-service/templates/tests/rbac.yaml
  resources/core/charts/console-backend-service/templates/tests/test.yaml
  resources/core/charts/kubeless/templates/tests/e2e-rbac.yaml
  resources/core/charts/kubeless/templates/tests/e2e-test.yaml
  resources/core/charts/kubeless/templates/tests/test.yaml
  resources/core/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/templates/pod.yaml
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
  tests/end-to-end/upgrade/chart/upgrade/templates/test/test-upgrade.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Remove FluentBit from docu (#6551)
  docs/logging/01-01-logging.md
  docs/logging/02-01-logging.md
  docs/logging/05-01-logging.md
  docs/logging/08-01-configure-logcollector.md
  docs/logging/assets/logging-architecture.svg
Due: post-master-kyma-docs-website, kyma-docs
