Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  prow/kyma/kyma-integration: any of: ^(resources|installation)
  prow/kyma/kyma-gke-integration: any of: ^(resources|installation)
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Fix goimports
  components/ui-api-layer/internal/domain/content/storage/store_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer

Modify JenkinsFile to match with Prow
  tests/kubeless-integration/Jenkinsfile
  tests/kubeless/Jenkinsfile
  tests/logging/Jenkinsfile
  tests/test-logging-monitoring/Jenkinsfile
Due: none

Added Application crd
  components/remote-environment-controller/Gopkg.lock
  components/remote-environment-controller/Gopkg.toml
  components/remote-environment-controller/cmd/manager/manager.go
  components/remote-environment-controller/hack/boilerplate.go.txt
  components/remote-environment-controller/hack/generate-groups.sh
  components/remote-environment-controller/hack/update-codegen.sh
  components/remote-environment-controller/pkg/api/api.go
  components/remote-environment-controller/pkg/apis/api.go
  components/remote-environment-controller/pkg/apis/applicationconnector/v1alpha1/doc.go
  components/remote-environment-controller/pkg/apis/applicationconnector/v1alpha1/register.go
  components/remote-environment-controller/pkg/apis/applicationconnector/v1alpha1/types.go
  components/remote-environment-controller/pkg/client/clientset/versioned/clientset.go
  components/remote-environment-controller/pkg/client/clientset/versioned/doc.go
  components/remote-environment-controller/pkg/client/clientset/versioned/fake/clientset_generated.go
  components/remote-environment-controller/pkg/client/clientset/versioned/fake/doc.go
  components/remote-environment-controller/pkg/client/clientset/versioned/fake/register.go
  components/remote-environment-controller/pkg/client/clientset/versioned/scheme/doc.go
  components/remote-environment-controller/pkg/client/clientset/versioned/scheme/register.go
  components/remote-environment-controller/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/application.go
  components/remote-environment-controller/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/applicationconnector_client.go
  components/remote-environment-controller/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/doc.go
  components/remote-environment-controller/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/doc.go
  components/remote-environment-controller/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_application.go
  components/remote-environment-controller/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_applicationconnector_client.go
  components/remote-environment-controller/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/generated_expansion.go
  components/remote-environment-controller/pkg/client/informers/externalversions/applicationconnector/interface.go
  components/remote-environment-controller/pkg/client/informers/externalversions/applicationconnector/v1alpha1/application.go
  components/remote-environment-controller/pkg/client/informers/externalversions/applicationconnector/v1alpha1/interface.go
  components/remote-environment-controller/pkg/client/informers/externalversions/factory.go
  components/remote-environment-controller/pkg/client/informers/externalversions/generic.go
  components/remote-environment-controller/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  components/remote-environment-controller/pkg/client/listers/applicationconnector/v1alpha1/application.go
  components/remote-environment-controller/pkg/client/listers/applicationconnector/v1alpha1/expansion_generated.go
  resources/application-connector/templates/application.crd.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Reverted crd change
  components/remote-environment-controller/Gopkg.toml
  components/remote-environment-controller/cmd/manager/manager.go
  components/remote-environment-controller/pkg/apis/api.go
  resources/application-connector/templates/remote-environment.crd.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update 038-inst-knative.md
  docs/kyma/docs/038-inst-knative.md
Due: none

Add details on Jaeger local installation
  docs/tracing/docs/010-details-jaeger.md
  resources/jaeger/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add docs for installing Kyma with Knative from sources (#1908)
  docs/kyma/docs/038-inst-knative.md
  docs/kyma/docs/039-inst-custom-service-catalog.md
Due: none

Migrate logging, monitoring, kubeless tests to Prow (#1922)
  tests/kubeless-integration/Gopkg.lock
  tests/kubeless-integration/Gopkg.toml
  tests/kubeless-integration/Jenkinsfile
  tests/kubeless-integration/Makefile
  tests/kubeless/Gopkg.lock
  tests/kubeless/Gopkg.toml
  tests/kubeless/Jenkinsfile
  tests/kubeless/Makefile
  tests/logging/Gopkg.lock
  tests/logging/Gopkg.toml
  tests/logging/Jenkinsfile
  tests/logging/Makefile
  tests/test-logging-monitoring/Gopkg.lock
  tests/test-logging-monitoring/Gopkg.toml
  tests/test-logging-monitoring/Jenkinsfile
  tests/test-logging-monitoring/Makefile
Due: none

Adding checksum to enable pod restart
  resources/cluster-essentials/charts/pod-preset/templates/webhook/deploy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update resources/README.md
  resources/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix port forwarding documentation for logging (#1926)
  docs/logging/docs/010-details-access-oklog.md
Due: none

Fix documentation for local monitoring/logging installation (#1917)
  resources/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add k15r to CODEOWNERS (#1920)
  CODEOWNERS
Due: none

Fix issues found on CR
  tests/ui-api-layer-acceptance-tests/Dockerfile
  tests/ui-api-layer-acceptance-tests/client/client.go
  tests/ui-api-layer-acceptance-tests/client/config.go
  tests/ui-api-layer-acceptance-tests/domain/authentication/idppreset_test.go
  tests/ui-api-layer-acceptance-tests/domain/k8s/limitrange_test.go
  tests/ui-api-layer-acceptance-tests/domain/k8s/resourcequota_test.go
  tests/ui-api-layer-acceptance-tests/domain/remoteenvironment/remoteenvironment_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/servicebinding_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/servicebinding_usage_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/servicecatalog_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/serviceinstance_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/usage_kind_test.go
Due: none

Remove subscription on UPDATE action from PodPreset configuration
  resources/cluster-essentials/charts/pod-preset/templates/webhook/webhook.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update documentation
  docs/kyma/docs/050-cr-installation.md
Due: none

Bump console image version
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Apply review suggestions
  docs/tracing/docs/001-overview-tracing.md
  docs/tracing/docs/010-details-jaeger.md
  docs/tracing/docs/011-details-http-headers.md
  docs/tracing/docs/013-details-distributed-tracing.md
  resources/jaeger/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Lix broken link
  resources/jaeger/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update Tracing documentation (#1804)
  docs/tracing/docs/001-overview-tracing.md
  docs/tracing/docs/010-details-http-headers.md
  docs/tracing/docs/010-details-jaeger.md
  docs/tracing/docs/011-details-http-headers.md
  docs/tracing/docs/012-details-trace-comparison.md
  docs/tracing/docs/013-details-distributed-tracing.md
  docs/tracing/docs/assets/distributed-tracing.svg
  resources/jaeger/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update stale.yml
  .github/stale.yml
Due: none

Prow migration: - update event-service component to support prow CI - refactor some parts in the events-service component to fix golint issues - update k8s-dashboard-proxy component to support prow CI
  components/event-service/Gopkg.lock
  components/event-service/Gopkg.toml
  components/event-service/Makefile
  components/event-service/before-commit.sh
  components/event-service/cmd/eventservice/eventgateway.go
  components/event-service/cmd/eventservice/options.go
  components/event-service/internal/events/api/types.go
  components/event-service/internal/events/bus/process.go
  components/event-service/internal/events/bus/send.go
  components/event-service/internal/events/shared/constants.go
  components/event-service/internal/events/shared/utils.go
  components/event-service/internal/externalapi/blackb_test.go
  components/event-service/internal/externalapi/errorhandler.go
  components/event-service/internal/externalapi/eventshandler.go
  components/event-service/internal/externalapi/eventshandler_test.go
  components/event-service/internal/externalapi/externalapi.go
  components/event-service/internal/httpconsts/httpconsts.go
  components/event-service/internal/httperrors/httperrors.go
  components/event-service/internal/httptools/http.go
  components/event-service/internal/httptools/logging.go
  components/k8s-dashboard-proxy/Gopkg.lock
  components/k8s-dashboard-proxy/Gopkg.toml
  components/k8s-dashboard-proxy/before-commit.sh
Due: console-integration

Adding checksum to enable pod restart (#1933)
  resources/cluster-essentials/charts/pod-preset/templates/webhook/deploy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update stale.yml with new stale label (#1937)
  .github/stale.yml
Due: none

Fix unit test for lua filter
  resources/core/charts/ui-api/scripts/filter_testcase.lua
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add logging query resources for easier debugging
  resources/core/charts/ui-api/scripts/filter.lua
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

rev
  release.Jenkinsfile
Due: none

Fix docsbuilder
  tools/docsbuilder/internal/docker/docker.go
  tools/docsbuilder/main.go
Due: none

Refactor docsbuilder
  tools/docsbuilder/Gopkg.lock
  tools/docsbuilder/before-commit.sh
  tools/docsbuilder/internal/content/content.go
  tools/docsbuilder/internal/docker/docker.go
  tools/docsbuilder/internal/sh/cmd.go
  tools/docsbuilder/main.go
Due: none

Initialize docsbuilder
  tools/docsbuilder/Gopkg.lock
  tools/docsbuilder/Gopkg.toml
  tools/docsbuilder/before-commit.sh
  tools/docsbuilder/main.go
Due: none

Add docs build YAML
  docs/docs-build.yaml
Due: none

Add first implementation of docsbuilder
  tools/docsbuilder/internal/sh/cmd.go
  tools/docsbuilder/main.go
Due: none

Prepare Makefile
  docs/Makefile
Due: none

Add documentation for docsbuilder
  docs/Makefile
  tools/docsbuilder/README.md
  tools/docsbuilder/main.go
Due: none

excluded test- pods from alerting
  resources/monitoring/charts/alert-rules/templates/unhealthy-pods-rules.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Remove duplicated knative yamls
  resources/knative/charts/knative/Chart.yaml
  resources/knative/templates/eventing.yaml
  resources/knative/templates/serving.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix gitignore
  components/remote-environment-controller/.gitignore
  components/remote-environment-controller/Gopkg.lock
  components/remote-environment-controller/pkg/apis/applicationconnector/v1alpha1/zz_generated.deepcopy.go
Due: console-integration

Fix makefile
  docs/Makefile
  tools/docsbuilder/Gopkg.lock
  tools/docsbuilder/Gopkg.toml
  tools/docsbuilder/internal/content/content.go
  tools/docsbuilder/main.go
Due: none

Fixed datasource URL for prometheus in grafana
  resources/monitoring/charts/grafana/templates/datasource-configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

added improvement to the NodeDiskFull rule
  resources/monitoring/charts/exporter-node/templates/node.rules.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration
