Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-connectivity-certs-controller:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-connectivity-certs-controller:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-components-ui-api-layer:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Update memory for ui-tests
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add logs to Asset Store
  components/assetstore-controller-manager/config/rbac/rbac_role.yaml
  components/assetstore-controller-manager/pkg/apis/assetstore/v1alpha2/asset_common_types.go
  components/assetstore-controller-manager/pkg/controller/asset/asset_controller.go
  components/assetstore-controller-manager/pkg/controller/asset/asset_controller_suite_test.go
  components/assetstore-controller-manager/pkg/controller/bucket/bucket_controller.go
  components/assetstore-controller-manager/pkg/controller/bucket/bucket_controller_suite_test.go
  components/assetstore-controller-manager/pkg/controller/clusterasset/clusterasset_controller.go
  components/assetstore-controller-manager/pkg/controller/clusterasset/clusterasset_controller_suite_test.go
  components/assetstore-controller-manager/pkg/controller/clusterbucket/clusterbucket_controller.go
  components/assetstore-controller-manager/pkg/controller/clusterbucket/clusterbucket_controller_suite_test.go
  components/assetstore-controller-manager/pkg/handler/asset/asset.go
  components/assetstore-controller-manager/pkg/handler/asset/asset_test.go
  components/assetstore-controller-manager/pkg/handler/bucket/bucket.go
  components/assetstore-controller-manager/pkg/handler/bucket/bucket_test.go
  docs/asset-store/docs/assets/modify-asset.svg
Due: console-integration, kyma-docs

Bump final
  resources/assetstore/values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

remove appRegistryHost and eventsHost
  resources/application-connector/charts/connector-service/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

bump versions
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

connector-service readme update under application-connector chart
  resources/application-connector/charts/connector-service/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add default values for tenant and group in operator
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/connector-service/values.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

handle central flag override
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/connector-service/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

rename metada-service to application-registry in tests
  tests/application-registry-tests/Gopkg.lock
  tests/application-registry-tests/Gopkg.toml
  tests/application-registry-tests/test/testkit/k8sresources_check.go
  tests/application-registry-tests/test/testkit/k8sresources_client.go
Due: none

version bump
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

docs updated
  docs/kyma/docs/01-01-in-a-nutshell.md
  docs/kyma/docs/03-01-components.md
Due: kyma-docs

Remove invalid hook
  resources/core/charts/cluster-users/templates/tests/test-cluster-users.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update docs/backup/docs.config.json
  docs/backup/docs.config.json
Due: kyma-docs

Bump Asset Store image (#2826)
  resources/assetstore/README.md
  resources/assetstore/charts/assetstore-controller-manager/templates/cluster-role.yaml
  resources/assetstore/charts/assetstore-controller-manager/templates/statefulset.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/templates/clusterasset.crd.yaml
  resources/cluster-essentials/templates/clusterbucket.crd.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix image tag
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update images for kubeless runtimes (#2834)
  resources/core/charts/kubeless/templates/kubeless-configmap.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Changes based on @bszwarc feedback.
  docs/backup/docs.config.json
  docs/backup/docs/02-01-backup.md
  docs/backup/docs/03-01-backup-configuration.md
  docs/backup/docs/03-01-backup.md
  docs/backup/docs/03-02-create-backup.md
  docs/backup/docs/03-03-restore-backup.md
  resources/ark/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

docs updated
  docs/logging/docs/02-01-logging.md
Due: kyma-docs

fix exit status
  installation/scripts/e2e-testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

increase test timeout
  installation/scripts/e2e-testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Ui tests resources check (#2856)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix typo
  tests/cluster-users-test/Makefile
Due: none

Add VNET rules to PostgreSQL documentation
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v10/postgresql-dbms/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v10/postgresql/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v9.6/postgresql-dbms/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v9.6/postgresql/docs/plans-details.md
Due: kyma-docs

Add VNET rules to PostgreSQL documentation (#2858)
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v10/postgresql-dbms/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v10/postgresql/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v9.6/postgresql-dbms/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v9.6/postgresql/docs/plans-details.md
Due: kyma-docs

Bump docs image
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Changed expected and base InfoURLs to reflect that those are URLs for runtime management info endpoints
  components/connector-service/internal/clientcontext/model_test.go
Due: console-integration

Changed expected and base InfoURLs to better fit our actual endpoints
  components/connector-service/internal/clientcontext/model_test.go
Due: console-integration

Remove outdated section from Asset Store documentation
  docs/asset-store/docs/03-01-asset-cr-lifecycle.md
Due: kyma-docs

Fix Alert rules for PVC (#2844)
  resources/monitoring/charts/alert-rules/templates/kyma-rules.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Remove outdated section from Asset Store documentation (#2863)
  docs/asset-store/docs/03-01-asset-cr-lifecycle.md
Due: kyma-docs

Changes based on feedback.
  docs/backup/docs/01-01-backup.md
  docs/backup/docs/03-02-create-backup.md
  docs/backup/docs/03-03-restore-backup.md
  docs/backup/docs/05-01-backup.md
  resources/ark/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update docs/kyma/docs/01-01-in-a-nutshell.md
  docs/kyma/docs/01-01-in-a-nutshell.md
Due: kyma-docs

Update docs/logging/docs/02-01-logging.md
  docs/logging/docs/02-01-logging.md
Due: kyma-docs

Update docs/logging/docs/03-02-configure-storage.md
  docs/logging/docs/03-02-configure-storage.md
Due: kyma-docs

Update docs/kyma/docs/03-01-components.md
  docs/kyma/docs/03-01-components.md
Due: kyma-docs

Update docs/logging/docs/01-01-logging.md
  docs/logging/docs/01-01-logging.md
Due: kyma-docs

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
