Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Add compass runtime agent tests boilerplate
  tests/compass-runtime-agent/.gitignore
  tests/compass-runtime-agent/Dockerfile
  tests/compass-runtime-agent/Gopkg.lock
  tests/compass-runtime-agent/Gopkg.toml
  tests/compass-runtime-agent/Makefile
  tests/compass-runtime-agent/README.md
  tests/compass-runtime-agent/before-commit.sh
  tests/compass-runtime-agent/scripts/entrypoint.sh
  tests/compass-runtime-agent/test/apitests/main_test.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Update beforecommit script
  tests/compass-runtime-agent/Gopkg.lock
  tests/compass-runtime-agent/Gopkg.toml
  tests/compass-runtime-agent/before-commit.sh
  tests/compass-runtime-agent/test/apitests/main_test.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Update codeowners
  CODEOWNERS
Due: none

dont sync when sb is not found
  components/helm-broker/internal/controller/broker/broker_syncer.go
  components/helm-broker/internal/controller/broker/broker_syncer_test.go
Due: console-integration

remove make generate from before-commit
  components/helm-broker/before-commit.sh
  components/helm-broker/config/crds/addonsconfiguration.yaml
  components/helm-broker/config/crds/clusteraddonsconfiguration.yaml
Due: console-integration

Building test cluster.
  tests/dummy_file
Due: none

Fix CRD typo
  components/helm-broker/config/crds/clusteraddonsconfiguration.yaml
Due: console-integration

run tests concurrent
  installation/scripts/testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fix docs topics
  components/helm-broker/internal/controller/docs_provider.go
Due: console-integration

Apply feedback
  docs/backup/03-03-restore-backup.md
Due: post-master-kyma-docs-website, kyma-docs

Fix inject parameter
  components/helm-broker/internal/controller/docs_provider.go
Due: console-integration

Consistent naming for eventing production
  components/event-bus/Makefile
  components/event-bus/README.md
  components/event-bus/before-commit.sh
  components/event-bus/cmd/event-publish-service/Dockerfile
  components/event-bus/cmd/event-publish-service/Makefile
  components/event-bus/cmd/event-publish-service/application/application.go
  components/event-bus/cmd/event-publish-service/application/application_test.go
  components/event-bus/cmd/event-publish-service/dockerBuild.sh
  components/event-bus/cmd/event-publish-service/handlers/publish.go
  components/event-bus/cmd/event-publish-service/handlers/publish_test.go
  components/event-bus/cmd/event-publish-service/handlers/readiness_check.go
  components/event-bus/cmd/event-publish-service/httpserver/httpserver.go
  components/event-bus/cmd/event-publish-service/main.go
  components/event-bus/cmd/event-publish-service/metrics/metrics_def.go
  components/event-bus/cmd/event-publish-service/publisher/publisher.go
  components/event-bus/cmd/event-publish-service/test/fake/publisher.go
  components/event-bus/cmd/event-publish-service/util/constants.go
  components/event-bus/cmd/event-publish-service/validators/publish_validator.go
  components/event-bus/cmd/subscription-controller/.gitignore
  components/event-bus/cmd/subscription-controller/Dockerfile
  components/event-bus/cmd/subscription-controller/Makefile
  components/event-bus/cmd/subscription-controller/cmd/manager/main.go
  components/event-bus/cmd/subscription-controller/dockerBuild.sh
  components/event-bus/docker-build-event-bus-publish-knative.sh
  components/event-bus/docker-build-event-bus-sck.sh
  resources/event-bus/charts/publish-knative/templates/deployment.yaml
  resources/event-bus/charts/publish-knative/templates/destination-rule.yaml
  resources/event-bus/charts/subscription-controller-knative/templates/deployment.yaml
  resources/knative-eventing/charts/knative-eventing/templates/post-upgrade-job.yaml
  resources/knative-eventing/charts/knative-eventing/templates/pre-upgrade-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Resolve dependencies
  components/compass-runtime-agent/Gopkg.lock
Due: console-integration

Add test definition
  resources/compass-runtime-agent/templates/tests/test-runtime-agent-integration.yaml
  resources/compass-runtime-agent/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

adding newline at the end of file
  resources/application-connector/charts/application-operator/values.schema.json
  resources/application-connector/charts/application-registry/values.schema.json
  resources/application-connector/charts/connectivity-certs-controller/values.schema.json
  resources/application-connector/charts/connector-service/values.schema.json
  resources/assetstore/charts/asset-metadata-service/values.schema.json
  resources/assetstore/charts/asset-store-controller-manager/values.schema.json
  resources/assetstore/charts/asset-upload-service/values.schema.json
  resources/assetstore/charts/minio/values.schema.json
  resources/assetstore/values.schema.json
  resources/cms/charts/cms-controller-manager/values.schema.json
  resources/event-bus/values.schema.json
  resources/helm-broker/charts/etcd-stateful/values.schema.json
  resources/helm-broker/values.schema.json
  resources/jaeger/values.schema.json
  resources/logging/values.schema.json
  resources/monitoring/charts/alertmanager/values.schema.json
  resources/monitoring/charts/grafana/values.schema.json
  resources/service-catalog/charts/catalog-crds/values.schema.json
  resources/service-catalog/charts/catalog/values.schema.json
  resources/service-catalog/charts/etcd-stateful/values.schema.json
  resources/service-catalog/values.schema.json
  resources/velero/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Compass Runtime Agent initial config apply (#4938)
  components/compass-runtime-agent/Gopkg.lock
  components/compass-runtime-agent/Gopkg.toml
  components/compass-runtime-agent/internal/apperrors/apperrors.go
  components/compass-runtime-agent/internal/apperrors/apperrors_test.go
  components/compass-runtime-agent/internal/httpconsts/httpconsts.go
  components/compass-runtime-agent/internal/k8sconsts/k8sconsts.go
  components/compass-runtime-agent/internal/k8sconsts/mocks/NameResolver.go
  components/compass-runtime-agent/internal/k8sconsts/nameresolver.go
  components/compass-runtime-agent/internal/k8sconsts/nameresolver_test.go
  components/compass-runtime-agent/internal/k8sconsts/util.go
  components/compass-runtime-agent/internal/synchronization/applications/mocks/ApplicationManager.go
  components/compass-runtime-agent/internal/synchronization/applications/mocks/Manager.go
  components/compass-runtime-agent/internal/synchronization/applications/mocks/ServiceRepository.go
  components/compass-runtime-agent/internal/synchronization/applications/repository.go
  components/compass-runtime-agent/internal/synchronization/applications/repository_test.go
  components/compass-runtime-agent/internal/synchronization/applications/util.go
  components/compass-runtime-agent/internal/synchronization/applications/util_test.go
  components/compass-runtime-agent/internal/synchronization/assetstore/docstopic/model.go
  components/compass-runtime-agent/internal/synchronization/assetstore/docstopicrepository.go
  components/compass-runtime-agent/internal/synchronization/assetstore/docstopicrepository_test.go
  components/compass-runtime-agent/internal/synchronization/assetstore/mocks/DocsTopicRepository.go
  components/compass-runtime-agent/internal/synchronization/assetstore/mocks/ResourceInterface.go
  components/compass-runtime-agent/internal/synchronization/assetstore/mocks/Service.go
  components/compass-runtime-agent/internal/synchronization/assetstore/service.go
  components/compass-runtime-agent/internal/synchronization/assetstore/service_test.go
  components/compass-runtime-agent/internal/synchronization/assetstore/upload/client.go
  components/compass-runtime-agent/internal/synchronization/assetstore/upload/client_test.go
  components/compass-runtime-agent/internal/synchronization/assetstore/upload/mocks/Client.go
  components/compass-runtime-agent/internal/synchronization/reconciler.go
  components/compass-runtime-agent/internal/synchronization/service.go
Due: console-integration

Improve backup documentation (#4914)
  docs/backup/01-01-backup.md
  docs/backup/03-02-create-backup.md
  docs/backup/03-03-restore-backup.md
  docs/backup/05-01-velero.md
  docs/backup/assets/all-backup.yaml
  docs/backup/assets/backup.yaml
  docs/backup/assets/system-backup.yaml
  resources/velero/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs

Chages based on review comments
  resources/knative-build/README.md
  resources/knative-build/templates/tests/test-build.yaml
  resources/knative-serving-crds-init/Chart.yaml
  resources/knative-serving-crds-init/README.md
  resources/knative-serving-crds/Chart.yaml
  resources/knative-serving/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

fix review comments
  components/event-bus/internal/knative/util/kn-eventing.go
Due: console-integration

Override CSRF cookies on retry in Application Gateway (#4948)
  components/application-gateway/internal/csrf/strategy/csrf.go
  components/application-gateway/internal/csrf/strategy/csrf_test.go
  components/application-gateway/internal/proxy/proxy_test.go
  components/application-gateway/pkg/httpconsts/httpconsts.go
Due: console-integration

Update cookie value
  tests/application-gateway-tests/test/executor/proxy/mock/csrfhandler.go
Due: none

Update image
  resources/application-connector/values.yaml
  tests/application-gateway-tests/test/executor/proxy/suite.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix test
  tests/application-gateway-tests/test/executor/proxy/mock/csrfhandler.go
Due: none

Meet old buildpack needs
  components/application-gateway/internal/proxy/unauthorizedresponseretrier_test.go
Due: console-integration

Modify test a little bit
  tests/application-gateway-tests/test/executor/proxy/mock/csrfhandler.go
  tests/application-gateway-tests/test/executor/proxy/tests/proxy_test.go
Due: none

Squash the commits
  components/application-gateway/internal/proxy/unauthorizedresponseretrier_test.go
  docs/application-connector/08-03-register-manage-services.md
  resources/application-connector/values.yaml
  tests/application-gateway-tests/Gopkg.lock
  tests/application-gateway-tests/test/executor/proxy/mock/applicationserver.go
  tests/application-gateway-tests/test/executor/proxy/mock/csrfhandler.go
  tests/application-gateway-tests/test/executor/proxy/suite.go
  tests/application-gateway-tests/test/executor/proxy/tests/proxy_test.go
  tests/application-gateway-tests/test/executor/testkit/registry/client.go
  tests/application-gateway-tests/test/executor/testkit/registry/model.go
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add unit tests for cookies
  components/application-gateway/internal/proxy/unauthorizedresponseretrier_test.go
Due: console-integration

Add cookie validation
  tests/application-gateway-tests/test/executor/proxy/mock/csrfhandler.go
Due: none

Update image
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update chart
  resources/compass-runtime-agent/templates/tests/test-runtime-agent-integration.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Refactor #4
  components/event-bus/before-commit.sh
Due: console-integration

Update dockerfile
  tests/compass-runtime-agent/Dockerfile
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Update ui tests image
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Velero installation guide and overrides docs
  docs/backup/03-01-install-velero.md
  docs/backup/assets/velero-overrides.yaml
Due: post-master-kyma-docs-website, kyma-docs

Add footnote for velero components.
  docs/kyma/04-01-overview.md
Due: post-master-kyma-docs-website, kyma-docs
