Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, pre-kyma-components-application-connectivity-certs-setup-job, post-kyma-components-application-connectivity-certs-setup-job, pre-master-kyma-components-application-gateway, post-master-kyma-components-application-gateway, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-backup, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-connector-service-tests, post-master-kyma-tests-connector-service-tests, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-api-controller, post-master-kyma-tests-integration-api-controller, pre-master-kyma-tests-integration-cluster-users, post-master-kyma-tests-integration-cluster-users, pre-kyma-tests-integration-event-service, post-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-logging, post-master-kyma-tests-integration-logging, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-backup-plugins, post-master-kyma-tools-backup-plugins, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-kyma-components-application-connectivity-certs-setup-job:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
    prow.kyma-project.io/slack.skipReport: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
  ...

post-kyma-components-application-connectivity-certs-setup-job:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
    prow.kyma-project.io/slack.skipReport: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
  ...

pre-master-kyma-components-application-gateway:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-kyma-components-application-gateway:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2.5Gi
          cpu: 2
      env:
      - name: GO111MODULE
        value: 'on'
  ...

.
  resources/rafter/templates/_helper_migration_system_buckets.txt
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

v1
  docs/api-gateway-v2/02-01-api-gateway.md
  docs/api-gateway-v2/assets/002-api-gateway-request-flow.svg
Due: post-master-kyma-docs-website, kyma-docs

Update upgrade tests for rafter
  tests/end-to-end/upgrade/pkg/tests/rafter/asset.go
  tests/end-to-end/upgrade/pkg/tests/rafter/assetgroup.go
  tests/end-to-end/upgrade/pkg/tests/rafter/bucket.go
  tests/end-to-end/upgrade/pkg/tests/rafter/clusterasset.go
  tests/end-to-end/upgrade/pkg/tests/rafter/clusterassetgroup.go
  tests/end-to-end/upgrade/pkg/tests/rafter/clusterbucket.go
  tests/end-to-end/upgrade/pkg/tests/rafter/rafter.go
Due: none

After review
  resources/rafter/templates/_helper_migration_system_buckets.txt
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Apply review suggestions
  docs/README.md
  docs/console/03-04-rafter-in-console.md
  docs/kyma/05-03-overrides.md
Due: post-master-kyma-docs-website, kyma-docs

Add final post-review fixes
  docs/rafter/02-01-basic-asset-flow.md
  docs/rafter/02-02-assetgroup.md
  docs/rafter/02-03-asset-and-bucket.md
  docs/rafter/03-03-assetgroup-cr-lifecycle.md
  docs/rafter/03-04-minio-gateway.md
  docs/rafter/03-06-upload-service.md
  docs/rafter/03-07-asyncapi-service.md
  docs/rafter/06-02-assetgroup.md
  docs/rafter/06-05-clusterassetgroup.md
  docs/rafter/08-01-add-new-documentation-to-console.md
  docs/rafter/08-02-set-minio-to-gateway-mode.md
  docs/rafter/assets/rafter-architecture-1.svg
Due: post-master-kyma-docs-website, kyma-docs

Add minor documentation fixes
  docs/application-connector/08-02-get-client-certificate.md
  docs/application-connector/08-04-register-secured-api.md
Due: post-master-kyma-docs-website, kyma-docs

v2
  docs/api-gateway-v2/02-01-api-gateway.md
Due: post-master-kyma-docs-website, kyma-docs

Servicemonitor consolidation (#6607)
  resources/application-connector-ingress/charts/nginx-ingress/README.md
  resources/application-connector/charts/application-registry/templates/service-monitor.yaml
  resources/application-connector/charts/connector-service/templates/service-monitor.yaml
  resources/assetstore/charts/asset-metadata-service/templates/servicemonitor.yaml
  resources/assetstore/charts/asset-metadata-service/values.yaml
  resources/assetstore/charts/asset-store-controller-manager/templates/service-monitor.yaml
  resources/assetstore/charts/asset-store-controller-manager/templates/service.yaml
  resources/assetstore/charts/asset-store-controller-manager/values.yaml
  resources/assetstore/charts/asset-upload-service/templates/service-monitor.yaml
  resources/assetstore/charts/asset-upload-service/values.yaml
  resources/assetstore/charts/minio/templates/servicemonitor.yaml
  resources/backup/templates/service-monitor.yaml
  resources/backup/templates/serviceaccount.yaml
  resources/backup/values.yaml
  resources/cms/charts/cms-asyncapi-service/templates/servicemonitor.yaml
  resources/cms/charts/cms-asyncapi-service/values.yaml
  resources/cms/charts/cms-controller-manager/templates/service-monitor.yaml
  resources/cms/charts/cms-controller-manager/templates/service.yaml
  resources/cms/charts/cms-controller-manager/values.yaml
  resources/core/charts/apiserver-proxy/templates/service.yaml
  resources/core/charts/apiserver-proxy/templates/servicemonitor.yaml
  resources/dex/templates/service-monitor.yaml
  resources/event-bus/charts/event-publish-service/templates/service-monitor.yaml
  resources/event-bus/charts/event-publish-service/values.yaml
  resources/event-bus/charts/subscription-controller/templates/service-monitor.yaml
  resources/event-bus/charts/subscription-controller/values.yaml
  resources/helm-broker/templates/metrics.yaml
  resources/kiali/templates/servicemonitor.yaml
  resources/monitoring/values.yaml
  resources/ory/templates/monitoring-hydra.yaml
  resources/ory/templates/monitoring-oathkeeper.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/metrics.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/policy.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/service-monitor.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/service.yaml
  resources/service-catalog/charts/catalog/templates/controller-manager-policy.yaml
  resources/service-catalog/charts/catalog/templates/controller-manager-service-monitor.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-backup, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Add minor documentation fixes
  docs/application-connector/08-03-register-manage-services.md
Due: post-master-kyma-docs-website, kyma-docs

Update deps
  tests/end-to-end/upgrade/Gopkg.lock
Due: none

Add minor documentation fixes
  docs/application-connector/08-02-get-client-certificate.md
Due: post-master-kyma-docs-website, kyma-docs

update docs
  tests/rafter/README.md
Due: none

Update tests/rafter/README.md
  tests/rafter/README.md
Due: none

goimports one file
  tests/rafter/testsuite/testsuite.go
Due: none

update build image
  tests/rafter/Dockerfile
Due: none

Downgrade oathkeeper-maester
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/deployment.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/values.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

update image to use
  resources/rafter/templates/tests/test.yaml
  resources/rafter/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Add post-review fixes
  docs/kyma/05-03-overrides.md
Due: post-master-kyma-docs-website, kyma-docs

Update monitoring documentation
  docs/monitoring/02-01-monitoring.md
  docs/monitoring/03-01-alertmanager.md
  docs/monitoring/05-01-alertmanager.md
  docs/monitoring/05-02-grafana.md
  docs/monitoring/05-03-prometheus.md
  docs/monitoring/08-01-overview.md
  docs/monitoring/08-02-observe-application-metrics.md
  docs/monitoring/08-03-create-and-configure-grafana-dashboard.md
  docs/monitoring/08-04-define-alerting-rules.md
  docs/monitoring/08-05-send-notifications.md
  docs/monitoring/assets/min-max-values.png
  docs/monitoring/assets/temperature-celsius.png
  resources/monitoring/README.md
  resources/monitoring/customresources.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-development-artifacts-idk

Add more post-review fixes
  docs/rafter/06-01-asset.md
  docs/rafter/06-04-clusterasset.md
Due: post-master-kyma-docs-website, kyma-docs

Rename variable
  components/compass-runtime-agent/internal/kyma/apiresources/rafter/clusterassetgrouprepository_test.go
Due: console-integration, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent

Apply suggestions from code review
  tests/rafter/README.md
Due: none

apply changes from code review
  tests/rafter/README.md
Due: none

Fix formatting
  docs/monitoring/02-01-monitoring.md
  docs/monitoring/08-02-observe-application-metrics.md
  docs/monitoring/08-03-create-and-configure-grafana-dashboard.md
Due: post-master-kyma-docs-website, kyma-docs

Fix
  docs/monitoring/08-02-observe-application-metrics.md
  docs/monitoring/08-03-create-and-configure-grafana-dashboard.md
Due: post-master-kyma-docs-website, kyma-docs

Fix key value parameters
  resources/rafter/templates/_helper_migration_assetstore_resources.txt
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Update installation order - rafter after core
  installation/resources/installer-cr.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Add RBAC permissions
  resources/application-connector/charts/application-broker/templates/cluster-role.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Sync Gopkg.lock
  components/application-broker/Gopkg.lock
Due: console-integration

Apply suggestions from code review
  docs/monitoring/08-03-create-and-configure-grafana-dashboard.md
  docs/monitoring/08-04-define-alerting-rules.md
  docs/monitoring/08-05-send-notifications.md
  resources/monitoring/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-development-artifacts-idk

Update resources/monitoring/README.md
  resources/monitoring/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk

Update monitoring documentation (#6645)
  docs/monitoring/02-01-monitoring.md
  docs/monitoring/03-01-alertmanager.md
  docs/monitoring/05-01-alertmanager.md
  docs/monitoring/05-02-grafana.md
  docs/monitoring/05-03-prometheus.md
  docs/monitoring/08-01-overview.md
  docs/monitoring/08-02-observe-application-metrics.md
  docs/monitoring/08-03-create-and-configure-grafana-dashboard.md
  docs/monitoring/08-04-define-alerting-rules.md
  docs/monitoring/08-05-send-notifications.md
  docs/monitoring/assets/min-max-values.png
  docs/monitoring/assets/temperature-celsius.png
  resources/monitoring/README.md
  resources/monitoring/customresources.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-development-artifacts-idk

update readme
  tests/rafter/README.md
Due: none

Diagram and content improvements
  docs/event-bus/03-04-knative-event-mesh.md
  docs/event-bus/assets/knative-event-mesh.svg
Due: post-master-kyma-docs-website, kyma-docs

Downgrade oathkeeper-maester2
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Show a message if an error occured while getting bindable resources
  resources/service-catalog-addons/charts/service-catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

v4
  docs/event-bus/03-04-knative-event-mesh.md
Due: post-master-kyma-docs-website, kyma-docs

Update the doc on overrides (#6620)
  docs/kyma/05-03-overrides.md
Due: post-master-kyma-docs-website, kyma-docs

Document using CLI to provision clusters using Gardener
  docs/kyma/04-04-cluster-installation.md
Due: post-master-kyma-docs-website, kyma-docs

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  pre-kyma-components-application-connectivity-certs-setup-job: any of: ^components/application-connectivity-certs-setup-job/|^common/makefiles/
  post-kyma-components-application-connectivity-certs-setup-job: any of: ^components/application-connectivity-certs-setup-job/|^common/makefiles/
  pre-master-kyma-components-application-gateway: any of: ^components/application-gateway/
  post-master-kyma-components-application-gateway: any of: ^components/application-gateway/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  post-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: (any of: ^(resources/compass|resources/compass-runtime-agent|installation)/) or (any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$)))
  pre-master-kyma-development-artifacts-idk: any of: ^installation|^resources|^components/kyma-operator|^tools/kyma-installer
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gcs-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gcs-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/core/templates/tests\S+|resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-backup: (any of: ^((resources/backup\S+|tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))) or (any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$)))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-kind-lite: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  post-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  post-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  pre-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  post-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  pre-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/|^common/makefiles/
  post-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/|^common/makefiles/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  pre-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  post-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  post-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
