Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Disable webhook
  installation/resources/installer-config-cluster.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Review changes
  docs/headless-cms/08-01-add-new-documentation-to-console.md
Due: post-master-kyma-docs-website, kyma-docs

Add a tutorial on how to create a ClusterDocsTopic (#4121)
  docs/headless-cms/08-01-add-new-documentation-to-console.md
  docs/headless-cms/assets/docs.png
  docs/headless-cms/assets/prometheus.png
Due: post-master-kyma-docs-website, kyma-docs

Update docs/application-connector/08-04-register-secured-api.md
  docs/application-connector/08-04-register-secured-api.md
Due: post-master-kyma-docs-website, kyma-docs

GRant kyma-admin access t otesting api group
  resources/core/charts/cluster-users/templates/clusterroles-kyma-project-io.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Application broker enables selected services
  components/application-broker/Gopkg.lock
  components/application-broker/cmd/broker/main.go
  components/application-broker/cmd/broker/main_test.go
  components/application-broker/internal/access/mapping.go
  components/application-broker/internal/broker/automock/app_enabled_checker.go
  components/application-broker/internal/broker/automock/service_checker_factory.go
  components/application-broker/internal/broker/catalog.go
  components/application-broker/internal/broker/catalog_export_test.go
  components/application-broker/internal/broker/catalog_test.go
  components/application-broker/internal/broker/server.go
Due: console-integration

Revert
  resources/istio/charts/security/templates/cleanup-secrets.yaml
  resources/istio/charts/security/templates/create-custom-resources-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add changelog to istio-kyma-patch readme
  resources/istio-kyma-patch/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Test Application Operator upgrade managing lifecycle of Event Service and Application Proxy (#4061)
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/application-operator/application_operator.go
Due: none

Tests
  components/console-backend-service/internal/domain/k8s/automock/export.go
  components/console-backend-service/internal/domain/k8s/automock/gql_resource_quota_converter.go
  components/console-backend-service/internal/domain/k8s/automock/resource_quota_lister.go
  components/console-backend-service/internal/domain/k8s/export_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_converter.go
  components/console-backend-service/internal/domain/k8s/resourcequota_converter_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_service_test.go
Due: console-integration

Bump image version
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: none

Renaming
  components/app-connector-validation-proxy/.gitignore
  components/app-connector-validation-proxy/Dockerfile
  components/app-connector-validation-proxy/Gopkg.lock
  components/app-connector-validation-proxy/Gopkg.toml
  components/app-connector-validation-proxy/Makefile
  components/app-connector-validation-proxy/before-commit.sh
  components/app-connector-validation-proxy/cmd/appconnectorvalidationproxy/appconnectorvalidationproxy.go
  components/app-connector-validation-proxy/cmd/appconnectorvalidationproxy/options.go
  components/app-connector-validation-proxy/internal/apperrors/apperrors.go
  components/app-connector-validation-proxy/internal/apperrors/apperrors_test.go
  components/app-connector-validation-proxy/internal/httpconsts/httpconsts.go
  components/app-connector-validation-proxy/internal/httperrors/httperrors.go
  components/app-connector-validation-proxy/internal/httptools/response.go
  components/app-connector-validation-proxy/internal/validationproxy/handler.go
  components/app-connector-validation-proxy/internal/validationproxy/handler_test.go
  components/app-connector-validation-proxy/internal/validationproxy/mocks/ApplicationManager.go
  components/app-connector-validation-proxy/internal/validationproxy/proxy.go
  components/application-connector-dispatcher/.gitignore
  components/application-connector-dispatcher/Dockerfile.validation-proxy
Due: console-integration

Fix readme
  resources/istio-kyma-patch/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update values.yaml
  resources/logging/charts/log-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Implement full OSB API contract in Brokers (#4051)
  components/application-broker/Gopkg.lock
  components/application-broker/Gopkg.toml
  components/application-broker/before-commit.sh
  components/application-broker/internal/broker/broker.go
  components/application-broker/internal/broker/ctx.go
  components/application-broker/internal/broker/dto.go
  components/application-broker/internal/broker/middleware.go
  components/application-broker/internal/broker/middleware_test.go
  components/application-broker/internal/broker/provision.go
  components/application-broker/internal/broker/provision_test.go
  components/application-broker/internal/broker/server.go
  components/helm-broker/Gopkg.lock
  components/helm-broker/Gopkg.toml
  components/helm-broker/internal/broker/ctx.go
  components/helm-broker/internal/broker/dto.go
  components/helm-broker/internal/broker/middleware.go
  components/helm-broker/internal/broker/osbapi_test.go
  components/helm-broker/internal/broker/provision.go
  components/helm-broker/internal/broker/provision_test.go
  components/helm-broker/internal/broker/server.go
Due: console-integration

Extend API calls with headers and query params property (#3991)
  components/application-gateway/Gopkg.lock
  components/application-gateway/Gopkg.toml
  components/application-gateway/internal/authorization/externaltokenstrategy.go
  components/application-gateway/internal/authorization/externaltokenstrategy_test.go
  components/application-gateway/internal/authorization/factory.go
  components/application-gateway/internal/httptools/headers.go
  components/application-gateway/internal/httptools/queryparameters.go
  components/application-gateway/internal/metadata/applications/repository.go
  components/application-gateway/internal/metadata/model/model.go
  components/application-gateway/internal/metadata/serviceapi/serviceapiservice.go
  components/application-gateway/internal/proxy/proxy.go
  components/application-gateway/internal/proxy/proxy_test.go
  components/application-gateway/internal/proxy/proxyfactory.go
  components/application-gateway/internal/proxy/unauthorizedresponseretrier_test.go
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/types.go
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/zz_generated.deepcopy.go
  components/application-registry/Gopkg.lock
  components/application-registry/Gopkg.toml
  components/application-registry/docs/api/api.yaml
  components/application-registry/internal/externalapi/model.go
  components/application-registry/internal/metadata/applications/repository.go
  components/application-registry/internal/metadata/applications/util.go
  components/application-registry/internal/metadata/model/model.go
  components/application-registry/internal/metadata/serviceapi/serviceapiservice.go
  docs/application-connector/08-03-register-manage-services.md
  docs/application-connector/08-04-register-secured-api.md
  tests/application-gateway-tests/test/executor/proxy/mock/applicationserver.go
  tests/application-gateway-tests/test/executor/proxy/mock/headershandler.go
  tests/application-gateway-tests/test/executor/proxy/mock/queryparamshandler.go
  tests/application-gateway-tests/test/executor/proxy/tests/proxy_test.go
  tests/application-gateway-tests/test/executor/testkit/registry/client.go
  tests/application-gateway-tests/test/executor/testkit/registry/model.go
Due: console-integration, kyma-components-application-operator, post-master-kyma-docs-website, kyma-docs

Application broker enables selected services (#4148)
  components/application-broker/Gopkg.lock
  components/application-broker/cmd/broker/main.go
  components/application-broker/cmd/broker/main_test.go
  components/application-broker/internal/access/mapping.go
  components/application-broker/internal/broker/automock/app_enabled_checker.go
  components/application-broker/internal/broker/automock/service_checker_factory.go
  components/application-broker/internal/broker/catalog.go
  components/application-broker/internal/broker/catalog_export_test.go
  components/application-broker/internal/broker/catalog_test.go
  components/application-broker/internal/broker/server.go
Due: console-integration

Tests
  components/console-backend-service/internal/domain/k8s/automock/gql_resource_quota_converter.go
  components/console-backend-service/internal/domain/k8s/resourcequota_converter.go
  components/console-backend-service/internal/domain/k8s/resourcequota_converter_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver_test.go
Due: console-integration

Bump Application Broker image - ApplicationMapping enables selected services
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Changes in Operator
  components/app-connector-validation-proxy/cmd/appconnectorvalidationproxy/options.go
  components/application-operator/charts/application/templates/ingress.yaml
  components/application-operator/charts/application/templates/policy.yaml
  components/application-operator/charts/application/templates/validation-proxy.yaml
  components/application-operator/charts/application/values.yaml
  components/application-operator/cmd/manager/manager.go
  components/application-operator/cmd/manager/options.go
  components/application-operator/pkg/kymahelm/application/overrides.go
  components/application-operator/pkg/kymahelm/application/releasemanager.go
  components/application-operator/pkg/kymahelm/application/releasemanager_test.go
Due: console-integration, kyma-components-application-operator

Added virtual service
  components/application-operator/charts/application/templates/virtual-service.yaml
  components/application-operator/charts/application/values.yaml
Due: console-integration, kyma-components-application-operator

Remove unused vars
  installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Removed unused CORS policy from kiali virtual service
  resources/istio/charts/kiali/templates/virtualservice.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Kyma performance tests documentation (#3906)
  CODEOWNERS
  tests/perf/README.md
  tests/perf/components/application-gateway/application_gateway.js
  tests/perf/components/examples/http-db-service.js
  tests/perf/components/examples/http_basic.js
  tests/perf/prerequisites/application-gateway/application-gateway.yaml
  tests/perf/prerequisites/application-gateway/setup.sh
  tests/perf/prerequisites/examples/example.yaml
  tests/perf/prerequisites/examples/setup.sh
Due: none

Consume externalLink and requiredPermission while querying clusterMicroFrontends (#4140)
  resources/core/charts/console/values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

deprecation message of scripts added
  docs/kyma/04-02-local-installation.md
  installation/cmd/run.ps1
  installation/cmd/run.sh
  installation/scripts/build-kyma-installer.ps1
  installation/scripts/build-kyma-installer.sh
  installation/scripts/clean-up.ps1
  installation/scripts/clean-up.sh
  installation/scripts/configure-components.ps1
  installation/scripts/configure-components.sh
  installation/scripts/install-tiller.ps1
  installation/scripts/install-tiller.sh
  installation/scripts/installer.ps1
  installation/scripts/installer.sh
  installation/scripts/minikube.ps1
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

deprecation message updated
  installation/scripts/build-kyma-installer.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

code review comments addressed
  resources/assetstore/templates/_helper_rm_minio_content_bucket.txt
  resources/assetstore/templates/pre-upgrade-rm_minio_content_bucket.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

restore minio post-install-create-bucket-job
  resources/assetstore/charts/minio/templates/post-install-create-bucket-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

remove docsbuilder tool
  CODEOWNERS
  tools/docsbuilder/Gopkg.lock
  tools/docsbuilder/Gopkg.toml
  tools/docsbuilder/Makefile
  tools/docsbuilder/README.md
  tools/docsbuilder/before-commit.sh
  tools/docsbuilder/internal/content/content.go
  tools/docsbuilder/internal/content/content_test.go
  tools/docsbuilder/internal/docker/docker.go
  tools/docsbuilder/internal/docker/docker_test.go
  tools/docsbuilder/internal/sh/cmd.go
  tools/docsbuilder/internal/sh/cmd_test.go
  tools/docsbuilder/main.go
Due: none

fix job command
  resources/assetstore/templates/post-upgrade-rm_minio_content_bucket.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

code revie comments addressed
  resources/assetstore/templates/pre-upgrade-rm_minio_content_bucket.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

cleanup
  resources/assetstore/templates/pre-upgrade-rm_minio_content_bucket.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

minnio content bucket cleanup
  resources/assetstore/charts/minio/templates/post-install-create-bucket-job.yaml
  resources/assetstore/templates/_helper_rm_minio_content_bucket.txt
  resources/assetstore/templates/post-upgrade-rm_minio_content_bucket.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

code refactor
  resources/assetstore/charts/minio/templates/post-install-create-bucket-job.yaml
  resources/assetstore/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

add m00g3n to codeowners
  CODEOWNERS
Due: none

update content upload configmap
  resources/assetstore/charts/minio/templates/content-upload-configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

clean codeowners; clean assetstore content bucket leftovers
  CODEOWNERS
  resources/assetstore/charts/minio/templates/content-upload-configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

update documentation
  docs/asset-store/08-01-gateway-mode-set-up.md
Due: post-master-kyma-docs-website, kyma-docs
