Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

add integration tests
  tests/ui-api-layer-acceptance-tests/internal/domain/k8s/service_test.go
Due: none

rename graphQL type KService to Service
  components/ui-api-layer/internal/domain/k8s/automock/gql_k_service_converter.go
  components/ui-api-layer/internal/domain/k8s/automock/gql_service_converter.go
  components/ui-api-layer/internal/domain/k8s/automock/service_svc.go
  components/ui-api-layer/internal/domain/k8s/listener/automock/gql_service_converter.go
  components/ui-api-layer/internal/domain/k8s/listener/service.go
  components/ui-api-layer/internal/domain/k8s/listener/service_test.go
  components/ui-api-layer/internal/domain/k8s/mocks/gqlKServiceConverter.go
  components/ui-api-layer/internal/domain/k8s/service_converter.go
  components/ui-api-layer/internal/domain/k8s/service_converter_test.go
  components/ui-api-layer/internal/domain/k8s/service_resolver.go
  components/ui-api-layer/internal/domain/k8s/service_resolver_test.go
  components/ui-api-layer/internal/domain/k8s/service_service.go
  components/ui-api-layer/internal/domain/k8s/service_service_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

code review comments addressed
  components/console-backend-service/internal/domain/k8s/listener/service.go
  components/console-backend-service/internal/domain/k8s/listener/service_test.go
  components/console-backend-service/internal/domain/k8s/service_converter.go
  components/console-backend-service/internal/domain/k8s/service_converter_test.go
  components/console-backend-service/internal/domain/k8s/service_resolver_test.go
  components/console-backend-service/internal/domain/k8s/service_service.go
  components/console-backend-service/internal/domain/k8s/service_service_test.go
Due: console-integration

rebase to rename
  components/console-backend-service/internal/domain/k8s/listener/service.go
  components/console-backend-service/internal/domain/k8s/listener/service_test.go
  components/console-backend-service/internal/domain/k8s/service_converter.go
  components/console-backend-service/internal/domain/k8s/service_converter_test.go
  components/console-backend-service/internal/domain/k8s/service_resolver.go
  components/console-backend-service/internal/domain/k8s/service_resolver_test.go
  components/console-backend-service/internal/domain/k8s/service_service.go
  components/console-backend-service/internal/domain/k8s/service_service_test.go
  components/ui-api-layer/internal/domain/k8s/automock/gql_service_converter.go
  components/ui-api-layer/internal/domain/k8s/automock/service_svc.go
  components/ui-api-layer/internal/domain/k8s/listener/automock/gql_service_converter.go
  components/ui-api-layer/internal/domain/k8s/listener/service.go
  components/ui-api-layer/internal/domain/k8s/listener/service_test.go
  components/ui-api-layer/internal/domain/k8s/mocks/gqlPodConverter.go
  components/ui-api-layer/internal/domain/k8s/service_converter.go
  components/ui-api-layer/internal/domain/k8s/service_converter_test.go
  components/ui-api-layer/internal/domain/k8s/service_resolver.go
  components/ui-api-layer/internal/domain/k8s/service_resolver_test.go
  components/ui-api-layer/internal/domain/k8s/service_service.go
  components/ui-api-layer/internal/domain/k8s/service_service_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/k8s/service_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

code review comments addressed
  components/console-backend-service/internal/domain/k8s/listener/service.go
  components/console-backend-service/internal/domain/k8s/listener/service_test.go
  components/console-backend-service/internal/domain/k8s/service_converter.go
  components/console-backend-service/internal/domain/k8s/service_converter_test.go
  components/console-backend-service/internal/domain/k8s/service_resolver.go
  components/console-backend-service/internal/domain/k8s/service_resolver_test.go
  components/console-backend-service/internal/domain/k8s/service_service.go
  components/console-backend-service/internal/domain/k8s/service_service_test.go
Due: console-integration

Add mutation
  components/console-backend-service/internal/domain/k8s/automock/gql_service_converter.go
  components/console-backend-service/internal/domain/k8s/service_converter.go
  components/console-backend-service/internal/domain/k8s/service_resolver.go
  components/console-backend-service/internal/domain/k8s/service_resolver_test.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

add mutation #2
  components/console-backend-service/internal/domain/k8s/automock/gql_service_converter.go
  components/console-backend-service/internal/domain/k8s/automock/service_svc.go
  components/console-backend-service/internal/domain/k8s/export_test.go
  components/console-backend-service/internal/domain/k8s/k8s.go
  components/console-backend-service/internal/domain/k8s/listener/automock/gql_service_converter.go
  components/console-backend-service/internal/domain/k8s/listener/service.go
  components/console-backend-service/internal/domain/k8s/service_converter.go
  components/console-backend-service/internal/domain/k8s/service_converter_test.go
  components/console-backend-service/internal/domain/k8s/service_resolver.go
  components/console-backend-service/internal/domain/k8s/service_service.go
  components/console-backend-service/internal/domain/k8s/service_service_test.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  tests/console-backend-service/internal/domain/k8s/service_test.go
Due: console-integration

add mutation #3
  components/console-backend-service/internal/domain/k8s/automock/service_svc.go
  components/console-backend-service/internal/domain/k8s/service_resolver.go
  components/console-backend-service/internal/domain/k8s/service_resolver_test.go
  components/console-backend-service/internal/domain/k8s/service_service.go
  components/console-backend-service/internal/domain/k8s/service_service_test.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  tests/console-backend-service/internal/domain/k8s/service_test.go
Due: console-integration

minor changes
  tests/connection-token-handler-tests/test/k8stests/k8sresource_test.go
Due: none

Add hooks to resources
  resources/cluster-essentials/templates/rbac-config-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Refactored DocsTopic Repository and AssetStore service
  components/application-registry/internal/metadata/specification/assetstore/service.go
  components/application-registry/internal/metadata/specification/assetstore/service_test.go
  components/application-registry/internal/metadata/specification/docstopic/repository.go
  components/application-registry/internal/metadata/specification/docstopic/repository_test.go
Due: console-integration

Apply suggestions from KG code review
  docs/application-connector/docs/08-10-rotate-root-ca.md
Due: kyma-docs

Renamed docstopic.DocumentationTopic to docstopic.Entry
  components/application-registry/internal/metadata/specification/assetstore/service.go
  components/application-registry/internal/metadata/specification/assetstore/service_test.go
  components/application-registry/internal/metadata/specification/docstopic/mocks/Repository.go
  components/application-registry/internal/metadata/specification/docstopic/repository.go
Due: console-integration

add mutation #4
  resources/core/templates/tests/rbac-test-console-backend-service.yaml
  tests/console-backend-service/internal/domain/k8s/service_test.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add hook weights
  resources/cluster-essentials/templates/rbac-config-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

First commit
  tests/end-to-end/backup-restore-test/backupe2e/backuptest.go
Due: none

v2
  docs/application-connector/docs/08-10-rotate-root-ca.md
Due: kyma-docs

Add root CA rotation tutorial (#3247)
  docs/application-connector/docs/08-10-rotate-root-ca.md
Due: kyma-docs

use exitCode to store script exit code
  installation/scripts/e2e-testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Align error handling introduced in #2968
  components/console-backend-service/internal/domain/k8s/service_service.go
  components/console-backend-service/internal/domain/k8s/service_service_test.go
Due: console-integration

Define matador, the metadata extractor
  components/asset-metadata-service/pkg/matador/matador.go
  components/asset-metadata-service/pkg/matador/matador_test.go
  components/asset-metadata-service/pkg/matador/testdata/error.md
  components/asset-metadata-service/pkg/matador/testdata/error.yaml
  components/asset-metadata-service/pkg/matador/testdata/success.md
  components/asset-metadata-service/pkg/matador/testdata/success.yaml
Due: console-integration

Add Makefile
  components/asset-metadata-service/Makefile
Due: console-integration

Logging document updated with overview diagram (#3220)
  docs/logging/docs/02-01-logging.md
  docs/logging/docs/assets/loki-overview.png
Due: kyma-docs

Add before-commit.sh
  components/asset-metadata-service/Gopkg.lock
  components/asset-metadata-service/Gopkg.toml
  components/asset-metadata-service/before-commit.sh
  components/asset-metadata-service/pkg/matador/automock/matador.go
Due: console-integration

enable nats streaming basic metrics monitoring
  resources/nats-streaming/templates/statefulset.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Csrf token support (#2998)
  components/application-gateway/Gopkg.lock
  components/application-gateway/Gopkg.toml
  components/application-gateway/cmd/applicationgateway/applicationproxy.go
  components/application-gateway/internal/authorization/basicauthstrategy.go
  components/application-gateway/internal/authorization/basicauthstrategy_test.go
  components/application-gateway/internal/authorization/certificategenstrategy.go
  components/application-gateway/internal/authorization/certificategenstrategy_test.go
  components/application-gateway/internal/authorization/externaltokenstrategy.go
  components/application-gateway/internal/authorization/externaltokenstrategy_test.go
  components/application-gateway/internal/authorization/factory.go
  components/application-gateway/internal/authorization/factory_test.go
  components/application-gateway/internal/authorization/mocks/Strategy.go
  components/application-gateway/internal/authorization/noauthstrategy.go
  components/application-gateway/internal/authorization/oauthstrategy.go
  components/application-gateway/internal/authorization/oauthstrategy_test.go
  components/application-gateway/internal/authorization/testconsts/testconsts.go
  components/application-gateway/internal/csrf/client/csrfclient.go
  components/application-gateway/internal/csrf/client/csrfclient_test.go
  components/application-gateway/internal/csrf/client/csrftokencache.go
  components/application-gateway/internal/csrf/client/csrftokencache_test.go
  components/application-gateway/internal/csrf/mocks/Client.go
  components/application-gateway/internal/csrf/mocks/TokenStrategy.go
  components/application-gateway/internal/csrf/mocks/TokenStrategyFactory.go
  components/application-gateway/internal/csrf/strategy/csrf.go
  components/application-gateway/internal/csrf/strategy/csrf_test.go
  components/application-gateway/internal/csrf/types.go
  components/application-gateway/internal/httpconsts/httpconsts.go
  components/application-gateway/internal/metadata/applications/repository.go
  components/application-gateway/internal/metadata/model/model.go
  components/application-gateway/internal/metadata/serviceapi/serviceapiservice.go
  components/application-gateway/internal/proxy/cache.go
  components/application-gateway/internal/proxy/cache_test.go
  components/application-gateway/internal/proxy/proxy.go
  components/application-gateway/internal/proxy/proxy_test.go
  components/application-gateway/internal/proxy/unauthorizedresponseretrier.go
  components/application-gateway/internal/proxy/unauthorizedresponseretrier_test.go
Due: console-integration

Update components/helm-broker/README.md
  components/helm-broker/README.md
Due: console-integration

Update docs/helm-broker/docs/01-01-helm-broker.md
  docs/helm-broker/docs/01-01-helm-broker.md
Due: kyma-docs

final gateway image
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update docs/helm-broker/docs/03-01-create-bundles.md
  docs/helm-broker/docs/03-01-create-bundles.md
Due: kyma-docs

Update docs/helm-broker/docs/03-02-bind-bundles.md
  docs/helm-broker/docs/03-02-bind-bundles.md
Due: kyma-docs

Fix if clause
  resources/cluster-essentials/templates/rbac-config-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

add post-upgrade hook to istio-security-post-install job
  resources/istio/charts/security/templates/create-custom-resources-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

import reorganization; rbac-test-console-backend-service reverted
  components/console-backend-service/internal/domain/k8s/k8s.go
  components/console-backend-service/internal/domain/k8s/listener/service.go
  components/console-backend-service/internal/domain/k8s/service_converter.go
  components/console-backend-service/internal/domain/k8s/service_converter_test.go
  components/console-backend-service/internal/domain/k8s/service_resolver.go
  components/console-backend-service/internal/domain/k8s/service_resolver_test.go
  components/console-backend-service/internal/domain/k8s/service_service.go
  components/console-backend-service/internal/domain/k8s/service_service_test.go
  resources/core/templates/tests/rbac-test-console-backend-service.yaml
  tests/console-backend-service/internal/domain/k8s/service_test.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix typo in role
  resources/cluster-essentials/templates/rbac-config-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector
