Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Add compass artifact generation
  installation/resources/installer-cr-cluster-diet-compass.yaml.tpl
  installation/scripts/release-generate-kyma-installer-artifacts.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

ClusterDocsTopis name is now derived from serviceID
  components/compass-runtime-agent/internal/kyma/apiresources/assetstore/mocks/Service.go
  components/compass-runtime-agent/internal/kyma/apiresources/assetstore/service.go
  components/compass-runtime-agent/internal/kyma/apiresources/service.go
  components/compass-runtime-agent/internal/kyma/apiresources/service_test.go
Due: console-integration

Applied review
  docs/monitoring/03-01-alertmanager.md
  docs/monitoring/08-03-define-alerting-rules.md
Due: post-master-kyma-docs-website, kyma-docs

Updated exporters (controller-manager, etcd, scheduler, node). Added api-server exporter
  resources/monitoring/charts/exporter-kube-api-server/Chart.yaml
  resources/monitoring/charts/exporter-kube-api-server/templates/_helpers.tpl
  resources/monitoring/charts/exporter-kube-api-server/templates/servicemonitor.yaml
  resources/monitoring/charts/exporter-kube-api-server/values.yaml
  resources/monitoring/charts/exporter-kube-controller-manager/templates/endpoints.yaml
  resources/monitoring/charts/exporter-kube-controller-manager/templates/service.yaml
  resources/monitoring/charts/exporter-kube-etcd/templates/endpoints.yaml
  resources/monitoring/charts/exporter-kube-etcd/templates/service.yaml
  resources/monitoring/charts/exporter-kube-scheduler/templates/endpoints.yaml
  resources/monitoring/charts/exporter-kube-scheduler/templates/service.yaml
  resources/monitoring/charts/exporter-node/templates/servicemonitor.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix formatting of config lists for AC components
  components/connector-service/README.md
  resources/application-connector/charts/connector-service/README.md
Due: kyma-integration, kyma-gke-integration, console-integration

Re-use clustermicrofrontends nodes that need to be placed for a namespace
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
  tests/integration/cluster-users/sar-test.sh
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Change job image and rbac
  resources/cert-manager/templates/crd-job.yaml
  resources/cert-manager/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Working with charts
  resources/cert-manager/README.md
Due: kyma-integration, kyma-gke-integration, console-integration

enable certmanager in the istio
  resources/cert-manager/Chart.yaml
  resources/cert-manager/cainjector/.helmignore
  resources/cert-manager/cainjector/Chart.yaml
  resources/cert-manager/cainjector/templates/NOTES.txt
  resources/cert-manager/cainjector/templates/_helpers.tpl
  resources/cert-manager/cainjector/templates/deployment.yaml
  resources/cert-manager/cainjector/templates/rbac.yaml
  resources/cert-manager/cainjector/templates/serviceaccount.yaml
  resources/cert-manager/cainjector/values.yaml
  resources/cert-manager/values.yaml
  resources/cert-manager/webhook/.helmignore
  resources/cert-manager/webhook/Chart.yaml
  resources/cert-manager/webhook/templates/NOTES.txt
  resources/cert-manager/webhook/templates/_helpers.tpl
  resources/cert-manager/webhook/templates/apiservice.yaml
  resources/cert-manager/webhook/templates/deployment.yaml
  resources/cert-manager/webhook/templates/pki.yaml
  resources/cert-manager/webhook/templates/rbac.yaml
  resources/cert-manager/webhook/templates/service.yaml
  resources/cert-manager/webhook/templates/serviceaccount.yaml
  resources/cert-manager/webhook/templates/validating-webhook.yaml
  resources/cert-manager/webhook/values.yaml
  resources/istio-init/values.yaml
  resources/istio/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Initial commit with cert manager
  resources/cert-manager/.gitignore
  resources/cert-manager/.helmignore
  resources/cert-manager/Chart.yaml
  resources/cert-manager/OWNERS
  resources/cert-manager/README.md
  resources/cert-manager/cainjector/.helmignore
  resources/cert-manager/cainjector/Chart.yaml
  resources/cert-manager/cainjector/templates/NOTES.txt
  resources/cert-manager/cainjector/templates/_helpers.tpl
  resources/cert-manager/cainjector/templates/deployment.yaml
  resources/cert-manager/cainjector/templates/rbac.yaml
  resources/cert-manager/cainjector/templates/serviceaccount.yaml
  resources/cert-manager/cainjector/values.yaml
  resources/cert-manager/files/00-crds.yaml
  resources/cert-manager/requirements.yaml
  resources/cert-manager/templates/NOTES.txt
  resources/cert-manager/templates/_helpers.tpl
  resources/cert-manager/templates/crd-job.yaml
  resources/cert-manager/templates/crds.yaml
  resources/cert-manager/templates/deployment.yaml
  resources/cert-manager/templates/rbac.yaml
  resources/cert-manager/templates/serviceaccount.yaml
  resources/cert-manager/templates/servicemonitor.yaml
  resources/cert-manager/values.yaml
  resources/cert-manager/webhook/.helmignore
  resources/cert-manager/webhook/Chart.yaml
  resources/cert-manager/webhook/templates/NOTES.txt
  resources/cert-manager/webhook/templates/_helpers.tpl
  resources/cert-manager/webhook/templates/apiservice.yaml
  resources/cert-manager/webhook/templates/deployment.yaml
  resources/cert-manager/webhook/templates/pki.yaml
  resources/cert-manager/webhook/templates/rbac.yaml
  resources/cert-manager/webhook/templates/service.yaml
  resources/cert-manager/webhook/templates/serviceaccount.yaml
  resources/cert-manager/webhook/templates/validating-webhook.yaml
  resources/cert-manager/webhook/values.yaml
  resources/core/charts/gateway/templates/gateway.yaml
  resources/istio-init/templates/clusterrole.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Remove redundant cert-manager chart
  resources/cert-manager/.gitignore
  resources/cert-manager/.helmignore
  resources/cert-manager/Chart.yaml
  resources/cert-manager/OWNERS
  resources/cert-manager/README.md
  resources/cert-manager/files/00-crds.yaml
  resources/cert-manager/requirements.yaml
  resources/cert-manager/templates/NOTES.txt
  resources/cert-manager/templates/_helpers.tpl
  resources/cert-manager/templates/crd-job.yaml
  resources/cert-manager/templates/crds.yaml
  resources/cert-manager/templates/deployment.yaml
  resources/cert-manager/templates/rbac.yaml
  resources/cert-manager/templates/serviceaccount.yaml
  resources/cert-manager/templates/servicemonitor.yaml
  resources/cert-manager/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump ORY components
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/values.yaml
  resources/ory/charts/oathkeeper/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix formatting and minor lg errors
  components/application-connectivity-validator/README.md
  components/application-gateway/README.md
  components/application-operator/README.md
  components/application-registry/README.md
  components/connectivity-certs-controller/README.md
  components/event-service/README.md
  resources/application-connector/charts/application-registry/README.md
  resources/application-connector/charts/connectivity-certs-controller/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller

Extend the EventBus test utils to allow creating named subscriber deployments and services
  components/event-bus/test/util/subscriber_yaml.go
Due: console-integration

Change arg
  resources/cluster-essentials/charts/pod-preset/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add agent runtime CR
  installation/resources/installer-cr-cluster-agent.yaml.tpl
  installation/scripts/release-generate-kyma-installer-artifacts.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump service-catalog-ui version
  resources/service-catalog-addons/charts/service-catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add the upgrade test for the EventBus publish API v2
  tests/end-to-end/upgrade/Gopkg.toml
  tests/end-to-end/upgrade/pkg/tests/event-bus/event_bus.go
Due: none

Playing aroung with istio cert-manager
  resources/core/charts/gateway/templates/gateway.yaml
  resources/istio-init/values.yaml
  resources/istio/cer-manager.md
  resources/istio/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Make UI team members the code owners for new charts : compass-cockpit and service-catalog-ui
  CODEOWNERS
Due: none

Bump podpreset version (#5278)
  resources/cluster-essentials/charts/pod-preset/templates/webhook/deploy.yaml
  resources/cluster-essentials/charts/pod-preset/templates/webhook/service.yaml
  resources/cluster-essentials/charts/pod-preset/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Agent configuration job
  resources/compass/templates/agent-configuration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update images for Compass components
  resources/compass/charts/gateway/templates/gateway-certs.yaml
  resources/compass/charts/gateway/templates/gateway.yaml
  resources/compass/templates/migrator-job.yaml
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Agent configuration job (#5218)
  resources/compass/templates/agent-configuration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix link
  docs/kyma/04-02-local-installation.md
Due: post-master-kyma-docs-website, kyma-docs

Add permissions to ory custom resources (#5277)
  resources/core/charts/cluster-users/templates/clusterroles-ory-sh.yaml
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
  resources/core/charts/cluster-users/values.yaml
  resources/core/values.yaml
  tests/integration/cluster-users/sar-test.sh
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix link (#5298)
  docs/kyma/04-02-local-installation.md
Due: post-master-kyma-docs-website, kyma-docs

Add PreloadURL to common types
  common/microfrontend-client/pkg/apis/ui/v1alpha1/types.go
Due: none

Make UI team members the code owners for new charts : compass-cockpit and service-catalog-ui (#5295)
  CODEOWNERS
Due: none

Merge catalog-ui instances-ui brokers-ui deployments (#5261)
  resources/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/service-catalog-addons/charts/brokers-ui/templates/configmap.yaml
  resources/service-catalog-addons/charts/brokers-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/brokers-ui/templates/service.yaml
  resources/service-catalog-addons/charts/brokers-ui/values.yaml
  resources/service-catalog-addons/charts/catalog-ui/.helmignore
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/catalog-ui/templates/_helpers.tpl
  resources/service-catalog-addons/charts/catalog-ui/templates/configmap.yaml
  resources/service-catalog-addons/charts/catalog-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/catalog-ui/templates/destination-rule.yaml
  resources/service-catalog-addons/charts/catalog-ui/templates/service.yaml
  resources/service-catalog-addons/charts/catalog-ui/values.yaml
  resources/service-catalog-addons/charts/instances-ui/.helmignore
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/templates/_helpers.tpl
  resources/service-catalog-addons/charts/instances-ui/templates/configmap.yaml
  resources/service-catalog-addons/charts/instances-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/instances-ui/templates/destination-rule.yaml
  resources/service-catalog-addons/charts/instances-ui/templates/service.yaml
  resources/service-catalog-addons/charts/instances-ui/values.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/.helmignore
  resources/service-catalog-addons/charts/service-catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/_helpers.tpl
  resources/service-catalog-addons/charts/service-catalog-ui/templates/brokers-microfrontend.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/brokers-virtualservice.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/catalog-microfrontend.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/catalog-virtualservice.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/configmap.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/destination-rule.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/instances-microfrontend.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/instances-virtualservice.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/service.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Logging loki data source settings added to grafana data sources
  resources/monitoring/templates/grafana/configmaps-datasources.yaml
  resources/monitoring/templates/grafana/dashboards/application-registry.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Rename files and add README
  installation/resources/README.md
  installation/resources/installer-cr-cluster-compass-minimal.yaml.tpl
  installation/scripts/release-generate-kyma-installer-artifacts.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add missing quote
  installation/resources/installer-cr-cluster-compass-minimal.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Promethues grafana dashboards migration
  resources/monitoring/templates/grafana/dashboards/connector-service.yaml
  resources/monitoring/templates/grafana/dashboards/deployment.yaml
  resources/monitoring/templates/grafana/dashboards/etcd-service-catalog.yaml
  resources/monitoring/templates/grafana/dashboards/event-bus-subscription.yaml
  resources/monitoring/templates/grafana/dashboards/event-bus.yaml
  resources/monitoring/templates/grafana/dashboards/istio-galley.yaml
  resources/monitoring/templates/grafana/dashboards/istio-mesh.yaml
  resources/monitoring/templates/grafana/dashboards/istio-mixer.yaml
  resources/monitoring/templates/grafana/dashboards/istio-performance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update components/application-connectivity-validator/README.md
  components/application-connectivity-validator/README.md
Due: console-integration

Update components/application-gateway/README.md
  components/application-gateway/README.md
Due: console-integration

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
