Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-components-ui-api-layer:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-docs:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-and-start-kyma.sh
      resources:
        requests:
          memory: 100Mi
          cpu: 50m
  labels:
  ...

Add Readme
  components/asset-upload-service/README.md
  components/asset-upload-service/internal/configurer/configurer.go
  components/asset-upload-service/internal/configurer/configurer_test.go
Due: console-integration

Refactored load-test to use one slack token
  tools/load-test/Dockerfile
  tools/load-test/Gopkg.lock
  tools/load-test/Gopkg.toml
  tools/load-test/load-test.go
  tools/load-test/reporter.go
  tools/load-test/utils.go
Due: none

Rename generate-docs script to prepare-content
  docs/Makefile
Due: kyma-docs

add more badges to readme
  README.md
Due: none

Refactoring
  components/connector-service/internal/clientcontext/middlewares/contextfromsubject.go
  components/connector-service/internal/externalapi/managementinfohandler_test.go
  components/connector-service/internal/tokens/creator_test.go
  components/connector-service/internal/tokens/manager.go
  components/connector-service/internal/tokens/manager_test.go
Due: console-integration

Introduce configurable expiration time for certificates issued by Connector Service (#2690)
  components/connector-service/cmd/connectorservice/connectorservice.go
  components/connector-service/cmd/connectorservice/options.go
  components/connector-service/cmd/connectorservice/options_test.go
  components/connector-service/internal/certificates/certificates.go
  components/connector-service/internal/certificates/certificates_test.go
Due: console-integration

Cleanup in tests
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/model.go
Due: none

Bump ConnSvc version
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Removed comment
  components/connector-service/cmd/connectorservice/options.go
Due: console-integration

Set logging level
  resources/dex/templates/dex-config-map.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Save errors to Installation error log (#2726)
  installation/scripts/is-installed.sh
  tools/kyma-installer/kyma.Dockerfile
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix Docker image build
  components/asset-upload-service/Dockerfile
Due: console-integration

change image name (#2760)
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/templates/test/test-backup.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
Due: none

Add management info endpoint to documentation
  docs/application-connector/docs/02-01-application-connector.md
  docs/application-connector/docs/08-02-get-client-certificate.md
Due: kyma-docs

Configurations generator remove istio policy (#2751)
  resources/core/charts/configurations-generator/templates/authentication-policy.yaml
  resources/core/charts/configurations-generator/templates/deployment.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

remove unused value
  resources/core/charts/namespace-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Dex: Change default expire settings (#2736)
  docs/security/docs/03-01-kubecofig-generator.md
  resources/dex/templates/dex-config-map.yaml
  resources/dex/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

simplified Makefiles
  tools/kyma-installer/Makefile
Due: none

Add minor changes due to review
  docs/application-connector/docs/08-02-get-client-certificate.md
Due: kyma-docs

Handled error from report
  tools/load-test/load-test.go
Due: none

docker images registy path updated
  resources/logging/charts/log-ui/templates/deployment.yaml
  resources/logging/charts/log-ui/values.yaml
  resources/logging/templates/tests/logging.yaml
  resources/logging/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Chart for Connectivity Certs Controller
  resources/connectivity-certs-controller/Chart.yaml
  resources/connectivity-certs-controller/templates/certificate-request.crd.yaml
  resources/connectivity-certs-controller/templates/cluster-role-binding.yaml
  resources/connectivity-certs-controller/templates/deployment.yaml
  resources/connectivity-certs-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix image names
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fixed the log message
  tools/load-test/utils.go
Due: none

Delete not important information
  docs/application-connector/docs/08-02-get-client-certificate.md
Due: kyma-docs

naming of helm chart adjusted
  resources/logging/Chart.yaml
  resources/logging/charts/logging-alerts/templates/logging-component-rules.yaml
  resources/logging/templates/loki/istio-rbac.yaml
  tests/logging/test-logging.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Docs image update (#2758)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Refactor load-test to use one slack token (#2771)
  tools/load-test/Dockerfile
  tools/load-test/Gopkg.lock
  tools/load-test/Gopkg.toml
  tools/load-test/load-test.go
  tools/load-test/reporter.go
  tools/load-test/utils.go
Due: none

wrong naming for helm test fixed
  resources/logging/templates/loki/_helpers.tpl
  resources/logging/values.yaml
  tests/logging/test-logging.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Added entries to ingress
  resources/application-connector/charts/connector-service/templates/ingress.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add external upload origin env
  components/asset-upload-service/README.md
  components/asset-upload-service/internal/requesthandler/requesthandler.go
  components/asset-upload-service/internal/uploader/uploader.go
  components/asset-upload-service/main.go
Due: console-integration

test counter pod updated
  tests/logging/testCounterPod.yaml
Due: none

Bump Connector Service version (#2692)
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/values.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

sidecar injection disabled for test pods
  resources/logging/templates/tests/logging.yaml
  tests/logging/test-logging.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

v1
  docs/application-connector/docs/02-01-application-connector.md
  docs/application-connector/docs/06-01-application.md
  docs/application-connector/docs/06-02-apllicationmapping.md
Due: kyma-docs

Allow only POST method
  components/connector-service/internal/externalapi/externalapi.go
Due: console-integration

Remove unused value from namespace-controller chart (#2777)
  resources/core/charts/namespace-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add security recommendations for microfrontends
  docs/console/docs/01-01-console.md
Due: kyma-docs

Initial version
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
  resources/core/charts/cluster-users/values.yaml
  resources/dex/templates/dex-users-secret.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

cors headers updated
  resources/logging/templates/loki/istio-rbac.yaml
  resources/logging/templates/loki/virtualservice.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
