Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Fixed issue with initializing external API
  components/connector-service/cmd/connectorservice/connectorservice.go
  components/connector-service/cmd/connectorservice/handlers.go
  components/connector-service/internal/externalapi/externalapi.go
Due: console-integration

Revert changes in resources
  resources/application-connector/charts/application-registry/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

pod name fix
  tests/apiserver-proxy-tests/Dockerfile
  tests/apiserver-proxy-tests/test.sh
Due: none

Update values.yaml
  resources/core/charts/apiserver-proxy/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

logging test updated for grafana/loki deployment
  tests/logging/test-logging.go
  tests/logging/testCounterPod.yaml
Due: none

Restructure kubeless-integration tests folder (#2900)
  tests/end-to-end/kubeless-integration/Dockerfile
  tests/end-to-end/kubeless-integration/Gopkg.lock
  tests/end-to-end/kubeless-integration/Gopkg.toml
  tests/end-to-end/kubeless-integration/Makefile
  tests/end-to-end/kubeless-integration/README.md
  tests/end-to-end/kubeless-integration/event.js
  tests/end-to-end/kubeless-integration/hello.js
  tests/end-to-end/kubeless-integration/ns.yaml
  tests/end-to-end/kubeless-integration/svc-binding.yaml
  tests/end-to-end/kubeless-integration/svc-instance.yaml
  tests/end-to-end/kubeless-integration/test-kubeless.go
Due: none

Fix path for image details
  resources/monitoring/templates/tests/test-kube-prometheus.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Adapt charts and bump test monitoring image
  resources/core/values.yaml
  resources/monitoring/templates/tests/test-kube-prometheus.yaml
  resources/monitoring/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Create new getLB function, complete helper script
  components/xip-patch/certhelper.sh
  components/xip-patch/utils.sh
Due: console-integration

removed
  resources/logging/charts/log-ui/.helmignore
  resources/logging/charts/log-ui/Chart.yaml
  resources/logging/charts/log-ui/README.md
  resources/logging/charts/log-ui/templates/_helpers.tpl
  resources/logging/charts/log-ui/templates/configmap.yaml
  resources/logging/charts/log-ui/templates/cr.yaml
  resources/logging/charts/log-ui/templates/deployment.yaml
  resources/logging/charts/log-ui/templates/service.yaml
  resources/logging/charts/log-ui/templates/virtualservice.yaml
  resources/logging/charts/log-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump image of Connector Service (#2894)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

logging helm chart test updated
  tests/logging/test-logging.go
  tests/logging/testCounterPod.yaml
Due: none

logging helm chart test updated
  resources/logging/templates/service.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

fix pod name
  resources/core/charts/apiserver-proxy/templates/tests/test-apiserver-proxy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

v1
  docs/console/docs/03-02-ui-api-layer.md
Due: kyma-docs

Apply suggestions from code review
  components/README.md
  tests/README.md
Due: console-integration

readme update
  resources/application-connector/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Make common value for app-mgmt and conn-svc enabled flag
  resources/application-connector/requirements.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Make common value for app-mgmt and conn-svc enabled flag
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

enable flag
  resources/application-connector/templates/applications-microfrontend.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Typo fixed
  components/connector-service/internal/logging/middlewares/auditlogging.go
Due: console-integration

Fix diagram
  docs/application-connector/docs/assets/003-architecture-proxy-service.svg
Due: kyma-docs

docs updated
  docs/logging/docs/03-01-access-loki.md
Due: kyma-docs

Update README.md
  tests/README.md
Due: none

Fix Docker image build
  tests/asset-store/Dockerfile
Due: none

Adding helper job as new chart
  components/xip-patch/certhelper.sh
  resources/application-connector-helper/.helmignore
  resources/application-connector-helper/Chart.yaml
  resources/application-connector-helper/templates/NOTES.txt
  resources/application-connector-helper/templates/_helpers.tpl
  resources/application-connector-helper/templates/helper-job.yaml
  resources/application-connector-helper/templates/rbac.yaml
  resources/application-connector-helper/templates/serviceaccount.yaml
  resources/application-connector-helper/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

extract nginx-ingress to a separate chart
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-service.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Going forward.
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/application-connector-ingress/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Extract kyma-integration to a separate component
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/application-connector/templates/kyma-integration-namespace.yaml
  resources/kyma-integration/Chart.yaml
  resources/kyma-integration/templates/NOTES.txt
  resources/kyma-integration/templates/_helpers.tpl
  resources/kyma-integration/templates/config-map.yaml
  resources/kyma-integration/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Going forward.
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/application-connector-ingress/templates/nginx-ingress-cert.yaml
  resources/application-connector-ingress/values.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

extract nginx-ingress to a separate chart
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/application-connector-ingress/Chart.yaml
  resources/application-connector-ingress/charts/nginx-ingress/.helmignore
  resources/application-connector-ingress/charts/nginx-ingress/Chart.yaml
  resources/application-connector-ingress/charts/nginx-ingress/README.md
  resources/application-connector-ingress/charts/nginx-ingress/templates/NOTES.txt
  resources/application-connector-ingress/charts/nginx-ingress/templates/_helpers.tpl
  resources/application-connector-ingress/charts/nginx-ingress/templates/clusterrole.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/clusterrolebinding.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-configmap.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-daemonset.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-deployment.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-hpa.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-metrics-service.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-poddisruptionbudget.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-service.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-stats-service.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/default-backend-deployment.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/default-backend-poddisruptionbudget.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/default-backend-service.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/headers-configmap.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/role.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/rolebinding.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/serviceaccount.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/tcp-configmap.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/udp-configmap.yaml
  resources/application-connector-ingress/charts/nginx-ingress/templates/zipkin-configmap.yaml
  resources/application-connector-ingress/charts/nginx-ingress/values.yaml
  resources/application-connector-ingress/templates/NOTES.txt
  resources/application-connector-ingress/templates/_helpers.tpl
  resources/application-connector-ingress/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

extract nginx-ingress to a separate chart
  resources/application-connector-ingress/charts/nginx-ingress/templates/zipkin-configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

extract nginx-ingress to a separate chart
  resources/application-connector-ingress/charts/nginx-ingress/templates/controller-deployment.yaml
  resources/application-connector-ingress/templates/nginx-ingress-cert.yaml
  resources/application-connector/charts/connector-service/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Move nginx to a separate chart.
  resources/kyma-integration/charts/nginx-ingress/.helmignore
  resources/kyma-integration/charts/nginx-ingress/Chart.yaml
  resources/kyma-integration/charts/nginx-ingress/README.md
  resources/kyma-integration/charts/nginx-ingress/templates/NOTES.txt
  resources/kyma-integration/charts/nginx-ingress/templates/_helpers.tpl
  resources/kyma-integration/charts/nginx-ingress/templates/clusterrole.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/clusterrolebinding.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/controller-configmap.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/controller-daemonset.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/controller-deployment.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/controller-hpa.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/controller-metrics-service.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/controller-poddisruptionbudget.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/controller-service.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/controller-stats-service.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/default-backend-deployment.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/default-backend-poddisruptionbudget.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/default-backend-service.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/headers-configmap.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/role.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/rolebinding.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/serviceaccount.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/tcp-configmap.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/udp-configmap.yaml
  resources/kyma-integration/charts/nginx-ingress/templates/zipkin-configmap.yaml
  resources/kyma-integration/charts/nginx-ingress/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Move nginx to a separate chart.
  resources/application-connector/charts/nginx-ingress/.helmignore
  resources/application-connector/charts/nginx-ingress/Chart.yaml
  resources/application-connector/charts/nginx-ingress/README.md
  resources/application-connector/charts/nginx-ingress/templates/NOTES.txt
  resources/application-connector/charts/nginx-ingress/templates/_helpers.tpl
  resources/application-connector/charts/nginx-ingress/templates/clusterrole.yaml
  resources/application-connector/charts/nginx-ingress/templates/clusterrolebinding.yaml
  resources/application-connector/charts/nginx-ingress/templates/controller-configmap.yaml
  resources/application-connector/charts/nginx-ingress/templates/controller-daemonset.yaml
  resources/application-connector/charts/nginx-ingress/templates/controller-deployment.yaml
  resources/application-connector/charts/nginx-ingress/templates/controller-hpa.yaml
  resources/application-connector/charts/nginx-ingress/templates/controller-metrics-service.yaml
  resources/application-connector/charts/nginx-ingress/templates/controller-poddisruptionbudget.yaml
  resources/application-connector/charts/nginx-ingress/templates/controller-service.yaml
  resources/application-connector/charts/nginx-ingress/templates/controller-stats-service.yaml
  resources/application-connector/charts/nginx-ingress/templates/default-backend-deployment.yaml
  resources/application-connector/charts/nginx-ingress/templates/default-backend-poddisruptionbudget.yaml
  resources/application-connector/charts/nginx-ingress/templates/default-backend-service.yaml
  resources/application-connector/charts/nginx-ingress/templates/headers-configmap.yaml
  resources/application-connector/charts/nginx-ingress/templates/role.yaml
  resources/application-connector/charts/nginx-ingress/templates/rolebinding.yaml
  resources/application-connector/charts/nginx-ingress/templates/serviceaccount.yaml
  resources/application-connector/charts/nginx-ingress/templates/tcp-configmap.yaml
  resources/application-connector/charts/nginx-ingress/templates/udp-configmap.yaml
  resources/application-connector/charts/nginx-ingress/templates/zipkin-configmap.yaml
  resources/application-connector/charts/nginx-ingress/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Move nginx to a separate chart.
  resources/application-connector-nginx/templates/job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Move nginx to a separate chart.
  resources/application-connector-nginx/templates/rolebindings.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Move nginx to a separate chart.
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade
