Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-backup, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-connector-service-tests, post-master-kyma-tests-connector-service-tests, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-api-controller, post-master-kyma-tests-integration-api-controller, pre-master-kyma-tests-integration-cluster-users, post-master-kyma-tests-integration-cluster-users, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-logging, post-master-kyma-tests-integration-logging, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2.5Gi
          cpu: 2
      env:
      - name: GO111MODULE
        value: 'on'
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2.5Gi
          cpu: 2
      env:
      - name: GO111MODULE
        value: 'on'
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-cms-services:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

bump image to pr-image
  resources/knative-serving/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add list query
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/domain/serverless/convert/function.go
  components/console-backend-service/internal/domain/serverless/convert/function_test.go
  components/console-backend-service/internal/domain/serverless/disabled/resolver.go
  components/console-backend-service/internal/domain/serverless/function_resolver.go
  components/console-backend-service/internal/domain/serverless/function_service.go
  components/console-backend-service/internal/domain/serverless/pretty/kind.go
  components/console-backend-service/internal/domain/serverless/serverless.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Add Vary Origin header to DEX (#5854)
  resources/dex/templates/dex-virtual-service.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

v1
  docs/kyma/10-08-cant-download-img.md
Due: post-master-kyma-docs-website, kyma-docs

v2
  docs/kyma/10-08-cant-download-img.md
Due: post-master-kyma-docs-website, kyma-docs

Bump HB after fixing etcd timeout
  resources/helm-broker/templates/deploy.yaml
  resources/helm-broker/templates/rbac.yaml
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update values.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix Split viewm mode for lambda logs when loki not installed
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

remove unnecessary environment variable
  resources/knative-serving/templates/tests/test.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix kantive serving test (#5856)
  tests/knative-serving/Gopkg.lock
  tests/knative-serving/Gopkg.toml
  tests/knative-serving/knative_serving_test.go
Due: none

bump image
  resources/knative-serving/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump HB after fixing etcd timeout (#5821)
  resources/helm-broker/templates/deploy.yaml
  resources/helm-broker/templates/rbac.yaml
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

v3
  docs/kyma/10-08-cant-download-img.md
Due: post-master-kyma-docs-website, kyma-docs

v4
  docs/kyma/10-08-cant-download-img.md
Due: post-master-kyma-docs-website, kyma-docs

Add Minikube DNS error troubleshooting (#5859)
  docs/kyma/10-08-cant-download-img.md
Due: post-master-kyma-docs-website, kyma-docs

Extract unstructured to resource pakcage
  components/console-backend-service/internal/domain/serverless/convert/function.go
  components/console-backend-service/internal/domain/serverless/convert/function_test.go
  components/console-backend-service/internal/resource/unstructured.go
  components/console-backend-service/internal/resource/unstructured_test.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Rename some files
  components/console-backend-service/internal/domain/serverless/function.go
  components/console-backend-service/internal/domain/serverless/resolver.go
  components/console-backend-service/internal/resource/unstructured_test.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Wait for Application to be deployed in Compass Runtime Agent
  tests/compass-runtime-agent/Gopkg.lock
  tests/compass-runtime-agent/test/runtimeagent/suite.go
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_test.go
  tests/compass-runtime-agent/test/testkit/config.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Update chart
  resources/compass-runtime-agent/templates/tests/test-runtime-agent-integration.yaml
  resources/compass-runtime-agent/values.yaml
  tests/compass-runtime-agent/test/testkit/config.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Fix 10-08-cant-download-img.md document
  docs/kyma/10-08-cant-download-img.md
Due: post-master-kyma-docs-website, kyma-docs

Fix type
  docs/kyma/10-08-cant-download-img.md
Due: post-master-kyma-docs-website, kyma-docs

Fix 10-08-cant-download-img.md document (#5871)
  docs/kyma/10-08-cant-download-img.md
Due: post-master-kyma-docs-website, kyma-docs

Fix import and change resource name to functions
  components/console-backend-service/internal/domain/serverless/resolver.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Fix type conversion
  components/console-backend-service/internal/domain/serverless/convert/function.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Add Minio metrics
  docs/asset-store/11-04-minio.md
Due: post-master-kyma-docs-website, kyma-docs

Add delete mutation
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/domain/serverless/disabled/resolver.go
  components/console-backend-service/internal/domain/serverless/function.go
  components/console-backend-service/internal/domain/serverless/function_service.go
  components/console-backend-service/internal/domain/serverless/resolver.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Create dynamic resource.Service
  components/console-backend-service/internal/domain/serverless/function_service.go
  components/console-backend-service/internal/domain/serverless/resolver.go
  components/console-backend-service/internal/resource/service.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Function service tests
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/domain/serverless/convert/function.go
  components/console-backend-service/internal/domain/serverless/disabled/resolver.go
  components/console-backend-service/internal/domain/serverless/function.go
  components/console-backend-service/internal/domain/serverless/function_service.go
  components/console-backend-service/internal/domain/serverless/function_service_test.go
  components/console-backend-service/internal/domain/serverless/pretty/kind.go
  components/console-backend-service/internal/domain/serverless/resolver.go
  components/console-backend-service/internal/resource/fake/service.go
  components/console-backend-service/internal/resource/service.go
  components/console-backend-service/internal/resource/unstructured_test.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

kyma-operator generic makefile
  components/kyma-operator/Dockerfile
  components/kyma-operator/Makefile
  components/kyma-operator/before-commit.sh
Due: console-integration

update oathkeeper config in ory chart values
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

change oathkeeper image to temporary image with desired changes
  resources/ory/charts/oathkeeper/values.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

kyma-operator generic makefile
  components/kyma-operator/Dockerfile
Due: console-integration

kyma-operator generic makefile
  components/kyma-operator/Dockerfile
  components/kyma-operator/Makefile
  scripts/go-dep.mk
Due: console-integration

Apply PK's review v.3
  docs/compass/01-01-compass.md
  docs/compass/02-01-components.md
  docs/compass/02-02-flow.md
  docs/compass/04-01-compass.md
  docs/compass/assets/architecture.svg
  docs/compass/assets/components.svg
  docs/compass/assets/kyma-mode2.svg
Due: post-master-kyma-docs-website, kyma-docs

Update Core-UI data
  installation/scripts/minikube.sh
  resources/core/charts/console/templates/configmap.yaml
  resources/core/charts/console/templates/core-microfrontend.yaml
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  post-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gcs-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gcs-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/core/templates/tests\S+|resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-backup: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  post-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  post-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  pre-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  post-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  pre-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  post-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
