Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-connector-service-tests, post-master-kyma-tests-connector-service-tests, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-cluster-users, post-master-kyma-tests-integration-cluster-users, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-logging, post-master-kyma-tests-integration-logging, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  post-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  post-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  post-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  pre-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  post-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Replace PR images: Goat components (#5780)
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/xip-patch/values.yaml
  tools/kyma-installer/kyma.Dockerfile
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update README, add status checks
  components/compass-runtime-agent/README.md
  components/compass-runtime-agent/internal/compassconnection/package_test.go
Due: console-integration, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent

Director url added to charts
  resources/compass-runtime-agent/templates/tests/test-runtime-agent-integration.yaml
  resources/compass-runtime-agent/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Formatting fix
  resources/compass-runtime-agent/templates/tests/test-runtime-agent-integration.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

WIP
  docs/asset-store/09-02-asset-upload-service.md
  docs/headless-cms/09-01-asyncapi-service.md
Due: post-master-kyma-docs-website, kyma-docs

Fix metrics for Application Registry and Connector Service
  resources/application-connector/charts/application-registry/templates/deployment.yaml
  resources/application-connector/charts/application-registry/templates/policy.yaml
  resources/application-connector/charts/application-registry/templates/service.yaml
  resources/application-connector/charts/application-registry/templates/servicemonitor.yaml
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/policy.yaml
  resources/application-connector/charts/connector-service/templates/service.yaml
  resources/application-connector/charts/connector-service/templates/servicemonitor.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

v2
  resources/core/charts/docs/charts/content-ui/templates/docs-components-api-gateway-v2-cdt.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

remove knative-build from cluster
  resources/tekton-pipelines-init/templates/pre-install-job.yaml
  resources/tekton-pipelines/templates/tests/rbac.yaml
  resources/tekton-pipelines/templates/tests/test.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update docs/application-connector/09-02-metadata-service.md
  docs/application-connector/09-02-metadata-service.md
Due: post-master-kyma-docs-website, kyma-docs

api-gateway bump
  resources/api-gateway/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Commenting out channel status from Kyma sub status
  components/event-bus/internal/knative/util/ky-controller.go
Due: console-integration

Add the link to the Application Registry API specification in the Application Registry doc (#5786)
  docs/application-connector/09-02-metadata-service.md
Due: post-master-kyma-docs-website, kyma-docs

Director URL moved to TestDefinition chart
  resources/compass-runtime-agent/templates/tests/test-runtime-agent-integration.yaml
  resources/compass-runtime-agent/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update resources/compass/values.yaml
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

WIP
  docs/asset-store/09-01-overview.md
  docs/asset-store/09-02-asset-metadata-service.md
  docs/asset-store/09-03-asset-upload-service.md
  docs/headless-cms/09-01-overview.md
  docs/headless-cms/09-02-asyncapi-service.md
Due: post-master-kyma-docs-website, kyma-docs

Images fixed
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump HB image after improving livness probes (#5777)
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix metadata in tabs in docs
  docs/application-connector/10-02-application-gateway-troubleshooting.md
  docs/backup/04-01-install-velero.md
  docs/backup/08-01-create-backup.md
  docs/helm-broker/03-07-addons-docs.md
  docs/kyma/04-02-local-installation.md
  docs/kyma/04-04-cluster-installation.md
  docs/kyma/04-05-use-your-own-domain.md
  docs/kyma/04-06-use-your-own-image.md
  docs/kyma/04-10-upgrade.md
  docs/kyma/05-01-overview.md
  docs/kyma/05-02-custom-component-installation.md
  docs/kyma/10-03-network-error.md
Due: post-master-kyma-docs-website, kyma-docs

Bump core, lambda and logging images to support new log ui
  resources/core/charts/console/values.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
  resources/logging/charts/log-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

.
  docs/backup/04-01-install-velero.md
Due: post-master-kyma-docs-website, kyma-docs

Add removed cert
  resources/application-connector/templates/gateway-certs-secret.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

v3
  docs/api-gateway-v2/01-01-api-gateway.md
  docs/api-gateway-v2/02-01-api-gateway.md
  docs/api-gateway-v2/03-01-whitelisted-domains.md
  docs/api-gateway-v2/03-02-blacklisted-services.md
  docs/api-gateway-v2/assets/001-api-gateway-flow.svg
  docs/api-gateway-v2/assets/002-graphql-request-flow.svg
  docs/api-gateway/01-01-api-gateway.md
  docs/kyma/03-01-components.md
Due: post-master-kyma-docs-website, kyma-docs

Update addons UI version
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

v4
  docs/api-gateway-v2/01-01-api-gateway.md
  docs/api-gateway/01-01-api-gateway.md
  docs/kyma/03-01-components.md
Due: post-master-kyma-docs-website, kyma-docs

Update sc docs - remove apiserver version
  docs/service-catalog/01-01-service-catalog.md
  docs/service-catalog/03-03-experimental-features.md
  docs/service-catalog/05-01-service-catalog.md
  docs/service-catalog/05-02-catalog.md
  docs/service-catalog/05-03-catalog-crds.md
  docs/service-catalog/05-04-etcd-stateful.md
Due: post-master-kyma-docs-website, kyma-docs

Add global permission mode to hydra-maester
  resources/ory/charts/hydra/charts/hydra-maester/templates/rbac-global.yaml
  resources/ory/charts/hydra/charts/hydra-maester/templates/rbac-namespaces.yaml
  resources/ory/charts/hydra/charts/hydra-maester/templates/rbac.yaml
  resources/ory/charts/hydra/charts/hydra-maester/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Clean permissions
  resources/ory/charts/hydra/charts/hydra-maester/values.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Delete channel status from Kyma subscription
  components/event-bus/internal/knative/subscription/controller/knativechannel/controller.go
  components/event-bus/internal/knative/subscription/controller/knativechannel/reconcile.go
  components/event-bus/internal/knative/subscription/controller/knativechannel/reconcile_test.go
  components/event-bus/internal/knative/util/ky-controller.go
Due: console-integration

Delete channel status from Kyma subscription
  components/event-bus/api/push/eventing.kyma-project.io/v1alpha1/types.go
Due: console-integration

Fix metrics for Application Registry and Connector Service (#5794)
  resources/application-connector/charts/application-registry/templates/deployment.yaml
  resources/application-connector/charts/application-registry/templates/policy.yaml
  resources/application-connector/charts/application-registry/templates/service.yaml
  resources/application-connector/charts/application-registry/templates/servicemonitor.yaml
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/policy.yaml
  resources/application-connector/charts/connector-service/templates/service.yaml
  resources/application-connector/charts/connector-service/templates/servicemonitor.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

v5
  docs/api-gateway-v2/01-01-api-gateway.md
  docs/api-gateway-v2/02-01-api-gateway.md
  docs/api-gateway-v2/03-01-whitelisted-domains.md
  docs/api-gateway-v2/06-01-apirule.md
  docs/api-gateway-v2/08-01-exposesecure.md
  docs/api-gateway-v2/assets/001-api-gateway-flow.svg
  docs/api-gateway-v2/assets/lambda.yaml
  docs/api-gateway/01-01-api-gateway.md
  docs/application-connector/10-02-application-gateway-troubleshooting.md
  docs/security/03-06-oauth2-server.md
Due: post-master-kyma-docs-website, kyma-docs

v6
  docs/api-gateway-v2/02-01-api-gateway.md
Due: post-master-kyma-docs-website, kyma-docs

v7
  docs/security/03-06-oauth2-server.md
Due: post-master-kyma-docs-website, kyma-docs

Connector tests image reverted
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Delete channel status from Kyma subscription
  components/event-bus/cmd/subscription-controller/cmd/manager/main.go
  components/event-bus/internal/knative/util/ky-controller.go
Due: console-integration

v8
  docs/api-gateway-v2/02-01-api-gateway.md
Due: post-master-kyma-docs-website, kyma-docs

Fix metadata in tabs in docs (#5796)
  docs/application-connector/10-02-application-gateway-troubleshooting.md
  docs/backup/04-01-install-velero.md
  docs/backup/08-01-create-backup.md
  docs/helm-broker/03-07-addons-docs.md
  docs/kyma/04-02-local-installation.md
  docs/kyma/04-04-cluster-installation.md
  docs/kyma/04-05-use-your-own-domain.md
  docs/kyma/04-06-use-your-own-image.md
  docs/kyma/04-10-upgrade.md
  docs/kyma/05-01-overview.md
  docs/kyma/05-02-custom-component-installation.md
  docs/kyma/10-03-network-error.md
Due: post-master-kyma-docs-website, kyma-docs

Post review changes
  tests/compass-runtime-agent/test/testkit/oauth/client.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent
