Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

enable concurrecy for knative-serving test
  resources/knative-serving/templates/tests/test-serving.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

remove @abbi-gaurav and @joek from codeowners of kantive serving test
  CODEOWNERS
Due: none

Remove function from right place
  tests/knative-build/knative_build_test.go
  tests/knative-serving/knative_serving_test.go
Due: none

First draft of README.md
  components/knative-function-controller/README.md
Due: console-integration

Add sleep to keep connection alive
  tests/integration/apiserver-proxy/test.sh
Due: none

Remove credentials from configuration
  components/knative-function-controller/config/config.yaml
Due: console-integration

WIP
  components/compass-runtime-agent/Gopkg.lock
  components/compass-runtime-agent/Gopkg.toml
  components/compass-runtime-agent/cmd/main.go
  components/compass-runtime-agent/hack/boilerplate.go.txt
  components/compass-runtime-agent/hack/generate-groups.sh
  components/compass-runtime-agent/hack/update-codegen.sh
  components/compass-runtime-agent/internal/compassconnection/controller.go
  components/compass-runtime-agent/internal/compassconnection/controller_suite_test.go
  components/compass-runtime-agent/internal/compassconnection/controller_test.go
  components/compass-runtime-agent/pkg/apis/compass/apis.go
  components/compass-runtime-agent/pkg/apis/compass/v1alpha1/doc.go
  components/compass-runtime-agent/pkg/apis/compass/v1alpha1/register.go
  components/compass-runtime-agent/pkg/apis/compass/v1alpha1/types.go
  components/compass-runtime-agent/pkg/apis/compass/v1alpha1/zz_generated.deepcopy.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/clientset.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/doc.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/fake/clientset_generated.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/fake/doc.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/fake/register.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/scheme/doc.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/scheme/register.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/typed/compass/v1alpha1/compass_client.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/typed/compass/v1alpha1/compassconnection.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/typed/compass/v1alpha1/doc.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/typed/compass/v1alpha1/fake/doc.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/typed/compass/v1alpha1/fake/fake_compass_client.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/typed/compass/v1alpha1/fake/fake_compassconnection.go
  components/compass-runtime-agent/pkg/client/clientset/versioned/typed/compass/v1alpha1/generated_expansion.go
  components/compass-runtime-agent/pkg/client/informers/externalversions/compass/interface.go
  components/compass-runtime-agent/pkg/client/informers/externalversions/compass/v1alpha1/compassconnection.go
  components/compass-runtime-agent/pkg/client/informers/externalversions/compass/v1alpha1/interface.go
  components/compass-runtime-agent/pkg/client/informers/externalversions/factory.go
  components/compass-runtime-agent/pkg/client/informers/externalversions/generic.go
  components/compass-runtime-agent/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  components/compass-runtime-agent/pkg/client/listers/compass/v1alpha1/compassconnection.go
  components/compass-runtime-agent/pkg/client/listers/compass/v1alpha1/expansion_generated.go
  components/compass-runtime-agent/scripts/update_mocks.sh
Due: console-integration

Fix numeration
  docs/helm-broker/03-06-addons-validation.md
  docs/helm-broker/08-01-fetch-remote-addons.md
Due: post-master-kyma-docs-website, kyma-docs

Default to cleanup mode yes
  tests/end-to-end/external-solution-integration/pkg/step/cli.go
  tests/end-to-end/external-solution-integration/pkg/step/step.go
Due: none

More more cleanup
  tests/end-to-end/external-solution-integration/Gopkg.lock
  tests/end-to-end/external-solution-integration/Makefile
  tests/end-to-end/external-solution-integration/before-commit.sh
  tests/end-to-end/external-solution-integration/deploy.yaml
  tests/end-to-end/external-solution-integration/e2e.go
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
  tests/end-to-end/external-solution-integration/pkg/helpers/k8s.go
  tests/end-to-end/external-solution-integration/pkg/helpers/lambda.go
  tests/end-to-end/external-solution-integration/pkg/testkit/k8s.go
  tests/end-to-end/external-solution-integration/pkg/testkit/pod.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_application.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_service_instance.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/deploy_lambda.go
Due: none

Improve apiserver-proxy tests (#4915)
  resources/core/charts/apiserver-proxy/templates/tests/test-apiserver-proxy.yaml
  resources/core/values.yaml
  tests/integration/apiserver-proxy/test.sh
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Added charts
  components/compass-runtime-agent/Gopkg.lock
  components/compass-runtime-agent/cmd/main.go
  components/compass-runtime-agent/internal/compassconnection/config.go
  components/compass-runtime-agent/internal/compassconnection/controller.go
  components/compass-runtime-agent/internal/compassconnection/controller_suite_test.go
  components/compass-runtime-agent/internal/compassconnection/controller_test.go
  components/compass-runtime-agent/pkg/apis/compass/apis.go
  components/compass-runtime-agent/pkg/apis/compass/v1alpha1/register.go
  components/compass-runtime-agent/pkg/apis/compass/v1alpha1/types.go
  resources/compass-runtime-agent/templates/cluster-role-binding.yaml
  resources/compass-runtime-agent/templates/compass-connection.crd.yaml
  resources/compass-runtime-agent/templates/service-account.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add SA to the deployment
  resources/compass-runtime-agent/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fine tuned PromQL for RateRequestDurationSlow (#4917)
  resources/monitoring/charts/alert-rules/templates/alert-rules-rest-services.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Scenario description
  tests/end-to-end/external-solution-integration/README.md
Due: none

Mv e2e.go
  tests/end-to-end/external-solution-integration/cmd/runner/main.go
Due: none

Fixes
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_service_binding.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_service_binding_usage.go
Due: none

Fix dockerfile
  tests/end-to-end/external-solution-integration/Dockerfile
Due: none

Fix ignore binary
  tests/end-to-end/external-solution-integration/.gitignore
Due: none

Fix befor-commit
  tests/end-to-end/external-solution-integration/before-commit.sh
Due: none

Wait longer for lambda
  tests/end-to-end/external-solution-integration/pkg/testsuite/deploy_lambda.go
Due: none

Use counter-service internal address in gateway
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
  tests/end-to-end/external-solution-integration/internal/scenario/send_event_and_check_counter.go
  tests/end-to-end/external-solution-integration/pkg/testkit/testservice.go
Due: none

Make job working again
  resources/knative-build/values.yaml
  resources/knative-serving-crds-init/charts/knative-serving-crds-init/templates/delete-crd-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Get rid of k8s client
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
  tests/end-to-end/external-solution-integration/pkg/resourceskit/k8s_resources_client.go
  tests/end-to-end/external-solution-integration/pkg/testkit/testservice.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/register_test_service.go
Due: none

Fix send event scenario
  tests/end-to-end/external-solution-integration/internal/scenario/send_event_and_check_counter.go
Due: none

Fix architecture diagram for publishing events
  docs/event-bus/assets/publish-events.svg
Due: post-master-kyma-docs-website, kyma-docs

Fix the steps for event publish
  docs/event-bus/02-01-event-bus.md
Due: post-master-kyma-docs-website, kyma-docs

after review
  components/helm-broker/cmd/controller/main.go
  components/helm-broker/internal/controller/addons/repository.go
  components/helm-broker/internal/controller/addons/repository_collection.go
  components/helm-broker/internal/controller/addons/repository_collection_test.go
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
  components/helm-broker/internal/controller/addonsconfiguration_controller_test.go
  components/helm-broker/internal/controller/broker/broker_syncer.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller_test.go
  components/helm-broker/internal/controller/docs_provider_test.go
  components/helm-broker/pkg/apis/addons/v1alpha1/common.go
Due: console-integration

Monitoring Agents
  components/event-bus/cmd/event-bus-publish-knative/main.go
Due: console-integration

Change the sendMessage() HTTP Client to be a singleton
  components/event-bus/internal/knative/util/kn-eventing.go
Due: console-integration

Fixes for minikube
  tests/end-to-end/external-solution-integration/README.md
  tests/end-to-end/external-solution-integration/deploy.yaml
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
  tests/end-to-end/external-solution-integration/internal/scenario/send_event_and_check_counter.go
  tests/end-to-end/external-solution-integration/internal/utils.go
  tests/end-to-end/external-solution-integration/pkg/testkit/connector.go
  tests/end-to-end/external-solution-integration/pkg/testkit/testservice.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/connect_application.go
Due: none

Add knative build tests
  resources/knative-build/templates/tests/test-build.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Create namespace
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_namespace.go
Due: none

Include ca certs in dokcer image
  tests/end-to-end/external-solution-integration/Dockerfile
  tests/end-to-end/external-solution-integration/deploy.yaml
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
Due: none

Update resources/knative-serving-crds/README.md
  resources/knative-serving-crds/README.md
Due: kyma-integration, kyma-gke-integration, console-integration

Update resources/knative-serving-crds-init/README.md
  resources/knative-serving-crds-init/README.md
Due: kyma-integration, kyma-gke-integration, console-integration

Fix log UI bug with pods that have no labels (#4873)
  resources/logging/charts/log-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update resources/knative-serving/README.md
  resources/knative-serving/README.md
Due: kyma-integration, kyma-gke-integration, console-integration

Application Registry
  docs/application-connector/05-02-application-registry.md
  resources/application-connector/charts/application-registry/templates/deployment.yaml
  resources/application-connector/charts/application-registry/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
