Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-connector-service-tests, post-master-kyma-tests-connector-service-tests, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2.5Gi
          cpu: 2
      env:
      - name: GO111MODULE
        value: 'on'
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2.5Gi
          cpu: 2
      env:
      - name: GO111MODULE
        value: 'on'
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-cms-services:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Update docs on adding identity providers to Dex (#5665)
  docs/security/01-01-security.md
  docs/security/08-03-add-connector.md
  resources/dex/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs

Improve Headless CMS and Asset Store docs
  docs/application-connector/01-01-application-connector.md
  docs/application-connector/03-04-metadata-service.md
  docs/asset-store/03-04-supported-webhooks.md
  docs/asset-store/03-05-asset-metadata-service.md
  docs/asset-store/03-06-asset-upload-service.md
  docs/asset-store/06-01-asset.md
  docs/asset-store/06-02-bucket.md
  docs/asset-store/06-03-clusterasset.md
  docs/asset-store/06-04-clusterbucket.md
  docs/asset-store/assets/metadata-service.yaml
  docs/asset-store/assets/mutation-service.yaml
  docs/asset-store/assets/validation-service.yaml
  docs/console/03-04-headless-cms-in-console.md
  docs/console/assets/spec-types.svg
  docs/headless-cms/03-01-docstopic-cr-lifecycle.md
  docs/headless-cms/03-02-cms-asyncapi-service.md
  docs/headless-cms/05-02-cms-asynapi-service.md
  docs/headless-cms/06-01-docstopic.md
  docs/headless-cms/06-02-clusterdocstopic.md
  docs/headless-cms/08-01-add-new-documentation-to-console.md
  docs/service-catalog/11-01-overview.md
  docs/service-catalog/11-02-catalog-view.md
  docs/service-catalog/11-03-instances-view.md
  docs/service-catalog/11-04-specifications-in-console-ui.md
  docs/service-catalog/assets/catalog-ui-docs.png
  docs/service-catalog/assets/docs-toggle.png
  docs/service-catalog/assets/nav-docs-ui.png
  docs/service-catalog/assets/spec-view.png
  docs/service-catalog/assets/tip-panel.png
Due: post-master-kyma-docs-website, kyma-docs

Change weird wording
  docs/headless-cms/03-02-cms-asyncapi-service.md
Due: post-master-kyma-docs-website, kyma-docs

Add text to images
  docs/service-catalog/11-04-specifications-in-console-ui.md
Due: post-master-kyma-docs-website, kyma-docs

Fix the codeowners
  CODEOWNERS
Due: none

Adding OWNERS file for tunas components
  OWNERS_ALIASES
  components/event-bus/OWNERS
  components/function-controller/OWNERS
  components/kubeless-images/OWNERS
  resources/event-bus/OWNERS
  resources/function-controller/OWNERS
  resources/knative-build-init/OWNERS
  resources/knative-build/OWNERS
  resources/knative-eventing/OWNERS
  resources/knative-provisioner-natss/OWNERS
  resources/knative-serving-init/OWNERS
  resources/knative-serving/OWNERS
  resources/nats-streaming/OWNERS
  tests/event-bus/OWNERS
  tests/knative-build/OWNERS
  tests/knative-serving/OWNERS
  tests/kubeless/OWNERS
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, kyma-tests-kubeless

Update OWNERS as per serverless and event-bus
  OWNERS_ALIASES
  components/event-bus/OWNERS
  components/function-controller/OWNERS
  components/kubeless-images/OWNERS
  resources/event-bus/OWNERS
  resources/function-controller/OWNERS
  resources/knative-build-init/OWNERS
  resources/knative-build/OWNERS
  resources/knative-eventing/OWNERS
  resources/knative-provisioner-natss/OWNERS
  resources/knative-serving-init/OWNERS
  resources/knative-serving/OWNERS
  resources/nats-streaming/OWNERS
  tests/event-bus/OWNERS
  tests/knative-build/OWNERS
  tests/knative-serving/OWNERS
  tests/kubeless/OWNERS
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, kyma-tests-kubeless

update owner aliases
  components/event-bus/OWNERS
  components/function-controller/OWNERS
  components/kubeless-images/OWNERS
  resources/event-bus/OWNERS
  resources/function-controller/OWNERS
  resources/knative-build-init/OWNERS
  resources/knative-build/OWNERS
  resources/knative-eventing/OWNERS
  resources/knative-provisioner-natss/OWNERS
  resources/knative-serving-init/OWNERS
  resources/knative-serving/OWNERS
  resources/nats-streaming/OWNERS
  tests/event-bus/OWNERS
  tests/knative-build/OWNERS
  tests/knative-serving/OWNERS
  tests/kubeless/OWNERS
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, kyma-tests-kubeless

Update OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

Fix the codeowners (#5670)
  CODEOWNERS
Due: none

Hydra-maester: fix RBAC (#5657)
  resources/ory/charts/hydra/charts/hydra-maester/templates/rbac.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Apply suggestions from code review
  docs/logging/03-03-configure-logcollector.md
Due: post-master-kyma-docs-website, kyma-docs

Fix default system namespaces list (#5648)
  components/console-backend-service/main.go
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update codeowners for the rest of components
  CODEOWNERS
Due: none

Update components/function-controller/README.md
  components/function-controller/README.md
Due: console-integration

fix markdown rendering
  components/function-controller/README.md
Due: console-integration

Update resources/compass/values.yaml
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

reset change for healthchecker image
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Adding OWNERS file for event-bus and serverless components (#5612)
  OWNERS_ALIASES
  components/event-bus/OWNERS
  components/function-controller/OWNERS
  components/kubeless-images/OWNERS
  resources/event-bus/OWNERS
  resources/function-controller/OWNERS
  resources/knative-build-init/OWNERS
  resources/knative-build/OWNERS
  resources/knative-eventing/OWNERS
  resources/knative-provisioner-natss/OWNERS
  resources/knative-serving-init/OWNERS
  resources/knative-serving/OWNERS
  resources/nats-streaming/OWNERS
  tests/event-bus/OWNERS
  tests/knative-build/OWNERS
  tests/knative-serving/OWNERS
  tests/kubeless/OWNERS
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, kyma-tests-kubeless

Add documentation for Mercurial protocol in HelmBroker (#5663)
  docs/helm-broker/03-03-create-addons-repo.md
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

use ko for function-controller development deployment (#5613)
  components/function-controller/Makefile
  components/function-controller/README.md
  components/function-controller/config/default/manager_image_patch.yaml
  components/function-controller/config/manager/manager.yaml
Due: console-integration

Configure slowMoFactor per test suite
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Refactoring WIP
  components/compass-runtime-agent/Gopkg.lock
  components/compass-runtime-agent/Gopkg.toml
  components/compass-runtime-agent/cmd/main.go
  components/compass-runtime-agent/cmd/options.go
  components/compass-runtime-agent/cmd/options_test.go
  components/compass-runtime-agent/internal/certificates/csrprovider.go
  components/compass-runtime-agent/internal/certificates/manager.go
  components/compass-runtime-agent/internal/certificates/mocks/Manager.go
  components/compass-runtime-agent/internal/certificates/model.go
  components/compass-runtime-agent/internal/certificates/model_test.go
  components/compass-runtime-agent/internal/compass/connector.go
  components/compass-runtime-agent/internal/compass/connector/cert_secured_client.go
  components/compass-runtime-agent/internal/compass/connector/connector.go
  components/compass-runtime-agent/internal/compass/connector/connector_test.go
  components/compass-runtime-agent/internal/compass/connector/query.go
  components/compass-runtime-agent/internal/compass/connector/token_secured_client.go
  components/compass-runtime-agent/internal/compass/converter_test.go
  components/compass-runtime-agent/internal/compass/director/client.go
  components/compass-runtime-agent/internal/compass/director/client_test.go
  components/compass-runtime-agent/internal/compass/director/query.go
  components/compass-runtime-agent/internal/compass/mocks/ConfigClient.go
  components/compass-runtime-agent/internal/compass/mocks/Connector.go
  components/compass-runtime-agent/internal/compassconnection/supervisor.go
  components/compass-runtime-agent/internal/compassconnection/supervisor_test.go
Due: console-integration

Improve service programming model doc
  docs/event-bus/03-02-event-flow-requirements.md
  docs/event-bus/03-03-service-programming-model.md
Due: post-master-kyma-docs-website, kyma-docs

Refactor controller reconciliation
  components/function-controller/Makefile
  components/function-controller/README.md
  components/function-controller/cmd/manager/main.go
  components/function-controller/config/default/kustomization.yaml
  components/function-controller/config/rbac/rbac_role.yaml
  components/function-controller/config/rbac/rbac_role_binding.yaml
  components/function-controller/config/samples/serverless_v1alpha1_function.yaml
  components/function-controller/pkg/controller/function/function_controller.go
  components/function-controller/pkg/controller/function/function_controller_test.go
  components/function-controller/pkg/utils/build_utils.go
  components/function-controller/pkg/utils/controller_utils.go
  components/function-controller/pkg/utils/controller_utils_test.go
  components/function-controller/pkg/utils/serving_utils.go
  components/function-controller/pkg/utils/serving_utils_test.go
  components/function-controller/pkg/webhook/default_server/function/mutating/function_create_handler.go
  components/function-controller/pkg/webhook/default_server/function/mutating/function_create_handler_test.go
  components/function-controller/pkg/webhook/default_server/server.go
  components/function-controller/pkg/webhook/default_server/webhook_test.go
Due: console-integration

Disable preloadUrl for catalog and instances ui
  resources/service-catalog-addons/charts/service-catalog-ui/templates/catalog-microfrontend.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/templates/instances-microfrontend.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update imports
  components/application-broker/Gopkg.lock
  components/application-broker/Gopkg.toml
  components/application-broker/cmd/broker/main.go
  components/application-broker/cmd/broker/main_test.go
  components/application-broker/internal/broker/automock/service_instance_getter.go
  components/application-broker/internal/broker/broker.go
  components/application-broker/internal/broker/fix_test.go
  components/application-broker/internal/broker/provision.go
  components/application-broker/internal/broker/service_instance.go
  components/application-broker/internal/broker/service_instance_test.go
  components/application-broker/internal/nsbroker/facade.go
  components/application-broker/internal/nsbroker/facade_legacy_test.go
  components/application-broker/internal/nsbroker/facade_test.go
  components/application-broker/internal/nsbroker/migration.go
  components/application-broker/internal/nsbroker/migration_test.go
  components/application-broker/internal/storage/populator/automock/instance_converter.go
  components/application-broker/internal/storage/populator/common.go
  components/application-broker/internal/storage/populator/converter.go
  components/application-broker/internal/storage/populator/instances.go
  components/application-broker/internal/storage/populator/instances_test.go
  components/application-broker/internal/syncer/broker_syncer.go
  components/application-broker/internal/syncer/broker_syncer_test.go
Due: console-integration

Fix provision_mapping
  components/application-broker/Gopkg.lock
  components/application-broker/Gopkg.toml
  components/application-broker/internal/access/provision_mapping.go
Due: console-integration

Align monitoring documentation
  docs/monitoring/08-03-define-alerting-rules.md
  docs/monitoring/assets/fired-alert.png
  docs/monitoring/assets/rules-dashboard.png
Due: post-master-kyma-docs-website, kyma-docs

Align monitoring documentation (#5682)
  docs/monitoring/08-03-define-alerting-rules.md
  docs/monitoring/assets/fired-alert.png
  docs/monitoring/assets/rules-dashboard.png
Due: post-master-kyma-docs-website, kyma-docs

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  post-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
