Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  prow/kyma/kyma-integration: any of: ^(resources|installation)
  prow/kyma/kyma-gke-integration: any of: ^(resources|installation)
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

More override fixes
  components/installer/pkg/overrides/config-reader.go
  installation/resources/installer-config-knative.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  installation/scripts/installer.sh
  resources/core/charts/gateway/templates/gateway.yaml
  resources/core/values.yaml
  resources/istio-kyma-patch/templates/configmap.yaml
  resources/istio-kyma-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Binding Usage Controller - fix Makefile (#1669)
  components/binding-usage-controller/Makefile
Due: prow/kyma/components/binding-usage-controller

Use overrides instead of configure chart
  components/knative-installer/Dockerfile
  components/knative-installer/configure.sh
  components/knative-installer/install.sh
  components/knative-installer/run.sh
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  installation/scripts/installer.sh
  resources/istio-kyma-patch/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Use overrides instead of configure
  installation/resources/installer-config-knative.yaml.tpl
  resources/knative-configure/Chart.yaml
  resources/knative-configure/README.md
  resources/knative-configure/templates/clusterrolebinding.yaml
  resources/knative-configure/templates/configmap.yaml
  resources/knative-configure/templates/job.yaml
  resources/knative-configure/templates/serviceaccount.yaml
  resources/knative-configure/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update Instances UI (#1731)
  resources/core/charts/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Bump acceptance tests version (#1727)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix CODEOWNERS for service-catalog and service-catalog-addons charts
  CODEOWNERS
Due: none

Application connector documentation cleanup (#1693)
  resources/application-connector/README.md
  resources/application-connector/charts/metadata-service/README.md
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

K8s Dashboard proxy Helm chart
  installation/scripts/minikube.ps1
  installation/scripts/minikube.sh
  resources/core/charts/k8s-dashboard-proxy/Chart.yaml
  resources/core/charts/k8s-dashboard-proxy/README.md
  resources/core/charts/k8s-dashboard-proxy/templates/_helpers.tpl
  resources/core/charts/k8s-dashboard-proxy/templates/deployment.yaml
  resources/core/charts/k8s-dashboard-proxy/templates/rbac.yaml
  resources/core/charts/k8s-dashboard-proxy/templates/service.yaml
  resources/core/charts/k8s-dashboard-proxy/templates/virtual-service.yaml
  resources/core/charts/k8s-dashboard-proxy/values.yaml
  resources/core/values.yaml
  resources/dex/templates/dex-config-map.yaml
  resources/dex/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix CODEOWNERS for service-catalog and service-catalog-addons charts (#1733)
  CODEOWNERS
Due: none

Add "metrics.k8s.io" to API groups in "kyma-admin" clusterrole
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update the doc image
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update the event bus tests Go dependencies (#1673)
  tests/event-bus/Gopkg.lock
Due: none

Config changes
  installation/resources/installer-config-cluster.yaml.tpl
  resources/core/charts/gateway/values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update the doc image (#1734)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

update lambda-ui with the latest tag image
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Create trigger.md
  trigger.md
Due: none

Update service catalog version (#1692)
  resources/service-catalog/charts/catalog/Chart.yaml
  resources/service-catalog/charts/catalog/templates/apiserver-deployment.yaml
  resources/service-catalog/charts/catalog/templates/controller-manager-deployment.yaml
  resources/service-catalog/charts/catalog/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

CLuste gateway configuration
  components/knative-installer/install.sh
  installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-knative.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  resources/core/charts/gateway/templates/gateway.yaml
  resources/core/charts/gateway/values.yaml
  resources/knative-install/templates/job.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix kubeless tests on cluster
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
  tests/kubeless-test-client/test-kubeless.go
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Use pr image for kubeless tests
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Create direct-trigger
  direct-trigger
Due: none

Update trigger.md
  trigger.md
Due: none

* Add initial function size config to lambda-ui configmap * Updating related documentation for enabling `metric-server` * Add README file for lambdas
  docs/kyma/docs/030-inst-local-installation-from-release.md
  resources/core/charts/kubeless/charts/lambdas-ui/README.md
  resources/core/charts/kubeless/charts/lambdas-ui/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add a command to enable heapster for local kyma deployments
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

update lambda-ui with the latest tag image (#1736)
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

* Add initial function size config to lambda-ui configmap (#1672)
  docs/kyma/docs/030-inst-local-installation-from-release.md
  resources/core/charts/kubeless/charts/lambdas-ui/README.md
  resources/core/charts/kubeless/charts/lambdas-ui/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add "metrics.k8s.io" to kyma-view api groups
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Introduce time.Sleep to metadata tests
  tests/metadata-service-tests/test/k8stests/k8sresource_test.go
  tests/metadata-service-tests/test/testkit/k8sresources_check.go
Due: none

Fix the language and formatting of the two classes
  docs/service-brokers/gcp-broker-service-classes/bigquery/docs/plans-details.md
  docs/service-brokers/gcp-broker-service-classes/cloud-bigtable/docs/plans-details.md
Due: none

Set 10G memory if knative is installed
  installation/cmd/run.sh
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add possibility to enable steps based on feature-gate
  components/installer/.gitignore
  components/installer/pkg/apis/installer/v1alpha1/types.go
  components/installer/pkg/feature_gates/feature_data.go
  components/installer/pkg/installation/controller.go
  components/installer/pkg/steps/installation.go
Due: none

Add support for feature gates in installation scripts
  installation/cmd/run.sh
  installation/scripts/installer.sh
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration
