Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Fix wrong variable reference (#3316)
  docs/kyma/docs/04-05-aks-installation.md
Due: kyma-docs

Limit memory used by functions
  tests/end-to-end/kubeless-integration/test-kubeless.go
Due: none

try with lower memory settings for Kubeless Fn
  resources/core/values.yaml
  resources/service-catalog/charts/apichecker/.helmignore
  resources/service-catalog/charts/apichecker/Chart.yaml
  resources/service-catalog/charts/apichecker/templates/NOTES.txt
  resources/service-catalog/charts/apichecker/templates/_helpers.tpl
  resources/service-catalog/charts/apichecker/templates/job.yaml
  resources/service-catalog/charts/apichecker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fix test after renaming BindingUsageController
  tests/end-to-end/kubeless-integration/test-kubeless.go
Due: none

Added new istio monitoring dashboards (#3293)
  resources/monitoring/charts/grafana/dashboards/istio-galley-dashboard.json
  resources/monitoring/charts/grafana/dashboards/istio-galley.json
  resources/monitoring/charts/grafana/dashboards/istio-mesh-dashboard.json
  resources/monitoring/charts/grafana/dashboards/istio-mixer-dashboard.json
  resources/monitoring/charts/grafana/dashboards/istio-performance-dashboard.json
  resources/monitoring/charts/grafana/dashboards/istio-pilot-dashboard.json
  resources/monitoring/charts/grafana/dashboards/istio-service-dashboard.json
  resources/monitoring/charts/grafana/dashboards/istio-workload-dashboard.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add function DeleteResources() to namespacecontroller.go
  tests/end-to-end/backup-restore-test/backupe2e/namespacecontroller.go
Due: none

Upload Service - fix in multipart content building
  components/application-registry/cmd/applicationregistry/handlers.go
  components/application-registry/internal/metadata/specification/assetstore/upload/client.go
  components/application-registry/internal/metadata/specification/assetstore/upload/client_test.go
Due: console-integration

Solved go fmt issue with restore_cluster_backup_test.go
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

Upload Service working
  components/application-registry/cmd/applicationregistry/options.go
  components/application-registry/internal/metadata/specification/assetstore/service.go
  components/application-registry/internal/metadata/specification/assetstore/service_test.go
  components/application-registry/internal/metadata/specification/assetstore/upload/client.go
  components/application-registry/internal/metadata/specification/assetstore/upload/client_test.go
  components/application-registry/internal/metadata/specification/assetstore/upload/mocks/Client.go
Due: console-integration

rename function
  components/istio-kyma-patch/patch.sh
Due: console-integration

Apply suggestions from code review
  docs/security/docs/04-01-tiller-tls.md
Due: kyma-docs

retry on wrong resp
  tests/end-to-end/kubeless-integration/test-kubeless.go
Due: none

Added access rights for asset CR
  resources/application-connector/charts/application-registry/templates/role-binding.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix function
  resources/core/charts/kubeless/templates/tests/svcbind-lambda.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix readme
  resources/monitoring/charts/grafana/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix readme (#3323)
  resources/monitoring/charts/grafana/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix interface
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
Due: console-integration

Apply review
  components/event-bus/cmd/event-bus-publish-knative/handlers/publish.go
  components/event-bus/internal/trace/tags.go
  docs/event-bus/docs/03-03-service-programming-model.md
Due: console-integration, kyma-docs

Headers
  components/event-bus/cmd/event-bus-publish-knative/handlers/publish.go
  components/event-bus/internal/trace/tags.go
Due: console-integration

Fix e2e eventing flow with knative
  components/event-bus/cmd/event-bus-publish-knative/dockerBuild.sh
  components/event-bus/cmd/event-bus-publish-knative/handlers/publish.go
  components/event-bus/cmd/event-bus-publish-knative/publisher/publisher.go
  components/event-bus/cmd/event-bus-publish-knative/test/fake/publisher.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
  components/event-bus/internal/trace/tags.go
Due: console-integration

Add run-with-local-tests script
  components/connection-token-handler/scripts/run-with-local-tests.sh
  tests/connection-token-handler-tests/Gopkg.toml
Due: console-integration

Modify Connector Service certificate revocation to use certificate fingerprint
  components/connector-service/internal/certificates/hash.go
  components/connector-service/internal/certificates/hash_test.go
  components/connector-service/internal/externalapi/revocationhandler.go
  components/connector-service/internal/externalapi/revocationhandler_test.go
  components/connector-service/internal/revocation/middlewares/revocationcheck.go
  components/connector-service/internal/revocation/middlewares/revocationcheck_test.go
Due: console-integration

kyma with logging ui
  resources/logging/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

One of the tests disabled on central connector
  tests/connection-token-handler-tests/test/k8stests/k8sresource_test.go
  tests/connection-token-handler-tests/test/testkit/config.go
Due: none

Implement suggestions
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update dockerBuild.sh
  components/event-bus/cmd/event-bus-publish-knative/dockerBuild.sh
Due: console-integration

Chart changes for central connector service case
  resources/application-connector/charts/connection-token-handler/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/connection-token-handler/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Adjust acceptance tests
  components/connector-service/internal/certificates/hash.go
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/certs.go
Due: console-integration

Update docs
  docs/application-connector/docs/08-09-revoke-cert.md
Due: kyma-docs

Fix for creating DocsTopic plus some refactoring
  components/application-registry/cmd/applicationregistry/handlers.go
  components/application-registry/internal/metadata/specification/assetstore/docstopic/model.go
  components/application-registry/internal/metadata/specification/assetstore/docstopicrepository.go
  components/application-registry/internal/metadata/specification/assetstore/docstopicrepository_test.go
  components/application-registry/internal/metadata/specification/assetstore/service.go
  components/application-registry/internal/metadata/specification/assetstore/service_test.go
  components/application-registry/internal/metadata/specification/assetstore/upload/client.go
  components/application-registry/internal/metadata/specification/assetstore/upload/client_test.go
  components/application-registry/internal/metadata/specification/assetstore/upload/mocks/Client.go
Due: console-integration

Minor clean up in Upload Service client
  components/application-registry/internal/metadata/specification/assetstore/upload/client.go
Due: console-integration

#3263 changing storage to PVC
  resources/logging/Chart.yaml
  resources/logging/templates/loki/_helpers.tpl
  resources/logging/templates/loki/configmap.yaml
  resources/logging/templates/loki/deployment.yaml
  resources/logging/templates/loki/networkpolicy.yaml
  resources/logging/templates/loki/podsecuritypolicy.yaml
  resources/logging/templates/loki/pvc.yaml
  resources/logging/templates/loki/role.yaml
  resources/logging/templates/loki/rolebinding.yaml
  resources/logging/templates/loki/secret.yaml
  resources/logging/templates/loki/service.yaml
  resources/logging/templates/loki/serviceaccount.yaml
  resources/logging/templates/promtail/_helpers.tpl
  resources/logging/templates/promtail/configmap.yaml
  resources/logging/templates/promtail/daemonset.yaml
  resources/logging/templates/promtail/podsecuritypolicy.yaml
  resources/logging/templates/promtail/role.yaml
  resources/logging/templates/promtail/rolebinding.yaml
  resources/logging/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

unused values removed
  resources/logging/templates/loki/deployment.yaml
  resources/logging/templates/loki/podsecuritypolicy.yaml
  resources/logging/templates/loki/pvc.yaml
  resources/logging/templates/loki/role.yaml
  resources/logging/templates/loki/rolebinding.yaml
  resources/logging/templates/loki/service.yaml
  resources/logging/templates/loki/serviceaccount.yaml
  resources/logging/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Apply feedback
  components/event-bus/cmd/event-bus-publish-knative/dockerBuild.sh
  components/event-bus/cmd/event-bus-publish-knative/handlers/publish.go
Due: console-integration

Remove implemented
  components/application-registry/internal/metadata/specification/assetstore/docstopicrepository.go
  components/application-registry/internal/metadata/specification/assetstore/docstopicrepository_test.go
  components/application-registry/internal/metadata/specification/assetstore/service.go
  components/application-registry/internal/metadata/specification/assetstore/service_test.go
Due: console-integration

Fix the e2e eventing flow with Knative (#3299)
  components/event-bus/cmd/event-bus-publish-knative/dockerBuild.sh
  components/event-bus/cmd/event-bus-publish-knative/handlers/publish.go
  components/event-bus/cmd/event-bus-publish-knative/publisher/publisher.go
  components/event-bus/cmd/event-bus-publish-knative/test/fake/publisher.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
  components/event-bus/internal/trace/tags.go
  docs/event-bus/docs/03-03-service-programming-model.md
Due: console-integration, kyma-docs

Remove global rbacconfig (#3225)
  resources/cluster-essentials/templates/rbac-config-job.yaml
  resources/cluster-essentials/values.yaml
  resources/core/charts/console-backend-service/templates/rbac-config.yaml
  resources/core/charts/istio-rbac/Chart.yaml
  resources/core/charts/istio-rbac/templates/rbac-config.yaml
  resources/core/charts/istio-rbac/templates/rbac-handler.yaml
  resources/core/charts/istio-rbac/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update values.yaml
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix apis unknown namespace error (#3311)
  resources/core/charts/api-controller/templates/apis-microfrontend.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Remove commented lines
  components/console-backend-service/internal/domain/k8s/secret_service.go
  tests/console-backend-service/internal/domain/k8s/secret_test.go
Due: console-integration
