Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

add cosmosdb
  docs/docs-build.yaml
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/graph-account/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/graph-account/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/graph-account/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/mongo-account/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/mongo-account/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/mongo-account/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/sql-account/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/sql-account/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/sql-account/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/sql-database/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/sql-database/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/sql-database/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/sql/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/sql/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/sql/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/table-account/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/table-account/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-cosmosdb/table-account/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-mssql/v12.0/database-from-existing/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-mssql/v12.0/database/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-mssql/v12.0/dbms-and-database/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-mssql/v12.0/dbms-registered/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-mssql/v12.0/dbms/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-mssqldr/v12.0/database-pair-from-existing-primary/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-mssqldr/v12.0/database-pair-from-existing/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-mssqldr/v12.0/database-pair-registered/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-mssqldr/v12.0/database-pair/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-mssqldr/v12.0/dbms-pair-registered/docs.config.json
Due: kyma-docs

Add subscription config to the lambdaUI config file
  resources/core/charts/kubeless/charts/lambdas-ui/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Update the `push_request_timeout_ms`
  resources/cluster-essentials/templates/eventing-subscription.crd.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Update the config to have strings
  resources/core/charts/kubeless/charts/lambdas-ui/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Add tests for token service and params
  components/connector-service/internal/internalapi/tokenhandler.go
  components/connector-service/internal/tokens/params.go
  components/connector-service/internal/tokens/params_test.go
  components/connector-service/internal/tokens/service.go
  components/connector-service/internal/tokens/service_test.go
Due: console-integration

set sidecar.istio.io/inject value to false inside application connector charts (#2327)
  resources/application-connector/charts/application-broker/templates/deployment.yaml
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/charts/application-operator/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/application-registry/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/connection-token-handler/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/nginx-ingress/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Azure MySQL docs
  docs/docs-build.yaml
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/database/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/database/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/database/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/dbms-and-database/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/dbms-and-database/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/dbms-and-database/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/dbms/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/dbms/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/dbms/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/mysql-database/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/mysql-dbms/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/mysql-dbms/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/mysql-dbms/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/mysql/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/mysql/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-mysql/v5.7/mysql/docs/plans-details.md
Due: kyma-docs

Remove the global values
  installation/resources/installer-config-local.yaml.tpl
Due: kyma-integration, kyma-gke-integration

Fix proxy certs in scratch image - image bump (#2383)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

fix links
  components/application-broker/README.md
  components/application-operator/charts/application/README.md
  resources/core/charts/configurations-generator/README.md
  resources/core/charts/service-catalog-addons/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator

milv update 2
  milv.config.yaml
Due: none

review fixes + milv config fix
  docs/application-connector/docs/02-03-proxy-service.md
  docs/security/docs/01-01-security.md
  docs/security/docs/02-01-security.md
  docs/service-catalog/docs/07-01-cli-reference.md
  milv.config.yaml
Due: kyma-docs

fix
  milv.config.yaml
Due: none

Azure Keyvault docs
  docs/docs-build.yaml
  docs/service-brokers/azure-broker-service-classes/azure-keyvault/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-keyvault/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-keyvault/docs/plans-details.md
Due: kyma-docs

Set sidecar injection annotations to false in NS-controller, api-controller, azure-broker and dex (#2331)
  resources/core/charts/api-controller/templates/deployment.yaml
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
  resources/core/charts/azure-broker/charts/redis/templates/deployment.yaml
  resources/core/charts/azure-broker/templates/azure-service-classes-docu.yaml
  resources/core/charts/azure-broker/templates/deployment.yaml
  resources/core/charts/namespace-controller/templates/4-deployment.yaml
  resources/core/charts/namespace-controller/templates/tests/test-namespace-controller.yaml
  resources/dex/templates/dex-deployment.yaml
  resources/dex/templates/tests/test-dex-connection.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Bump installer version (#2384)
  installation/resources/installer.yaml
  tools/kyma-installer/kyma.Dockerfile
Due: kyma-integration, kyma-gke-integration

More fixes for documentation
  docs/kyma/docs/04-05-aks-installation.md
  docs/kyma/docs/04-07-aks-xip.io-domain.md
  installation/resources/azure-crb-for-healthz.yaml
Due: kyma-integration, kyma-gke-integration, kyma-docs

Update image version
  resources/core/charts/service-catalog-addons/charts/catalog-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Set sidecar injection to false in charts (#2340)
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/event-bus/charts/push/templates/deployment.yaml
  resources/core/charts/event-bus/templates/tests/test-e2e-tester.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/templates/deployment.yaml
  resources/core/charts/kubeless/templates/kubeless-controller-deployment.yaml
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
  resources/core/charts/minio/templates/deployment.yaml
  resources/core/charts/minio/templates/post-install-create-bucket-job.yaml
  resources/core/charts/minio/templates/statefulset.yaml
  resources/core/charts/service-catalog-addons/charts/catalog-ui/templates/deployment.yaml
  resources/core/charts/service-catalog-addons/charts/instances-ui/templates/deployment.yaml
  resources/logging/templates/daemonset.yaml
  resources/logging/templates/statefulset.yaml
  resources/logging/templates/tests/logging.yaml
  resources/monitoring/charts/exporter-kube-state/templates/deployment.yaml
  resources/monitoring/charts/exporter-node/templates/daemonset.yaml
  resources/monitoring/templates/tests/test-kube-prometheus.yaml
  resources/prometheus-operator/templates/create-servicemonitor-job.yaml
  resources/prometheus-operator/templates/deployment.yaml
  resources/prometheus-operator/templates/get-crd-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Fix enviroment variable names
  docs/kyma/docs/04-05-aks-installation.md
  tmp/tests/test-on-aks-standard.log
  tmp/tests/test-on-aks-xip.log
Due: kyma-docs

Add unit test for SendMessage()
  components/event-bus/internal/knative/util/eventing_test.go
Due: console-integration

Subscription config (#2321)
  resources/cluster-essentials/templates/eventing-subscription.crd.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

console and ui module image versions set to temporary related PR images
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/templates/deployment.yaml
  resources/core/charts/service-catalog-addons/charts/catalog-ui/templates/deployment.yaml
  resources/core/charts/service-catalog-addons/charts/instances-ui/templates/deployment.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

add postgresql
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v10/postgresql-database/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v10/postgresql-database/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v10/postgresql-database/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v10/postgresql-dbms/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v10/postgresql-dbms/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v10/postgresql-dbms/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v10/postgresql/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v10/postgresql/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v10/postgresql/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v9.6/postgresql-database/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v9.6/postgresql-database/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v9.6/postgresql-database/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v9.6/postgresql-dbms/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v9.6/postgresql-dbms/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v9.6/postgresql-dbms/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v9.6/postgresql/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v9.6/postgresql/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-postgresql/v9.6/postgresql/docs/plans-details.md
Due: kyma-docs

Extract http helpers
  components/connector-service/internal/externalapi/infohandler.go
  components/connector-service/internal/externalapi/signaturehandler.go
  components/connector-service/internal/httphelpers/response.go
  components/connector-service/internal/internalapi/tokenhandler.go
  components/connector-service/internal/middlewares/applicationcontext.go
  components/connector-service/internal/middlewares/clustercontext.go
  components/connector-service/internal/middlewares/model.go
Due: console-integration

2364
  docs/application-connector/docs/03-03-consume-services.md
  docs/application-connector/docs/06-03-tokenrequest.md
  docs/application-connector/docs/08-02-get-client-certificate.md
Due: kyma-docs

Rename outstanding items from RE to Application (#2396)
  docs/application-connector/docs/03-03-consume-services.md
  docs/application-connector/docs/06-03-tokenrequest.md
  docs/application-connector/docs/08-02-get-client-certificate.md
Due: kyma-docs

Tests for token handler
  components/connector-service/internal/internalapi/tokenhandler_test.go
  components/connector-service/internal/tokens/mocks/Service.go
Due: console-integration

Apply suggestions from code review
  docs/kyma/docs/04-05-aks-installation.md
  docs/kyma/docs/04-07-aks-xip.io-domain.md
Due: kyma-docs

ClusterTokenParams constructor func and tests
  components/connector-service/internal/tokens/params.go
  components/connector-service/internal/tokens/params_test.go
Due: console-integration

Azure IoTHub docs
  docs/docs-build.yaml
  docs/service-brokers/azure-broker-service-classes/azure-iothub/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-iothub/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-iothub/docs/plans-details.md
Due: kyma-docs

Azure EventHubs docs
  docs/docs-build.yaml
  docs/service-brokers/azure-broker-service-classes/azure-eventhubs/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-eventhubs/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-eventhubs/docs/plans-details.md
Due: kyma-docs

Fixing the constant for basic auth (#2386)
  components/application-proxy/internal/metadata/serviceapi/serviceapiservice.go
Due: console-integration

Internalapi handlers setup
  components/connector-service/cmd/connectorservice/connectorservice.go
  components/connector-service/cmd/connectorservice/options.go
  components/connector-service/internal/httphelpers/middlewares.go
  components/connector-service/internal/internalapi/internalapi.go
  components/connector-service/internal/middlewares/applicationcontext.go
  components/connector-service/internal/middlewares/applicationcontext_test.go
  components/connector-service/internal/tokens/service.go
  components/connector-service/internal/tokens/service_test.go
  components/connector-service/internal/tokens/tokens.go
  components/connector-service/internal/tokens/tokens_test.go
Due: console-integration

Fix docs and remove log files
  docs/kyma/docs/04-05-aks-installation.md
  tmp/tests/test-on-aks-standard.log
  tmp/tests/test-on-aks-xip.log
Due: kyma-docs

Update image version (#2392)
  resources/core/charts/service-catalog-addons/charts/catalog-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

add appinsights
  docs/service-brokers/azure-broker-service-classes/azure-appinsights/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-appinsights/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-appinsights/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-sql/v12.0/sql-database/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-sql/v12.0/sql-database/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-sql/v12.0/sql-database/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-sql/v12.0/sql-dbms/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-sql/v12.0/sql-dbms/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-sql/v12.0/sql-dbms/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-sql/v12.0/sql/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-sql/v12.0/sql/docs/overview.md
  docs/service-brokers/azure-broker-service-classes/azure-sql/v12.0/sql/docs/plans-details.md
Due: kyma-docs

Update 04-05-aks-installation.md
  docs/kyma/docs/04-05-aks-installation.md
Due: kyma-docs
