Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Add installer template for integration with compass (#5202)
  installation/resources/installer-cr-cluster-with-compass.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Enable metrics for Velero (#5245)
  resources/backup/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix filter in service-catalog clusterdocstopic (#5240)
  resources/core/charts/docs/charts/content-ui/templates/docs-components-service-catalog-cdt.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Use local badger storage for jaeger as default (#5241)
  docs/tracing/05-01-jaeger.md
  resources/jaeger/templates/deployment.yaml
  resources/jaeger/templates/pvc.yaml
  resources/jaeger/values.schema.json
  resources/jaeger/values.yaml
  resources/monitoring/charts/prometheus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, kyma-metadata-schema-governance

Added Makefile
  components/api-gateway-controller/Dockerfile
  components/api-gateway-controller/Makefile
  components/api-gateway-controller/before-commit.sh
  components/api-gateway-controller/config/crd/bases/gateway.kyma-project.io_apis.yaml
  components/api-gateway-controller/config/default/manager_image_patch.yaml
  components/api-gateway-controller/config/rbac/role.yaml
  components/api-gateway-controller/config/webhook/manifests.yaml
Due: console-integration

Add documentation about new AWS classes (#5191)
  docs/service-catalog/13-04-aws-broker.md
Due: post-master-kyma-docs-website, kyma-docs

change oathkeeper image (#5188)
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add GCP SB to the list of HB brokers (#5193)
  docs/helm-broker/01-01-helm-broker.md
  docs/service-catalog/13-02-gcp-broker.md
Due: post-master-kyma-docs-website, kyma-docs

Stores RepositoryURL to etcd (#5199)
  components/helm-broker/internal/storage/driver/etcd/entity_bundle.go
  components/helm-broker/internal/storage/testing/bundle_test.go
Due: console-integration, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker

Disable URL path escape in the gateway proxy (#5236)
  components/application-gateway/internal/proxy/proxy_test.go
  components/application-gateway/internal/proxy/proxyfactory.go
Due: console-integration

Rename Velero on installation docs (#5207)
  docs/kyma/04-01-overview.md
  resources/backup-init/README.md
  resources/backup/README.md
  resources/backup/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, kyma-metadata-schema-governance

Use release 1.4.0-rc2 images
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/compass-runtime-agent/values.yaml
  resources/compass/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/kiali/values.yaml
  resources/knative-build/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/xip-patch/values.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test

Add pre-upgrade hook (event-bus)
  resources/event-bus/charts/event-publish-service/templates/migration-jobs.yaml
  resources/event-bus/charts/subscription-controller/templates/migration-jobs.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add pre-upgrade hook (nats-streaming)
  resources/nats-streaming/templates/migration-jobs.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

AssetStore changes
  components/compass-runtime-agent/internal/kyma/apiresources/assetstore/docstopic/model.go
  components/compass-runtime-agent/internal/kyma/apiresources/assetstore/docstopicrepository.go
  components/compass-runtime-agent/internal/kyma/apiresources/assetstore/docstopicrepository_test.go
  components/compass-runtime-agent/internal/kyma/apiresources/assetstore/mocks/DocsTopicRepository.go
  components/compass-runtime-agent/internal/kyma/apiresources/assetstore/service.go
  components/compass-runtime-agent/internal/kyma/apiresources/assetstore/service_test.go
Due: console-integration

Prepare Kyma 1.4.0 release
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/compass-runtime-agent/values.yaml
  resources/compass/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/kiali/values.yaml
  resources/knative-build/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/xip-patch/values.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test

Make kiali template work with release images (#5246)
  resources/kiali/templates/tests/test.yaml
  resources/kiali/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add a tutorial on creating a simple Grafana dashboard
  docs/monitoring/08-02-create-and-configure-grafana-dashboard.md
  docs/monitoring/assets/add-query.png
  docs/monitoring/assets/create-dashboard.png
  docs/monitoring/assets/edit-dashboard.png
  docs/monitoring/assets/gauge-dashboard-type.png
  docs/monitoring/assets/green-dashboard.png
  docs/monitoring/assets/instant.png
  docs/monitoring/assets/min-max-values.png
  docs/monitoring/assets/new-dashboard.png
  docs/monitoring/assets/panel-title.png
  docs/monitoring/assets/red-dashboard.png
  docs/monitoring/assets/save-dashboard.png
  docs/monitoring/assets/save-note.png
  docs/monitoring/assets/stats-and-metrics.png
  docs/monitoring/assets/temperature-celsius.png
  docs/monitoring/assets/threshold.png
Due: post-master-kyma-docs-website, kyma-docs

Remove additional space
  docs/monitoring/08-02-create-and-configure-grafana-dashboard.md
Due: post-master-kyma-docs-website, kyma-docs

Add a minor fix
  docs/monitoring/08-02-create-and-configure-grafana-dashboard.md
Due: post-master-kyma-docs-website, kyma-docs

Add a fix
  docs/monitoring/08-02-create-and-configure-grafana-dashboard.md
Due: post-master-kyma-docs-website, kyma-docs

Initial version
  resources/compass-runtime-agent/templates/tests/cluster-role-binding.yaml
  resources/compass-runtime-agent/templates/tests/role-binding.yaml
  resources/compass-runtime-agent/templates/tests/service-account.yaml
  resources/compass-runtime-agent/templates/tests/service.yaml
  resources/compass-runtime-agent/templates/tests/test-runtime-agent-integration.yaml
  tests/compass-runtime-agent/.dockerignore
  tests/compass-runtime-agent/Dockerfile
  tests/compass-runtime-agent/Gopkg.lock
  tests/compass-runtime-agent/Makefile
  tests/compass-runtime-agent/before-commit.sh
  tests/compass-runtime-agent/scripts/entrypoint.sh
  tests/compass-runtime-agent/scripts/run_tests.sh
  tests/compass-runtime-agent/test/mock/applicationserver.go
  tests/compass-runtime-agent/test/mock/basicauthhandler.go
  tests/compass-runtime-agent/test/mock/oauthhandler.go
  tests/compass-runtime-agent/test/runtimeagent/suite.go
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_suite_test.go
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_test.go
  tests/compass-runtime-agent/test/testkit/assertions/api_access_checker.go
  tests/compass-runtime-agent/test/testkit/assertions/k8s_resource_checker.go
  tests/compass-runtime-agent/test/testkit/config.go
  tests/compass-runtime-agent/test/testkit/util/util.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Remove old CTS in testing.sh script (#5208)
  installation/scripts/testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add test cases
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_test.go
  tests/compass-runtime-agent/test/testkit/applications/eventapi.go
  tests/compass-runtime-agent/test/testkit/compass/client.go
  tests/compass-runtime-agent/test/testkit/compass/query.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

initial commit
  resources/monitoring/charts/prometheus/templates/prometheus.rules.yaml
  resources/monitoring/charts/prometheus/templates/prometheusrule.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

v1
  docs/event-bus/03-06-configure-default-channelprovisioner.md
  resources/knative-provisioner-natss/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs

v2
  docs/kyma/04-02-local-installation.md
Due: post-master-kyma-docs-website, kyma-docs

minor fixes
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_service_test.go
  tests/console-backend-service/Gopkg.lock
  tests/console-backend-service/internal/client/client.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_test.go
  tests/console-backend-service/internal/domain/shared/addonsconfiguration.go
  tests/console-backend-service/internal/domain/shared/fixture/addonsconfiguration.go
  tests/console-backend-service/internal/domain/shared/wait/addonsconfiguration.go
Due: console-integration

Create api for addonsconfigurations (#5023)
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_converter.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_converter_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_resolver_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/addons_cfg_lister.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/addons_cfg_mutations.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/addons_cfg_updater.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/cluster_addons_cfg_lister.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/cluster_addons_cfg_mutations.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/cluster_addons_cfg_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/cluster_addons_cfg_updater.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/export.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_converter.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_converter_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_resolver_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/disabled/resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/export_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/addonsconfiguration.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/addonsconfiguration_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/automock/export.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/automock/gql_addons_configuration_converter.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/clusteraddonsconfiguration.go
  components/console-backend-service/internal/domain/servicecatalogaddons/pretty/kind.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  tests/console-backend-service/Gopkg.lock
  tests/console-backend-service/internal/client/client.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_test.go
  tests/console-backend-service/internal/domain/shared/addonsconfiguration.go
  tests/console-backend-service/internal/domain/shared/fixture/addonsconfiguration.go
Due: console-integration

Add post-review fixes
  docs/monitoring/08-01-observe-application-metrics.md
Due: post-master-kyma-docs-website, kyma-docs

Fix dead links (#5255)
  docs/event-bus/03-06-configure-default-channelprovisioner.md
  docs/kyma/04-02-local-installation.md
  resources/knative-provisioner-natss/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs

Add blank lines before lists
  docs/monitoring/08-01-observe-application-metrics.md
Due: post-master-kyma-docs-website, kyma-docs

Add an improved monitoring tutorial (#5222)
  docs/monitoring/01-01-monitoring.md
  docs/monitoring/02-01-monitoring.md
  docs/monitoring/08-01-monitoring-custom-metrics.md
  docs/monitoring/08-01-observe-application-metrics.md
  docs/monitoring/assets/monitoring-architecture.svg
  docs/monitoring/assets/pm-dashboard-1.png
  docs/monitoring/assets/pm-dashboard-2.png
  docs/monitoring/assets/sample-metrics-2.png
Due: post-master-kyma-docs-website, kyma-docs

Add post-review fixes
  docs/monitoring/08-02-create-and-configure-grafana-dashboard.md
Due: post-master-kyma-docs-website, kyma-docs

Update kubectl
  components/dex-static-user-configurer/Dockerfile
  components/etcd-tls-setup-job/Dockerfile
  components/istio-kyma-patch/Dockerfile
  components/xip-patch/Dockerfile
  tests/end-to-end/kubeless-integration/Dockerfile
  tests/integration/logging/Dockerfile
  tests/integration/monitoring/Dockerfile
  tests/kubeless/Dockerfile
  tests/test-namespace-controller/Dockerfile
  tools/load-test/Dockerfile
Due: console-integration, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, kyma-tests-kubeless

Update charts
  resources/application-connector-helper/values.yaml
  resources/backup-init/values.yaml
  resources/cluster-essentials/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/helm-broker/charts/etcd-stateful/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/service-catalog/charts/etcd-stateful/values.yaml
  resources/xip-patch/values.yaml
  tools/load-test/deploy/chart/load-test/templates/load-test.yaml
  tools/load-test/deploy/chart/load-test/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix governance issues
  milv.config.yaml
Due: none

Change the domain address
  docs/monitoring/08-02-create-and-configure-grafana-dashboard.md
  milv.config.yaml
Due: post-master-kyma-docs-website, kyma-docs
