Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Adjusted acceptance tests
  components/connector-service/cmd/connectorservice/connectorservice.go
  components/connector-service/internal/certificates/certificates.go
  components/connector-service/internal/clientcontext/extractor.go
  components/connector-service/internal/clientcontext/middlewares/applicationcontext.go
  components/connector-service/internal/clientcontext/middlewares/applicationcontext_test.go
  components/connector-service/internal/clientcontext/model.go
  components/connector-service/internal/externalapi/model.go
  components/connector-service/internal/internalapi/tokenhandler.go
  components/connector-service/internal/internalapi/tokenhandler_test.go
  components/connector-service/internal/logging/loggingmiddleware.go
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/connectorclient.go
  tests/connector-service-tests/test/testkit/model.go
Due: console-integration

Fix links (#2419)
  docs/service-brokers/docs/005-overview-helm-broker.md
  resources/service-catalog/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Remove definite artlces
  docs/asset-store/docs/03-01-asset-cr-lifecycle.md
  docs/asset-store/docs/03-02-bucket-cr-lifecycle.md
Due: kyma-docs

fixed brokes navigation path
  resources/core/charts/service-catalog-addons/charts/brokers-ui/templates/brokers-microfrontend.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update rbac-ui-api-acceptance.yaml
  resources/core/templates/tests/rbac-ui-api-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update doc jobs - add azure-broker
  resources/core/charts/docs/charts/documentation/templates/docs-hb-service-classes.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

fix2
  components/istio-kyma-patch/README.md
Due: console-integration

Update event-bus image versions (#2435)
  components/event-bus/docs/knative-subscription-controller-test-resources/manager.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add missing field to query
  tests/ui-api-layer-acceptance-tests/internal/domain/apicontroller/apis_test.go
Due: none

updated console and modules versions
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/console/values.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/templates/deployment.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
  resources/core/charts/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/core/charts/service-catalog-addons/charts/catalog-ui/templates/deployment.yaml
  resources/core/charts/service-catalog-addons/charts/instances-ui/Chart.yaml
  resources/core/charts/service-catalog-addons/charts/instances-ui/templates/deployment.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

fix
  components/istio-kyma-patch/README.md
Due: console-integration

Update 04-05-aks-installation.md
  docs/kyma/docs/04-05-aks-installation.md
Due: kyma-docs

Update doc jobs - add azure-broker (#2426)
  resources/core/charts/docs/charts/documentation/templates/docs-hb-service-classes.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Use bundles repo 0.3.0
  resources/core/charts/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

fix docs
  docs/service-brokers/azure-broker-service-classes/azure-eventhubs/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-iothub/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-keyvault/docs/plans-details.md
  docs/service-brokers/azure-broker-service-classes/azure-textanalytics/docs/plans-details.md
Due: kyma-docs

typo
  tests/ui-api-layer-acceptance-tests/internal/domain/apicontroller/apis_test.go
Due: none

Add quick registration instruction
  docs/service-brokers/docs/011-configuration-helm-broker.md
Due: kyma-docs

Enable default sidecar injection (#2420)
  components/istio-kyma-patch/README.md
  docs/service-mesh/docs/03-01-sidecar-proxy-injection.md
  docs/service-mesh/docs/03-02-istio-patch.md
  resources/core/templates/istio-injection-label.yaml
  resources/istio-kyma-patch/README.md
  resources/istio-kyma-patch/templates/clusterrole.yaml
  resources/istio-kyma-patch/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

fix jwksURI
  tests/ui-api-layer-acceptance-tests/internal/domain/apicontroller/apis_test.go
Due: none

Update 04-07-aks-xip.io-domain.md
  docs/kyma/docs/04-07-aks-xip.io-domain.md
Due: kyma-docs

Bump docs version after azure broker docs update
  resources/core/charts/docs/charts/documentation/templates/docs-azure-service-classes.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Generated clientset for tokenrequests
  components/connection-token-handler/Gopkg.toml
  components/connection-token-handler/hack/generate-groups.sh
  components/connection-token-handler/hack/update-codegen.sh
  components/connection-token-handler/pkg/apis/applicationconnector/v1alpha1/zz_generated.deepcopy.go
  components/connection-token-handler/pkg/client/clientset/versioned/clientset.go
  components/connection-token-handler/pkg/client/clientset/versioned/doc.go
  components/connection-token-handler/pkg/client/clientset/versioned/fake/clientset_generated.go
  components/connection-token-handler/pkg/client/clientset/versioned/fake/doc.go
  components/connection-token-handler/pkg/client/clientset/versioned/fake/register.go
  components/connection-token-handler/pkg/client/clientset/versioned/scheme/doc.go
  components/connection-token-handler/pkg/client/clientset/versioned/scheme/register.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/applicationconnector_client.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/doc.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/doc.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_applicationconnector_client.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_tokenrequest.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/generated_expansion.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/tokenrequest.go
  components/connection-token-handler/pkg/client/informers/externalversions/applicationconnector/interface.go
  components/connection-token-handler/pkg/client/informers/externalversions/applicationconnector/v1alpha1/interface.go
  components/connection-token-handler/pkg/client/informers/externalversions/applicationconnector/v1alpha1/tokenrequest.go
  components/connection-token-handler/pkg/client/informers/externalversions/factory.go
  components/connection-token-handler/pkg/client/informers/externalversions/generic.go
  components/connection-token-handler/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  components/connection-token-handler/pkg/client/listers/applicationconnector/v1alpha1/expansion_generated.go
  components/connection-token-handler/pkg/client/listers/applicationconnector/v1alpha1/tokenrequest.go
  tests/end-to-end/external-solution-integration/Gopkg.toml
  tests/end-to-end/external-solution-integration/e2e_test.go
  tests/end-to-end/external-solution-integration/testkit/token_request_client.go
Due: console-integration

Apply suggestions from code review
  docs/kyma/docs/04-05-aks-installation.md
Due: kyma-docs

Modified response
  components/connector-service/internal/certificates/certificates.go
  components/connector-service/internal/certificates/certificates_test.go
  components/connector-service/internal/certificates/mocks/CertificateUtility.go
  components/connector-service/internal/certificates/mocks/Service.go
  components/connector-service/internal/certificates/model.go
  components/connector-service/internal/certificates/service.go
  components/connector-service/internal/certificates/service_test.go
  components/connector-service/internal/externalapi/model.go
  components/connector-service/internal/externalapi/signaturehandler.go
  components/connector-service/internal/externalapi/signaturehandler_test.go
  components/connector-service/internal/logging/middleware.go
Due: console-integration

fix one more assertion
  tests/ui-api-layer-acceptance-tests/internal/domain/apicontroller/apis_test.go
Due: none

Revert "Generated clientset for tokenrequests"
  components/connection-token-handler/Gopkg.toml
  components/connection-token-handler/hack/generate-groups.sh
  components/connection-token-handler/hack/update-codegen.sh
  components/connection-token-handler/pkg/apis/applicationconnector/v1alpha1/zz_generated.deepcopy.go
  components/connection-token-handler/pkg/client/clientset/versioned/clientset.go
  components/connection-token-handler/pkg/client/clientset/versioned/doc.go
  components/connection-token-handler/pkg/client/clientset/versioned/fake/clientset_generated.go
  components/connection-token-handler/pkg/client/clientset/versioned/fake/doc.go
  components/connection-token-handler/pkg/client/clientset/versioned/fake/register.go
  components/connection-token-handler/pkg/client/clientset/versioned/scheme/doc.go
  components/connection-token-handler/pkg/client/clientset/versioned/scheme/register.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/applicationconnector_client.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/doc.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/doc.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_applicationconnector_client.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_tokenrequest.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/generated_expansion.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/tokenrequest.go
  components/connection-token-handler/pkg/client/informers/externalversions/applicationconnector/interface.go
  components/connection-token-handler/pkg/client/informers/externalversions/applicationconnector/v1alpha1/interface.go
  components/connection-token-handler/pkg/client/informers/externalversions/applicationconnector/v1alpha1/tokenrequest.go
  components/connection-token-handler/pkg/client/informers/externalversions/factory.go
  components/connection-token-handler/pkg/client/informers/externalversions/generic.go
  components/connection-token-handler/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  components/connection-token-handler/pkg/client/listers/applicationconnector/v1alpha1/expansion_generated.go
  components/connection-token-handler/pkg/client/listers/applicationconnector/v1alpha1/tokenrequest.go
  tests/end-to-end/external-solution-integration/Gopkg.toml
  tests/end-to-end/external-solution-integration/e2e_test.go
  tests/end-to-end/external-solution-integration/testkit/token_request_client.go
Due: console-integration
