Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-components-ui-api-layer:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-docs:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-and-start-kyma.sh
      resources:
        requests:
          memory: 100Mi
          cpu: 50m
  labels:
  ...

Update milv.config.yaml
  milv.config.yaml
Due: none

Dependencies and scripts for code-gen
  components/connection-token-handler/Gopkg.lock
  components/connection-token-handler/Gopkg.toml
  components/connection-token-handler/hack/generate-groups.sh
  components/connection-token-handler/hack/update-codegen.sh
Due: console-integration

Clientset for TokenRequest CRD
  components/connection-token-handler/pkg/apis/applicationconnector/v1alpha1/zz_generated.deepcopy.go
  components/connection-token-handler/pkg/client/clientset/versioned/clientset.go
  components/connection-token-handler/pkg/client/clientset/versioned/doc.go
  components/connection-token-handler/pkg/client/clientset/versioned/fake/clientset_generated.go
  components/connection-token-handler/pkg/client/clientset/versioned/fake/doc.go
  components/connection-token-handler/pkg/client/clientset/versioned/fake/register.go
  components/connection-token-handler/pkg/client/clientset/versioned/scheme/doc.go
  components/connection-token-handler/pkg/client/clientset/versioned/scheme/register.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/applicationconnector_client.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/doc.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/doc.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_applicationconnector_client.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_tokenrequest.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/generated_expansion.go
  components/connection-token-handler/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/tokenrequest.go
  components/connection-token-handler/pkg/client/informers/externalversions/applicationconnector/interface.go
  components/connection-token-handler/pkg/client/informers/externalversions/applicationconnector/v1alpha1/interface.go
  components/connection-token-handler/pkg/client/informers/externalversions/applicationconnector/v1alpha1/tokenrequest.go
  components/connection-token-handler/pkg/client/informers/externalversions/factory.go
  components/connection-token-handler/pkg/client/informers/externalversions/generic.go
  components/connection-token-handler/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  components/connection-token-handler/pkg/client/listers/applicationconnector/v1alpha1/expansion_generated.go
  components/connection-token-handler/pkg/client/listers/applicationconnector/v1alpha1/tokenrequest.go
Due: console-integration

Added aditional tests
  components/connector-service/cmd/connectorservice/connectorservice.go
  components/connector-service/internal/certificates/certificates.go
  components/connector-service/internal/clientcontext/extractor_test.go
  components/connector-service/internal/clientcontext/model.go
  components/connector-service/internal/clientcontext/model_test.go
Due: console-integration

Update Gopkg.lock
  components/connection-token-handler/Gopkg.lock
Due: console-integration

Use bundles repo 0.3.0 (#2443)
  resources/core/charts/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump docs version after azure broker docs update (#2402)
  resources/core/charts/docs/charts/documentation/templates/docs-azure-service-classes.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Improvements for AKS documentation (#2442)
  docs/kyma/docs/04-05-aks-installation.md
  docs/kyma/docs/04-07-aks-xip.io-domain.md
  milv.config.yaml
Due: kyma-docs

Add missing sections and fix broken links
  components/namespace-controller/README.md
  docs/kyma/docs/030-inst-overview.md
  docs/kyma/docs/036-inst-custom-component-installation.md
  installation/README.md
  resources/core/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add more fixes
  docs/kyma/docs/036-inst-custom-component-installation.md
Due: kyma-docs

Update Kyma installation documentation
  docs/kyma/docs/030-inst-overview.md
  docs/kyma/docs/031-inst-local-installation-from-release.md
  docs/kyma/docs/032-inst-local-installation-from-sources.md
  docs/kyma/docs/033-inst-gke-installation.md
  docs/kyma/docs/034-inst-install-subcomponents.md
  docs/kyma/docs/035-inst-xip.io-domain.md
  docs/kyma/docs/036-inst-custom-component-installation.md
  docs/kyma/docs/037-inst-knative.md
  docs/kyma/docs/038-inst-custom-istio.md
  docs/kyma/docs/038-inst-update.md
  docs/kyma/docs/039-inst-local-reinstallation.md
  docs/kyma/docs/040-inst-custom-service-catalog.md
  docs/kyma/docs/040-inst-local-installation-scripts.md
Due: kyma-docs

Add technical review fixes
  docs/kyma/docs/030-inst-overview.md
  docs/kyma/docs/036-inst-custom-component-installation.md
  docs/tracing/docs/03-02-jaeger.md
  resources/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add a section
  docs/kyma/docs/030-inst-overview.md
  docs/kyma/docs/036-inst-custom-component-installation.md
Due: kyma-docs

Fix the formatting
  docs/kyma/docs/036-inst-custom-component-installation.md
Due: kyma-docs

Fix the link
  components/namespace-controller/README.md
Due: console-integration

Fix the table
  docs/kyma/docs/030-inst-overview.md
Due: kyma-docs

Add TW review fixes
  docs/kyma/docs/030-inst-overview.md
  docs/kyma/docs/036-inst-custom-component-installation.md
Due: kyma-docs

Change the word
  docs/kyma/docs/036-inst-custom-component-installation.md
Due: kyma-docs

fix tpye assertion
  tests/ui-api-layer-acceptance-tests/internal/domain/apicontroller/apis_test.go
Due: none

Disable istio injection for watch-pods
  installation/resources/watch-pods.yaml
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Revert "Revert "Bumped version for testing purposes only, DO NOT MERGE""
  resources/istio-kyma-patch/templates/job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Revert "Bumped version for testing purposes only, DO NOT MERGE"
  resources/istio-kyma-patch/templates/job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Force istio injection policy to enabled
  components/istio-kyma-patch/patch.sh
Due: console-integration

Bumped version for testing purposes only, DO NOT MERGE
  resources/istio-kyma-patch/templates/job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Switch to Helm Broker 0.3.0 version
  resources/core/charts/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add helm permissions to update and delete pods
  resources/core/charts/ui-api/templates/cluster-role.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Refactoring acceptance test
  components/connector-service/internal/clientcontext/extractor.go
  tests/connector-service-tests/test/apitests/certgenerationsuite.go
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/certs.go
  tests/connector-service-tests/test/testkit/connectorclient.go
  tests/connector-service-tests/test/testkit/model.go
Due: console-integration

Update docs/service-brokers/docs/011-configuration-helm-broker.md
  docs/service-brokers/docs/011-configuration-helm-broker.md
Due: kyma-docs

Update ui-api chart
  resources/core/templates/tests/rbac-ui-api-acceptance.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Revert changes in resources
  resources/core/templates/tests/rbac-ui-api-acceptance.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update Kyma installation documentation (#2347)
  components/namespace-controller/README.md
  docs/kyma/docs/030-inst-overview.md
  docs/kyma/docs/031-inst-local-installation-from-release.md
  docs/kyma/docs/032-inst-local-installation-from-sources.md
  docs/kyma/docs/033-inst-gke-installation.md
  docs/kyma/docs/034-inst-install-subcomponents.md
  docs/kyma/docs/035-inst-xip.io-domain.md
  docs/kyma/docs/036-inst-custom-component-installation.md
  docs/kyma/docs/037-inst-knative.md
  docs/kyma/docs/038-inst-custom-istio.md
  docs/kyma/docs/038-inst-update.md
  docs/kyma/docs/039-inst-local-reinstallation.md
  docs/kyma/docs/040-inst-custom-service-catalog.md
  docs/kyma/docs/040-inst-local-installation-scripts.md
  docs/tracing/docs/03-02-jaeger.md
  installation/README.md
  resources/README.md
  resources/core/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add workaround for minikube configuration of the Helm Broker (#2444)
  docs/service-brokers/docs/011-configuration-helm-broker.md
Due: kyma-docs

Add small improvements
  docs/asset-store/docs/02-01-asset-store.md
Due: kyma-docs

Update installer-cr.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add ServiceMonitor CRD to cluster essentials
  installation/resources/installer-cr.yaml.tpl
  resources/cluster-essentials/templates/service-monitor.crd.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

add prometheus to kyma lite
  docs/kyma/docs/030-inst-overview.md
Due: kyma-docs

Add ServiceMonitor CRD to cluster essentials
  installation/resources/installer-cr.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
