Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Add two diagrams to the Asset Store documentation
  docs/asset-store/docs/02-01-asset-store.md
  docs/asset-store/docs/03-04-asset-upload-service.md
  docs/asset-store/docs/assets/asset-store-architecture.svg
  docs/asset-store/docs/assets/asset-upload-service.svg
Due: kyma-docs

fix dex address
  tests/end-to-end/backup-restore-test/backupe2e/apicontroller.go
Due: none

Allow access to configmaps
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
Due: none

Add swinka team to log-ui resources CODEOWNERS (#3535)
  CODEOWNERS
Due: none

Add support for configurable mtls option in Policy
  components/api-controller/pkg/controller/authentication/v2/authenticationv2.go
Due: console-integration

Refactor namespace backup test
  tests/end-to-end/backup-restore-test/backupe2e/namespacecontroller.go
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

Add support for configurable mtls option in Policy
  components/api-controller/pkg/controller/v1alpha2/crd.go
Due: console-integration

App Registry Asset Store migration bump (#3309)
  installation/resources/installer-config-local.yaml.tpl
  resources/application-connector/charts/application-registry/templates/deployment.yaml
  resources/application-connector/charts/application-registry/templates/remote-environments-minio-secret.yaml
  resources/application-connector/charts/application-registry/templates/role-binding.yaml
  resources/application-connector/charts/application-registry/values.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

v1
  docs/security/docs/01-01-security.md
  docs/security/docs/03-04-roles-in-kyma.md
  resources/core/charts/namespace-controller/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Scaffold
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/Gopkg.toml
  tests/end-to-end/upgrade/pkg/tests/namespace-controller/test.go
Due: none

Release version 0.9.0-rc1
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/ark/values.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/service-catalog/values.yaml
  resources/xip-patch/values.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tools/load-test/deploy/chart/load-test/templates/load-test.yaml
  tools/load-test/deploy/chart/load-test/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Remove Headless CMS link
  docs/README.md
Due: kyma-docs

implement review comments
  tests/end-to-end/upgrade/pkg/tests/monitoring/grafana.go
  tests/end-to-end/upgrade/pkg/tests/monitoring/metrics.go
Due: none

change tag image to PR:3426
  tests/end-to-end/upgrade/chart/upgrade/templates/pod.yaml
  tests/end-to-end/upgrade/chart/upgrade/templates/test/test-upgrade.yaml
Due: none

fixed some bugs
  resources/cms/templates/_helper_migrate_to_cms.txt
  resources/cms/templates/pre-install-migration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix slack alerts
  resources/monitoring/charts/alertmanager/templates/alertmanager.config.yaml
  resources/monitoring/charts/exporter-kubernetes/templates/kubernetes.rules.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

More fixes
  resources/monitoring/charts/exporter-kubernetes/templates/kubernetes.rules.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

base version
  installation/resources/installer-config-local.yaml.tpl
  resources/service-catalog/charts/catalog-crds/Chart.yaml
  resources/service-catalog/charts/catalog-crds/README.md
  resources/service-catalog/charts/catalog-crds/templates/_helpers.tpl
  resources/service-catalog/charts/catalog-crds/templates/controller-manager-deployment.yaml
  resources/service-catalog/charts/catalog-crds/templates/controller-manager-service.yaml
  resources/service-catalog/charts/catalog-crds/templates/crds.yaml
  resources/service-catalog/charts/catalog-crds/templates/rbac.yaml
  resources/service-catalog/charts/catalog-crds/templates/serviceaccounts.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-deployment.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-register.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-service.yaml
  resources/service-catalog/charts/catalog-crds/values.yaml
  resources/service-catalog/charts/etcd-stateful/templates/04-servicemonitor.yaml
  resources/service-catalog/requirements.yaml
  resources/service-catalog/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

image bump PR-3455
  resources/cms/charts/cms-controller-manager/templates/_helpers.tpl
  resources/cms/charts/cms-controller-manager/templates/statefulset.yaml
  resources/cms/charts/cms-controller-manager/templates/webhook-config-map.yaml
  resources/cms/charts/cms-controller-manager/values.yaml
  resources/cms/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update event-service version (#3545)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fixed some bugs
  resources/assetstore/charts/minio/README.md
  resources/cms/templates/pre-install-migration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add the event metada as knative-channel labels
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile.go
  components/event-bus/internal/knative/util/kn-eventing.go
Due: console-integration

Image bump for Connector Service tests (#3429)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Readme
  resources/knative-serving/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Use the kyma-gateway for knative serving traffic
  resources/knative-serving/README.md
  resources/knative-serving/charts/knative-serving/templates/serving.yaml
  resources/knative-serving/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update Asset Store tests
  tests/asset-store/Gopkg.lock
  tests/asset-store/Gopkg.toml
  tests/asset-store/testsuite/asset.go
  tests/asset-store/testsuite/clusterasset.go
  tests/asset-store/testsuite/testdata.go
Due: none

Diagram updated
  docs/application-connector/docs/02-01-application-connector.md
  docs/application-connector/docs/03-04-metadata-service.md
  docs/application-connector/docs/assets/001-application-connector.svg
Due: kyma-docs

Fix test
  tests/asset-store/testsuite/testdata.go
Due: none

RBAC
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
Due: none

Fix diagram
  docs/asset-store/docs/03-04-asset-upload-service.md
  docs/asset-store/docs/assets/asset-upload-service.svg
Due: kyma-docs

Bump image of e2e upgrade tests (#3458)
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: none

remove unused fields
  tests/end-to-end/upgrade/pkg/tests/monitoring/grafana.go
Due: none

implement review comment
  tests/end-to-end/upgrade/pkg/tests/monitoring/grafana.go
Due: none

Enable grafana for Loki
  resources/logging/templates/loki/istio-rbac.yaml
  resources/monitoring/charts/grafana/templates/datasource-configmap.yaml
  resources/monitoring/charts/grafana/templates/grafana-deployment.yaml
  resources/monitoring/charts/grafana/templates/serviceaccount.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fix build errors
  tests/end-to-end/upgrade/main.go
Due: none

remove disabled tests
  tests/end-to-end/upgrade/main.go
Due: none

Add DOMAIN_NAME to pod test-upgrade.yaml
  tests/end-to-end/upgrade/chart/upgrade/templates/test/test-upgrade.yaml
  tests/end-to-end/upgrade/pkg/tests/function/function.go
Due: none

Retry added when updating Docs Topic
  components/application-registry/internal/metadata/specification/assetstore/docstopicrepository.go
Due: console-integration

test upgrade for monitoring components (#3513)
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/monitoring/grafana.go
  tests/end-to-end/upgrade/pkg/tests/monitoring/metrics.go
Due: none

Improve Application Operator Tests (#3507)
  tests/application-gateway-tests/Gopkg.lock
  tests/application-gateway-tests/test/executor/proxy/suite.go
  tests/application-operator-tests/scripts/run-local-tests.sh
  tests/application-operator-tests/test/controller/suite.go
  tests/application-operator-tests/test/testkit/k8sresources_check.go
Due: none
