Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration, kyma-tests-kubeless, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-components-ui-api-layer:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/kyma-integration:
  optional: true
  labels:
    preset-sa-vm-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-and-start-kyma.sh

prow/kyma/kyma-gke-integration:
  optional: true
  labels:
    preset-sa-gke-kyma-integration: 'true'
    preset-gc-compute-envs: 'true'
    preset-gc-project-env: 'true'
    preset-build-pr: 'true'
    preset-docker-push-repository: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

kyma-tests-kubeless:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

exclude -tests pods from alerting (#1963)
  resources/monitoring/charts/alert-rules/templates/unhealthy-pods-rules.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fixed datasource URL for prometheus in grafana (#1944)
  docs/monitoring/docs/030-gs-monitoring-custom-metrics.md
  resources/monitoring/charts/grafana/templates/datasource-configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

excluded test- pods from alerting (#1942)
  resources/monitoring/charts/alert-rules/templates/unhealthy-pods-rules.yaml
  resources/monitoring/charts/exporter-node/templates/node.rules.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Build Documentation images with Prow (#1941)
  CODEOWNERS
  docs/Makefile
  docs/docs-build.yaml
  tools/docsbuilder/Gopkg.lock
  tools/docsbuilder/Gopkg.toml
  tools/docsbuilder/Makefile
  tools/docsbuilder/README.md
  tools/docsbuilder/before-commit.sh
  tools/docsbuilder/internal/content/content.go
  tools/docsbuilder/internal/content/content_test.go
  tools/docsbuilder/internal/docker/docker.go
  tools/docsbuilder/internal/docker/docker_test.go
  tools/docsbuilder/internal/sh/cmd.go
  tools/docsbuilder/internal/sh/cmd_test.go
  tools/docsbuilder/main.go
Due: none

Copy kyma-installer to tools dir (#1931)
  .dockerignore
  CODEOWNERS
  ci.Dockerfile
  docs/kyma/docs/032-inst-gke-installation.md
  docs/kyma/docs/033-inst-local-installation-scripts.md
  installation/scripts/build-kyma-installer.ps1
  installation/scripts/build-kyma-installer.sh
  tools/kyma-installer/Jenkinsfile
  tools/kyma-installer/artifacts.Jenkinsfile
  tools/kyma-installer/kyma.Dockerfile
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update stale.yml with new stale label (#1937)
  .github/stale.yml
Due: none

Bump documentation image version (#1956)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix the sub-validator directory name (#1967)
  components/event-bus/Makefile
Due: console-integration

Bump image of Metadata Service and UI API (#1958)
  resources/application-connector/values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Allow securing specific resources in GraphQL (#1595)
  resources/core/charts/ui-api/README.md
  resources/core/charts/ui-api/scripts/filter.lua
  resources/core/charts/ui-api/scripts/filter_testcase.lua
  resources/core/charts/ui-api/templates/envoy-filter-graphql-resources-to-header.yaml
  resources/istio-kyma-patch/scripts/webhook.lua
  resources/istio-kyma-patch/scripts/webhook_testcase.lua
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update event-bus component to support prow CI (#1946)
  components/event-bus/Makefile
  components/event-bus/before-commit.sh
  components/event-bus/docker-build-event-bus-publish.sh
  components/event-bus/docker-build-event-bus-push.sh
  components/event-bus/docker-build-event-bus-sv.sh
Due: console-integration

Change the domain for eventing (#1924)
  resources/core/charts/kubeless/templates/tests/k8s.yaml
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update cr-installation documentation (#1935)
  docs/kyma/docs/050-cr-installation.md
Due: none

Prow migration for event-service and k8s-dashboard-proxy (#1927)
  components/event-service/Gopkg.lock
  components/event-service/Gopkg.toml
  components/event-service/Makefile
  components/event-service/before-commit.sh
  components/event-service/cmd/eventservice/eventgateway.go
  components/event-service/cmd/eventservice/options.go
  components/event-service/internal/events/api/types.go
  components/event-service/internal/events/bus/process.go
  components/event-service/internal/events/bus/send.go
  components/event-service/internal/events/shared/constants.go
  components/event-service/internal/events/shared/utils.go
  components/event-service/internal/externalapi/blackb_test.go
  components/event-service/internal/externalapi/errorhandler.go
  components/event-service/internal/externalapi/eventshandler.go
  components/event-service/internal/externalapi/eventshandler_test.go
  components/event-service/internal/externalapi/externalapi.go
  components/event-service/internal/httpconsts/httpconsts.go
  components/event-service/internal/httperrors/httperrors.go
  components/event-service/internal/httptools/http.go
  components/event-service/internal/httptools/logging.go
  components/k8s-dashboard-proxy/Gopkg.lock
  components/k8s-dashboard-proxy/Gopkg.toml
  components/k8s-dashboard-proxy/before-commit.sh
Due: console-integration

Revert merged pr (#1959)
  resources/core/charts/kubeless/templates/tests/k8s.yaml
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Adding checksum to enable pod restart (#1933)
  resources/cluster-essentials/charts/pod-preset/templates/webhook/deploy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

tests event-bus Prow build job (#1957)
  tests/event-bus/Gopkg.lock
  tests/event-bus/Gopkg.toml
  tests/event-bus/Makefile
  tests/event-bus/before-commit.sh
  tests/event-bus/docker-build-subscriber.sh
  tests/event-bus/docker-build-tester.sh
  tests/event-bus/e2e-tester/e2e-tester.go
Due: none

Fix Minio related leak in Metadata Service and UI API layer (#1910)
  components/metadata-service/internal/metadata/specification/minio/repository.go
  components/metadata-service/internal/metadata/specification/service.go
  components/ui-api-layer/internal/domain/content/storage/interfaces.go
  components/ui-api-layer/internal/domain/content/storage/minioclient.go
  components/ui-api-layer/internal/domain/content/storage/mock_client.go
  components/ui-api-layer/internal/domain/content/storage/store.go
  components/ui-api-layer/internal/domain/content/storage/store_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Increase timeout of Connector Service call (#1950)
  resources/core/charts/ui-api/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add a new document type (#1982)
  docs/kyma/docs/060-examples-try-out-kyma.md
Due: none

Fix running UI API Layer acceptance tests on local machine (#1881)
  tests/ui-api-layer-acceptance-tests/Dockerfile
  tests/ui-api-layer-acceptance-tests/Gopkg.lock
  tests/ui-api-layer-acceptance-tests/client/client.go
  tests/ui-api-layer-acceptance-tests/client/config.go
  tests/ui-api-layer-acceptance-tests/domain/authentication/idppreset_test.go
  tests/ui-api-layer-acceptance-tests/domain/k8s/limitrange_test.go
  tests/ui-api-layer-acceptance-tests/domain/k8s/resourcequota_test.go
  tests/ui-api-layer-acceptance-tests/domain/remoteenvironment/remoteenvironment_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/servicebinding_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/servicebinding_usage_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/servicecatalog_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/serviceinstance_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/usage_kind_test.go
  tests/ui-api-layer-acceptance-tests/graphql/client.go
Due: none

exclude sample- pods from alerting (#1984)
  resources/monitoring/charts/alert-rules/templates/unhealthy-pods-rules.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Dump namespace info in case of test failure (#1850)
  tests/acceptance/servicecatalog/binding_usage_test.go
Due: none

Migrate api-controller to prow (#1976)
  components/api-controller/Gopkg.lock
  components/api-controller/Gopkg.toml
  components/api-controller/Jenkinsfile
  components/api-controller/Makefile
  components/api-controller/before-commit.sh
  components/api-controller/cmd/controller/main.go
  components/api-controller/pkg/controller/authentication/v2/doc.go
  components/api-controller/pkg/controller/commons/errors.go
  components/api-controller/pkg/controller/v1alpha2/controller_test.go
  components/api-controller/pkg/controller/v1alpha2/crd.go
Due: console-integration

adjust domain of subscriptions.eventing CRD to kyma-project.io resources (#1642)
  docs/event-bus/docs/030-cr-subscription.md
  docs/event-bus/docs/031-cli-reference.md
  docs/event-bus/docs/050-subscription-updates.md
  resources/cluster-essentials/templates/eventing-subscription.crd.yaml
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
  resources/core/charts/event-bus/charts/push/templates/deployment.yaml
  resources/core/charts/event-bus/charts/sub-validator/templates/deployment.yaml
  resources/core/charts/event-bus/templates/tests/test-e2e-tester.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
  resources/core/charts/kubeless/templates/tests/k8s.yaml
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Create Makefile (#1995)
  components/istio-kyma-patch/Makefile
Due: console-integration

Fix typo and standardize "Installer" capitalization in docs (#1974)
  docs/kyma/docs/011-details-environments.md
  docs/kyma/docs/030-inst-local-installation-from-release.md
  docs/kyma/docs/031-inst-local-installation-from-sources.md
  docs/kyma/docs/032-inst-gke-installation.md
  docs/kyma/docs/033-inst-local-installation-scripts.md
  docs/kyma/docs/037-inst-custom-istio.md
  docs/kyma/docs/050-cr-installation.md
Due: none

Update the doc image (#1973)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Additional information about Resource Quota in console (#1936)
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Change formatting in the installation guide (#1970)
  docs/kyma/docs/030-inst-local-installation-from-release.md
Due: none

replace minio links with links to examples (#1985)
  docs/kyma/docs/041-gs-sample-service-deployment-to-cluster.md
  docs/kyma/docs/assets/api-with-auth.yaml
  docs/kyma/docs/assets/api-without-auth.yaml
  docs/kyma/docs/assets/deployment.yaml
  docs/serverless/docs/040-cli-reference.md
  docs/serverless/docs/assets/api-with-auth.yaml
  docs/serverless/docs/assets/api-without-auth.yaml
  docs/serverless/docs/assets/deployment.yaml
  docs/serverless/docs/assets/hello.js
Due: none

Implement a performance test for kubeless functions Horizontal Pod Austoscaler
  tools/load-tests/Dockerfile
  tools/load-tests/Gopkg.toml
  tools/load-tests/Jenkinsfile
  tools/load-tests/before-commit.sh
  tools/load-tests/deploy/.helmignore
  tools/load-tests/deploy/Chart.yaml
  tools/load-tests/deploy/load-test/templates/_helpers.tpl
  tools/load-tests/deploy/load-test/templates/load-tests.yaml
  tools/load-tests/deploy/values.yaml
  tools/load-tests/k8syaml/function.yaml
  tools/load-tests/k8syaml/ns.yaml
  tools/load-tests/main.go
Due: none

Remove tabs from request
  resources/core/templates/tests/rbac-ui-api-acceptance.yaml
  tests/ui-api-layer-acceptance-tests/domain/authentication/idppreset_test.go
  tests/ui-api-layer-acceptance-tests/graphql/client.go
  tests/ui-api-layer-acceptance-tests/graphql/request.go
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Handle already existing EventActivation
  components/remote-environment-broker/internal/broker/provision.go
  components/remote-environment-broker/internal/broker/provision_test.go
Due: console-integration

Remove unused RE code
  resources/core/templates/tests/rbac-ui-api-acceptance.yaml
  tests/ui-api-layer-acceptance-tests/Gopkg.lock
  tests/ui-api-layer-acceptance-tests/client/client.go
  tests/ui-api-layer-acceptance-tests/domain/remoteenvironment/remoteenvironment_test.go
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Migrate gateway-tests to Prow (#2007)
  tests/gateway-tests/Gopkg.lock
  tests/gateway-tests/Gopkg.toml
  tests/gateway-tests/Makefile
Due: none

Remove subscription on UPDATE action from PodPreset configuration (#1918)
  resources/cluster-essentials/charts/pod-preset/templates/webhook/webhook.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix unhandled err checking in BUC, HelmBroker, REB, StabilityChecker, ETCDBackup, WatchPods
  components/binding-usage-controller/Gopkg.lock
  components/binding-usage-controller/Gopkg.toml
  components/binding-usage-controller/before-commit.sh
  components/binding-usage-controller/cmd/controller/main.go
  components/binding-usage-controller/internal/controller/controller.go
  components/binding-usage-controller/internal/controller/errors.go
  components/binding-usage-controller/internal/controller/labels_fetcher.go
  components/binding-usage-controller/internal/controller/usagekind/protection_controller.go
  components/binding-usage-controller/internal/controller/usagekind/protection_controller_test.go
Due: console-integration, prow/kyma/components/binding-usage-controller

Bump version of Application Operator
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  prow/kyma/kyma-integration: any of: ^(resources|installation)
  prow/kyma/kyma-gke-integration: any of: ^(resources|installation)
  kyma-tests-kubeless: any of: ^tests/kubeless/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
