Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, pre-kyma-components-application-connectivity-certs-setup-job, post-kyma-components-application-connectivity-certs-setup-job, pre-master-kyma-components-application-gateway, post-master-kyma-components-application-gateway, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-backup, pre-master-kyma-kind-lite, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-connector-service-tests, post-master-kyma-tests-connector-service-tests, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-api-controller, post-master-kyma-tests-integration-api-controller, pre-master-kyma-tests-integration-cluster-users, post-master-kyma-tests-integration-cluster-users, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-logging, post-master-kyma-tests-integration-logging, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-backup-plugins, post-master-kyma-tools-backup-plugins, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  pre-kyma-components-application-connectivity-certs-setup-job: any of: ^components/application-connectivity-certs-setup-job/|^common/makefiles/
  post-kyma-components-application-connectivity-certs-setup-job: any of: ^components/application-connectivity-certs-setup-job/|^common/makefiles/
  pre-master-kyma-components-application-gateway: any of: ^components/application-gateway/
  post-master-kyma-components-application-gateway: any of: ^components/application-gateway/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  post-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-development-artifacts-idk: any of: ^installation|^resources|^components/kyma-operator|^tools/kyma-installer
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gcs-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gcs-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/core/templates/tests\S+|resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-backup: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-kind-lite: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  post-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  post-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  pre-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  post-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  pre-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  post-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  post-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Update alpine image (#6145)
  tools/alpine-net/Dockerfile
Due: none

Update GCP Broker screenshot and available classes
  docs/service-catalog/17-02-gcp-broker.md
  docs/service-catalog/assets/gcp-class.png
  resources/helm-broker/templates/default-addons-cfg.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Enabling just event bus test
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

Running only event bus
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/templates/test/test.yaml
Due: pre-master-kyma-gke-backup

.
  .kyma-project-io/build-preview.sh
Due: none

Bump alpine_net image tag
  installation/resources/tiller.yaml
  resources/kiali/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-kind-lite

Improve language and formatting
  docs/application-connector/01-01-application-connector.md
  docs/application-connector/02-01-application-connector.md
  docs/application-connector/02-02-connector-service.md
  docs/application-connector/02-03-proxy-service.md
  docs/application-connector/02-04-application-broker.md
  docs/application-connector/03-01-ac-security.md
  docs/application-connector/03-02-access-ac-on-local.md
  docs/application-connector/03-03-consume-services.md
  docs/application-connector/03-04-metadata-service.md
  docs/application-connector/03-05-pass-access-token-in-request-header.md
  docs/application-connector/03-07-application-connector-certificates.md
  docs/application-connector/05-04-connector-service.md
  docs/application-connector/05-05-application-connectivity-certs-setup-job.md
  docs/application-connector/06-01-application.md
  docs/application-connector/06-02-apllicationmapping.md
  docs/application-connector/06-03-event-activation.md
  docs/application-connector/06-04-tokenrequest.md
  docs/application-connector/08-01-create-application.md
  docs/application-connector/08-02-get-client-certificate.md
  docs/application-connector/08-03-register-manage-services.md
  docs/application-connector/08-04-register-secured-api.md
  docs/application-connector/08-05-trigger-lambda-with-event.md
  docs/application-connector/08-06-call-registered-service-from-kyma.md
  docs/application-connector/08-07-application-mapping.md
  docs/application-connector/08-08-renew-client-cert.md
  docs/application-connector/08-09-revoke-cert.md
  docs/application-connector/08-10-rotate-root-ca.md
  docs/application-connector/09-01-connector-service.md
  docs/application-connector/09-02-metadata-service.md
  docs/application-connector/09-03-event-service.md
  docs/application-connector/10-02-application-gateway-troubleshooting.md
  docs/application-connector/10-03-application-registry-troubleshooting.md
  docs/application-connector/10-04-connector-service-troubleshooting.md
Due: post-master-kyma-docs-website, kyma-docs

Apply suggestions from code review
  docs/application-connector/01-01-application-connector.md
  docs/application-connector/02-01-application-connector.md
Due: post-master-kyma-docs-website, kyma-docs

Update GCP Broker screenshot and available classes (#6137)
  docs/service-catalog/17-02-gcp-broker.md
  docs/service-catalog/assets/gcp-class.png
  resources/helm-broker/templates/default-addons-cfg.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Update repo and branch to fetch src of website
  .kyma-project-io/build-preview.sh
Due: none

Kyma release 1.7-rc1 (#6141)
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  resources/core/values.yaml
  tools/kyma-installer/kyma.Dockerfile
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-kind-lite

Prepare preview of kyma repo on kyma-project.io (#5989)
  .kyma-project-io/build-preview.sh
  CODEOWNERS
Due: none

Disable validator tests
  components/event-bus/api/publish/v2/validators_test.go
Due: console-integration

Update 01-01-asset-store.md
  docs/asset-store/01-01-asset-store.md
Due: post-master-kyma-docs-website, kyma-docs

Follow Goland inspections
  components/event-service/internal/events/bus/process.go
  components/event-service/internal/events/bus/v2/addsource.go
  components/event-service/internal/events/shared/utils.go
  components/event-service/internal/externalapi/v1/blackb_test.go
  components/event-service/internal/externalapi/v1/eventshandler.go
  components/event-service/internal/externalapi/v1/eventshandler_test.go
  components/event-service/internal/externalapi/v2/blackb_test.go
  components/event-service/internal/externalapi/v2/eventshandler.go
  components/event-service/internal/externalapi/v2/eventshandler_test.go
  components/event-service/pkg/event/event.go
Due: console-integration

Make before-commit happy for event-service
  components/event-service/internal/events/bus/send.go
  components/event-service/internal/externalapi/externalapi.go
  components/event-service/internal/externalapi/v2/blackb_data_test.go
  components/event-service/internal/externalapi/v2/blackb_test.go
  components/event-service/internal/externalapi/v2/eventshandler.go
  components/event-service/internal/externalapi/v2/eventshandler_test.go
  components/event-service/internal/externalapi/v2/roundtripper.go
Due: console-integration

Excluding CRDs
  docs/backup/assets/backup.yaml
Due: post-master-kyma-docs-website, kyma-docs

enable api-gateway in cbs - image bump
  resources/api-gateway/templates/backendmodule.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

update go builder image as we need a newer version of go to support strings.Builder
  components/event-service/Dockerfile
Due: console-integration

Some golint stuff
  components/event-bus/cmd/event-publish-service/handlers/publish_cloud_events.go
  components/event-bus/internal/trace/tags.go
Due: console-integration

fix linting errors
  components/event-bus/api/publish/api.go
  components/event-bus/cmd/event-publish-service/application/application_test.go
  components/event-bus/cmd/event-publish-service/handlers/publish.go
  components/event-bus/cmd/event-publish-service/handlers/publish_cloud_events.go
  components/event-bus/cmd/event-publish-service/publisher/publisher.go
  components/event-bus/cmd/event-publish-service/test/fake/publisher.go
  components/event-bus/internal/trace/tags.go
  components/event-bus/test/util/v2/publish.go
Due: console-integration

Bump alpine_net image (#6147)
  installation/resources/tiller.yaml
  resources/kiali/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-kind-lite

gofmt && goimports
  components/event-bus/api/publish/v2/validators.go
  components/event-bus/api/push/eventing.kyma-project.io/v1alpha1/register.go
  components/event-bus/cmd/event-publish-service/handlers/publish_cloud_events.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/trace/tags.go
  components/event-bus/pkg/event/event.go
Due: console-integration

Update compass charts with secure token generation
  resources/core/charts/istio-rbac/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Fix bug in charts
  resources/compass/charts/connector/templates/service-role-binding.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Change istio rbac services to the right one
  resources/core/charts/istio-rbac/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Fix ServiceRole ref
  resources/compass/charts/connector/templates/service-role-binding.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Change service name to internal
  resources/compass/charts/connector/templates/tests/test-connector.yaml
  resources/compass/charts/director/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Add charts changes
  resources/compass/charts/connector/templates/deployment.yaml
  resources/compass/charts/connector/templates/service-role-binding.yaml
  resources/compass/charts/connector/templates/service.yaml
  resources/compass/charts/connector/templates/tests/test-connector.yaml
  resources/compass/charts/connector/values.yaml
  resources/compass/charts/director/templates/deployment.yaml
  resources/compass/charts/director/templates/service-account.yaml
  resources/compass/charts/gateway/templates/deployment.yaml
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Change compass agent configuration
  resources/compass/charts/connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Use external connector url instead of the external service
  resources/compass/charts/director/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Fix script for kyma-project.io preview
  .kyma-project-io/build-preview.sh
Due: none

Fix strings
  .kyma-project-io/build-preview.sh
Due: none

Fix script for kyma-project.io preview (#6158)
  .kyma-project-io/build-preview.sh
Due: none

Fix a typo (pod -> Pod)
  docs/application-connector/10-02-application-gateway-troubleshooting.md
Due: post-master-kyma-docs-website, kyma-docs

Change mtls to tls
  resources/compass/charts/director/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Use develop image
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

operator version updated from 0.29.0 to 0.31.1
  resources/monitoring/charts/prometheus/values.yaml
  resources/prometheus-operator/templates/clusterrole.yaml
  resources/prometheus-operator/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Apply review suggestions
  docs/application-connector/06-03-event-activation.md
Due: post-master-kyma-docs-website, kyma-docs

Apply review suggestions
  docs/application-connector/06-04-tokenrequest.md
  docs/application-connector/08-03-register-manage-services.md
  docs/application-connector/08-04-register-secured-api.md
Due: post-master-kyma-docs-website, kyma-docs
