Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Bump xip-patch version
  resources/application-connector-helper/values.yaml
  resources/core/values.yaml
  resources/xip-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Added missing OWNERS files
  resources/kiali/OWNERS
  resources/prometheus-operator/OWNERS
  tests/end-to-end/backup-restore-test/OWNERS
  tests/integration/logging/OWNERS
  tests/integration/monitoring/OWNERS
  tests/perf/OWNERS
  tools/alpine-net/OWNERS
  tools/load-test/OWNERS
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Removed labels that don't exist
  resources/backup-init/OWNERS
  resources/backup/OWNERS
  tests/end-to-end/backup-restore-test/OWNERS
  tests/perf/OWNERS
  tools/alpine-net/OWNERS
  tools/load-test/OWNERS
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump xip-patch version (#5554)
  resources/application-connector-helper/values.yaml
  resources/core/values.yaml
  resources/xip-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix subscriptions
  components/console-backend-service/internal/domain/k8s/listener/namespace.go
  components/console-backend-service/internal/domain/k8s/namespace_converter.go
  components/console-backend-service/internal/domain/k8s/namespace_resolver.go
  components/console-backend-service/internal/domain/k8s/types/NamespaceWithAdditionalData.go
  components/console-backend-service/main.go
Due: console-integration

fixing a typo
  resources/function-controller/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Switch off catalog ui tests - temporarily
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Remove redundant functions in converter
  components/console-backend-service/internal/domain/k8s/listener/namespace.go
  components/console-backend-service/internal/domain/k8s/namespace_converter.go
  components/console-backend-service/internal/domain/k8s/namespace_resolver.go
  components/console-backend-service/internal/domain/k8s/resourcequotastatus_converter_test.go
  components/console-backend-service/internal/domain/k8s/resourcequotastatus_service.go
  components/console-backend-service/internal/domain/k8s/selfsubjectrules_resolver_test.go
  components/console-backend-service/main.go
Due: console-integration

Fix backup component name from the docs
  docs/backup/04-01-install-velero.md
  installation/resources/velero-secret.yaml.tpl
Due: kyma-integration, kyma-gke-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bumped image
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix
  docs/backup/04-01-install-velero.md
Due: post-master-kyma-docs-website, kyma-docs

Update OWNERS
  OWNERS_ALIASES
Due: none

Fix filter
  OWNERS
Due: none

....
  OWNERS
Due: none

Update OWNERS (#5558)
  OWNERS
  OWNERS_ALIASES
Due: none

v1
  components/api-controller/OWNERS
  components/apiserver-proxy/OWNERS
  components/dex-static-user-configurer/OWNERS
  components/iam-kubeconfig-service/OWNERS
  components/istio-kyma-patch/OWNERS
  components/kyma-operator/OWNERS
  components/xip-patch/OWNERS
  installation/OWNERS
  resources/api-gateway/OWNERS
  resources/cluster-essentials/OWNERS
  resources/core/charts/api-controller/OWNERS
  resources/core/charts/apiserver-proxy/OWNERS
  resources/core/charts/cluster-users/OWNERS
  resources/core/charts/gateway/OWNERS
  resources/core/charts/iam-kubeconfig-service/OWNERS
  resources/core/charts/istio-rbac/OWNERS
  resources/dex/OWNERS
  resources/istio-init/OWNERS
  resources/istio-kyma-patch/OWNERS
  resources/istio/OWNERS
  resources/ory/OWNERS
  resources/xip-patch/OWNERS
  tests/integration/api-controller/OWNERS
  tests/integration/cluster-users/OWNERS
  tests/integration/dex/OWNERS
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex

Update function controller
  components/function-controller/Gopkg.lock
  components/function-controller/Makefile
  components/function-controller/cmd/manager/main.go
  components/function-controller/pkg/controller/function/function_controller.go
  components/function-controller/pkg/controller/function/function_controller_suite_test.go
  components/function-controller/pkg/controller/function/function_controller_test.go
  components/function-controller/pkg/utils/serving_utils.go
  components/function-controller/pkg/webhook/default_server/webhook_suite_test.go
Due: console-integration

Change url validation param in Helm broker (#5498)
  docs/helm-broker/05-01-helm-broker.md
  resources/helm-broker/charts/addons-ui/templates/configmap.yaml
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Filter system namespaces in subscriptions
  components/console-backend-service/internal/domain/k8s/listener/automock/gql_namespace_converter.go
  components/console-backend-service/internal/domain/k8s/listener/namespace.go
  components/console-backend-service/internal/domain/k8s/namespace_resolver.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

Revert accidental changes
  components/console-backend-service/internal/domain/k8s/resourcequotastatus_converter_test.go
  components/console-backend-service/internal/domain/k8s/resourcequotastatus_service.go
  components/console-backend-service/internal/domain/k8s/selfsubjectrules_resolver_test.go
Due: console-integration

v2
  resources/cluster-essentials/OWNERS
  tests/integration/apiserver-proxy/OWNERS
  tools/kyma-installer/OWNERS
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bring back "description" as required service field
  resources/application-connector/templates/application.crd.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Added OWNERS files for Huskies (#5537)
  resources/backup-init/OWNERS
  resources/backup/OWNERS
  resources/jaeger/OWNERS
  resources/kiali/OWNERS
  resources/logging/OWNERS
  resources/monitoring/OWNERS
  resources/prometheus-operator/OWNERS
  tests/end-to-end/backup-restore-test/OWNERS
  tests/integration/logging/OWNERS
  tests/integration/monitoring/OWNERS
  tests/perf/OWNERS
  tools/alpine-net/OWNERS
  tools/load-test/OWNERS
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

v3
  components/README.md
  components/kyma-operator/OWNERS
  components/namespace-controller/.gitignore
  components/namespace-controller/Gopkg.lock
  components/namespace-controller/Gopkg.toml
  components/namespace-controller/Makefile
  components/namespace-controller/README.md
  components/namespace-controller/before-commit.sh
  components/namespace-controller/cmd/controller/main.go
  components/namespace-controller/deploy/controller/Dockerfile
  components/namespace-controller/examples/namespace-test.yaml
  components/namespace-controller/internal/controller/config.go
  components/namespace-controller/internal/controller/controller.go
  components/namespace-controller/internal/controller/controller_test.go
  components/namespace-controller/internal/controller/environment_watcher.go
  components/namespace-controller/internal/errors.go
  components/namespace-controller/internal/limit_range/client.go
  components/namespace-controller/internal/namespaces/client.go
  components/namespace-controller/internal/resource-quota/client.go
  components/namespace-controller/internal/roles/client.go
  components/xip-patch/OWNERS
  tests/test-namespace-controller/.gitignore
  tests/test-namespace-controller/Dockerfile
  tests/test-namespace-controller/Gopkg.lock
  tests/test-namespace-controller/Gopkg.toml
  tests/test-namespace-controller/Makefile
  tests/test-namespace-controller/README.md
  tests/test-namespace-controller/cmd/quantity/main.go
  tests/test-namespace-controller/prepare.sh
  tests/test-namespace-controller/sample-namespace.yaml
  tests/test-namespace-controller/test-namespace-controller.sh
Due: console-integration

v4
  components/namespace-controller/.gitignore
  components/namespace-controller/Gopkg.lock
  components/namespace-controller/Gopkg.toml
  components/namespace-controller/Makefile
  components/namespace-controller/README.md
  components/namespace-controller/before-commit.sh
  components/namespace-controller/cmd/controller/main.go
  components/namespace-controller/deploy/controller/Dockerfile
  components/namespace-controller/examples/namespace-test.yaml
  components/namespace-controller/internal/controller/config.go
  components/namespace-controller/internal/controller/controller.go
  components/namespace-controller/internal/controller/controller_test.go
  components/namespace-controller/internal/controller/environment_watcher.go
  components/namespace-controller/internal/errors.go
  components/namespace-controller/internal/limit_range/client.go
  components/namespace-controller/internal/namespaces/client.go
  components/namespace-controller/internal/resource-quota/client.go
  components/namespace-controller/internal/roles/client.go
  tests/test-namespace-controller/.gitignore
  tests/test-namespace-controller/Dockerfile
  tests/test-namespace-controller/Gopkg.lock
  tests/test-namespace-controller/Gopkg.toml
  tests/test-namespace-controller/Makefile
  tests/test-namespace-controller/README.md
  tests/test-namespace-controller/cmd/quantity/main.go
  tests/test-namespace-controller/prepare.sh
  tests/test-namespace-controller/sample-namespace.yaml
  tests/test-namespace-controller/test-namespace-controller.sh
Due: console-integration

v5
  components/istio-kyma-patch/OWNERS
Due: console-integration

improvements v5
  docs/monitoring/08-04-define-notification-channels.md
  docs/monitoring/08-04-send-notifications.md
Due: post-master-kyma-docs-website, kyma-docs

v.8
  docs/monitoring/08-04-send-notifications.md
  resources/monitoring/charts/alertmanager/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs

improvements v7
  docs/monitoring/08-04-send-notifications.md
  docs/monitoring/assets/integration-settings.png
Due: post-master-kyma-docs-website, kyma-docs

v8
  docs/monitoring/08-04-send-notifications.md
  resources/monitoring/charts/alertmanager/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs

improvements v6
  docs/monitoring/08-04-send-notifications.md
Due: post-master-kyma-docs-website, kyma-docs

v.9
  docs/monitoring/08-04-send-notifications.md
Due: post-master-kyma-docs-website, kyma-docs

v2 improvements
  docs/monitoring/08-04-define-notification-channels.md
Due: post-master-kyma-docs-website, kyma-docs

Add the notification channels tutorial
  docs/monitoring/08-04-define-notification-channels.md
  resources/monitoring/charts/alertmanager/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs

v7
  docs/monitoring/08-03-define-alerting-rules.md
  docs/monitoring/08-04-send-notifications.md
Due: post-master-kyma-docs-website, kyma-docs

improvements v5
  docs/monitoring/08-04-send-notifications.md
  docs/monitoring/assets/alert-notifications.png
Due: post-master-kyma-docs-website, kyma-docs

improvements v4
  docs/monitoring/08-04-define-notification-channels.md
Due: post-master-kyma-docs-website, kyma-docs
