Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-components-ui-api-layer:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-docs:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-tests-kubeless-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Fix image name of Application Operator tests (#2241)
  tests/application-operator-tests/Makefile
Due: none

Fix operator tests image
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Bump documentation (#2240)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Create and delete namespace in tests
  tests/api-controller-acceptance-tests/Gopkg.lock
  tests/api-controller-acceptance-tests/Gopkg.toml
  tests/api-controller-acceptance-tests/apicontroller/component_test.go
  tests/api-controller-acceptance-tests/apicontroller/fixture.go
  tests/api-controller-acceptance-tests/apicontroller/integration_test.go
  tests/api-controller-acceptance-tests/apicontroller/main_test.go
Due: none

Bump application-connector-tests and acceptance-tests images (#2227)
  resources/application-connector/values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

bump instances image
  resources/core/charts/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Add cluster name info to the stability checker summary
  tools/stability-checker/README.md
  tools/stability-checker/cmd/stability-checker/main.go
  tools/stability-checker/deploy/chart/stability-checker/templates/deploy.yaml
  tools/stability-checker/deploy/chart/stability-checker/values.yaml
  tools/stability-checker/internal/notifier/notifier.go
  tools/stability-checker/internal/notifier/renderer.go
  tools/stability-checker/internal/notifier/templates.go
  tools/stability-checker/local_helm_install.sh
Due: none

Update tools/stability-checker/README.md
  tools/stability-checker/README.md
Due: none

Bump console core image (#2242)
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Updated base images
  tests/kubeless-integration/Dockerfile
  tests/logging/Dockerfile
  tests/test-logging-monitoring/Dockerfile
Due: kyma-tests-kubeless-integration

Add cluster name info to the stability checker summary (#2235)
  tools/stability-checker/README.md
  tools/stability-checker/cmd/stability-checker/main.go
  tools/stability-checker/deploy/chart/stability-checker/templates/deploy.yaml
  tools/stability-checker/deploy/chart/stability-checker/values.yaml
  tools/stability-checker/internal/notifier/notifier.go
  tools/stability-checker/internal/notifier/renderer.go
  tools/stability-checker/internal/notifier/templates.go
  tools/stability-checker/local_helm_install.sh
Due: none

Use new api-controller tests
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Bump stability-checker version
  tools/stability-checker/deploy/chart/stability-checker/values.yaml
Due: none

Bump Instances image
  resources/core/charts/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Log error while reading kubeconfig
  tests/api-controller-acceptance-tests/apicontroller/main_test.go
Due: none

Update image version for all console components
  resources/core/charts/console/values.yaml
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
  resources/core/charts/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/core/charts/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/core/charts/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Use in-clsuter config if default is missing
  tests/api-controller-acceptance-tests/apicontroller/main_test.go
Due: none

Update grafana and lambda ui documentation (#2200)
  resources/core/charts/kubeless/charts/lambdas-ui/README.md
  resources/monitoring/charts/grafana/README.md
Due: kyma-integration, kyma-gke-integration, console-integration

Updated base images (#2247)
  tests/kubeless-integration/Dockerfile
  tests/logging/Dockerfile
  tests/test-logging-monitoring/Dockerfile
Due: kyma-tests-kubeless-integration

Fix clsuter role
  resources/core/charts/api-controller/templates/tests/test-account-and-role.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Bump stability-checker version (#2249)
  tools/stability-checker/deploy/chart/stability-checker/values.yaml
Due: none

Update image version for all console components (#2252)
  resources/core/charts/console/values.yaml
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
  resources/core/charts/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/core/charts/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/core/charts/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Bump application-broker after ark backups fix
  resources/application-connector/charts/application-broker/templates/cluster-role.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Add finalizers to Applications (#2199)
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/methods.go
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/methods_test.go
  components/application-operator/pkg/controller/reconciler.go
  components/application-operator/pkg/controller/reconciler_test.go
  components/application-operator/pkg/kymahelm/application/mocks/ReleaseManager.go
  components/application-operator/pkg/kymahelm/application/releasemanager.go
  components/application-operator/pkg/kymahelm/application/releasemanager_test.go
  resources/application-connector/charts/application-operator/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator

Update xip installation documentation (#2205)
  docs/kyma/docs/036-inst-xip.io-domain.md
Due: kyma-docs

Disable cache in ui tests (#2228)
  resources/core/templates/tests/test-ui-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Introduce UI API Layer documentation (#2229)
  docs/console/docs/001-overview-console.md
  docs/console/docs/011-details-ui-api-layer.md
  docs/console/docs/022-cr-backendmodule.md
Due: kyma-docs

Adjust labels in console UI (#2207)
  resources/core/charts/console/values.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Bump content-ui image (#2234)
  resources/core/charts/docs/charts/content-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Bump image of Application Operator (#2232)
  installation/scripts/testing.sh
Due: kyma-integration, kyma-gke-integration

Fix console-basic-test (#2239)
  resources/core/templates/tests/test-ui-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
