Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Bump images of react apps
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

fix problems with rebase
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump images of react apps
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/core/charts/docs/charts/content-ui/templates/deployment.yaml
  resources/helm-broker/values.yaml
  resources/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/service-catalog-addons/charts/brokers-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/catalog-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/instances-ui/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix rebase
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/service-catalog-addons/charts/brokers-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix rebase
  resources/service-catalog-addons/charts/brokers-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump apiserer-proxy image (#4816)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix dropdown on instances list, allow labeling namespaces in the console (#4787)
  resources/core/charts/console/values.yaml
  resources/core/values.yaml
  resources/helm-broker/values.yaml
  resources/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Revert Application gateway tests image
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Few more fixes
  resources/knative-serving-crds/charts/knative-serving-crds/Chart.yaml
  resources/knative-serving-crds/charts/knative-serving-crds/templates/pre-upgrade-job.yaml
  resources/knative-serving-crds/requirements.yaml
  resources/knative-serving-crds/templates/tests/test-serving.yaml
  resources/knative-serving-crds/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump monitoring test image (#4815)
  resources/monitoring/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix Helm error
  resources/knative-serving-crds/Chart.yaml
  resources/knative-serving-crds/templates/dummy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

fix service account
  resources/knative-serving-crds/charts/knative-serving-crds/templates/pre-upgrade-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

lets try again
  resources/knative-serving-crds/charts/knative-serving-crds/templates/delete-crd-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fetching API spec with credentials images bump (#4568)
  resources/application-connector/charts/application-registry/README.md
  resources/application-connector/charts/application-registry/templates/deployment.yaml
  resources/application-connector/charts/application-registry/values.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

consistent templating of grafana settings
  resources/monitoring/charts/grafana/templates/grafana-deployment.yaml
  resources/monitoring/charts/grafana/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

adjusting tests
  tests/monitoring/test-monitoring.go
Due: none

update test image
  resources/monitoring/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Grafana attributes (#4785)
  resources/monitoring/charts/grafana/templates/grafana-deployment.yaml
  resources/monitoring/charts/grafana/values.yaml
  resources/monitoring/values.yaml
  tests/monitoring/test-monitoring.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

add a comment explaining String method on ApiSpec structure
  components/api-controller/pkg/apis/gateway.kyma-project.io/v1alpha2/types.go
Due: console-integration

v1
  docs/security/03-05-roles-in-kyma.md
Due: post-master-kyma-docs-website, kyma-docs

Add Licenses to Application Connectivity Certs Setup Job
  components/application-connectivity-certs-setup-job/Dockerfile
  components/application-connectivity-certs-setup-job/Makefile
Due: console-integration

Update docs/security/03-05-roles-in-kyma.md
  docs/security/03-05-roles-in-kyma.md
Due: post-master-kyma-docs-website, kyma-docs

Add Licenses to Application Connectivity Certs Setup Job (#4820)
  components/application-connectivity-certs-setup-job/Dockerfile
  components/application-connectivity-certs-setup-job/Makefile
Due: console-integration

Update "Roles in Kyma" doc (#4819)
  docs/security/03-05-roles-in-kyma.md
Due: post-master-kyma-docs-website, kyma-docs

Add missing change
  tests/integration/cluster-users/sar-test.sh
Due: none

Bump image
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

WIP Add ownerReferences to the service resources
  components/application-registry/internal/metadata/accessservice/accessservicemanager.go
  components/application-registry/internal/metadata/istio/repository.go
  components/application-registry/internal/metadata/secrets/repository.go
  tests/application-registry-tests/test/k8stests/k8sresource_test.go
Due: console-integration

Improve checks, add spec.json to Dockerfile
  resources/application-connector/values.yaml
  tests/application-gateway-tests/test/executor/Dockerfile
  tests/application-gateway-tests/test/executor/proxy/mock/basicauthhandler.go
  tests/application-gateway-tests/test/executor/proxy/mock/headershandler.go
  tests/application-gateway-tests/test/executor/proxy/mock/oauthhandler.go
  tests/application-gateway-tests/test/executor/proxy/mock/queryparamshandler.go
  tests/application-gateway-tests/test/executor/proxy/tests/proxy_test.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Allow authorization and content-type headers in api-controller to fix firefox bug
  resources/core/charts/api-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Oauth fix
  tests/application-gateway-tests/test/executor/proxy/mock/oauthhandler.go
Due: none

Update images: release 1.3.0-rc1
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/compass/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/testing/values.yaml
  resources/velero/values.yaml
  resources/xip-patch/values.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test

WIP Add the appUID to the ownerReferences
  components/application-registry/cmd/applicationregistry/handlers.go
  components/application-registry/internal/metadata/accessservice/accessservicemanager.go
  components/application-registry/internal/metadata/istio/repository.go
  components/application-registry/internal/metadata/istio/service.go
  components/application-registry/internal/metadata/secrets/repository.go
  components/application-registry/internal/metadata/secrets/service.go
  components/application-registry/internal/metadata/serviceapi/serviceapiservice.go
  components/application-registry/internal/metadata/servicedefservice.go
Due: console-integration

Add appUID also to the request parameters secrets
  components/application-registry/internal/metadata/secrets/requestParametersService.go
Due: console-integration

Fix minor bug
  components/application-registry/internal/metadata/servicedefservice.go
Due: console-integration

Update unit tests and minify interface
  components/application-registry/internal/metadata/mocks/ApplicationGetter.go
  components/application-registry/internal/metadata/servicedefservice.go
  components/application-registry/internal/metadata/servicedefservice_test.go
Due: console-integration

Regenerate mocks and update unit tests
  components/application-registry/internal/metadata/accessservice/accessservicemanager_test.go
  components/application-registry/internal/metadata/accessservice/mocks/AccessServiceManager.go
  components/application-registry/internal/metadata/istio/mocks/ChecknothingInterface.go
  components/application-registry/internal/metadata/istio/mocks/DenierInterface.go
  components/application-registry/internal/metadata/istio/mocks/Repository.go
  components/application-registry/internal/metadata/istio/mocks/RuleInterface.go
  components/application-registry/internal/metadata/istio/mocks/Service.go
  components/application-registry/internal/metadata/istio/repository_test.go
  components/application-registry/internal/metadata/istio/service_test.go
  components/application-registry/internal/metadata/secrets/mocks/Repository.go
  components/application-registry/internal/metadata/secrets/mocks/RequestParametersService.go
  components/application-registry/internal/metadata/secrets/mocks/Service.go
  components/application-registry/internal/metadata/secrets/repository_test.go
  components/application-registry/internal/metadata/secrets/requestParametersService_test.go
  components/application-registry/internal/metadata/secrets/service_test.go
Due: console-integration

Regenerate more interfaces
  components/application-registry/internal/metadata/serviceapi/mocks/Service.go
  components/application-registry/internal/metadata/serviceapi/serviceapiservice_test.go
Due: console-integration
