Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-connectivity-certs-controller:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-connectivity-certs-controller:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-components-ui-api-layer:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Tutorial for cert revocation
  docs/application-connector/docs/08-08-renew-client-cert.md
  docs/application-connector/docs/08-09-revoke-cert.md
Due: kyma-docs

initial
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/types.go
  resources/application-connector/templates/application.crd.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Test backup of statefulset and deployment (#2921)
  docs/backup/docs/assets/all-backup.yaml
  docs/backup/docs/assets/system-backup.yaml
  tests/end-to-end/backup-restore-test/Gopkg.lock
  tests/end-to-end/backup-restore-test/backupe2e/deployment.go
  tests/end-to-end/backup-restore-test/backupe2e/function.go
  tests/end-to-end/backup-restore-test/backupe2e/statefulset.go
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/templates/test/test-backup.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
  tests/end-to-end/backup-restore-test/utils/backup.go
Due: kyma-docs

Implement SPDY proxy in apiserver-proxy (#2905)
  components/apiserver-proxy/.gitignore
  components/apiserver-proxy/Gopkg.lock
  components/apiserver-proxy/Gopkg.toml
  components/apiserver-proxy/cmd/proxy/main.go
  components/apiserver-proxy/internal/proxy/proxy.go
  components/apiserver-proxy/internal/proxy/proxy_test.go
  components/apiserver-proxy/internal/spdy/spdy.go
Due: console-integration

temp
  installation/a.txt
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add more logs for monitoring to understand failures in GCP
  tests/monitoring/test-lambda-dashboard-requirements.go
Due: none

readme fix
  resources/application-connector/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Example response changed to json
  docs/application-connector/docs/08-09-revoke-cert.md
Due: kyma-docs

initial
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/types.go
Due: console-integration, kyma-components-application-operator

fix
  tests/apiserver-proxy-tests/fetch-token/internal/idtokenprovider.go
Due: none

Fix conflicts
  tests/end-to-end/backup-restore-test/backupe2e/prometheus.go
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

URLs changed to more generic
  docs/application-connector/docs/08-09-revoke-cert.md
Due: kyma-docs

Fixes based on review comments
  tests/monitoring/test-lambda-dashboard-requirements.go
Due: none

Add verbose to utils
  components/xip-patch/utils.sh
Due: console-integration

Update resources/application-connector/README.md
  resources/application-connector/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add more logs for monitoring to understand failures in GCP (#2995)
  tests/monitoring/test-lambda-dashboard-requirements.go
Due: none

Change image to temporal PR:2957
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
Due: none

fix readme
  resources/application-connector/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update the cluster user tests to check for patterns (#2972)
  tests/cluster-users-test/sar-test.sh
Due: none

fix makefile
  tests/apiserver-proxy-tests/Makefile
Due: none

Fix function
  components/xip-patch/utils.sh
Due: console-integration

Add stderr redirection, fix rbac
  components/xip-patch/utils.sh
  resources/application-connector-helper/templates/rbac.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Small changes
  docs/application-connector/docs/08-09-revoke-cert.md
Due: kyma-docs

Update service name references in docs and helper scripts
  components/application-registry/README.md
  docs/application-connector/docs/08-02-get-client-certificate.md
  docs/application-connector/docs/09-02-metadata-service.md
  docs/kyma/docs/04-04-gke-installation.md
  docs/kyma/docs/04-05-aks-installation.md
  tests/connector-service-tests/scripts/run-local-tests.sh
Due: console-integration, kyma-docs

Add link to kyma repo
  docs/kyma/docs/04-02-local-installation-from-release.md
Due: kyma-docs

Remove logs and afterbackup
  tests/end-to-end/backup-restore-test/backupe2e/prometheus.go
Due: none

fix
  tests/apiserver-proxy-tests/fetch-token/internal/config.go
  tests/apiserver-proxy-tests/fetch-token/internal/idtokenprovider.go
Due: none

Rebase
  components/application-gateway/internal/authorization/util/util.go
Due: console-integration

Bump monitroing image
  resources/monitoring/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

test chart fix
  resources/core/charts/apiserver-proxy/templates/tests/test-apiserver-proxy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add link to kyma repo in installation instruction (#3002)
  docs/kyma/docs/04-02-local-installation-from-release.md
Due: kyma-docs

Fix selector for labels
  components/xip-patch/utils.sh
Due: console-integration

Upgrade to k8s version 1.12
  docs/kyma/docs/04-02-local-installation-from-release.md
  docs/kyma/docs/04-04-gke-installation.md
  installation/scripts/minikube.ps1
  installation/scripts/minikube.sh
  installation/scripts/prow/kyma-integration-on-debian/install-deps-debian.sh
  resources/core/charts/cluster-users/templates/tests/test-cluster-users.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
