Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, pre-kyma-components-application-connectivity-certs-setup-job, post-kyma-components-application-connectivity-certs-setup-job, pre-master-kyma-components-application-gateway, post-master-kyma-components-application-gateway, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-backup, pre-master-kyma-kind-lite, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-connector-service-tests, post-master-kyma-tests-connector-service-tests, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-api-controller, post-master-kyma-tests-integration-api-controller, pre-master-kyma-tests-integration-cluster-users, post-master-kyma-tests-integration-cluster-users, pre-kyma-tests-integration-event-service, post-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-logging, post-master-kyma-tests-integration-logging, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-backup-plugins, post-master-kyma-tools-backup-plugins, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-kyma-components-application-connectivity-certs-setup-job:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
    prow.kyma-project.io/slack.skipReport: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
  ...

post-kyma-components-application-connectivity-certs-setup-job:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
    prow.kyma-project.io/slack.skipReport: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
  ...

pre-master-kyma-components-application-gateway:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-kyma-components-application-gateway:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2.5Gi
          cpu: 2
      env:
      - name: GO111MODULE
        value: 'on'
  ...

Remove logging
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_test.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

json content format changed
  resources/monitoring/templates/grafana/kyma-dashboards/dex.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Bump agent images
  resources/compass-runtime-agent/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Fix imports
  components/compass-runtime-agent/internal/kyma/applications/converter.go
Due: console-integration, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent

Fix unit tests
  components/compass-runtime-agent/internal/compass/director/converter_test.go
  components/compass-runtime-agent/internal/kyma/applications/converter_test.go
Due: console-integration, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent

Fix check imports
  tests/compass-runtime-agent/test/testkit/compass/model.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Change test location to a non-privileged one
  tests/event-bus/e2e-tester/Dockerfile
Due: none

Re-enable api-gateway tests (#6443)
  resources/api-gateway/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Add export file for autogenerated mocks
  components/application-broker/internal/broker/automock/app_finder.go
  components/application-broker/internal/broker/automock/converter.go
  components/application-broker/internal/broker/automock/export.go
  components/application-broker/internal/broker/automock/instance_getter.go
  components/application-broker/internal/broker/automock/instance_state_getter.go
  components/application-broker/internal/broker/automock/instance_storage.go
  components/application-broker/internal/broker/automock/operation_storage.go
  components/application-broker/internal/broker/automock/service_checker_factory.go
  components/application-broker/internal/broker/automock/service_instance_getter.go
Due: console-integration

remove manager container from event-bus test
  resources/event-bus/templates/tests/test.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Initialize apollo only when idToken available
  resources/core/charts/console/values.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Change test location to a non-privileged one (#6446)
  tests/event-bus/e2e-tester/Dockerfile
Due: none

event-bus-tests image bump
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

patch job clean up
  resources/cluster-essentials/templates/prometheus.upgrade.job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Revert "remove manager container from upgrade-e2e-test "prepare-data""
  tests/end-to-end/upgrade/chart/upgrade/templates/pod.yaml
Due: pre-master-kyma-gke-upgrade

Bump Kyma version to release 1.8.0-rc3
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-kind-lite

Initialize apollo only when idToken available (#6447)
  resources/core/charts/console/values.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Modified test binary path to reflect new image contents
  resources/event-bus/templates/tests/test.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Update Core UI version
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Fixing upgrade
  resources/knative-eventing/charts/knative-eventing/templates/pre-upgrade-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Fix applications/runtimes choosers in create scenario modal (#6356)
  resources/compass/charts/cockpit/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Add member to OWNERS files. (#6364)
  CODEOWNERS
  components/application-broker/OWNERS
  components/service-binding-usage-controller/OWNERS
  installation/OWNERS
  resources/application-connector/charts/application-broker/OWNERS
  resources/cluster-essentials/charts/pod-preset/OWNERS
  resources/helm-broker/OWNERS
  resources/service-catalog-addons/OWNERS
  resources/service-catalog/OWNERS
  tests/end-to-end/upgrade/OWNERS
  tests/service-catalog/OWNERS
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-kind-lite

Enable test coverage in generic make
  common/makefiles/docs/generic-make-go.md
  common/makefiles/generic-make-go.mk
Due: pre-kyma-components-application-connectivity-certs-setup-job, post-kyma-components-application-connectivity-certs-setup-job, pre-kyma-tests-integration-event-service, post-kyma-tests-integration-event-service

Apply suggestions from code review
  common/makefiles/docs/generic-make-go.md
Due: pre-kyma-components-application-connectivity-certs-setup-job, post-kyma-components-application-connectivity-certs-setup-job, pre-kyma-tests-integration-event-service, post-kyma-tests-integration-event-service

Enable test coverage in generic makefile (#6449)
  common/makefiles/docs/generic-make-go.md
  common/makefiles/generic-make-go.mk
Due: pre-kyma-components-application-connectivity-certs-setup-job, post-kyma-components-application-connectivity-certs-setup-job, pre-kyma-tests-integration-event-service, post-kyma-tests-integration-event-service

event-bus-tests image bump (#6444)
  resources/event-bus/templates/tests/test.yaml
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Add ids to tenants
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

move main.go to cmd/subscription-controller to simplify makefile
  components/event-bus/cmd/subscription-controller/main.go
Due: console-integration

Fixing publish service metrics
  resources/event-bus/charts/event-publish-service/templates/destination-rule.yaml
  resources/event-bus/charts/event-publish-service/templates/metrics-service.yaml
  resources/event-bus/charts/event-publish-service/templates/policy.yaml
  resources/event-bus/charts/event-publish-service/templates/service-monitor.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Fix subscription-controller metrics
  resources/event-bus/charts/subscription-controller/templates/_helpers.tpl
  resources/event-bus/charts/subscription-controller/templates/deployment.yaml
  resources/event-bus/charts/subscription-controller/templates/metrics-service.yaml
  resources/event-bus/charts/subscription-controller/templates/service-monitor.yaml
  resources/event-bus/charts/subscription-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Bump draft versions
  resources/compass/charts/cockpit/values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Fix a dead link
  docs/service-catalog/15-04-specifications-in-console-ui.md
Due: post-master-kyma-docs-website, kyma-docs

Fix a dead link (#6459)
  docs/service-catalog/15-04-specifications-in-console-ui.md
Due: post-master-kyma-docs-website, kyma-docs

Fix issues mentioned in the cr
  components/compass-runtime-agent/internal/compass/director/converter_test.go
  components/compass-runtime-agent/internal/kyma/applications/converter_test.go
Due: console-integration, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent

Fixing publish service metrics (#6455)
  resources/event-bus/charts/event-publish-service/templates/destination-rule.yaml
  resources/event-bus/charts/event-publish-service/templates/metrics-service.yaml
  resources/event-bus/charts/event-publish-service/templates/policy.yaml
  resources/event-bus/charts/event-publish-service/templates/service-monitor.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  pre-kyma-components-application-connectivity-certs-setup-job: any of: ^components/application-connectivity-certs-setup-job/|^common/makefiles/
  post-kyma-components-application-connectivity-certs-setup-job: any of: ^components/application-connectivity-certs-setup-job/|^common/makefiles/
  pre-master-kyma-components-application-gateway: any of: ^components/application-gateway/
  post-master-kyma-components-application-gateway: any of: ^components/application-gateway/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  post-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-development-artifacts-idk: any of: ^installation|^resources|^components/kyma-operator|^tools/kyma-installer
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gcs-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gcs-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/core/templates/tests\S+|resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-backup: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-kind-lite: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  post-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  post-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  pre-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  post-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  pre-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/|^common/makefiles/
  post-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/|^common/makefiles/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  pre-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  post-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  post-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
