Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Extend the EventBus test utils to allow the test subscriber to handle more endpoints (#5307)
  components/event-bus/test/util/subscriber.go
Due: console-integration

Added bugged tests for Istio and DocsTopics :D
  tests/compass-runtime-agent/Gopkg.lock
  tests/compass-runtime-agent/Gopkg.toml
  tests/compass-runtime-agent/test/runtimeagent/suite.go
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_test.go
  tests/compass-runtime-agent/test/testkit/applications/api.go
  tests/compass-runtime-agent/test/testkit/applications/eventapi.go
  tests/compass-runtime-agent/test/testkit/assertions/k8s_resource_checker.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Add backup alert rules
  docs/monitoring/08-03-define-alerting-rules.md
  resources/monitoring/charts/alert-rules/templates/alert-rules-backup.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump console image
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

created application registry troubleshooting draft
  docs/application-connector/10-03-application-registry-troubleshooting.md
Due: post-master-kyma-docs-website, kyma-docs

Add Istio resources to Role
  resources/compass-runtime-agent/templates/tests/role-binding.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add CDS role
  resources/compass-runtime-agent/templates/tests/cluster-role-binding.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update values.yaml
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

* Description bug fixed * Post-review fixes
  components/compass-runtime-agent/cmd/options.go
  components/compass-runtime-agent/internal/kyma/apiresources/istio/service.go
  components/compass-runtime-agent/internal/kyma/apiresources/service.go
  components/compass-runtime-agent/internal/kyma/applications/converter.go
Due: console-integration

Update application registry troubleshooting; \n Create connector service troubleshooting
  docs/application-connector/10-03-application-registry-troubleshooting.md
  docs/application-connector/10-04-connector-service-troubleshooting.md
Due: post-master-kyma-docs-website, kyma-docs

Webhook uses configmap to get the config
  components/knative-function-controller/pkg/utils/build_utils.go
  components/knative-function-controller/pkg/utils/controller_utils.go
  components/knative-function-controller/pkg/webhook/default_server/function/mutating/function_create_handler.go
  components/knative-function-controller/pkg/webhook/default_server/function/mutating/function_create_handler_test.go
  components/knative-function-controller/pkg/webhook/default_server/server.go
  components/knative-function-controller/pkg/webhook/default_server/webhook_test.go
Due: console-integration, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller

Minor formatting fixes
  docs/application-connector/10-03-application-registry-troubleshooting.md
  docs/application-connector/10-04-connector-service-troubleshooting.md
Due: post-master-kyma-docs-website, kyma-docs

Minor rephrasing
  docs/application-connector/10-04-connector-service-troubleshooting.md
Due: post-master-kyma-docs-website, kyma-docs

Remove a comment line
  docs/application-connector/10-03-application-registry-troubleshooting.md
Due: post-master-kyma-docs-website, kyma-docs

Add backup alert rules (#5310)
  docs/monitoring/08-03-define-alerting-rules.md
  resources/monitoring/charts/alert-rules/templates/alert-rules-backup.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update the EventBus E2E tester and subscriber
  tests/event-bus/Gopkg.lock
  tests/event-bus/Gopkg.toml
Due: none

Update the EventBus E2E tester and subscriber (#5314)
  tests/event-bus/Gopkg.lock
  tests/event-bus/Gopkg.toml
Due: none

Adjusted Certs job, Validator and Gateway
  components/application-connectivity-certs-setup-job/Gopkg.lock
  components/application-connectivity-certs-setup-job/Gopkg.toml
  components/application-connectivity-validator/Gopkg.lock
  components/application-connectivity-validator/Gopkg.toml
  components/application-gateway/Gopkg.lock
  components/application-gateway/Gopkg.toml
  components/application-operator/charts/application/templates/deployment.yaml
  components/application-operator/charts/application/templates/validator.yaml
Due: console-integration, kyma-components-application-operator

Updated Application Operator and charts
  components/application-operator/Dockerfile
  components/application-operator/Gopkg.lock
  components/application-operator/Gopkg.toml
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/zz_generated.deepcopy.go
  components/application-operator/pkg/client/clientset/versioned/clientset.go
  components/application-operator/pkg/client/clientset/versioned/fake/clientset_generated.go
  components/application-operator/pkg/client/clientset/versioned/fake/register.go
  components/application-operator/pkg/client/clientset/versioned/scheme/register.go
  components/application-operator/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/application.go
  components/application-operator/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/applicationconnector_client.go
  components/application-operator/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_application.go
  components/application-operator/pkg/client/informers/externalversions/factory.go
  components/application-operator/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  components/application-operator/pkg/controller/mocks/ApplicationManagerClient.go
  components/application-operator/pkg/controller/reconciler.go
  resources/application-connector/charts/application-registry/templates/deployment.yaml
  resources/application-connector/charts/connection-token-handler/templates/deployment.yaml
  resources/application-connector/charts/connectivity-certs-controller/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/podsecuritypolicy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix
  docs/monitoring/03-01-alertmanager.md
  docs/monitoring/08-03-define-alerting-rules.md
Due: post-master-kyma-docs-website, kyma-docs

Update event-bus-perf-test.js
  tests/perf/components/event-bus/event-bus-perf-test.js
Due: none

Avoid overriding of CLUSTER_DOMAIN_NAME env variable
  tests/perf/prerequisites/event-bus/setup.sh
Due: none

Initialise perf test for event-bus component
  tests/perf/components/event-bus/event-bus-perf-test.js
  tests/perf/prerequisites/event-bus/event-activation.yaml
  tests/perf/prerequisites/event-bus/event-subscriber.yaml
  tests/perf/prerequisites/event-bus/event-subscription.yaml
  tests/perf/prerequisites/event-bus/namespace.yaml
  tests/perf/prerequisites/event-bus/setup.sh
Due: none

Update setup.sh
  tests/perf/prerequisites/event-bus/setup.sh
Due: none

Added tags for testing
  tests/perf/components/event-bus/event-bus-perf-test.js
Due: none

complete setup script for performance tests
  tests/perf/prerequisites/event-bus/event-activation.yaml
  tests/perf/prerequisites/event-bus/event-subscriber.yaml
  tests/perf/prerequisites/event-bus/event-subscription.yaml
  tests/perf/prerequisites/event-bus/setup.sh
Due: none

Performance test script for event-bus
  tests/perf/components/event-bus/event-bus-perf-test.js
  tests/perf/prerequisites/event-bus/event-activation.yaml
  tests/perf/prerequisites/event-bus/event-subscriber.yaml
  tests/perf/prerequisites/event-bus/event-subscription.yaml
  tests/perf/prerequisites/event-bus/namespace.yaml
  tests/perf/prerequisites/event-bus/setup.sh
Due: none

Implement Review Comments
  tests/perf/components/event-bus/event-bus-perf-test.js
  tests/perf/prerequisites/event-bus/setup.sh
Due: none

Fix K6 Trend parameter
  tests/perf/components/event-bus/event-bus-perf-test.js
Due: none

Updated Scenario for performance evaluation
  tests/perf/components/event-bus/event-bus-perf-test.js
  tests/perf/prerequisites/event-bus/event-activation.yaml
  tests/perf/prerequisites/event-bus/event-publisher.yaml
  tests/perf/prerequisites/event-bus/event-subscription.yaml
  tests/perf/prerequisites/event-bus/setup.sh
Due: none

JS Changes to proxy
  tests/perf/components/event-bus/event-bus-perf-test.js
Due: none

Add publisher proxy
  tests/perf/prerequisites/event-bus/event-publisher.yaml
  tests/perf/prerequisites/event-bus/setup.sh
Due: none

Fix (#5316)
  docs/monitoring/03-01-alertmanager.md
  docs/monitoring/08-03-define-alerting-rules.md
Due: post-master-kyma-docs-website, kyma-docs

Performance test for event-bus component (#5249)
  tests/perf/components/event-bus/event-bus-perf-test.js
  tests/perf/prerequisites/event-bus/event-activation.yaml
  tests/perf/prerequisites/event-bus/event-subscriber.yaml
  tests/perf/prerequisites/event-bus/event-subscription.yaml
  tests/perf/prerequisites/event-bus/namespace.yaml
  tests/perf/prerequisites/event-bus/setup.sh
Due: none

Fix more tests
  components/knative-function-controller/pkg/controller/function/function_controller.go
  components/knative-function-controller/pkg/controller/function/function_controller_test.go
  components/knative-function-controller/pkg/utils/controller_utils_test.go
  components/knative-function-controller/pkg/webhook/default_server/webhook_test.go
Due: console-integration, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller

Added content check
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_test.go
  tests/compass-runtime-agent/test/testkit/assertions/k8s_resource_checker.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Add tests enabled value to applicaiton registry
  resources/application-connector/charts/application-registry/templates/tests/test.yaml
  resources/application-connector/charts/application-registry/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
