Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Update dependencies
  tests/acceptance/Gopkg.lock
  tests/acceptance/Gopkg.toml
Due: none

fmt
  tests/acceptance/dex/dex_test.go
Due: none

Token fetching
  tests/end-to-end/external-solution-integration/testkit/connector.go
  tests/end-to-end/external-solution-integration/testkit/model.go
  tests/end-to-end/external-solution-integration/testkit/utils/certificates.go
Due: none

Add tests for microfrontends upgradebility (#3668)
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/ui/cluster-microfrontend.go
  tests/end-to-end/upgrade/pkg/tests/ui/microfrontend.go
Due: none

Change logger
  tests/end-to-end/upgrade/pkg/tests/event-bus/event_bus.go
Due: none

Fix
  tests/end-to-end/upgrade/pkg/tests/event-bus/event_bus.go
Due: none

Add RBAC roles
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
Due: none

Add upgrade tests for event bus
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/event-bus/event_bus.go
Due: none

Update values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: none

Improvements
  tests/end-to-end/upgrade/pkg/tests/event-bus/event_bus.go
Due: none

fix
  tests/end-to-end/upgrade/Gopkg.lock
Due: none

Bump upgrade tests image
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: none

Revert acceptance tests image
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update istio-kyma-patch to require that policy checks are enabled (#3301)
  components/istio-kyma-patch/patch.sh
Due: console-integration

Update values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix potential chart bug
  components/application-operator/charts/application/templates/ingress.yaml
  components/application-operator/pkg/kymahelm/application/releasemanager.go
  components/application-operator/pkg/kymahelm/application/releasemanager_test.go
Due: console-integration, kyma-components-application-operator

Update installation/resources/installer.yaml
  installation/resources/installer.yaml
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update HB bundles to 0.4.0
  resources/helm-broker/templates/cfg-repos-url.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Change docs due to review
  docs/application-connector/docs/03-07-api-registration.md
  docs/application-connector/docs/08-03-register-manage-services.md
Due: kyma-docs

mTLS for helm broker restored - fix for main mTLS enablement in the Kyma
  resources/helm-broker/templates/destination-rule.yaml
  resources/helm-broker/templates/policy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

mTLS for helm broker restored - fix for main mTLS enablement in the Kyma (#3750)
  resources/helm-broker/templates/destination-rule.yaml
  resources/helm-broker/templates/policy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update dex env variables
  resources/core/templates/tests/test-core-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update dex_test.go
  tests/acceptance/dex/dex_test.go
Due: none

WIP
  components/connector-service/cmd/connectorservice/handlers.go
  components/connector-service/internal/certificates/service.go
  components/connector-service/internal/clientcontext/certificatecontext.go
  components/connector-service/internal/clientcontext/extractor.go
  components/connector-service/internal/clientcontext/model.go
  components/connector-service/internal/externalapi/csrinfohandler.go
  components/connector-service/internal/externalapi/csrinfohandler_test.go
  components/connector-service/internal/externalapi/externalapi.go
  components/connector-service/internal/externalapi/managementinfohandler.go
  components/connector-service/internal/externalapi/managementinfohandler_test.go
Due: console-integration

Use tenant as Organization and group as OrganizationalUnit
  components/connector-service/cmd/connectorservice/handlers.go
  components/connector-service/internal/certificates/mocks/Service.go
  components/connector-service/internal/certificates/model.go
  components/connector-service/internal/certificates/service.go
  components/connector-service/internal/certificates/service_test.go
  components/connector-service/internal/clientcontext/application.go
  components/connector-service/internal/clientcontext/application_test.go
  components/connector-service/internal/clientcontext/certificatecontext.go
  components/connector-service/internal/clientcontext/cluster.go
  components/connector-service/internal/clientcontext/cluster_test.go
  components/connector-service/internal/clientcontext/extractor.go
  components/connector-service/internal/clientcontext/extractor_test.go
  components/connector-service/internal/clientcontext/model.go
  components/connector-service/internal/externalapi/csrinfohandler.go
  components/connector-service/internal/externalapi/csrinfohandler_test.go
  components/connector-service/internal/externalapi/managementinfohandler.go
  components/connector-service/internal/externalapi/managementinfohandler_test.go
  components/connector-service/internal/externalapi/signaturehandler.go
  components/connector-service/internal/externalapi/signaturehandler_test.go
  components/connector-service/internal/internalapi/tokenhandler_test.go
Due: console-integration

Use tenant as Organization and group as OrganizationalUnit
  components/connector-service/internal/clientcontext/certificatecontext.go
  components/connector-service/internal/clientcontext/extractor.go
  components/connector-service/internal/clientcontext/extractor_test.go
  components/connector-service/internal/clientcontext/model.go
  components/connector-service/internal/externalapi/csrinfohandler.go
  components/connector-service/internal/externalapi/csrinfohandler_test.go
  components/connector-service/internal/externalapi/managementinfohandler.go
  components/connector-service/internal/externalapi/managementinfohandler_test.go
  components/connector-service/internal/externalapi/signaturehandler_test.go
  components/connector-service/internal/internalapi/tokenhandler.go
  components/connector-service/internal/internalapi/tokenhandler_test.go
Due: console-integration

Removed formatting from heading
  docs/application-connector/docs/08-02-get-client-certificate.md
Due: kyma-docs

Adjust context from subject middleware
  components/connector-service/cmd/connectorservice/handlers.go
  components/connector-service/internal/certificates/model.go
  components/connector-service/internal/certificates/service.go
  components/connector-service/internal/certificates/service_test.go
  components/connector-service/internal/clientcontext/extractor.go
  components/connector-service/internal/clientcontext/middlewares/contextfromsubject.go
  components/connector-service/internal/clientcontext/middlewares/contextfromsubject_test.go
  components/connector-service/internal/externalapi/csrinfohandler_test.go
Due: console-integration

Revert acceptance tests image (#3749)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Shorten delays and timeouts
  tests/end-to-end/backup-restore-test/backupe2e/apicontroller.go
Due: none

Apiserver-proxy test fix
  tests/apiserver-proxy-tests/test.sh
Due: none

Update
  tests/end-to-end/upgrade/Gopkg.lock
Due: none

Apiserver-proxy test fix (#3755)
  tests/apiserver-proxy-tests/test.sh
Due: none

fetch selfsubjectrules via gql
  components/console-backend-service/Gopkg.lock
  components/console-backend-service/internal/authn/middleware.go
  components/console-backend-service/internal/domain/k8s/k8s.go
  components/console-backend-service/internal/domain/k8s/pretty/kind.go
  components/console-backend-service/internal/domain/k8s/resource_service.go
  components/console-backend-service/internal/domain/k8s/selfsubjectrules_converter.go
  components/console-backend-service/internal/domain/k8s/selfsubjectrules_resolver.go
  components/console-backend-service/internal/domain/k8s/selfsubjectrules_service.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

Bump image of Connector Service and Application Operator
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
