Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration, kyma-tests-kubeless, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-components-ui-api-layer:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/kyma-integration:
  optional: true
  labels:
    preset-sa-vm-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-and-start-kyma.sh

prow/kyma/kyma-gke-integration:
  optional: true
  labels:
    preset-sa-gke-kyma-integration: 'true'
    preset-gc-compute-envs: 'true'
    preset-gc-project-env: 'true'
    preset-build-pr: 'true'
    preset-docker-push-repository: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

kyma-tests-kubeless:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Update components/xip-patch/README.md
  components/xip-patch/README.md
Due: console-integration

fix
  components/xip-patch/xip-patch.sh
Due: console-integration

Parametrise image in job
  resources/xip-patch/templates/job.yaml
  resources/xip-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Use official serving test iamge
  resources/knative/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update codeowners (#1971)
  CODEOWNERS
Due: none

Update README.md
  components/xip-patch/README.md
Due: console-integration

Add xip patch component (#2055)
  components/xip-patch/.dockerignore
  components/xip-patch/Dockerfile
  components/xip-patch/Jenkinsfile
  components/xip-patch/Makefile
  components/xip-patch/README.md
  components/xip-patch/xip-patch.sh
  orchestrator.Jenkinsfile
  release.Jenkinsfile
Due: console-integration

update versions for ci build
  installation/cmd/ci.build.ps1
  installation/cmd/ci.build.sh
  prow/kyma-integration-on-debian/install-deps-debian.sh
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add ca-cert to connector-service-tests image
  tests/connector-service-tests/Dockerfile
Due: none

move information about timeout below the logs from installer
  installation/scripts/is-installed.sh
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

fix sreenshot after renaming environments and remote environments
  docs/console/docs/assets/cmf-admin-section.png
Due: none

set correct version of component
  resources/xip-patch/templates/job.yaml
  resources/xip-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add ca-cert pkg to connector-service-tests image (#2111)
  tests/connector-service-tests/Dockerfile
Due: none

Make Kyma use knative-ingressgateway in 'knative' mode (#1845)
  installation/cmd/run.sh
  installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  installation/resources/installer-cr-cluster-knative.yaml.tpl
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr-knative.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  installation/scripts/installer.sh
  installation/scripts/testing.sh
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
  resources/core/charts/gateway/templates/gateway.yaml
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
  resources/core/templates/tests/test-core-acceptance.yaml
  resources/core/values.yaml
  resources/istio-kyma-patch/templates/clusterrole.yaml
  resources/istio-kyma-patch/templates/configmap.yaml
  resources/istio-kyma-patch/templates/job.yaml
  resources/knative/README.md
  resources/knative/charts/knative/Chart.yaml
  resources/knative/charts/knative/templates/eventing.yaml
  resources/knative/charts/knative/templates/serving.yaml
  resources/knative/requirements.yaml
  resources/knative/templates/dummy.yaml
  resources/knative/templates/tests/test-service.yaml
  resources/knative/templates/tests/test-serving.yaml
  resources/knative/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Adjust BUC resources domain to kyma-project.io
  components/binding-usage-controller/internal/controller/controller.go
  components/binding-usage-controller/internal/controller/controller_test.go
  components/binding-usage-controller/internal/controller/generic_sbu_tracer.go
  components/binding-usage-controller/internal/controller/generic_sbu_tracer_export_test.go
  components/binding-usage-controller/internal/controller/generic_supervisor_test.go
  components/binding-usage-controller/internal/controller/usagekind/protection_controller.go
  components/binding-usage-controller/internal/controller/usagekind/protection_controller_export_test.go
  components/binding-usage-controller/pkg/apis/servicecatalog/v1alpha1/doc.go
  components/binding-usage-controller/pkg/apis/servicecatalog/v1alpha1/register.go
  components/binding-usage-controller/pkg/client/clientset/versioned/typed/servicecatalog/v1alpha1/fake/fake_servicebindingusage.go
  components/binding-usage-controller/pkg/client/clientset/versioned/typed/servicecatalog/v1alpha1/fake/fake_usagekind.go
  components/binding-usage-controller/pkg/client/clientset/versioned/typed/servicecatalog/v1alpha1/servicecatalog_client.go
  components/binding-usage-controller/pkg/client/informers/externalversions/generic.go
Due: console-integration, prow/kyma/components/binding-usage-controller

Bump version of connector-service-tests image
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Adjust BUC resources domain to kyma-project.io (#2071)
  components/binding-usage-controller/internal/controller/controller.go
  components/binding-usage-controller/internal/controller/controller_test.go
  components/binding-usage-controller/internal/controller/generic_sbu_tracer.go
  components/binding-usage-controller/internal/controller/generic_sbu_tracer_export_test.go
  components/binding-usage-controller/internal/controller/generic_supervisor_test.go
  components/binding-usage-controller/internal/controller/usagekind/protection_controller.go
  components/binding-usage-controller/internal/controller/usagekind/protection_controller_export_test.go
  components/binding-usage-controller/pkg/apis/servicecatalog/v1alpha1/doc.go
  components/binding-usage-controller/pkg/apis/servicecatalog/v1alpha1/register.go
  components/binding-usage-controller/pkg/client/clientset/versioned/typed/servicecatalog/v1alpha1/fake/fake_servicebindingusage.go
  components/binding-usage-controller/pkg/client/clientset/versioned/typed/servicecatalog/v1alpha1/fake/fake_usagekind.go
  components/binding-usage-controller/pkg/client/clientset/versioned/typed/servicecatalog/v1alpha1/servicecatalog_client.go
  components/binding-usage-controller/pkg/client/informers/externalversions/generic.go
Due: console-integration, prow/kyma/components/binding-usage-controller

Bump version of connector-service-tests image (#2115)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add xip patch chart (#2056)
  CODEOWNERS
  installation/resources/installer-cr-cluster-xip-io.yaml.tpl
  resources/xip-patch/Chart.yaml
  resources/xip-patch/README.md
  resources/xip-patch/templates/job.yaml
  resources/xip-patch/templates/rolebindings.yaml
  resources/xip-patch/templates/roles.yaml
  resources/xip-patch/templates/serviceaccount.yaml
  resources/xip-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Rename environments to namespaces (#2074)
  docs/console/docs/001-overview-console.md
  docs/console/docs/010-details-uiextensibility.md
  docs/console/docs/021-cr-microfrontend.md
  docs/console/docs/022-cr-clustermicrofrontend.md
  docs/console/docs/assets/cmf-admin-section.png
  docs/console/docs/assets/cmf-environment.yaml
  resources/core/charts/console/templates/clustermicrofrontend.crd.yaml
  resources/core/charts/console/values.yaml
  resources/core/charts/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/core/charts/service-catalog-addons/charts/instances-ui/Chart.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Move docs pipeline to kyma/docs
  docs/.ci/generate-docs.sh
  docs/.ci/git-config.sh
  docs/Makefile
Due: none

Rename BUC CRs domain in ui-api, acceptance and docs
  components/binding-usage-controller/docs/architecture.md
  components/binding-usage-controller/docs/example.md
  components/binding-usage-controller/docs/proposals/usage-kind.md
  components/ui-api-layer/Gopkg.lock
  components/ui-api-layer/Gopkg.toml
  components/ui-api-layer/internal/domain/servicecatalog/servicebindingusage_converter_test.go
  components/ui-api-layer/internal/domain/servicecatalog/servicebindingusage_resolver_test.go
  docs/application-connector/docs/043-gs-call-registered-service-from-kyma.md
  docs/service-catalog/docs/040-cr-service-binding-usage.md
  docs/service-catalog/docs/041-cr-usage-kind.md
  tests/acceptance/Gopkg.lock
  tests/acceptance/Gopkg.toml
  tests/acceptance/application/suite/binding_usage.go
  tests/acceptance/servicecatalog/binding_usage_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Rename BUC CRs domain in ui-api, acceptance and docs (#2104)
  components/binding-usage-controller/docs/architecture.md
  components/binding-usage-controller/docs/example.md
  components/binding-usage-controller/docs/proposals/usage-kind.md
  components/ui-api-layer/Gopkg.lock
  components/ui-api-layer/Gopkg.toml
  components/ui-api-layer/internal/domain/servicecatalog/servicebindingusage_converter_test.go
  components/ui-api-layer/internal/domain/servicecatalog/servicebindingusage_resolver_test.go
  docs/application-connector/docs/043-gs-call-registered-service-from-kyma.md
  docs/service-catalog/docs/040-cr-service-binding-usage.md
  docs/service-catalog/docs/041-cr-usage-kind.md
  tests/acceptance/Gopkg.lock
  tests/acceptance/Gopkg.toml
  tests/acceptance/application/suite/binding_usage.go
  tests/acceptance/servicecatalog/binding_usage_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Bump version of Application Broker
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Bump BUC client version in ui-api-acceptance
  tests/ui-api-layer-acceptance-tests/Gopkg.lock
  tests/ui-api-layer-acceptance-tests/Gopkg.toml
Due: none

Bump version of Application Broker (#2119)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Bump BUC client version in ui-api-acceptance (#2120)
  tests/ui-api-layer-acceptance-tests/Gopkg.lock
  tests/ui-api-layer-acceptance-tests/Gopkg.toml
Due: none

Update ci.Dockerfile
  ci.Dockerfile
Due: none

Update milv.config.yaml and governance.Jenkinsfile (update milv to 0.0.7-alpha version)
  governance.Jenkinsfile
  milv.config.yaml
Due: none

Change links in kyma/docs.
  docs/kyma/docs/006-overview-how-to-start.md
Due: none

Update links
  docs/api-gateway/docs/005-architecture-api-gateway.md
  docs/application-connector/docs/004-architecture-application-connector.md
  docs/application-connector/docs/011-architecture-connector-service.md
  docs/application-connector/docs/012-api-connector-service.md
  docs/application-connector/docs/016-api-event-service.md
  docs/application-connector/docs/018-architecture-proxy-service.md
  docs/console/docs/010-details-uiextensibility.md
  docs/event-bus/docs/011-details-event-flow-requirements.md
  docs/event-bus/docs/013-details-service-programming-model.md
  docs/event-bus/docs/020-architecture-event-bus.md
  docs/event-bus/docs/040-details-troubleshooting.md
  docs/monitoring/docs/030-gs-monitoring-custom-metrics.md
  docs/serverless/docs/001-overview-serverless.md
  docs/serverless/docs/030-architecture-serverless.md
  docs/service-brokers/docs/003-overview-gcp-broker.md
  docs/service-brokers/docs/012-configuration-helm-broker-bundles.md
  docs/service-brokers/docs/013-configuration-helm-broker-bundles-binding.md
  docs/service-brokers/docs/020-architecture-ab.md
  docs/service-brokers/docs/021-architecture-helm-broker.md
  docs/service-brokers/helm-broker-service-classes/gcp-broker-provider/docs/plans-details.md
  docs/service-catalog/docs/012-details-provisioning-and-binding.md
  docs/service-catalog/docs/020-architecture-service-catalog.md
  docs/tracing/docs/012-details-trace-comparison.md
  docs/tracing/docs/013-details-distributed-tracing.md
  docs/tracing/docs/020-architecture-tracing.md
Due: none

Use pr namespace-controller images
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Set ingressgateway to NodePort
  installation/resources/installer-config-cluster.yaml.tpl
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-cluster.yaml.tpl
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  prow/kyma/kyma-integration: any of: ^(resources|installation)
  prow/kyma/kyma-gke-integration: any of: ^(resources|installation)
  kyma-tests-kubeless: any of: ^tests/kubeless/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
