Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Wait for testbundle cleanup
  tests/console-backend-service/internal/configurer/broker.go
  tests/console-backend-service/internal/configurer/testbundle.go
  tests/console-backend-service/internal/domain/shared/wait/serviceinstance.go
  tests/console-backend-service/tester.go
Due: none

Increase timeout for Asset store test
  resources/assetstore/templates/tests/test-integration.yaml
  tests/asset-store/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix knative-serving test (#3657)
  CODEOWNERS
  tests/knative-serving-acceptance/Gopkg.lock
  tests/knative-serving-acceptance/Gopkg.toml
  tests/knative-serving-acceptance/Makefile
  tests/knative-serving-acceptance/knative_serving_test.go
  tests/knative-serving/Dockerfile
  tests/knative-serving/Gopkg.lock
  tests/knative-serving/Gopkg.toml
  tests/knative-serving/Makefile
  tests/knative-serving/README.md
  tests/knative-serving/before-commit.sh
  tests/knative-serving/knative_serving_test.go
Due: none

Fix upgrade test
  resources/kubeless/templates/pre-upgrade-remove-crd.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Refactor kubeless into a module
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  installation/scripts/testing.sh
  resources/kubeless/Chart.yaml
  resources/kubeless/README.md
  resources/kubeless/charts/lambdas-ui/.helmignore
  resources/kubeless/charts/lambdas-ui/Chart.yaml
  resources/kubeless/charts/lambdas-ui/README.md
  resources/kubeless/charts/lambdas-ui/templates/_helpers.tpl
  resources/kubeless/charts/lambdas-ui/templates/configmap.yaml
  resources/kubeless/charts/lambdas-ui/templates/deployment.yaml
  resources/kubeless/charts/lambdas-ui/templates/lambdas-microfrontend.yaml
  resources/kubeless/charts/lambdas-ui/templates/service.yaml
  resources/kubeless/charts/lambdas-ui/templates/virtualservice.yaml
  resources/kubeless/charts/lambdas-ui/values.yaml
  resources/kubeless/templates/_helpers.tpl
  resources/kubeless/templates/backendmodule.yaml
  resources/kubeless/templates/kubeless-clusterroles.yaml
  resources/kubeless/templates/kubeless-configmap.yaml
  resources/kubeless/templates/kubeless-controller-deployment.yaml
  resources/kubeless/templates/kubeless-crd.yaml
  resources/kubeless/templates/kubeless-serviceaccount.yaml
  resources/kubeless/templates/tests/k8s.yaml
  resources/kubeless/templates/tests/svcbind-lambda.yaml
  resources/kubeless/templates/tests/test-kubeless-configmap.yaml
  resources/kubeless/templates/tests/test-kubeless.yaml
  resources/kubeless/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Testing upgrade test
  resources/cluster-essentials/templates/pre-upgrade-remove-crd.yaml
  resources/core/values.yaml
  resources/kubeless/templates/backendmodule.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix names for lambda-ui
  resources/kubeless/charts/lambdas-ui/templates/configmap.yaml
  resources/kubeless/charts/lambdas-ui/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix upgrade test
  resources/cluster-essentials/templates/pre-upgrade-remove-crd.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fixed testing.sh
  installation/scripts/testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix a comment
  installation/scripts/testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Rebased with master
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix a line
  installation/scripts/testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix upgrade test
  resources/cluster-essentials/templates/kubeless-crd.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Some fixes
  CODEOWNERS
  resources/core/requirements.yaml
  resources/core/values.yaml
  resources/kubeless/charts/lambdas-ui/values.yaml
  resources/kubeless/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Changing sequence of installation of charts
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix upgrade test
  resources/cluster-essentials/templates/pre-upgrade-remove.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix name for lambda-ui
  resources/kubeless/charts/lambdas-ui/templates/configmap.yaml
  resources/kubeless/charts/lambdas-ui/templates/deployment.yaml
  resources/kubeless/charts/lambdas-ui/templates/service.yaml
  resources/kubeless/charts/lambdas-ui/templates/virtualservice.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Further refactored kyma-kubeless-roles
  resources/kubeless/templates/clusterroles-kubeless-io.yaml
  resources/kubeless/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix upgrade test
  resources/kubeless/templates/pre-upgrade-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix upgrade test
  resources/cluster-essentials/templates/kubeless-crd.yaml
  resources/cluster-essentials/templates/pre-upgrade-remove.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Set application-operator version
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump application-operator
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix upgrade test- different approach
  resources/cluster-essentials/templates/pre-upgrade-remove.yaml
  resources/kubeless/templates/kubeless-crd.yaml
  resources/kubeless/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix container lookup in app-operator tests
  tests/application-operator-tests/test/application/suite.go
Due: none

Fix cms
  resources/cluster-essentials/templates/pre-upgrade-remove.yaml
  resources/kubeless/templates/kubeless-crd.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump tests image
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump application-operator (#3689)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump image of Application Gateway Tests (#3692)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add documentation regarding specification URL and OData
  docs/application-connector/docs/03-07-api-registration.md
  docs/application-connector/docs/08-03-register-manage-services.md
Due: kyma-docs

Cleanup
  docs/application-connector/docs/03-07-api-registration.md
  docs/application-connector/docs/08-03-register-manage-services.md
Due: kyma-docs

add destination rule to service-catalog-etcd-stateful-client
  resources/service-catalog/charts/etcd-stateful/templates/06-destination-rule.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fix assetstore tests
  resources/assetstore/charts/asset-upload-service/templates/disable-mtls.yaml
  resources/assetstore/charts/minio/templates/disable-mtls.yaml
  resources/assetstore/templates/tests/test-integration.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

add destination rules to service-catalog UIs
  resources/service-catalog-addons/charts/brokers-ui/templates/destination-rule.yaml
  resources/service-catalog-addons/charts/catalog-ui/templates/destination-rule.yaml
  resources/service-catalog-addons/charts/instances-ui/templates/destination-rule.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Kubeless test fix
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix api-controller tests
  resources/core/charts/api-controller/templates/deployment.yaml
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Configure mTLS for console
  resources/core/charts/apiserver-proxy/templates/disable-mtls.yaml
  resources/core/charts/console-backend-service/templates/disable-mtls.yaml
  resources/core/charts/console/templates/disable-mtls.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

enable configurations-generator service on cluster
  resources/core/charts/configurations-generator/templates/service.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector
