Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, pre-kyma-components-application-connectivity-certs-setup-job, post-kyma-components-application-connectivity-certs-setup-job, pre-master-kyma-components-application-gateway, post-master-kyma-components-application-gateway, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-backup, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-connector-service-tests, post-master-kyma-tests-connector-service-tests, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-api-controller, post-master-kyma-tests-integration-api-controller, pre-master-kyma-tests-integration-cluster-users, post-master-kyma-tests-integration-cluster-users, pre-kyma-tests-integration-event-service, post-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-logging, post-master-kyma-tests-integration-logging, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-backup-plugins, post-master-kyma-tools-backup-plugins, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-kyma-components-application-connectivity-certs-setup-job:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
    prow.kyma-project.io/slack.skipReport: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
  ...

post-kyma-components-application-connectivity-certs-setup-job:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository-kyma: 'true'
    prow.kyma-project.io/slack.skipReport: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/bootstrap:v20181204-a6e79be
      securityContext:
  ...

pre-master-kyma-components-application-gateway:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

post-master-kyma-components-application-gateway:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 1.5Gi
          cpu: 0.8
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2.5Gi
          cpu: 2
      env:
      - name: GO111MODULE
        value: 'on'
  ...

Update Readme with new env var
  tests/console-backend-service/README.md
Due: none

Fix azure sample backup secret
  docs/backup/04-01-install-velero.md
Due: post-master-kyma-docs-website, kyma-docs

Fix azure sample backup secret (#6662)
  docs/backup/04-01-install-velero.md
Due: post-master-kyma-docs-website, kyma-docs

Review changes
  docs/kyma/04-04-cluster-installation.md
Due: post-master-kyma-docs-website, kyma-docs

Update verb for clusterAssetGroups guery
  components/console-backend-service/internal/gqlschema/schema.graphql
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Update docs in cbs and change envs
  components/console-backend-service/README.md
  components/console-backend-service/docs/configuration.md
  components/console-backend-service/internal/domain/rafter/rafter.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Revert last changes
  components/console-backend-service/README.md
  components/console-backend-service/docs/configuration.md
  components/console-backend-service/internal/domain/rafter/rafter.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Update path to rafter-minio address
  components/console-backend-service/README.md
  components/console-backend-service/docs/configuration.md
  components/console-backend-service/internal/domain/rafter/rafter.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Remove deprecated metadata field in asset and clusterasset type
  components/console-backend-service/internal/domain/rafter/asset_converter.go
  components/console-backend-service/internal/domain/rafter/asset_converter_test.go
  components/console-backend-service/internal/domain/rafter/clusterasset_converter.go
  components/console-backend-service/internal/domain/rafter/clusterasset_converter_test.go
  components/console-backend-service/internal/gqlschema/asset.go
  components/console-backend-service/internal/gqlschema/clusterasset.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Update deps and Readme
  components/console-backend-service/Gopkg.lock
  components/console-backend-service/README.md
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Fix
  tests/integration/monitoring/test-lambda-dashboard-requirements.go
  tests/integration/monitoring/test-monitoring.go
Due: none

Fix
  tests/integration/monitoring/Gopkg.lock
Due: none

fix formatting
  docs/kyma/04-04-cluster-installation.md
Due: post-master-kyma-docs-website, kyma-docs

Test Oathkeeper maester image
  resources/ory/charts/oathkeeper/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Bump application-broker image
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Disable istio injection in tests
  resources/monitoring/templates/tests/test.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

new retention defaults for monitoring setup
  resources/monitoring/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Fix
  tests/integration/monitoring/test-monitoring.go
Due: none

Improve
  tests/integration/monitoring/test-monitoring.go
Due: none

new retention defaults for monitoring setup (#6666)
  resources/monitoring/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Update monitoring integration and backup tests (#6653)
  resources/monitoring/templates/tests/test.yaml
  resources/monitoring/values.yaml
  tests/end-to-end/backup-restore-test/backupe2e/grafana.go
  tests/end-to-end/backup-restore-test/backupe2e/prometheus.go
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
  tests/integration/monitoring/Gopkg.lock
  tests/integration/monitoring/test-lambda-dashboard-requirements.go
  tests/integration/monitoring/test-monitoring.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-backup, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Bump monitoring test images
  resources/monitoring/values.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-backup, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Bump console-ui image
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Downgrade oathkeeper-maester to stable version
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Bump monitoring test images (#6668)
  resources/monitoring/values.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-backup, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Fix backup deployment
  resources/backup/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-backup, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Setup Oathkeeper for Compass integration (#6637)
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/deployment.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/values.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Enable event-sources component
  installation/resources/installer-cr-cluster-runtime.yaml.tpl
  installation/resources/installer-cr-cluster-with-compass.yaml.tpl
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Remove duplicate Knative configs
  resources/event-bus/charts/subscription-controller/templates/config-logging.yaml
  resources/event-sources/templates/400-config-logging.yaml
  resources/event-sources/templates/400-config-observability.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Remove HTTPSource feature flag
  components/application-operator/charts/application/templates/httpsource.yaml
  components/application-operator/charts/application/values.yaml
Due: console-integration, kyma-components-application-operator

Polishing
  components/uaa-activator/Gopkg.lock
  components/uaa-activator/internal/dex/configurator.go
  components/uaa-activator/internal/repeat/durations.go
  components/uaa-activator/internal/repeat/until_success.go
  components/uaa-activator/internal/scheduler/scheduler.go
  components/uaa-activator/internal/uaa/creator.go
  components/uaa-activator/internal/uaa/waiter.go
  components/uaa-activator/main.go
  resources/service-manager-proxy/Chart.yaml
  resources/service-manager-proxy/values.yaml
  resources/uaa-activator/templates/job.yaml
  resources/uaa-activator/templates/rbac.yaml
  resources/uaa-activator/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Review suggestion applied
  docs/README.md
Due: post-master-kyma-docs-website, kyma-docs

Fix backup deployment (#6673)
  resources/backup/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-backup, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Enable event-sources component (#6624)
  components/application-operator/charts/application/templates/httpsource.yaml
  components/application-operator/charts/application/values.yaml
  installation/resources/installer-cr-cluster-runtime.yaml.tpl
  installation/resources/installer-cr-cluster-with-compass.yaml.tpl
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/event-bus/charts/subscription-controller/templates/config-logging.yaml
  resources/event-sources/templates/400-config-logging.yaml
  resources/event-sources/templates/400-config-observability.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

RBAC changes
  resources/application-connector/charts/application-broker/templates/cluster-role.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Bump images
  resources/helm-broker/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/end-to-end/upgrade/pkg/tests/service-catalog/helm_broker_conflict.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Bump director images (#6626)
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Migrate compass-runtime tests
  tests/compass-runtime-agent/Gopkg.lock
  tests/compass-runtime-agent/Gopkg.toml
  tests/compass-runtime-agent/test/runtimeagent/suite.go
  tests/compass-runtime-agent/test/testkit/assertions/k8s_resource_checker.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Update draft version
  resources/core/charts/console/values.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  pre-kyma-components-application-connectivity-certs-setup-job: any of: ^components/application-connectivity-certs-setup-job/|^common/makefiles/
  post-kyma-components-application-connectivity-certs-setup-job: any of: ^components/application-connectivity-certs-setup-job/|^common/makefiles/
  pre-master-kyma-components-application-gateway: any of: ^components/application-gateway/
  post-master-kyma-components-application-gateway: any of: ^components/application-gateway/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  post-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: (any of: ^(resources/compass|resources/compass-runtime-agent|installation)/) or (any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$)))
  pre-master-kyma-development-artifacts-idk: any of: ^installation|^resources|^components/kyma-operator|^tools/kyma-installer
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gcs-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gcs-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/core/templates/tests\S+|resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-backup: (any of: ^((resources/backup\S+|tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))) or (any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$)))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-kind-lite: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  post-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  post-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  pre-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  post-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  pre-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/|^common/makefiles/
  post-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/|^common/makefiles/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  pre-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  post-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  post-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
