Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration, kyma-tests-kubeless, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  prow/kyma/kyma-integration: any of: ^(resources|installation)
  prow/kyma/kyma-gke-integration: any of: ^(resources|installation)
  kyma-tests-kubeless: any of: ^tests/kubeless/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

extend Installer logging - add helm list on retries(#2059)
  components/installer/pkg/kymahelm/kyma-helm-client.go
  components/installer/pkg/kymainstallation/stepsfactory.go
Due: console-integration

Update console and test image versions (#2067)
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/console/values.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update tools/load-test/README.md
  tools/load-test/README.md
Due: none

Image renamed
  tests/gateway-tests/Jenkinsfile
Due: none

Rename dirs with metadata-service to application-registry
  docs/application-connector/docs/004-architecture-application-connector.md
  docs/application-connector/docs/008-details-ac-security.md
  docs/application-connector/docs/013-details-consume-services.md
  docs/application-connector/docs/014-details-metadata-service.md
  docs/application-connector/docs/015-api-metadata-service.md
  docs/application-connector/docs/018-architecture-proxy-service.md
  docs/application-connector/docs/034-gs-get-client-certificate.md
  docs/application-connector/docs/037-gs-register-secured-api.md
  docs/application-connector/docs/044-cr-environment.md
  docs/application-connector/docs/assets/001-application-connector.svg
  docs/application-connector/docs/assets/003-architecture-proxy-service.svg
  docs/application-connector/docs/assets/metadataapi.yaml
  resources/application-connector/README.md
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/charts/application-registry/Chart.yaml
  resources/application-connector/charts/application-registry/README.md
  resources/application-connector/charts/application-registry/templates/_helpers.tpl
  resources/application-connector/charts/application-registry/templates/deployment.yaml
  resources/application-connector/charts/application-registry/templates/remote-environments-minio-secret.yaml
  resources/application-connector/charts/application-registry/templates/role-binding.yaml
  resources/application-connector/charts/application-registry/templates/service.yaml
  resources/application-connector/charts/application-registry/templates/servicemonitor.yaml
  resources/application-connector/charts/application-registry/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/application-registry/values.yaml
  resources/application-connector/charts/metadata-service/Chart.yaml
  resources/application-connector/values.yaml
  resources/monitoring/charts/grafana/dashboards/application-registry-dashboard.json
  tests/connector-service-tests/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix comments from review in - README.md
  tools/load-test/README.md
Due: none

Dockerfile changed to use builder
  tests/gateway-tests/Dockerfile
Due: none

Fix in Dockerfile
  tests/gateway-tests/Dockerfile
Due: none

Fix
  tests/knative-serving-acceptance/Gopkg.lock
  tests/knative-serving-acceptance/knative_serving_test.go
Due: none

Switch image back to develop
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

add timeout option to is-installed script; add info about the script; do not immediately exit with code 1 on Error status
  installation/scripts/is-installed.sh
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

add information about is-installed script to docs
  docs/kyma/docs/033-inst-local-installation-scripts.md
Due: none

Bump console image version
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Apply Tomasz comments
  common/ingressgateway/ingressgateway.go
  common/ingressgateway/ingressgateway_test.go
Due: none

Minor documentation fixed
  docs/console/docs/010-details-uiextensibility.md
Due: none

Add test to verify contract that lookup works on IPs
  common/ingressgateway/ingressgateway_test.go
Due: none

Fix comments for renamed functions
  common/ingressgateway/ingressgateway.go
Due: none

update codeowners of installation directory
  CODEOWNERS
Due: none

Use new ingressgateway client
  tests/api-controller-acceptance-tests/Gopkg.lock
  tests/api-controller-acceptance-tests/apicontroller/integration_test.go
  tests/kubeless-integration/Gopkg.lock
  tests/kubeless-integration/test-kubeless.go
Due: none

rename proxy-service to application-proxy
  resources/application-connector/charts/application-operator/templates/controller.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Use newest ingressgateway
  tests/knative-serving-acceptance/Gopkg.lock
  tests/knative-serving-acceptance/knative_serving_test.go
Due: none

fix
  resources/xip-patch/templates/clusterrole.yaml
  resources/xip-patch/templates/clusterrolebinding.yaml
  resources/xip-patch/templates/job.yaml
  resources/xip-patch/templates/serviceaccount.yaml
  resources/xip-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update api controller chart (#2062)
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Gopkg.lock regenerated
  tests/gateway-tests/Gopkg.lock
Due: none

update tag lambda image for multiple issues. Including renaming and service binding. 431, 373, 199, 422
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Remove update.sh script
  components/installer/README.md
  installation/scripts/update.sh
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update test-api-controller.yaml
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update test-kubeless.yaml
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

update tag lambda image for multiple issues. Including renaming and service binding. 431, 373, 199, 422 (#2076)
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

bump installer image
  installation/resources/installer.yaml
  tools/kyma-installer/kyma.Dockerfile
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

update component versions
  resources/ark/values.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/core/values.yaml
  resources/service-catalog/charts/etcd-stateful/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

ark
  resources/ark/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Gopkg.lock regenerated (#2075)
  tests/gateway-tests/Gopkg.lock
Due: none

Review
  installation/resources/installer-cr-cluster.yaml.tpl
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration
