Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Event Bus Subscription Monitoring Dashboard (#4001)
  resources/event-bus/values.yaml
  resources/monitoring/charts/grafana/dashboards/event-bus-subscription.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Kiali is disabled by default
  installation/resources/installer-cr.yaml.tpl
  resources/istio/charts/kiali/values.yaml
  resources/istio/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add hook weights
  resources/istio-init/templates/job-cleaner.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Application Broker with one service
  components/application-broker/Gopkg.lock
  components/application-broker/README.md
  components/application-broker/cmd/broker/main.go
  components/application-broker/internal/broker/automock/broker_service.go
  components/application-broker/internal/broker/broker_service_test.go
  components/application-broker/internal/broker/catalog_export_test.go
  components/application-broker/internal/broker/middleware.go
  components/application-broker/internal/broker/middleware_test.go
  components/application-broker/internal/broker/server.go
  components/application-broker/internal/config/config.go
  components/application-broker/internal/mapping/mapping_service_export_test.go
  components/application-broker/internal/nsbroker/automock/service_checker.go
  components/application-broker/internal/nsbroker/export_test.go
  components/application-broker/internal/nsbroker/facade.go
  components/application-broker/internal/nsbroker/facade_legacy_test.go
  components/application-broker/internal/nsbroker/facade_test.go
  components/application-broker/internal/nsbroker/http_checker.go
  components/application-broker/internal/nsbroker/http_checker_test.go
  components/application-broker/internal/nsbroker/migration.go
  components/application-broker/internal/nsbroker/migration_test.go
Due: console-integration

Application Broker with one service (#3939)
  components/application-broker/Gopkg.lock
  components/application-broker/README.md
  components/application-broker/cmd/broker/main.go
  components/application-broker/internal/broker/automock/broker_service.go
  components/application-broker/internal/broker/broker_service_test.go
  components/application-broker/internal/broker/catalog_export_test.go
  components/application-broker/internal/broker/middleware.go
  components/application-broker/internal/broker/middleware_test.go
  components/application-broker/internal/broker/server.go
  components/application-broker/internal/config/config.go
  components/application-broker/internal/mapping/mapping_service_export_test.go
  components/application-broker/internal/nsbroker/automock/service_checker.go
  components/application-broker/internal/nsbroker/export_test.go
  components/application-broker/internal/nsbroker/facade.go
  components/application-broker/internal/nsbroker/facade_legacy_test.go
  components/application-broker/internal/nsbroker/facade_test.go
  components/application-broker/internal/nsbroker/http_checker.go
  components/application-broker/internal/nsbroker/http_checker_test.go
  components/application-broker/internal/nsbroker/migration.go
  components/application-broker/internal/nsbroker/migration_test.go
Due: console-integration

revert changes
  tests/end-to-end/upgrade/pkg/tests/monitoring/grafana.go
Due: none

Application Broker Istio RBAC auth rules test (#4011)
  tests/acceptance/servicecatalog/servicecatalog_test.go
Due: none

Add go metrics to service-binding-usage component (#3987)
  components/service-binding-usage-controller/Gopkg.lock
  components/service-binding-usage-controller/Gopkg.toml
  components/service-binding-usage-controller/cmd/controller/main.go
Due: console-integration

Apply changes after review
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/cluster-role-binding.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/cluster-role.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/deployment.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/metrics.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/service-account.yaml
  resources/service-catalog-addons/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fetch cluster microfrontends via graphql
  resources/core/charts/console/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Disable ServiceCatalog Application broker test because of Istio RBAC blocks direct call
  tests/acceptance/servicecatalog/servicecatalog_test.go
Due: none

Disable ServiceCatalog Application broker test because of Istio RBAC blocks direct call (#4014)
  tests/acceptance/servicecatalog/servicecatalog_test.go
Due: none

revert to base
  resources/core/charts/docs/charts/content-ui/templates/deployment.yaml
  resources/helm-broker/charts/add-ons-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/brokers-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/catalog-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/instances-ui/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update images of content, brokers, catalog and instances UIs
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update UIs images
  resources/core/charts/docs/charts/content-ui/templates/deployment.yaml
  resources/helm-broker/charts/add-ons-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/brokers-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/catalog-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/instances-ui/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Remove obsolete changes
  components/istio-kyma-patch/patch.sh
  resources/istio-init/templates/clusterrole.yaml
  resources/istio-kyma-patch/templates/role.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update service catalog CRD chart (#3972)
  resources/service-catalog/charts/catalog-crds/Chart.yaml
  resources/service-catalog/charts/catalog-crds/README.md
  resources/service-catalog/charts/catalog-crds/templates/controller-manager-deployment.yaml
  resources/service-catalog/charts/catalog-crds/templates/crds.yaml
  resources/service-catalog/charts/catalog-crds/templates/rbac.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-policy.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-register.yaml
  resources/service-catalog/charts/catalog-crds/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix websocket for console core lists views (#4008)
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Added kiali support
  resources/istio/charts/kiali/templates/_affinity.tpl
  resources/istio/charts/kiali/templates/configmap.yaml
  resources/istio/charts/kiali/templates/demosecret.yaml
  resources/istio/charts/kiali/templates/deployment.yaml
  resources/istio/charts/kiali/templates/destinationrule.yaml
  resources/istio/charts/kiali/templates/virtualservice.yaml
  resources/istio/charts/kiali/values.yaml
  resources/istio/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Increased tiller version. Added kiali service to /etc/hosts
  installation/resources/installer-cr.yaml.tpl
  installation/resources/tiller.yaml
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Revert "Increased tiller version. Added kiali service to /etc/hosts"
  installation/resources/installer-cr.yaml.tpl
  installation/resources/tiller.yaml
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fixed kiali web path
  resources/istio/charts/kiali/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Switched off istio sidecar autoinjection for kiali
  installation/resources/installer-cr.yaml.tpl
  resources/istio/charts/kiali/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Removed the ability to edit istio config files from Kiali UI
  resources/istio/charts/kiali/templates/clusterrole.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add dashboard to provide insights for a given kyma subscription (#3926)
  components/event-bus/cmd/event-bus-subscription-controller-knative/cmd/manager/main.go
  components/event-bus/internal/knative/metrics/metrics_def.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile.go
Due: console-integration

Event Bus Subscription Monitoring Dashboard (#4001)
  resources/monitoring/charts/grafana/dashboards/event-bus-subscription.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Remove mixer limits temp
  installation/resources/installer-config-local.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Disable Console Backend Service auth and authz middlewares in development mode (#4009)
  components/console-backend-service/main.go
Due: console-integration

Bump Console Backend Service image
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix
  tests/end-to-end/upgrade/pkg/tests/event-bus/event_bus.go
Due: none

Chanded README.md for kiali. Fixed secret.yaml. Added kiali to installer config
  installation/resources/installer-config-local.yaml.tpl
  resources/istio/README.md
  resources/istio/charts/kiali/templates/secret.yaml
  resources/istio/charts/kiali/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Wait until TokenRequest resource is ready and export wait function to separate file
  tests/end-to-end/external-solution-integration/testkit/connector.go
  tests/end-to-end/external-solution-integration/testkit/wait.go
  tests/end-to-end/external-solution-integration/testsuite/suite.go
Due: none

Minify GetToken function by separating the wait part
  tests/end-to-end/external-solution-integration/testkit/connector.go
Due: none

Revert image update
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: none

Fix the event bus upgrade tests retry cycle (#4006)
  tests/end-to-end/upgrade/pkg/tests/event-bus/event_bus.go
Due: none

Bump upgrade tests image version
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: none

Use view group caching in console
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/templates/deployment.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/templates/lambdas-microfrontend.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector
