Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Review #1
  docs/application-connector/docs/03-04-metadata-service.md
Due: kyma-docs

add configmap permissions
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
Due: none

add missing rbac rules for monitoring upgrade tests
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
Due: none

Application Connector docs: migration to Asset Store (#3572)
  docs/application-connector/docs/02-01-application-connector.md
  docs/application-connector/docs/03-04-metadata-service.md
  docs/application-connector/docs/assets/001-application-connector.svg
Due: kyma-docs

Add helpers to cluster-essentials
  resources/cluster-essentials/templates/_helpers.tpl
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump e2e backup tests image (#3584)
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
Due: none

Fix CRDs names
  resources/cluster-essentials/templates/pre-upgrade-remove-crd.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update event-bus image
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Revert CRDs
  resources/cluster-essentials/templates/asset.crd.yaml
  resources/cluster-essentials/templates/bucket.crd.yaml
  resources/cluster-essentials/templates/clusterasset.crd.yaml
  resources/cluster-essentials/templates/clusterbucket.crd.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Changed Docs topic to Cluster Docs Topic (#3549)
  components/application-registry/cmd/applicationregistry/handlers.go
  components/application-registry/internal/metadata/specification/assetstore/docstopic/model.go
  components/application-registry/internal/metadata/specification/assetstore/docstopicrepository.go
  components/application-registry/internal/metadata/specification/assetstore/docstopicrepository_test.go
  components/application-registry/internal/metadata/specification/assetstore/service.go
  components/application-registry/internal/metadata/specification/assetstore/service_test.go
  components/application-registry/internal/metadata/specification/service_test.go
Due: console-integration

Add final touches
  docs/headless-cms/docs/01-01-headless-cms.md
  docs/headless-cms/docs/03-02-docstopic-cr-lifecycle.md
  docs/headless-cms/docs/06-01-docstopic.md
  docs/headless-cms/docs/06-02-clusterdocstopic.md
Due: kyma-docs

Image updated
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add the Headless CMS component (#3292)
  docs/asset-store/docs/03-01-asset-cr-lifecycle.md
  docs/asset-store/docs/03-02-bucket-cr-lifecycle.md
  docs/asset-store/docs/03-03-minio-gateway.md
  docs/asset-store/docs/06-01-asset.md
  docs/asset-store/docs/06-03-clusterasset.md
  docs/docs-build.yaml
  docs/headless-cms/docs.config.json
  docs/headless-cms/docs/01-01-headless-cms.md
  docs/headless-cms/docs/02-01-headless-cms.md
  docs/headless-cms/docs/03-01-headless-cms-in-console.md
  docs/headless-cms/docs/03-02-docstopic-cr-lifecycle.md
  docs/headless-cms/docs/06-01-docstopic.md
  docs/headless-cms/docs/06-02-clusterdocstopic.md
  docs/headless-cms/docs/assets/headless-cms-architecture.svg
  docs/kyma/docs/01-06-how-to-start.md
  docs/kyma/docs/04-01-overview.md
  docs/manifest.yaml
Due: kyma-docs

Add certificate info to managementInfo response
  components/connector-service/internal/externalapi/externalapi.go
  components/connector-service/internal/externalapi/managementinfohandler.go
  components/connector-service/internal/externalapi/managementinfohandler_test.go
  components/connector-service/internal/externalapi/model.go
Due: console-integration

Add the new doc image
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add one minor thing
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Application Registry should create ClusterDocsTopic image bump (#3561)
  resources/application-connector/charts/application-registry/templates/cluster-role-binding.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Go fmt code and add unit tests
  components/connector-service/internal/externalapi/managementinfohandler.go
  components/connector-service/internal/externalapi/managementinfohandler_test.go
  components/connector-service/internal/externalapi/model.go
Due: console-integration

console and log ui improvements (#3585)
  resources/core/charts/console/values.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add curl command to susbcription controller image
  components/event-bus/cmd/event-bus-subscription-controller-knative/Dockerfile
Due: console-integration

Go fmt code even more
  components/connector-service/internal/externalapi/managementinfohandler.go
  components/connector-service/internal/externalapi/managementinfohandler_test.go
Due: console-integration

Add a missing article
  docs/headless-cms/docs/03-01-headless-cms-in-console.md
Due: kyma-docs

Add curl command to susbcription controller image (#3592)
  components/event-bus/cmd/event-bus-subscription-controller-knative/Dockerfile
Due: console-integration

add test
  components/cms-controller-manager/pkg/handler/docstopic/docstopic_test.go
  components/cms-controller-manager/pkg/handler/docstopic/export_test.go
Due: console-integration, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager

Add a missing article (#3593)
  docs/headless-cms/docs/03-01-headless-cms-in-console.md
Due: kyma-docs

Bump image for e2e upgrade test (#3581)
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: none

Add migration script to Headless CMS for applications registered before 0.9 (#3493)
  resources/assetstore/charts/minio/README.md
  resources/cluster-essentials/templates/_helpers.tpl
  resources/cluster-essentials/templates/pre-upgrade-remove-crd.yaml
  resources/cms/templates/_helper_migrate_to_cms.txt
  resources/cms/templates/_helpers.tpl
  resources/cms/templates/post-upgrade-migration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Release version 0.9.0-rc2
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/ark/values.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/service-catalog/values.yaml
  resources/xip-patch/values.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tools/load-test/deploy/chart/load-test/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Improve logging in NewLambdaFunctionUpgradeTest
  tests/end-to-end/upgrade/pkg/tests/function/function.go
Due: none

Bump console-backend-service image
  resources/assetstore/charts/minio/templates/backendmodule.yaml
  resources/cms/templates/_helpers.tpl
  resources/cms/templates/backendmodule.yaml
  resources/core/charts/console-backend-service/templates/cluster-role.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

update event-bus image version
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update cluster-role
  resources/core/charts/console-backend-service/templates/cluster-role.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix e2e testing script
  installation/scripts/e2e-testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add acceptance tests
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/connectorclient.go
  tests/connector-service-tests/test/testkit/model.go
Due: none

Remove PR:3426 from pod.yaml and test-upgrade.yaml
  tests/end-to-end/upgrade/chart/upgrade/templates/pod.yaml
  tests/end-to-end/upgrade/chart/upgrade/templates/test/test-upgrade.yaml
Due: none

Change the doc image
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

code cleanup
  components/cms-controller-manager/pkg/config/asset_webhook_config_service.go
  components/cms-controller-manager/pkg/config/asset_webhook_config_service_test.go
  components/cms-controller-manager/pkg/config/automock/asset_webhook_config_service.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterdocstopic_controller.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterdocstopic_controller_test.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/config.go
  components/cms-controller-manager/pkg/controller/docstopic/config.go
  components/cms-controller-manager/pkg/controller/docstopic/docstopic_controller.go
  components/cms-controller-manager/pkg/controller/docstopic/docstopic_controller_test.go
  components/cms-controller-manager/pkg/handler/docstopic/docstopic.go
  components/cms-controller-manager/pkg/handler/docstopic/docstopic_test.go
  components/cms-controller-manager/pkg/handler/docstopic/pretty/reason.go
Due: console-integration, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager

Add documentation
  docs/service-catalog/docs/01-01-service-catalog.md
Due: kyma-docs

v4
  docs/security/docs/01-01-security.md
  docs/security/docs/03-04-roles-in-kyma.md
Due: kyma-docs

Update swagger API
  components/connector-service/docs/api/connectorapi.yaml
  docs/application-connector/docs/assets/connectorapi.yaml
Due: console-integration, kyma-docs

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
