Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2.5Gi
          cpu: 2
      env:
      - name: GO111MODULE
        value: 'on'
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2.5Gi
          cpu: 2
      env:
      - name: GO111MODULE
        value: 'on'
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-cms-services:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

whitelist link
  milv.config.yaml
Due: none

Add the notification channels tutorial (#5464)
  docs/monitoring/08-03-define-alerting-rules.md
  docs/monitoring/08-04-send-notifications.md
  docs/monitoring/assets/alert-notifications.png
  docs/monitoring/assets/integration-settings.png
  milv.config.yaml
  resources/monitoring/charts/alertmanager/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs

Move systemNamespace check to converter
  components/console-backend-service/internal/domain/k8s/k8s.go
  components/console-backend-service/internal/domain/k8s/listener/namespace.go
  components/console-backend-service/internal/domain/k8s/namespace_converter.go
  components/console-backend-service/internal/domain/k8s/namespace_resolver.go
  components/console-backend-service/internal/domain/k8s/namespace_service.go
  components/console-backend-service/internal/domain/k8s/types/NamespaceWithAdditionalData.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Release 1.5.0-rc2
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/assetstore/values.yaml
  resources/backup-init/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/compass-runtime-agent/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/function-controller/values.yaml
  resources/helm-broker/charts/etcd-stateful/values.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/kiali/values.yaml
  resources/knative-build/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/service-catalog/charts/etcd-stateful/values.yaml
  resources/xip-patch/values.yaml
  tests/end-to-end/backup-restore-test/backupe2e/eventbus.go
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tests/perf/prerequisites/event-bus/event-subscriber.yaml
  tools/kyma-installer/kyma.Dockerfile
  tools/load-test/deploy/chart/load-test/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test

Change file paths because of changed permissions (#5553)
  components/xip-patch/certhelper.sh
Due: console-integration

Fix name
  components/console-backend-service/internal/domain/k8s/k8s.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Remove symlinks to yamls
  components/function-controller/Makefile
Due: console-integration

v6
  installation/OWNERS
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration

Provide more content fixes
  docs/helm-broker/03-03-create-addons-repo.md
  docs/helm-broker/06-01-clusteraddonsconfiguration.md
  docs/helm-broker/06-02-addonsconfiguration.md
Due: post-master-kyma-docs-website, kyma-docs

Fix articles
  docs/helm-broker/03-03-create-addons-repo.md
Due: post-master-kyma-docs-website, kyma-docs

Change note
  docs/helm-broker/03-03-create-addons-repo.md
Due: post-master-kyma-docs-website, kyma-docs

Add labels to Framefrogs OWNERS files
  components/application-connectivity-certs-setup-job/OWNERS
  components/application-connectivity-validator/OWNERS
  components/application-gateway/OWNERS
  components/application-operator/OWNERS
  components/application-registry/OWNERS
  components/connection-token-handler/OWNERS
  components/connectivity-certs-controller/OWNERS
  components/connector-service/OWNERS
  resources/application-connector-ingress/OWNERS
  resources/application-connector/charts/application-operator/OWNERS
  resources/application-connector/charts/application-registry/OWNERS
  resources/application-connector/charts/connection-token-handler/OWNERS
  resources/application-connector/charts/connectivity-certs-controller/OWNERS
  resources/application-connector/charts/connector-service/OWNERS
  tests/application-connector-tests/OWNERS
  tests/application-gateway-tests/OWNERS
  tests/application-operator-tests/OWNERS
  tests/application-registry-tests/OWNERS
  tests/connection-token-handler-tests/OWNERS
  tests/connector-service-tests/OWNERS
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add total test coverage calculation where possible
  common/before-commit.sh
  components/api-controller/before-commit.sh
  components/apiserver-proxy/before-commit.sh
  components/application-broker/before-commit.sh
  components/application-connectivity-certs-setup-job/before-commit.sh
  components/application-connectivity-validator/before-commit.sh
  components/application-gateway/before-commit.sh
  components/application-operator/before-commit.sh
  components/application-registry/before-commit.sh
  components/asset-metadata-service/before-commit.sh
  components/asset-store-controller-manager/Makefile
  components/asset-upload-service/before-commit.sh
  components/cms-controller-manager/Makefile
  components/cms-services/before-commit.sh
  components/compass-runtime-agent/before-commit.sh
  components/connection-token-handler/before-commit.sh
  components/connectivity-certs-controller/before-commit.sh
  components/connector-service/before-commit.sh
  components/console-backend-service/before-commit.sh
  components/event-bus/before-commit.sh
  components/event-service/before-commit.sh
  components/function-controller/Makefile
  components/iam-kubeconfig-service/before-commit.sh
  components/idppreset/before-commit.sh
  components/k8s-dashboard-proxy/before-commit.sh
  components/kyma-operator/before-commit.sh
  components/namespace-controller/before-commit.sh
  components/service-binding-usage-controller/before-commit.sh
Due: console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service

sync gopkg.locl
  components/event-bus/Gopkg.lock
Due: console-integration

Update knative dependencies and fix some tests
  components/event-bus/Gopkg.lock
  components/event-bus/Gopkg.toml
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
Due: console-integration

fix test
  components/event-bus/internal/knative/util/kn-eventing_test.go
Due: console-integration

fix deps
  components/event-bus/Gopkg.lock
Due: console-integration

Update knative-lib definition
  components/event-bus/Gopkg.lock
  components/event-bus/internal/knative/util/kn-eventing.go
Due: console-integration

Compilable Publish Service
  components/event-bus/internal/knative/util/kn-eventing_test.go
Due: console-integration

Changes based on review comments
  components/function-controller/pkg/webhook/default_server/function/mutating/function_create_handler.go
Due: console-integration

Add subscriptions for pods
  components/console-backend-service/internal/domain/k8s/k8s.go
  components/console-backend-service/internal/domain/k8s/namespace_resolver.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Fix
  components/console-backend-service/internal/domain/k8s/namespace_resolver.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Add override to toggle agent-configuration job
  resources/compass/README.md
  resources/compass/templates/agent-configuration-job.yaml
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

dummy change
  dummy.txt
Due: none

Fix tests for namespace converter
  components/console-backend-service/internal/domain/k8s/automock/namespace_svc.go
  components/console-backend-service/internal/domain/k8s/export_test.go
  components/console-backend-service/internal/domain/k8s/namespace_converter_test.go
  components/console-backend-service/internal/domain/k8s/namespace_service.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Update resources/compass/README.md
  resources/compass/README.md
Due: kyma-integration, kyma-gke-integration, console-integration

Add api-gateway to compass
  installation/resources/installer-cr-cluster-with-compass.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add OWNERS files for gophers
  common/OWNERS
  components/application-broker/OWNERS
  components/service-binding-usage-controller/OWNERS
  resources/application-connector/charts/application-broker/OWNERS
  resources/cluster-essentials/charts/pod-preset/OWNERS
  resources/helm-broker/OWNERS
  resources/service-catalog-addons/OWNERS
  resources/service-catalog/OWNERS
  tests/acceptance/OWNERS
  tests/end-to-end/upgrade/OWNERS
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Make application description optional (#5502)
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump service-catalog-ui image
  resources/service-catalog-addons/charts/service-catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update images of console repo
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/docs/charts/content-ui/templates/deployment.yaml
  resources/helm-broker/charts/addons-ui/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump tests
  resources/core/charts/console/templates/test/test.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update images
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/console/templates/test/test.yaml
  resources/core/charts/docs/charts/content-ui/templates/deployment.yaml
  resources/helm-broker/charts/addons-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix namespaces query
  components/console-backend-service/internal/domain/k8s/automock/export.go
  components/console-backend-service/internal/domain/k8s/automock/gql_namespace_converter.go
  components/console-backend-service/internal/domain/k8s/export_test.go
  components/console-backend-service/internal/domain/k8s/namespace_resolver.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Add the missing article and fix the link
  docs/helm-broker/03-03-create-addons-repo.md
  docs/service-catalog/13-02-gcp-broker.md
Due: post-master-kyma-docs-website, kyma-docs

Add a label to the application-connector-helper chart
  resources/application-connector-helper/OWNERS
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix Helm Broker documentation where `authorization` is used in the wrong way (#5550)
  docs/helm-broker/03-03-create-addons-repo.md
  docs/helm-broker/06-01-clusteraddonsconfiguration.md
  docs/helm-broker/06-02-addonsconfiguration.md
  docs/service-catalog/13-02-gcp-broker.md
Due: post-master-kyma-docs-website, kyma-docs

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
