Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Change the charts
  resources/monitoring/charts/grafana/dashboards/event-bus-subscription.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add final changes
  docs/asset-store/docs/05-01-asset-store.md
  docs/asset-store/docs/05-05-minio.md
Due: post-master-kyma-docs-website, kyma-docs

Remove unnecessary policy for Console Backend Service (#3949)
  resources/core/charts/console-backend-service/templates/policy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix GKE installation instruction (#3938)
  docs/kyma/docs/04-03-cluster-installation.md
  docs/kyma/docs/04-04-use-your-own-domain.md
  docs/kyma/docs/04-05-use-your-own-image.md
Due: post-master-kyma-docs-website, kyma-docs

Add Asset Store configuration docs (#3935)
  docs/asset-store/docs/05-01-asset-store.md
  docs/asset-store/docs/05-02-asset-store-metadata-service.md
  docs/asset-store/docs/05-03-asset-store-controller-manager.md
  docs/asset-store/docs/05-04-asset-upload-service.md
  docs/asset-store/docs/05-05-minio.md
  milv.config.yaml
Due: post-master-kyma-docs-website, kyma-docs

Update event-bus-subscription.json
  resources/monitoring/charts/grafana/dashboards/event-bus-subscription.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bumb images: instances-ui, catalog-ui
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Remove unsupported --trigger-http cli argument
  docs/serverless/docs/07-01-cli-reference.md
Due: post-master-kyma-docs-website, kyma-docs

Use raw github URL to fix documentation examples
  docs/serverless/docs/07-01-cli-reference.md
Due: post-master-kyma-docs-website, kyma-docs

Enable RBAC also on local
  resources/application-connector/charts/connector-service/templates/service-role-binding.yaml
  resources/application-connector/charts/connector-service/templates/service-role.yaml
  resources/core/charts/istio-rbac/templates/rbac-config.yaml
  resources/core/charts/istio-rbac/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Create docs for AWS broker
  docs/kyma/docs/03-01-components.md
  docs/service-catalog/docs/13-01-service-brokers.md
  docs/service-catalog/docs/13-04-aws-broker.md
  docs/service-catalog/docs/assets/aws-class.png
Due: post-master-kyma-docs-website, kyma-docs

v1
  docs/kyma/docs/04-10-update.md
Due: post-master-kyma-docs-website, kyma-docs

Add command to check Kyma version before update (#3967)
  docs/kyma/docs/04-10-update.md
Due: post-master-kyma-docs-website, kyma-docs

Disable loadshedding
  installation/resources/installer-config-local.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Changed a lot of things, I do not longer know where I am, sorry fellow developer
  tests/end-to-end/external-solution-integration/Dockerfile
  tests/end-to-end/external-solution-integration/Gopkg.lock
  tests/end-to-end/external-solution-integration/Gopkg.toml
  tests/end-to-end/external-solution-integration/deploy.yaml
  tests/end-to-end/external-solution-integration/e2e.go
  tests/end-to-end/external-solution-integration/resourceskit/service_catalog_client.go
  tests/end-to-end/external-solution-integration/testkit/registry.go
  tests/end-to-end/external-solution-integration/testkit/testservice.go
  tests/end-to-end/external-solution-integration/testsuite/suite.go
Due: none

Another fix, i'm getting hungry and there is not much light in here
  tests/end-to-end/external-solution-integration/testsuite/suite.go
Due: none

Refactor serverless cli reference
  docs/serverless/docs/07-01-cli-reference.md
Due: post-master-kyma-docs-website, kyma-docs

Update image to production version
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update backup-tests
  tests/end-to-end/backup-restore-test/Makefile
Due: none

Revert last commit
  tests/end-to-end/backup-restore-test/Makefile
Due: none

WIP Add lambda function requesting TestService and fix creating Service Binding
  tests/end-to-end/external-solution-integration/resourceskit/lambda_client.go
  tests/end-to-end/external-solution-integration/resourceskit/service_catalog_client.go
Due: none

Bump SC catalog version
  resources/service-catalog/charts/catalog-crds/Chart.yaml
  resources/service-catalog/charts/catalog-crds/README.md
  resources/service-catalog/charts/catalog-crds/templates/controller-manager-deployment.yaml
  resources/service-catalog/charts/catalog-crds/templates/controller-manager-service.yaml
  resources/service-catalog/charts/catalog-crds/templates/crds.yaml
  resources/service-catalog/charts/catalog-crds/templates/rbac.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-deployment.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-policy.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-register.yaml
  resources/service-catalog/charts/catalog-crds/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

adjust
  resources/service-catalog/charts/catalog-crds/Chart.yaml
  resources/service-catalog/charts/catalog-crds/templates/controller-manager-deployment.yaml
  resources/service-catalog/charts/catalog-crds/templates/controller-manager-service.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-deployment.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-policy.yaml
  resources/service-catalog/charts/catalog-crds/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix cleanup after acceptance tests
  tests/asset-store/testsuite/testdata.go
Due: none

Bump asset store tests
  resources/assetstore/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bumb images: instances-ui, catalog-ui (#3964)
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix unstable assets and bucket policies (#3947)
  components/asset-store-controller-manager/pkg/controller/asset/asset_controller_test.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/clusterasset_controller_test.go
  components/asset-store-controller-manager/pkg/handler/asset/asset.go
  components/asset-store-controller-manager/pkg/handler/asset/asset_test.go
  components/asset-store-controller-manager/pkg/store/store.go
  components/asset-store-controller-manager/pkg/store/store_test.go
  tests/asset-store/testsuite/testdata.go
Due: console-integration, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager

Increase mixer resources
  components/istio-kyma-patch/patch.sh
  installation/resources/installer-config-local.yaml.tpl
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Make ports naming consistent
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/service.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update values.yaml
  resources/assetstore/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Change add-ons-ui image (#3963)
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Increase mixer resources
  installation/resources/installer-config-local.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump used bundles version
  resources/helm-broker/templates/cfg-repos-url.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fix indentions
  resources/service-catalog/charts/catalog-crds/templates/controller-manager-deployment.yaml
  resources/service-catalog/charts/catalog-crds/templates/controller-manager-service.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-policy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

initial
  resources/dex/templates/dex-config-map.yaml
  resources/dex/values.yaml
  resources/ory/charts/hydra/templates/login-consent-service.yaml
  resources/ory/charts/hydra/templates/login-consent-virtual-service.yaml
  resources/ory/charts/hydra/templates/login-consent.yaml
  resources/ory/charts/hydra/templates/oauth2.yaml
  resources/ory/charts/hydra/templates/policy.yaml
  resources/ory/charts/hydra/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix readme link
  resources/istio/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Rebase with master
  resources/ory/charts/hydra/templates/oauth2.yaml
  resources/ory/charts/hydra/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

remove minio static password outdated configuration (#3958)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector
