Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Update tests/end-to-end/backup-restore-test/backup-restore.md
  tests/end-to-end/backup-restore-test/backup-restore.md
Due: none

Update event-bus e2e tests version
  resources/event-bus/templates/tests/test-e2e-tester.yaml
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

initial
  tests/api-controller-acceptance-tests/apicontroller/component_test.go
Due: none

update documentation
  tests/end-to-end/backup-restore-test/backup-restore.md
Due: none

Bump ui-api-layer images (#2587)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update event-bus e2e tests version (#2647)
  resources/event-bus/templates/tests/test-e2e-tester.yaml
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

bump console and lambda images
  resources/core/charts/console/values.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

change lambdas image version
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

updated tests and console modules images
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

fix
  components/api-controller/pkg/controller/v1alpha2/controller.go
  components/api-controller/pkg/controller/v1alpha2/controller_test.go
Due: console-integration

Update milv.config.yaml
  milv.config.yaml
Due: none

Fix package detecting
  components/assetstore-controller-manager/pkg/controller/asset/asset_pending.go
  components/assetstore-controller-manager/pkg/loader/package_loader.go
Due: console-integration

Add package loader tests
  components/assetstore-controller-manager/pkg/loader/package_loader_test.go
  components/assetstore-controller-manager/pkg/loader/testdata/structure.tar
  components/assetstore-controller-manager/pkg/loader/testdata/structure.tar.gz
  components/assetstore-controller-manager/pkg/loader/testdata/structure.tgz
  components/assetstore-controller-manager/pkg/loader/testdata/structure.zip
Due: console-integration

Fix bug in validator
  components/assetstore-controller-manager/pkg/controller/asset/webhook/validation_webhook.go
Due: console-integration

Install certs
  components/assetstore-controller-manager/Dockerfile
Due: console-integration

bump console and lambda images (#2651)
  resources/core/charts/console/values.yaml
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Modify charts for GraphQL authorization
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
  resources/core/charts/ui-api/templates/cluster-role.yaml
  resources/core/charts/ui-api/templates/deployment.yaml
  resources/core/templates/tests/test-ui-api-acceptance.yaml
  resources/core/values.yaml
  resources/dex/templates/dex-users-secret.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Reset changes in resources
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
  resources/core/charts/ui-api/scripts/filter.lua
  resources/core/charts/ui-api/scripts/filter_testcase.lua
  resources/core/charts/ui-api/templates/authentication.yaml
  resources/core/charts/ui-api/templates/cluster-role.yaml
  resources/core/charts/ui-api/templates/deployment.yaml
  resources/core/charts/ui-api/templates/envoy-filter-graphql-resources-to-header.yaml
  resources/core/charts/ui-api/templates/envoy-filter.yaml
  resources/core/templates/tests/test-ui-api-acceptance.yaml
  resources/core/values.yaml
  resources/dex/templates/dex-users-secret.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Few more changes
  resources/monitoring/charts/alert-rules/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Minor fixes
  resources/monitoring/charts/alert-rules/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add final corrections
  docs/asset-store/docs/01-01-asset-store.md
  docs/asset-store/docs/02-01-asset-store.md
  docs/asset-store/docs/03-01-asset-cr-lifecycle.md
  docs/asset-store/docs/03-02-bucket-cr-lifecycle.md
  docs/asset-store/docs/03-03-minio-gateway.md
  docs/asset-store/docs/06-01-asset.md
  docs/asset-store/docs/06-02-bucket.md
Due: kyma-docs

Add fixes
  docs/asset-store/docs/03-01-asset-cr-lifecycle.md
Due: kyma-docs
