Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-connector-service-tests, post-master-kyma-tests-connector-service-tests, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2.5Gi
          cpu: 2
      env:
      - name: GO111MODULE
        value: 'on'
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      resources:
        requests:
          memory: 2.5Gi
          cpu: 2
      env:
      - name: GO111MODULE
        value: 'on'
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-cms-services:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang:go1.11
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

change definition of GetChannelByLabel
  components/event-bus/cmd/event-publish-service/publisher/publisher.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
Due: console-integration

fix schema as string
  tests/compass-runtime-agent/test/runtimeagent/test/runtime_agent_test.go
  tests/compass-runtime-agent/test/testkit/compass/client.go
  tests/compass-runtime-agent/test/testkit/compass/model.go
  tests/compass-runtime-agent/test/testkit/compass/scenarios.go
  tests/compass-runtime-agent/test/testkit/graphql/graphqlizer.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Fix Knative Channel Name issue (#5704)
  components/event-bus/cmd/event-publish-service/publisher/publisher.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
Due: console-integration

Bump latest image
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add further changes to unify tutorials
  docs/monitoring/08-01-overview.md
  docs/monitoring/08-04-define-alerting-rules.md
  docs/monitoring/assets/fired-alert.png
  docs/monitoring/assets/rules-dashboard.png
Due: post-master-kyma-docs-website, kyma-docs

Bump images to master
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update values.yaml
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Upgrade knative eventing chart to 0.8.0
  resources/event-bus/charts/event-publish-service/templates/service-account.yaml
  resources/event-bus/charts/subscription-controller/templates/service-account.yaml
  resources/event-bus/values.yaml
  resources/knative-eventing/Chart.yaml
  resources/knative-eventing/README.md
  resources/knative-eventing/charts/knative-eventing/Chart.yaml
  resources/knative-eventing/charts/knative-eventing/templates/eventing.yaml
  resources/knative-eventing/charts/knative-eventing/templates/post-upgrade-job.yaml
  resources/knative-eventing/charts/knative-eventing/templates/pre-upgrade-job.yaml
  resources/knative-provisioner-natss/Chart.yaml
  resources/knative-provisioner-natss/README.md
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/Chart.yaml
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/templates/deployment.yaml
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/templates/natss.yaml
  resources/knative-provisioner-natss/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Added more logs
  components/event-bus/api/push/eventing.kyma-project.io/v1alpha1/types.go
  components/event-bus/cmd/subscription-controller/cmd/manager/main.go
  components/event-bus/internal/knative/subscription/controller/eventactivation/reconcile.go
  components/event-bus/internal/knative/subscription/controller/knativechannel/controller.go
  components/event-bus/internal/knative/subscription/controller/knativechannel/reconcile.go
  components/event-bus/internal/knative/subscription/controller/knativechannel/reconcile_test.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/ky-controller.go
  components/event-bus/internal/knative/util/util.go
  resources/event-bus/charts/event-publish-service/templates/service-account.yaml
  resources/event-bus/charts/event-publish-service/values.yaml
  resources/event-bus/charts/subscription-controller/templates/service-account.yaml
  resources/event-bus/values.yaml
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
  tests/end-to-end/external-solution-integration/pkg/step/retry.go
  tests/end-to-end/external-solution-integration/pkg/testkit/events.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_subscription.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/deploy_lambda.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration

rebase
  components/event-bus/internal/knative/util/kn-eventing.go
Due: console-integration

added finalizer
  components/event-bus/internal/knative/subscription/controller/knativechannel/reconcile.go
  components/event-bus/internal/knative/util/ky-controller.go
Due: console-integration

added finalizer
  components/event-bus/internal/knative/util/ky-controller.go
Due: console-integration

fix grafana charts
  resources/monitoring/charts/grafana/dashboards/galley-dashboard.json
  resources/monitoring/charts/grafana/dashboards/istio-citadel-dashboard.json
  resources/monitoring/charts/grafana/dashboards/istio-galley-dashboard.json
  resources/monitoring/charts/grafana/dashboards/istio-mixer-dashboard.json
  resources/monitoring/charts/grafana/dashboards/istio-pilot-dashboard.json
  resources/monitoring/charts/grafana/dashboards/mixer-dashboard.json
  resources/monitoring/charts/grafana/dashboards/pilot-dashboard.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Upgrade knative eventing chart to 0.8.0 (#5526)
  resources/event-bus/charts/event-publish-service/templates/service-account.yaml
  resources/event-bus/charts/subscription-controller/templates/service-account.yaml
  resources/event-bus/values.yaml
  resources/knative-eventing/Chart.yaml
  resources/knative-eventing/README.md
  resources/knative-eventing/charts/knative-eventing/Chart.yaml
  resources/knative-eventing/charts/knative-eventing/templates/eventing.yaml
  resources/knative-eventing/charts/knative-eventing/templates/post-upgrade-job.yaml
  resources/knative-eventing/charts/knative-eventing/templates/pre-upgrade-job.yaml
  resources/knative-provisioner-natss/Chart.yaml
  resources/knative-provisioner-natss/README.md
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/Chart.yaml
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/templates/deployment.yaml
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/templates/natss.yaml
  resources/knative-provisioner-natss/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Reload page as websockets sometimes fail (#5702)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump compass ui image (#5695)
  resources/compass/charts/cockpit/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

minor bug fix
  components/event-bus/internal/knative/util/kn-eventing.go
Due: console-integration

Fix a dead link
  components/application-broker/cmd/poc-events/findings.md
Due: console-integration

Fix a dead link (#5710)
  components/application-broker/cmd/poc-events/findings.md
Due: console-integration

Upgrade Knative Serving to v0.8.1 (#5560)
  components/function-controller/.gitignore
  components/function-controller/Gopkg.lock
  components/function-controller/Gopkg.toml
  components/function-controller/Makefile
  components/function-controller/README.md
  components/function-controller/cmd/manager/main.go
  components/function-controller/config/crds/300-build.yaml
  components/function-controller/config/crds/300-buildtemplate.yaml
  components/function-controller/config/crds/300-configuration.yaml
  components/function-controller/config/crds/300-revision.yaml
  components/function-controller/config/crds/300-route.yaml
  components/function-controller/config/crds/300-service.yaml
  components/function-controller/pkg/controller/function/function_controller.go
  components/function-controller/pkg/controller/function/function_controller_suite_test.go
  components/function-controller/pkg/controller/function/function_controller_test.go
  components/function-controller/pkg/utils/serving_utils.go
  resources/function-controller/README.md
  resources/knative-serving-init/charts/knative-serving-int/Chart.yaml
  resources/knative-serving-init/templates/delete-crd-job.yaml
  resources/knative-serving-init/templates/dummy.yaml
  resources/knative-serving-init/templates/serving.yaml
  resources/knative-serving/README.md
  resources/knative-serving/charts/knative-serving/Chart.yaml
  resources/knative-serving/requirements.yaml
  resources/knative-serving/templates/destination-rule.yaml
  resources/knative-serving/templates/policy.yaml
  resources/knative-serving/templates/serving.yaml
  resources/knative-serving/values.yaml
  tests/knative-serving/Gopkg.lock
  tests/knative-serving/Gopkg.toml
  tests/knative-serving/knative_serving_test.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add revocation charts
  resources/compass/charts/connector/templates/configmap.yaml
  resources/compass/charts/connector/templates/deployment.yaml
  resources/compass/charts/connector/templates/role-binding.yaml
  resources/compass/charts/connector/templates/tests/role-binding.yaml
  resources/compass/charts/connector/templates/tests/service-account.yaml
  resources/compass/charts/connector/templates/tests/test-connector.yaml
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add new lines
  resources/compass/charts/connector/templates/configmap.yaml
  resources/compass/charts/connector/templates/role-binding.yaml
  resources/compass/charts/connector/templates/tests/role-binding.yaml
  resources/compass/charts/connector/templates/tests/service-account.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Controller tests WIP
  components/compass-runtime-agent/Gopkg.lock
  components/compass-runtime-agent/cmd/main.go
  components/compass-runtime-agent/internal/certificates/main_test.go
  components/compass-runtime-agent/internal/certificates/manager.go
  components/compass-runtime-agent/internal/certificates/model.go
  components/compass-runtime-agent/internal/certificates/model_test.go
  components/compass-runtime-agent/internal/compass/clients_provider.go
  components/compass-runtime-agent/internal/compass/connector/client.go
  components/compass-runtime-agent/internal/compass/connector/mocks/Client.go
  components/compass-runtime-agent/internal/compass/director/mocks/ConfigClient.go
  components/compass-runtime-agent/internal/compass/mocks/ClientsProvider.go
  components/compass-runtime-agent/internal/compassconnection/compass_connection_main_test.go
  components/compass-runtime-agent/internal/compassconnection/connector.go
  components/compass-runtime-agent/internal/compassconnection/connector_test.go
  components/compass-runtime-agent/internal/compassconnection/controller.go
  components/compass-runtime-agent/internal/compassconnection/controller_test.go
  components/compass-runtime-agent/internal/compassconnection/init.go
  components/compass-runtime-agent/internal/compassconnection/package_test.go
  components/compass-runtime-agent/internal/compassconnection/supervisor.go
  components/compass-runtime-agent/internal/compassconnection/supervisor_test.go
  components/compass-runtime-agent/internal/compassconnection/testdata/compass-connection.crd.yaml
  components/compass-runtime-agent/internal/config/provider.go
  components/compass-runtime-agent/internal/config/testdata/config.json
  components/compass-runtime-agent/internal/kyma/mocks/Service.go
  components/compass-runtime-agent/internal/testutil/testdata/ca.crt.pem
  components/compass-runtime-agent/internal/testutil/testdata/ca.csr.pem
  components/compass-runtime-agent/internal/testutil/testdata/ca.key.pem
  components/compass-runtime-agent/internal/testutil/testdata/cert.chain.pem
  components/compass-runtime-agent/internal/testutil/testdata/client.crt.pem
  components/compass-runtime-agent/internal/testutil/testdata/client.csr.pem
  components/compass-runtime-agent/internal/testutil/testdata/client.key.pem
  components/compass-runtime-agent/internal/testutil/testdata/generate.sh
  components/compass-runtime-agent/internal/testutil/testutil.go
Due: console-integration

Update cluster permissions
  resources/core/charts/cluster-users/values.yaml
  tests/integration/cluster-users/sar-test.sh
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Added subscription status
  components/event-bus/api/push/eventing.kyma-project.io/v1alpha1/types.go
  components/event-bus/cmd/subscription-controller/cmd/manager/main.go
  components/event-bus/internal/knative/subscription/controller/eventactivation/reconcile.go
  components/event-bus/internal/knative/subscription/controller/knativechannel/reconcile.go
  components/event-bus/internal/knative/subscription/controller/knativesubscription/controller.go
  components/event-bus/internal/knative/subscription/controller/knativesubscription/reconcile.go
  components/event-bus/internal/knative/subscription/controller/knativesubscription/reconcile_test.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
  components/event-bus/internal/knative/util/kn-subscription-builder.go
  components/event-bus/internal/knative/util/ky-controller.go
  resources/event-bus/charts/subscription-controller/templates/service-account.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump cluster-users tests
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Unify GKE and AKS instructions
  docs/kyma/04-03-cluster-installation.md
  docs/kyma/04-04-marketplace-installation.md
  docs/kyma/04-04-use-your-own-domain.md
  docs/kyma/04-05-use-your-own-domain.md
  docs/kyma/04-06-use-your-own-image.md
  docs/kyma/04-07-use-helm.md
  docs/kyma/04-09-local-reinstallation.md
  docs/kyma/04-10-upgrade.md
  docs/kyma/04-11-update.md
Due: post-master-kyma-docs-website, kyma-docs

Adding tests
  components/compass-runtime-agent/cmd/main.go
  components/compass-runtime-agent/cmd/options.go
  components/compass-runtime-agent/cover.out
  components/compass-runtime-agent/internal/compassconnection/connector.go
  components/compass-runtime-agent/internal/compassconnection/package_main_test.go
  components/compass-runtime-agent/internal/compassconnection/package_test.go
  components/compass-runtime-agent/internal/config/provider.go
  components/compass-runtime-agent/internal/config/provider_main_test.go
  components/compass-runtime-agent/internal/config/provider_test.go
  components/compass-runtime-agent/internal/config/testdata/config.json
Due: console-integration

Review fixes
  docs/kyma/04-03-cluster-installation.md
  docs/kyma/04-05-use-your-own-domain.md
Due: post-master-kyma-docs-website, kyma-docs

Update k8s to 1.15.0
  common/Gopkg.lock
  common/Gopkg.toml
  common/microfrontend-client/pkg/apis/ui/v1alpha1/zz_generated.deepcopy.go
  common/microfrontend-client/pkg/client/clientset/versioned/clientset.go
  common/microfrontend-client/pkg/client/clientset/versioned/fake/clientset_generated.go
  common/microfrontend-client/pkg/client/clientset/versioned/fake/register.go
  common/microfrontend-client/pkg/client/clientset/versioned/scheme/register.go
  common/microfrontend-client/pkg/client/clientset/versioned/typed/ui/v1alpha1/clustermicrofrontend.go
  common/microfrontend-client/pkg/client/clientset/versioned/typed/ui/v1alpha1/fake/fake_clustermicrofrontend.go
  common/microfrontend-client/pkg/client/clientset/versioned/typed/ui/v1alpha1/fake/fake_microfrontend.go
  common/microfrontend-client/pkg/client/clientset/versioned/typed/ui/v1alpha1/microfrontend.go
  common/microfrontend-client/pkg/client/clientset/versioned/typed/ui/v1alpha1/ui_client.go
  common/microfrontend-client/pkg/client/informers/externalversions/internalinterfaces/factory_interfaces.go
Due: none

Remove coverage file also when tests fail
  common/before-commit.sh
  components/api-controller/before-commit.sh
  components/apiserver-proxy/before-commit.sh
  components/application-broker/before-commit.sh
  components/application-connectivity-certs-setup-job/before-commit.sh
  components/application-connectivity-validator/before-commit.sh
  components/application-gateway/before-commit.sh
  components/application-operator/before-commit.sh
  components/application-registry/before-commit.sh
  components/asset-metadata-service/before-commit.sh
  components/asset-upload-service/before-commit.sh
  components/compass-runtime-agent/before-commit.sh
  components/connection-token-handler/before-commit.sh
  components/connectivity-certs-controller/before-commit.sh
  components/connector-service/before-commit.sh
  components/event-bus/before-commit.sh
  components/event-service/before-commit.sh
  components/iam-kubeconfig-service/before-commit.sh
  components/idppreset/before-commit.sh
  components/k8s-dashboard-proxy/before-commit.sh
  components/kyma-operator/before-commit.sh
  components/namespace-controller/before-commit.sh
  components/service-binding-usage-controller/before-commit.sh
Due: console-integration, kyma-components-application-operator, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service

Update k8s.io/client-go
  components/application-broker/Gopkg.lock
  components/application-broker/Gopkg.toml
Due: console-integration

Enable easy enablement of GCP broker through the terminal
  docs/service-catalog/13-02-gcp-broker.md
Due: post-master-kyma-docs-website, kyma-docs

Add post-review fixes
  docs/application-connector/01-01-application-connector.md
  docs/asset-store/03-04-supported-webhooks.md
  docs/console/03-04-headless-cms-in-console.md
  docs/console/assets/spec-types.svg
  docs/headless-cms/03-02-cms-asyncapi-service.md
  docs/service-catalog/11-04-specifications-in-console-ui.md
Due: post-master-kyma-docs-website, kyma-docs

Update 13-02-gcp-broker.md
  docs/service-catalog/13-02-gcp-broker.md
Due: post-master-kyma-docs-website, kyma-docs

Adding test cases
  components/compass-runtime-agent/cover.out
  components/compass-runtime-agent/internal/compassconnection/connector_test.go
  components/compass-runtime-agent/internal/compassconnection/package_test.go
  components/compass-runtime-agent/internal/compassconnection/supervisor.go
  components/compass-runtime-agent/internal/compassconnection/supervisor_test.go
Due: console-integration

remove print and adjust struct to graphq
  tests/compass-runtime-agent/test/testkit/compass/client.go
  tests/compass-runtime-agent/test/testkit/compass/model.go
  tests/compass-runtime-agent/test/testkit/compass/scenarios.go
  tests/compass-runtime-agent/test/testkit/graphql/graphqlizer.go
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Update docs/service-catalog/13-02-gcp-broker.md
  docs/service-catalog/13-02-gcp-broker.md
Due: post-master-kyma-docs-website, kyma-docs

Fix routing
  resources/core/charts/console/templates/core-microfrontend.yaml
  resources/core/charts/console/templates/destination-rule-core-ui.yaml
  resources/core/charts/console/templates/service-core-ui.yaml
  resources/core/charts/console/templates/virtualservice-console.yaml
  resources/core/charts/console/templates/virtualservice-core-ui.yaml
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  post-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
