Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  prow/kyma/kyma-integration: any of: ^(resources|installation)
  prow/kyma/kyma-gke-integration: any of: ^(resources|installation)

Add support for integration testing on cluster for a release
  release.Jenkinsfile
Due: none

Add support for integration testing on cluster for a release (#1570)
  release.Jenkinsfile
Due: none

Installer image bump (#1569)
  installation/resources/installer.yaml
  kyma-installer/kyma.Dockerfile
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add the list of available examples
  docs/kyma/docs/007-overview-examples.md
Due: none

Minor clean up
  components/proxy-service/cmd/proxyservice/options.go
  components/proxy-service/cmd/proxyservice/proxyservice.go
  components/proxy-service/internal/authorization/basicauthstrategy.go
  components/proxy-service/internal/authorization/externaltokenstrategy.go
  components/proxy-service/internal/authorization/externaltokenstrategy_test.go
  components/proxy-service/internal/authorization/factory.go
  components/proxy-service/internal/authorization/factory_test.go
  components/proxy-service/internal/authorization/oauthstrategy_test.go
  components/proxy-service/internal/httpconsts/httpconsts.go
  components/proxy-service/internal/k8sconsts/nameresolver.go
  components/proxy-service/internal/k8sconsts/nameresolver_test.go
  components/proxy-service/internal/proxy/cache.go
  components/proxy-service/internal/proxy/cache_test.go
  components/proxy-service/internal/proxy/proxy.go
  components/proxy-service/internal/proxy/proxy_test.go
Due: none

Refactoring: renamed methods in Strategy interface
  components/proxy-service/internal/authorization/basicauthstrategy.go
  components/proxy-service/internal/authorization/basicauthstrategy_test.go
  components/proxy-service/internal/authorization/externaltokenstrategy.go
  components/proxy-service/internal/authorization/externaltokenstrategy_test.go
  components/proxy-service/internal/authorization/factory.go
  components/proxy-service/internal/authorization/factory_test.go
  components/proxy-service/internal/authorization/mocks/Strategy.go
  components/proxy-service/internal/authorization/noauthstrategy.go
  components/proxy-service/internal/authorization/oauthstrategy.go
  components/proxy-service/internal/authorization/oauthstrategy_test.go
  components/proxy-service/internal/proxy/forbiddenrequestretrier.go
  components/proxy-service/internal/proxy/proxy.go
  components/proxy-service/internal/proxy/proxy_test.go
Due: none

Correct links
  docs/kyma/docs/007-overview-examples.md
Due: none

Add a minor change
  docs/kyma/docs/007-overview-examples.md
Due: none

Reverse proxy app is now configurable through the cmd args
  components/k8s-dashboard-proxy/Dockerfile
  components/k8s-dashboard-proxy/Jenkinsfile
  components/k8s-dashboard-proxy/Makefile
  components/k8s-dashboard-proxy/cmd/reverseproxy/reverseproxy.go
  components/k8s-dashboard-proxy/util/opts.go
Due: none

Component README
  components/k8s-dashboard-proxy/README.md
Due: none

Update core values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update application-connector values.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update dex values.yaml
  resources/dex/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update istio-kyma-patch values.yaml
  resources/istio-kyma-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update logging values.yaml
  resources/logging/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Use new API domain in other components
  components/ui-api-layer/Gopkg.toml
  components/ui-api-layer/internal/domain/apicontroller/api_converter.go
  components/ui-api-layer/internal/domain/apicontroller/api_converter_test.go
  components/ui-api-layer/internal/domain/apicontroller/api_resolver_test.go
  components/ui-api-layer/internal/domain/apicontroller/api_service.go
  components/ui-api-layer/internal/domain/apicontroller/api_service_test.go
  components/ui-api-layer/internal/domain/apicontroller/apicontroller.go
  components/ui-api-layer/internal/domain/apicontroller/automock/api_lister.go
  components/ui-api-layer/internal/domain/apicontroller/interfaces.go
  docs/kyma/docs/assets/api-with-auth.yaml
  docs/kyma/docs/assets/api-without-auth.yaml
  docs/serverless/docs/assets/api-with-auth.yaml
  docs/serverless/docs/assets/api-without-auth.yaml
Due: prow/components/ui-api-layer, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer

Use new API domain in charts
  resources/core/charts/api-controller/templates/pre-install-rbac.yaml
  resources/core/charts/api-controller/templates/tests/test-account-and-role.yaml
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
  resources/core/charts/kubeless/templates/tests/k8s.yaml
  resources/core/charts/kubeless/templates/tests/svcbind-lambda.yaml
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
  resources/core/charts/ui-api/templates/cluster-role.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Use new api controller in ui-api-layer
  components/ui-api-layer/Gopkg.lock
Due: prow/components/ui-api-layer, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer

Minor cleanup
  components/proxy-service/internal/authorization/factory.go
  components/proxy-service/internal/metadata/secrets/repository.go
  components/proxy-service/internal/proxy/cache.go
  components/proxy-service/internal/proxy/forbiddenresponseretrier.go
  components/proxy-service/internal/proxy/forbiddenresponseretrier_test.go
  components/proxy-service/internal/proxy/proxy.go
  components/proxy-service/internal/proxy/proxyfactory.go
Due: none

Add retries to CR update in Metadata Service
  components/metadata-service/Gopkg.lock
  components/metadata-service/internal/metadata/remoteenv/repository.go
Due: none

upgrade console image
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

More changes in docs
  docs/api-gateway/docs/001-overview-api-gateway.md
  docs/api-gateway/docs/005-architecture-api-gateway.md
  docs/api-gateway/docs/011-cr-api.md
  docs/application-connector/docs/050-gs-calling-registered-service-from-kyma.md
Due: none

Change API domain in tests
  tests/api-controller-acceptance-tests/Gopkg.lock
  tests/api-controller-acceptance-tests/apicontroller/apicontroller_test.go
Due: none

Add retries to CR update in Metadata Service (#1578)
  components/metadata-service/Gopkg.lock
  components/metadata-service/internal/metadata/remoteenv/repository.go
Due: none

Bump Metadata Service
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Rephrase the table introduction
  docs/kyma/docs/007-overview-examples.md
Due: none

Fix kyma revision used ui-api-layer
  components/ui-api-layer/Gopkg.toml
Due: prow/components/ui-api-layer, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer

Fixed issue with namespace flag
  components/proxy-service/cmd/proxyservice/options.go
Due: none

Remove default RE from installation/resources #1458
  installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Remove default RE from installation/scripts #1458
  installation/scripts/clean-up.sh
  installation/scripts/testing.sh
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Remove resources/remote-environments #1458
  resources/remote-environments/.helmignore
  resources/remote-environments/Chart.yaml
  resources/remote-environments/README.md
  resources/remote-environments/templates/NOTES.txt
  resources/remote-environments/templates/_helpers.tpl
  resources/remote-environments/templates/remote-env.yaml
  resources/remote-environments/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Generate lock using dep 0.4.1
  components/ui-api-layer/Gopkg.lock
Due: prow/components/ui-api-layer, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer

debug docker issue
  installation/cmd/ci.run.sh
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Updated client for metadata service tests
  tests/metadata-service-tests/Gopkg.lock
  tests/metadata-service-tests/Gopkg.toml
  tests/metadata-service-tests/test/apitests/metadata_test.go
  tests/metadata-service-tests/test/testkit/k8sresources_check.go
Due: none

debug
  installation/cmd/ci.run.sh
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Connector tests now create remote enviroments for testing purpose (#1458)
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/k8sClient.go
Due: none

debug 2
  installation/cmd/ci.run.sh
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update api controller test dependencies
  tests/api-controller-acceptance-tests/Gopkg.lock
  tests/api-controller-acceptance-tests/Gopkg.toml
Due: none

Documentation updated (#1458)
  components/connector-service/docs/api/connectorapi.yaml
  components/metadata-service/README.md
  docs/application-connector/docs/008-details-ac-security.md
  docs/kyma/docs/050-cr-installation.md
Due: none
