Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Update post-upgrade-job.yaml
  resources/knative-eventing/charts/knative-eventing/templates/post-upgrade-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add mutation for creating namespaces (#4111)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add CORS support to api-controller (#4187)
  components/api-controller/cmd/controller/main.go
  components/api-controller/pkg/apis/networking.istio.io/v1alpha3/types.go
  components/api-controller/pkg/apis/networking.istio.io/v1alpha3/zz_generated.deepcopy.go
  components/api-controller/pkg/controller/networking/v1/networkingv1.go
  components/api-controller/pkg/controller/networking/v1/networkingv1_integration_test.go
  components/api-controller/pkg/controller/networking/v1/networkingv1_test.go
Due: console-integration

Fix horizontalPodAutoscaler
  tests/perf/prerequisites/serverless/function-size-l.yaml
  tests/perf/prerequisites/serverless/function-size-m.yaml
  tests/perf/prerequisites/serverless/function-size-s.yaml
  tests/perf/prerequisites/serverless/function-size-xl.yaml
Due: none

Do not test function size-l due to resouce limitations
  tests/perf/prerequisites/serverless/setup.sh
Due: none

Rename SCRIPTS_DIR to avoid environment variable collissions
  tests/perf/prerequisites/serverless/setup.sh
Due: none

Lower number of virrtual users
  tests/perf/components/serverless/perf-test-serverless.js
Due: none

Add readme
  tests/perf/README.md
  tests/perf/components/serverless/README.md
Due: none

Remove unnecessary metadata
  tests/perf/prerequisites/serverless/function-size-l.yaml
  tests/perf/prerequisites/serverless/function-size-m.yaml
  tests/perf/prerequisites/serverless/function-size-s.yaml
  tests/perf/prerequisites/serverless/function-size-xl.yaml
Due: none

Increase timeout to 3 minutes
  tests/perf/prerequisites/serverless/setup.sh
Due: none

Write grafana starting with big letter
  tests/perf/README.md
Due: none

Fix PS installation scripts after recent changes
  installation/scripts/extract-kyma-installer-image.ps1
  installation/scripts/is-installed.ps1
  installation/scripts/minikube.ps1
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

change image to official released version; small fixes in readme
  components/api-controller/README.md
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Application broker mibgration fix (#4195)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Service instances in catalog view image bump (#4178)
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Improve lambdas performance tests (#4198)
  tests/perf/README.md
  tests/perf/components/serverless/README.md
  tests/perf/components/serverless/perf-test-serverless.js
  tests/perf/prerequisites/serverless/function-size-l.yaml
  tests/perf/prerequisites/serverless/function-size-m.yaml
  tests/perf/prerequisites/serverless/function-size-s.yaml
  tests/perf/prerequisites/serverless/function-size-xl.yaml
  tests/perf/prerequisites/serverless/setup.sh
Due: none

Add pretty.ResourceQuota in errors
  components/console-backend-service/internal/domain/k8s/automock/resource_quota_lister.go
  components/console-backend-service/internal/domain/k8s/resourcequota_converter.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_service.go
  components/console-backend-service/internal/domain/k8s/resourcequota_service_test.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Remove unnecessary changes
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add mutation for creating resource quota (#4134)
  components/console-backend-service/internal/domain/k8s/automock/export.go
  components/console-backend-service/internal/domain/k8s/automock/gql_resource_quota_converter.go
  components/console-backend-service/internal/domain/k8s/automock/resource_quota_lister.go
  components/console-backend-service/internal/domain/k8s/export_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_converter.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_service.go
  components/console-backend-service/internal/domain/k8s/resourcequota_service_test.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

Upgrade Knative Eventing to v0.5.0 (#3903)
  components/event-bus/cmd/event-bus-crd-update-job/Dockerfile
  components/event-bus/cmd/event-bus-crd-update-job/crds.yaml
  components/event-bus/cmd/event-bus-crd-update-job/update-crds.sh
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
  resources/event-bus/values.yaml
  resources/knative-eventing/Chart.yaml
  resources/knative-eventing/README.md
  resources/knative-eventing/charts/knative-eventing/templates/eventing.yaml
  resources/knative-eventing/charts/knative-eventing/templates/post-upgrade-job.yaml
  resources/knative-provisioner-natss/Chart.yaml
  resources/knative-provisioner-natss/README.md
  resources/knative-provisioner-natss/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump api-controller image to version with CORS support (#4188)
  components/api-controller/README.md
  resources/core/charts/api-controller/templates/deployment.yaml
  resources/core/charts/api-controller/values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Handle minikube ip local installation
  installation/scripts/generate-local-config.ps1
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Revert checking minikube status
  installation/scripts/minikube.ps1
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Set namespace for horizontalPodAutoscaler explicitely
  tests/perf/prerequisites/serverless/function-size-l.yaml
  tests/perf/prerequisites/serverless/function-size-m.yaml
  tests/perf/prerequisites/serverless/function-size-s.yaml
  tests/perf/prerequisites/serverless/function-size-xl.yaml
Due: none

Use size-m instead of size-l
  tests/perf/components/serverless/perf-test-serverless.js
Due: none

Update event-bus version
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Set namespace for horizontalPodAutoscaler explicitly (#4202)
  tests/perf/components/serverless/perf-test-serverless.js
  tests/perf/prerequisites/serverless/function-size-l.yaml
  tests/perf/prerequisites/serverless/function-size-m.yaml
  tests/perf/prerequisites/serverless/function-size-s.yaml
  tests/perf/prerequisites/serverless/function-size-xl.yaml
Due: none

Added fetching with token request
  tests/application-connector-tests/Gopkg.lock
  tests/application-connector-tests/Gopkg.toml
  tests/application-connector-tests/test/application/suite.go
  tests/application-connector-tests/test/application/test/application_flow_test.go
  tests/application-connector-tests/test/applicationflow/suite.go
  tests/application-connector-tests/test/applicationflow/test/application_flow_test.go
  tests/application-connector-tests/test/testkit/config.go
  tests/application-connector-tests/test/testkit/connector/client.go
  tests/application-connector-tests/test/testkit/connector/model.go
  tests/application-connector-tests/test/testkit/services/client.go
  tests/application-connector-tests/test/testkit/services/errors.go
  tests/application-connector-tests/test/testkit/services/model.go
  tests/application-connector-tests/test/testkit/util/util.go
Due: none

Switch dep version
  components/application-connectivity-validator/Gopkg.lock
Due: console-integration

certificate validation test removed
  tests/connector-service-tests/test/apitests/certificatevalidation_test.go
  tests/connector-service-tests/test/testkit/k8sClient.go
Due: none

Fix exist/not exist service display info
  components/console-backend-service/internal/domain/application/app_resolver.go
  components/console-backend-service/internal/domain/application/app_resolver_test.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

Bump image of Application Operator and Application Connectivity Validator
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update Istio CA certs
  resources/istio-kyma-patch/templates/istio-ingressgateway-ca-certs.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Deps updated
  tests/connector-service-tests/Gopkg.lock
Due: none

Run fmt from buildpack
  components/application-connectivity-validator/cmd/applicationconnectivityvalidator/options.go
Due: console-integration

Apply suggestions from code review
  docs/kyma/04-02-local-installation.md
  docs/kyma/04-11-local-reinstallation.md
  docs/kyma/04-13-local-reinstallation-deprecated.md
  installation/cmd/run.ps1
  installation/cmd/run.sh
  installation/scripts/build-kyma-installer.ps1
  installation/scripts/build-kyma-installer.sh
  installation/scripts/clean-up.ps1
  installation/scripts/clean-up.sh
  installation/scripts/configure-components.ps1
  installation/scripts/configure-components.sh
  installation/scripts/install-tiller.ps1
  installation/scripts/install-tiller.sh
  installation/scripts/installer.ps1
  installation/scripts/installer.sh
  installation/scripts/minikube.ps1
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update 04-02-local-installation.md
  docs/kyma/04-02-local-installation.md
Due: post-master-kyma-docs-website, kyma-docs

Update docs/kyma/04-02-local-installation.md
  docs/kyma/04-02-local-installation.md
Due: post-master-kyma-docs-website, kyma-docs

Update docs/kyma/04-07-local-installation-deprecated.md
  docs/kyma/04-07-local-installation-deprecated.md
Due: post-master-kyma-docs-website, kyma-docs

Update event-bus version (#4201)
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
