Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-components-ui-api-layer:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-docs:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-tests-kubeless-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Update image version for all console components (#2252)
  resources/core/charts/console/values.yaml
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
  resources/core/charts/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/core/charts/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/core/charts/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Bump application-broker after ark backups fix (#2230)
  resources/application-connector/charts/application-broker/templates/cluster-role.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

bump
  installation/resources/installer.yaml
  tools/kyma-installer/kyma.Dockerfile
Due: kyma-integration, kyma-gke-integration

Fix BackendModule test in UI API Layer acceptance tests
  tests/ui-api-layer-acceptance-tests/internal/domain/ui/backendmodule_test.go
Due: none

Remove redundant ticks from console docs
  docs/console/docs/020-cr-microfrontend.md
  docs/console/docs/021-cr-clustermicrofrontend.md
Due: kyma-docs

Remove redundant ticks from console docs (#2263)
  docs/console/docs/020-cr-microfrontend.md
  docs/console/docs/021-cr-clustermicrofrontend.md
Due: kyma-docs

Fix BackendModule test in UI API Layer acceptance tests (#2261)
  tests/ui-api-layer-acceptance-tests/internal/domain/ui/backendmodule_test.go
Due: none

Bump UI API Layer acceptance tests
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

log ui charts added
  resources/logging/charts/log-ui/.helmignore
  resources/logging/charts/log-ui/Chart.yaml
  resources/logging/charts/log-ui/README.md
  resources/logging/charts/log-ui/templates/_helpers.tpl
  resources/logging/charts/log-ui/templates/configmap.yaml
  resources/logging/charts/log-ui/templates/cr.yaml
  resources/logging/charts/log-ui/templates/deployment.yaml
  resources/logging/charts/log-ui/templates/service.yaml
  resources/logging/charts/log-ui/templates/virtualservice.yaml
  resources/logging/charts/log-ui/values.yaml
  resources/logging/templates/service.yaml
  resources/logging/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Kyma Release 0.6.0
  resources/application-connector/values.yaml
  resources/ark/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/knative/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/service-catalog/values.yaml
  resources/xip-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Bump UI API Layer acceptance tests (#2262)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Connection token handler dockerfile
  components/connection-token-handler/Dockerfile
Due: console-integration

move function to utils.sh file
  installation/cmd/run.sh
  installation/scripts/installer.sh
  installation/scripts/minikube.sh
  installation/scripts/utils.sh
Due: kyma-integration, kyma-gke-integration

fix
  installation/cmd/run.sh
  installation/scripts/installer.sh
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration

add check of input parameter value
  installation/cmd/run.sh
  installation/scripts/installer.sh
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration

script exit on invalid parameters
  installation/cmd/run.sh
  installation/scripts/installer.sh
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration

Application operator dockerfile
  components/application-operator/Dockerfile
Due: console-integration, kyma-components-application-operator

Bump application-broker after ark backups fix (#2230)
  resources/application-connector/charts/application-broker/templates/cluster-role.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Bump test images
  resources/core/values.yaml
  resources/logging/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Application proxy dockerfile
  components/application-proxy/Dockerfile
Due: console-integration

add variable for scripts dir
  installation/cmd/run.sh
Due: kyma-integration, kyma-gke-integration

Improve console documentation
  docs/console/docs/020-cr-microfrontend.md
  docs/console/docs/021-cr-clustermicrofrontend.md
Due: kyma-docs

Application registry dockerfile
  components/application-operator/Dockerfile
  components/application-registry/Dockerfile
Due: console-integration, kyma-components-application-operator

Kyma Release 0.6 (#2265)
  docs/console/docs/020-cr-microfrontend.md
  docs/console/docs/021-cr-clustermicrofrontend.md
  resources/application-connector/charts/application-broker/templates/cluster-role.yaml
  resources/application-connector/values.yaml
  resources/ark/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/knative/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/service-catalog/values.yaml
  resources/xip-patch/values.yaml
  tests/ui-api-layer-acceptance-tests/internal/domain/ui/backendmodule_test.go
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs

Improve console documentation (#2268)
  docs/console/docs/020-cr-microfrontend.md
  docs/console/docs/021-cr-clustermicrofrontend.md
Due: kyma-docs

Bump test images (#2255)
  resources/core/values.yaml
  resources/logging/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Connector service dockerfile
  components/connector-service/Dockerfile
Due: console-integration

Configure luigified console title, logo and favicon
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Explicit delay
  tests/api-controller-acceptance-tests/apicontroller/integration_test.go
Due: none

Correct the Azure link
  docs/service-brokers/docs/014-configuration-enable-azure-broker.md
Due: kyma-docs

Validate minikube.sh, run.sh and installer.sh scripts input parameters (#2257)
  installation/cmd/run.sh
  installation/scripts/installer.sh
  installation/scripts/minikube.sh
  installation/scripts/utils.sh
Due: kyma-integration, kyma-gke-integration

change catalog image for tests
  resources/core/charts/service-catalog-addons/charts/catalog-ui/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Use FixedDelay from retry-go
  tests/api-controller-acceptance-tests/Gopkg.lock
  tests/api-controller-acceptance-tests/Gopkg.toml
  tests/api-controller-acceptance-tests/apicontroller/fixture.go
  tests/api-controller-acceptance-tests/apicontroller/integration_test.go
Due: none

Add a link to the white list
  milv.config.yaml
Due: none

Installer image bump (#2260)
  installation/resources/installer.yaml
  tools/kyma-installer/kyma.Dockerfile
Due: kyma-integration, kyma-gke-integration

Correct the Azure link (#2277)
  docs/service-brokers/docs/014-configuration-enable-azure-broker.md
  milv.config.yaml
Due: kyma-docs

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
