Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, pre-kyma-components-application-connectivity-certs-setup-job, post-kyma-components-application-connectivity-certs-setup-job, pre-master-kyma-components-application-gateway, post-master-kyma-components-application-gateway, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-backup, pre-master-kyma-kind-lite, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-connector-service-tests, post-master-kyma-tests-connector-service-tests, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-api-controller, post-master-kyma-tests-integration-api-controller, pre-master-kyma-tests-integration-cluster-users, post-master-kyma-tests-integration-cluster-users, pre-kyma-tests-integration-event-service, post-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-logging, post-master-kyma-tests-integration-logging, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-backup-plugins, post-master-kyma-tools-backup-plugins, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  pre-kyma-components-application-connectivity-certs-setup-job: any of: ^components/application-connectivity-certs-setup-job/|^common/makefiles/
  post-kyma-components-application-connectivity-certs-setup-job: any of: ^components/application-connectivity-certs-setup-job/|^common/makefiles/
  pre-master-kyma-components-application-gateway: any of: ^components/application-gateway/
  post-master-kyma-components-application-gateway: any of: ^components/application-gateway/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  post-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-development-artifacts-idk: any of: ^installation|^resources|^components/kyma-operator|^tools/kyma-installer
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gcs-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gcs-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/core/templates/tests\S+|resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-backup: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-kind-lite: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  post-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  post-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  pre-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  post-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  pre-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/|^common/makefiles/
  post-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/|^common/makefiles/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  pre-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  post-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  post-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

initial
  resources/monitoring/charts/grafana/dashboards/ory-hydra-maester-dashboard.json
  resources/ory/charts/hydra/charts/hydra-maester/templates/deployment.yaml
  resources/ory/charts/hydra/charts/hydra-maester/templates/servicemonitor.yaml
  resources/ory/charts/hydra/charts/hydra-maester/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

upgrade istio to 1.3.5
  resources/istio/Chart.yaml
  resources/istio/charts/certmanager/Chart.yaml
  resources/istio/charts/galley/Chart.yaml
  resources/istio/charts/gateways/Chart.yaml
  resources/istio/charts/grafana/Chart.yaml
  resources/istio/charts/istiocoredns/Chart.yaml
  resources/istio/charts/kiali/Chart.yaml
  resources/istio/charts/mixer/Chart.yaml
  resources/istio/charts/nodeagent/Chart.yaml
  resources/istio/charts/pilot/Chart.yaml
  resources/istio/charts/prometheus/Chart.yaml
  resources/istio/charts/security/Chart.yaml
  resources/istio/charts/security/templates/deployment.yaml
  resources/istio/charts/security/values.yaml
  resources/istio/charts/sidecarInjectorWebhook/Chart.yaml
  resources/istio/charts/tracing/Chart.yaml
  resources/istio/requirements.yaml
  resources/istio/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

upgrade istio to 1.3.5 - fix requirements file
  resources/istio/requirements.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

bump istio version in istio-kyma-patch values
  resources/istio-kyma-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Add missing fields
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_converter.go
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_converter_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_converter_test.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Fix API events not being recorded
  components/event-sources/config/200-rbac.yaml
  components/event-sources/reconciler/httpsource/controller.go
Due: console-integration

Add port name2
  resources/event-bus/charts/event-publish-service/templates/service.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Fix 0 SuccessThreshold causing unnecessary updates
  components/event-sources/reconciler/objects/equality.go
  components/event-sources/reconciler/objects/equality_test.go
Due: console-integration

name natss-ch-dispatcher port
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/templates/natss.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

removed load test (#6260)
  CODEOWNERS
  tests/perf/prerequisites/serverless/function-size-l.yaml
  tests/perf/prerequisites/serverless/function-size-m.yaml
  tests/perf/prerequisites/serverless/function-size-s.yaml
  tests/perf/prerequisites/serverless/function-size-xl.yaml
  tools/load-test/Dockerfile
  tools/load-test/Gopkg.lock
  tools/load-test/Gopkg.toml
  tools/load-test/Makefile
  tools/load-test/OWNERS
  tools/load-test/README.md
  tools/load-test/before-commit.sh
  tools/load-test/deploy/chart/load-test/.helmignore
  tools/load-test/deploy/chart/load-test/Chart.yaml
  tools/load-test/deploy/chart/load-test/templates/_helpers.tpl
  tools/load-test/deploy/chart/load-test/templates/load-test.yaml
  tools/load-test/deploy/chart/load-test/values.yaml
  tools/load-test/k8syaml/function.yaml
  tools/load-test/k8syaml/ns.yaml
  tools/load-test/load-test.go
  tools/load-test/reporter.go
  tools/load-test/utils.go
Due: none

Removed app label
  resources/event-bus/charts/event-publish-service/templates/_helpers.tpl
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Removed quotes
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/templates/pre-upgrade-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Refer to "adapter" instead of "receive adapter"
  components/event-sources/README.md
  components/event-sources/apis/sources/v1alpha1/http_lifecycle.go
  components/event-sources/reconciler/httpsource/adapter_config.go
  components/event-sources/reconciler/httpsource/reconcile.go
Due: console-integration

bump director and tests images
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

rename containers
  resources/compass/templates/director-test.yaml
  resources/compass/templates/e2e-compass-test.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Implement suggestions
  resources/core/charts/apiserver-proxy/templates/policy.yaml
  resources/core/charts/apiserver-proxy/templates/servicemonitor.yaml
  resources/monitoring/charts/grafana/dashboards/apiserver-proxy.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Use explicit ko references
  components/event-sources/config/500-sources-controller.yaml
Due: console-integration

fix1
  resources/ory/charts/hydra/charts/hydra-maester/templates/servicemonitor.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Apply istio configs
  resources/monitoring/charts/kube-state-metrics/values.yaml
  resources/monitoring/charts/prometheus-node-exporter/values.yaml
  resources/monitoring/templates/prometheus/destination-rule.yaml
  resources/monitoring/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

v1
  docs/security/08-03-add-connector.md
Due: post-master-kyma-docs-website, kyma-docs

Change caching policy for GraphQL requests
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Add Rafter DocsTopic to generate preview
  docs/rafter/assets/front-matter-service-openapi.yaml
  resources/core/charts/docs/charts/content-ui/templates/docs-components-asset-store-cdt.yaml
  resources/core/charts/docs/charts/content-ui/templates/docs-components-headless-cms-cdt.yaml
  resources/core/charts/docs/charts/content-ui/templates/docs-components-rafter-cdt.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

fix for grafana monitoring issue
  resources/monitoring/charts/grafana/templates/policy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Updage draft image
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Bump compass tests (#6262)
  resources/compass/templates/director-test.yaml
  resources/compass/templates/e2e-compass-test.yaml
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

oathkeeper
  resources/monitoring/charts/grafana/dashboards/ory-oathkeeper-maester-dashboard.json
  resources/ory/charts/hydra/charts/hydra-maester/templates/deployment.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/deployment.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/servicemonitor.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

fix3
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/servicemonitor.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

fix
  resources/ory/charts/hydra/charts/hydra-maester/templates/deployment.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

nopolicy
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/servicemonitor.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Fix broken links
  docs/serverless/06-01-function.md
  docs/service-mesh/01-01-service-mesh.md
  docs/service-mesh/03-03-istio-rbac.md
  docs/service-mesh/10-03-connection-refused.md
  docs/service-mesh/10-04-jobs-fail-aks.md
  resources/api-gateway/README.md
  resources/dex/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-development-artifacts-idk

Integrate HTTP adapter with Reconciler (#6272)
  components/event-sources/Gopkg.lock
  components/event-sources/Makefile
  components/event-sources/README.md
  components/event-sources/adapter/http/README.md
  components/event-sources/apis/sources/v1alpha1/http_lifecycle.go
  components/event-sources/apis/sources/v1alpha1/http_types.go
  components/event-sources/config/200-rbac.yaml
  components/event-sources/config/500-sources-controller.yaml
  components/event-sources/config/samples/dummy-httpsource.yaml
  components/event-sources/reconciler/httpsource/adapter_config.go
  components/event-sources/reconciler/httpsource/controller.go
  components/event-sources/reconciler/httpsource/controller_test.go
  components/event-sources/reconciler/httpsource/reconcile.go
  components/event-sources/reconciler/httpsource/reconcile_test.go
  components/event-sources/reconciler/objects/channel_test.go
  components/event-sources/reconciler/objects/equality.go
  components/event-sources/reconciler/objects/equality_test.go
  components/event-sources/reconciler/objects/service.go
  components/event-sources/reconciler/objects/service_test.go
  components/event-sources/reconciler/testing/configmap.go
  components/event-sources/reconciler/testing/env.go
  components/event-sources/reconciler/testing/factory.go
  components/event-sources/reconciler/testing/httpsource.go
  components/event-sources/reconciler/testing/service.go
  components/event-sources/test/fixtures/ksvc.json
Due: console-integration

Fix broken links (#6280)
  docs/serverless/06-01-function.md
  docs/service-mesh/01-01-service-mesh.md
  docs/service-mesh/03-03-istio-rbac.md
  docs/service-mesh/10-03-connection-refused.md
  docs/service-mesh/10-04-jobs-fail-aks.md
  resources/api-gateway/README.md
  resources/dex/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-development-artifacts-idk

Increase timeout on upgrade tests
  resources/istio/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/templates/pod.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Modify values to pick files from the fork
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Bump core-ui image
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Bump assetstore and cms images (#6274)
  resources/assetstore/values.yaml
  resources/cms/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-kind-lite

Add container port to test executor pod
  tests/application-gateway-tests/test/helmtest/proxy/suite.go
Due: none

Bump image of Application Gateway Tests
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-kind-lite
