Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Remove envoy filters
  resources/core/charts/ui-api/templates/envoy-filter-graphql-resources-to-header.yaml
  resources/core/charts/ui-api/templates/envoy-filter.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Remove sidcar
  resources/core/charts/ui-api/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Add docs how to install Knative from release
  docs/kyma/docs/038-inst-knative.md
Due: kyma-docs

Bump lambda UI Image to latest
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

remove RunBashCommand function
  components/installer/pkg/kymasources/kyma-packages_test.go
  components/installer/pkg/steps/mock.go
  components/installer/pkg/toolkit/command-script-exec.go
Due: console-integration

Fix Parsing websocket protocol
  components/ui-api-layer/internal/authn/middleware.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Add badges to readme to point to slack and twitter
  README.md
Due: none

Add badges to readme to point to slack and twitter (#2224)
  README.md
Due: none

incorporate default clusterrolebinding into minikube.sh (#2204)
  docs/kyma/docs/030-inst-local-installation-from-release.md
  installation/scripts/installer.sh
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, kyma-docs

Fix acceptance tests (#2220)
  tests/acceptance/servicecatalog/binding_usage_test.go
Due: none

fix
  docs/kyma/docs/036-inst-xip.io-domain.md
Due: kyma-docs

update docu
  docs/kyma/docs/036-inst-xip.io-domain.md
Due: kyma-docs

gofmted
  components/installer/pkg/steps/mock.go
Due: console-integration

Support for minikube restart (#2156)
  docs/kyma/docs/030-inst-local-installation-from-release.md
  docs/kyma/docs/033-inst-local-installation-scripts.md
  installation/scripts/minikube.ps1
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, kyma-docs

Add BackendModule CR description
  docs/console/docs/023-cr-backendmodule.md
Due: kyma-docs

Bump lambda UI Image to latest (#2219)
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Update test acceptance image version
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Apply suggestions from code review
  docs/kyma/docs/038-inst-knative.md
Due: kyma-docs

Update 038-inst-knative.md
  docs/kyma/docs/038-inst-knative.md
Due: kyma-docs

link fix
  docs/kyma/docs/038-inst-knative.md
Due: kyma-docs

Remove function for calling Bash scripts from the Installer component (#2226)
  components/installer/pkg/kymasources/kyma-packages_test.go
  components/installer/pkg/steps/mock.go
  components/installer/pkg/toolkit/command-script-exec.go
Due: console-integration

Skip Application charts installation in acceptance tests if not needed (#2154)
  tests/acceptance/application/suite/application.go
  tests/acceptance/servicecatalog/binding_usage_test.go
  tests/acceptance/servicecatalog/servicecatalog_test.go
  tests/application-operator-tests/test/testkit/k8sresources_client.go
  tests/application-registry-tests/Gopkg.lock
  tests/application-registry-tests/test/apitests/apispec_test.go
  tests/application-registry-tests/test/apitests/metadata_test.go
  tests/application-registry-tests/test/k8stests/k8sresource_test.go
  tests/application-registry-tests/test/testkit/k8sresources_check.go
  tests/application-registry-tests/test/testkit/k8sresources_client.go
  tests/connector-service-tests/Gopkg.lock
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/k8sClient.go
Due: none

Moved set finalizer method
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/methods.go
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/methods_test.go
  components/application-operator/pkg/controller/reconciler.go
Due: console-integration, kyma-components-application-operator

Add docs how to install Knative from release (#2218)
  docs/kyma/docs/038-inst-knative.md
Due: kyma-docs

Change images to PR ones
  resources/application-connector/values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Bump develop images
  resources/application-connector/values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Release 0.6.0-rc1 using Prow - dry run (#2193)
  components/connection-token-handler/Gopkg.lock
  resources/application-connector/values.yaml
  resources/ark/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/knative/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/service-catalog/values.yaml
  resources/xip-patch/values.yaml
  tests/acceptance/servicecatalog/binding_usage_test.go
  tests/logging/Makefile
Due: kyma-integration, kyma-gke-integration, console-integration

Describe UI API Layer
  docs/console/docs/022-ui-api-layer.md
Due: kyma-docs

disable cache in ui tests
  resources/core/templates/tests/test-ui-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

xip.io manual udpate (ip allocation methods)
  docs/kyma/docs/036-inst-xip.io-domain.md
Due: kyma-docs

Make is-installed script not exit on error (#2087)
  CODEOWNERS
  ci.Dockerfile
  docs/kyma/docs/033-inst-local-installation-scripts.md
  installation/scripts/is-installed.sh
  prow/kyma-integration-on-debian/deploy-and-test-kyma.sh
Due: kyma-integration, kyma-gke-integration, kyma-docs

Use bundles 0.2.0 - added testing bundles. (#2178)
  docs/service-brokers/docs/003-overview-gcp-broker.md
  resources/core/charts/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs

link update
  docs/kyma/docs/036-inst-xip.io-domain.md
Due: kyma-docs

Bump Instances Image
  resources/core/charts/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

formatting update
  docs/kyma/docs/036-inst-xip.io-domain.md
Due: kyma-docs

Allow to pass ingressgateway service name (#2186)
  components/xip-patch/xip-patch.sh
Due: console-integration

Luigified Console (#1991)
  docs/console/docs/assets/cmf-admin-section.png
  docs/console/docs/assets/mf-one-namespace.png
  resources/core/charts/console/values.yaml
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
  resources/core/charts/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/core/charts/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/core/charts/service-catalog-addons/charts/instances-ui/Chart.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs
