Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, kyma-tests-kubeless, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-components-ui-api-layer:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-docs:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-tests-kubeless:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Add GraphQL type BackendModule along with converter
  components/ui-api-layer/internal/domain/ui/backendmodule_converter.go
  components/ui-api-layer/internal/domain/ui/backendmodule_converter_test.go
  components/ui-api-layer/internal/gqlschema/models_gen.go
  components/ui-api-layer/internal/gqlschema/schema.graphql
  components/ui-api-layer/internal/gqlschema/schema_gen.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Remove interfaces from kubeless domain
  components/ui-api-layer/internal/domain/kubeless/function_resolver.go
  components/ui-api-layer/internal/domain/kubeless/function_service.go
  components/ui-api-layer/internal/domain/kubeless/interfaces.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Add acceptance tests for UI domain
  tests/ui-api-layer-acceptance-tests/Gopkg.toml
  tests/ui-api-layer-acceptance-tests/client/client.go
  tests/ui-api-layer-acceptance-tests/domain/ui/backendmodule_test.go
Due: none

Refactor event handler
  components/ui-api-layer/internal/domain/root_resolver.go
  components/ui-api-layer/internal/module/eventhandler.go
  components/ui-api-layer/internal/module/eventhandler_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Write logic for BackendModule controller
  components/ui-api-layer/internal/module/eventhandler.go
  components/ui-api-layer/internal/module/module.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Add tests for event handler OnUpdate event
  components/ui-api-layer/internal/module/eventhandler.go
  components/ui-api-layer/internal/module/eventhandler_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Add OnAdd and OnDelete event handler test
  components/ui-api-layer/internal/module/eventhandler_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Set the same versions for dependencies as in UI API Layer
  tests/ui-api-layer-acceptance-tests/Gopkg.lock
  tests/ui-api-layer-acceptance-tests/Gopkg.toml
Due: none

Apply suggestions from code review
  components/ui-api-layer/internal/domain/root_resolver.go
  components/ui-api-layer/internal/domain/ui/backendmodule_converter_test.go
  components/ui-api-layer/internal/domain/ui/pretty/kind.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Add unfinished tests for MakePluggableFunc
  components/ui-api-layer/internal/module/automock/pluggable_module.go
  components/ui-api-layer/internal/module/eventhandler.go
  components/ui-api-layer/internal/module/module.go
  components/ui-api-layer/internal/module/module_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Finish tests for MakePluggableFunc
  components/ui-api-layer/internal/module/module_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Fix build
  components/ui-api-layer/internal/domain/k8s/deployment_converter.go
  components/ui-api-layer/internal/domain/kubeless/function_resolver.go
  components/ui-api-layer/internal/domain/root_resolver.go
  components/ui-api-layer/internal/domain/servicecatalog/clusterserviceplan_converter_test.go
  components/ui-api-layer/internal/domain/servicecatalog/serviceplan_converter_test.go
  components/ui-api-layer/internal/domain/ui/automock/export.go
  components/ui-api-layer/internal/domain/ui/backendmodule_converter.go
  components/ui-api-layer/internal/domain/ui/backendmodule_converter_test.go
  components/ui-api-layer/internal/domain/ui/backendmodule_resolver.go
  components/ui-api-layer/internal/domain/ui/backendmodule_resolver_test.go
  components/ui-api-layer/internal/domain/ui/backendmodule_service.go
  components/ui-api-layer/internal/domain/ui/backendmodule_service_test.go
  components/ui-api-layer/internal/domain/ui/export_test.go
  components/ui-api-layer/internal/domain/ui/pretty/kind.go
  components/ui-api-layer/internal/domain/ui/ui.go
  components/ui-api-layer/internal/experimental/featuretoggles.go
  components/ui-api-layer/internal/module/eventhandler.go
  components/ui-api-layer/internal/module/eventhandler_test.go
  components/ui-api-layer/internal/module/module.go
  components/ui-api-layer/internal/module/module_test.go
  components/ui-api-layer/main.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Fix build
  components/ui-api-layer/internal/domain/k8s/deployment_converter.go
  components/ui-api-layer/internal/domain/root_resolver.go
  components/ui-api-layer/internal/domain/servicecatalog/clusterserviceplan_converter_test.go
  components/ui-api-layer/internal/domain/servicecatalog/serviceplan_converter_test.go
  components/ui-api-layer/internal/domain/ui/pretty/kind.go
  tests/ui-api-layer-acceptance-tests/client/client.go
  tests/ui-api-layer-acceptance-tests/domain/application/application_test.go
  tests/ui-api-layer-acceptance-tests/domain/k8s/limitrange_test.go
  tests/ui-api-layer-acceptance-tests/domain/k8s/resourcequota_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/clusterservicebroker_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/servicebroker_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/servicecatalog_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/serviceinstance_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/usage_kind_test.go
  tests/ui-api-layer-acceptance-tests/domain/ui/backendmodule_test.go
  tests/ui-api-layer-acceptance-tests/installer/namespace.go
  tests/ui-api-layer-acceptance-tests/upsbroker/pod.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

release artifacts
  tools/kyma-installer/Makefile
Due: none

Fix generated client for BackendModule CR
  components/ui-api-layer/pkg/apis/ui/v1alpha1/types.go
  components/ui-api-layer/pkg/client/clientset/versioned/typed/ui/v1alpha1/backendmodule.go
  components/ui-api-layer/pkg/client/clientset/versioned/typed/ui/v1alpha1/fake/fake_backendmodule.go
  components/ui-api-layer/pkg/client/clientset/versioned/typed/ui/v1alpha1/fake/fake_ui_client.go
  components/ui-api-layer/pkg/client/clientset/versioned/typed/ui/v1alpha1/ui_client.go
  components/ui-api-layer/pkg/client/informers/externalversions/ui/v1alpha1/backendmodule.go
  components/ui-api-layer/pkg/client/informers/externalversions/ui/v1alpha1/interface.go
  components/ui-api-layer/pkg/client/listers/ui/v1alpha1/backendmodule.go
  components/ui-api-layer/pkg/client/listers/ui/v1alpha1/expansion_generated.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Fix dependencies
  tests/ui-api-layer-acceptance-tests/Gopkg.lock
  tests/ui-api-layer-acceptance-tests/Gopkg.toml
Due: none

Define BackendModule custom resources in Kyma components
  resources/application-connector/templates/backendmodule.yaml
  resources/core/charts/api-controller/templates/backendmodule.yaml
  resources/core/charts/console/templates/backendmodule.yaml
  resources/core/charts/kubeless/templates/backendmodule.yaml
  resources/core/charts/minio/templates/backendmodule.yaml
  resources/core/charts/service-catalog-addons/templates/backendmodule.yaml
  resources/service-catalog/templates/backendmodule.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Testing prow
  components/binding-usage-controller/README.md
Due: console-integration, prow/kyma/components/binding-usage-controller

Testing prow (#2140)
  components/binding-usage-controller/README.md
Due: console-integration, prow/kyma/components/binding-usage-controller

Increase memory limits for logging and overall
  resources/cluster-essentials/templates/resource-quotas.yaml
  resources/logging/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Fixed alert configurations for logging component
  resources/logging/charts/logging-alerts/templates/logging-component-rules.yaml
  resources/logging/charts/logging-alerts/templates/oklog-alert-rules-configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

fix go lint issues
  tools/load-test/load-test.go
Due: none

remove not necessary lines
  tools/kyma-installer/Makefile
Due: none

Add Makefile rule for releasing kyma artifacts (#2136)
  tools/kyma-installer/Makefile
Due: none

Update Gopkg.lock
  tests/acceptance/Gopkg.lock
Due: none

Change remote-environment to application
  tests/acceptance/pkg/report/report.go
Due: none

bump xip-patch image version (#2142)
  resources/xip-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Add extra logs to Service Binding Usage acceptance test (#2035)
  resources/core/templates/tests/rbac-core-acceptance.yaml
  tests/acceptance/Gopkg.lock
  tests/acceptance/pkg/report/report.go
  tests/acceptance/servicecatalog/binding_usage_test.go
Due: kyma-integration, kyma-gke-integration, console-integration

Rename 'environments' to 'namespace-controller' (#2123)
  CODEOWNERS
  components/environments/.gitignore
  components/environments/internal/controller/controller.go
  components/namespace-controller/.gitignore
  components/namespace-controller/Gopkg.lock
  components/namespace-controller/Gopkg.toml
  components/namespace-controller/Jenkinsfile
  components/namespace-controller/Makefile
  components/namespace-controller/README.md
  components/namespace-controller/before-commit.sh
  components/namespace-controller/cmd/controller/main.go
  components/namespace-controller/deploy/controller/Dockerfile
  components/namespace-controller/examples/namespace-test.yaml
  components/namespace-controller/internal/controller/config.go
  components/namespace-controller/internal/controller/controller.go
  components/namespace-controller/internal/controller/controller_test.go
  components/namespace-controller/internal/controller/environment_watcher.go
  components/namespace-controller/internal/errors.go
  components/namespace-controller/internal/limit_range/client.go
  components/namespace-controller/internal/namespaces/client.go
  components/namespace-controller/internal/resource-quota/client.go
  components/namespace-controller/internal/roles/client.go
  orchestrator.Jenkinsfile
  release.Jenkinsfile
  tests/test-environments/README.md
  tests/test-namespace-controller/.gitignore
  tests/test-namespace-controller/Dockerfile
  tests/test-namespace-controller/Gopkg.lock
  tests/test-namespace-controller/Gopkg.toml
  tests/test-namespace-controller/Jenkinsfile
  tests/test-namespace-controller/Makefile
  tests/test-namespace-controller/README.md
  tests/test-namespace-controller/cmd/quantity/main.go
  tests/test-namespace-controller/prepare.sh
  tests/test-namespace-controller/sample-namespace.yaml
  tests/test-namespace-controller/test-namespace-controller.sh
Due: console-integration

Update values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Change docker images locations after migration to prow
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/docs/charts/content-ui/templates/deployment.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/templates/deployment.yaml
  resources/core/charts/service-catalog-addons/charts/brokers-ui/templates/deployment.yaml
  resources/core/charts/service-catalog-addons/charts/catalog-ui/templates/deployment.yaml
  resources/core/charts/service-catalog-addons/charts/instances-ui/templates/deployment.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Apply suggestions from code review
  components/namespace-controller/README.md
Due: console-integration

fix go lint issues (#2128)
  tools/load-test/load-test.go
Due: none

bump load test image
  tools/load-test/deploy/chart/load-test/values.yaml
Due: none

bump load test image (#2130)
  tools/load-test/deploy/chart/load-test/values.yaml
Due: none

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
