Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

The Application Gateway should remove the x-forwarded-proto header
  docs/application-connector/docs/02-03-proxy-service.md
Due: kyma-docs

bump lambda-ui image tag (#3353)
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update 03-03-istio-rbac.md
  docs/service-mesh/docs/03-03-istio-rbac.md
Due: kyma-docs

fix typo
  docs/service-mesh/docs/03-03-istio-rbac.md
Due: kyma-docs

Update docs/application-connector/docs/02-03-proxy-service.md
  docs/application-connector/docs/02-03-proxy-service.md
Due: kyma-docs

Create istio-rbac documentation (#3375)
  docs/service-mesh/docs/03-03-istio-rbac.md
Due: kyma-docs

Run Application tests as part of Application Operator Tests - chart changes (#3255)
  resources/application-connector/charts/application-operator/templates/cluster-rolebinding.yaml
  resources/application-connector/charts/application-operator/templates/controller.yaml
  resources/application-connector/charts/application-operator/templates/role-binding.yaml
  resources/application-connector/charts/application-operator/templates/service-account.yaml
  resources/application-connector/charts/application-operator/templates/tests/rbac.yaml
  resources/application-connector/charts/application-operator/templates/tests/test-acceptance.yaml
  resources/application-connector/requirements.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

The Application Gateway should remove the x-forwarded-proto header (#3391)
  docs/application-connector/docs/02-03-proxy-service.md
Due: kyma-docs

Add empty DeleteResources function
  tests/end-to-end/backup-restore-test/backupe2e/microfrontend.go
Due: none

Enable tls handling in installer (#3224)
  components/installer/Gopkg.lock
  components/installer/cmd/operator/main.go
  components/installer/pkg/kymahelm/kyma-helm-client.go
Due: console-integration

Remove default namespace-scoped roles from namespace-controller (#3384)
  CODEOWNERS
  components/namespace-controller/README.md
  components/namespace-controller/internal/controller/controller.go
  components/namespace-controller/internal/controller/controller_test.go
Due: console-integration

Fix Microfrontend creation
  tests/end-to-end/backup-restore-test/backupe2e/microfrontend.go
Due: none

Fix images
  installation/resources/installer-local.yaml
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Simplify Microfrontends fetching
  tests/end-to-end/backup-restore-test/backupe2e/microfrontend.go
Due: none

Add guard
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Ugh
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Microfrontend backup and restore test (#3229)
  tests/end-to-end/backup-restore-test/Gopkg.lock
  tests/end-to-end/backup-restore-test/backupe2e/microfrontend.go
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

Fix detecting if Bucket is ready
  components/asset-store-controller-manager/README.md
  components/asset-store-controller-manager/config/crds/assetstore_v1alpha2_asset.yaml
  components/asset-store-controller-manager/config/crds/assetstore_v1alpha2_bucket.yaml
  components/asset-store-controller-manager/config/crds/assetstore_v1alpha2_clusterasset.yaml
  components/asset-store-controller-manager/config/crds/assetstore_v1alpha2_clusterbucket.yaml
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/asset_common_types.go
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/asset_types.go
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/bucket_common_types.go
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/bucket_types.go
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/clusterasset_types.go
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/clusterbucket_types.go
  components/asset-store-controller-manager/pkg/controller/asset/asset_controller.go
  components/asset-store-controller-manager/pkg/controller/asset/asset_controller_suite_test.go
  components/asset-store-controller-manager/pkg/controller/asset/asset_controller_test.go
  components/asset-store-controller-manager/pkg/controller/asset/config.go
  components/asset-store-controller-manager/pkg/controller/bucket/bucket_controller.go
  components/asset-store-controller-manager/pkg/controller/bucket/bucket_controller_suite_test.go
  components/asset-store-controller-manager/pkg/controller/bucket/bucket_controller_test.go
  components/asset-store-controller-manager/pkg/controller/bucket/config.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/clusterasset_controller.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/clusterasset_controller_suite_test.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/clusterasset_controller_test.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/config.go
  components/asset-store-controller-manager/pkg/controller/clusterbucket/clusterbucket_controller.go
  components/asset-store-controller-manager/pkg/controller/clusterbucket/clusterbucket_controller_suite_test.go
  components/asset-store-controller-manager/pkg/controller/clusterbucket/clusterbucket_controller_test.go
  components/asset-store-controller-manager/pkg/controller/clusterbucket/config.go
  components/asset-store-controller-manager/pkg/handler/asset/asset.go
  components/asset-store-controller-manager/pkg/handler/asset/asset_test.go
  components/asset-store-controller-manager/pkg/handler/asset/pretty/reason.go
  components/asset-store-controller-manager/pkg/handler/bucket/bucket.go
  components/asset-store-controller-manager/pkg/handler/bucket/bucket_test.go
  components/asset-store-controller-manager/pkg/handler/bucket/pretty/reason.go
  components/asset-store-controller-manager/pkg/store/automock/store.go
  components/asset-store-controller-manager/pkg/store/store.go
Due: console-integration, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager

Make dex static users login available with stop and restart Kyma without reinstalling scenario
  tools/static-users-generator/scripts/config_replace.sh
Due: none

Add Test Bundle installer
  tests/console-backend-service/internal/installer/testbundle.go
Due: none

Define all test bundle constants once
  tests/console-backend-service/internal/configurer/testbundle.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterservicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterserviceclass_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicebinding_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceclass_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceinstance_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicebinding_usage_test.go
  tests/console-backend-service/internal/domain/shared/fixture/serviceinstance.go
  tests/console-backend-service/internal/domain/shared/fixture/testbundle.go
  tests/console-backend-service/internal/domain/shared/wait/clusterservicebroker.go
  tests/console-backend-service/internal/domain/shared/wait/servicebinding.go
  tests/console-backend-service/internal/domain/shared/wait/servicebroker.go
  tests/console-backend-service/internal/domain/shared/wait/serviceclass.go
  tests/console-backend-service/internal/domain/shared/wait/serviceinstance.go
  tests/console-backend-service/internal/domain/shared/wait/wait.go
  tests/console-backend-service/tester.go
Due: none

Wait for Broker ready
  tests/console-backend-service/internal/configurer/broker.go
  tests/console-backend-service/internal/configurer/testbundle.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterservicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceclass_test.go
  tests/console-backend-service/internal/domain/shared/setup/servicecatalog.go
  tests/console-backend-service/tester.go
Due: none

Update Readme & reformat code
  tests/console-backend-service/README.md
  tests/console-backend-service/internal/configurer/broker.go
  tests/console-backend-service/internal/configurer/namespace.go
  tests/console-backend-service/internal/configurer/testbundle.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterservicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceinstance_test.go
  tests/console-backend-service/internal/domain/shared/fixture/serviceinstance.go
  tests/console-backend-service/internal/domain/shared/setup/servicecatalog.go
  tests/console-backend-service/internal/domain/shared/wait/serviceclass.go
  tests/console-backend-service/tester.go
Due: none

Use new TestBundleConfigurer in tests
  tests/console-backend-service/Gopkg.lock
  tests/console-backend-service/Gopkg.toml
  tests/console-backend-service/internal/configurer/testbundle.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  tests/console-backend-service/internal/domain/shared/setup/servicecatalog.go
  tests/console-backend-service/tester.go
Due: none

Add HelmBroker configures
  tests/console-backend-service/internal/configurer/namespace.go
  tests/console-backend-service/internal/configurer/testbundle.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  tests/console-backend-service/internal/domain/shared/setup/servicecatalog.go
  tests/console-backend-service/internal/installer/broker.go
  tests/console-backend-service/internal/installer/clusterbroker.go
  tests/console-backend-service/internal/installer/namespace.go
  tests/console-backend-service/internal/installer/pod.go
  tests/console-backend-service/internal/installer/service.go
  tests/console-backend-service/internal/installer/testbundle.go
Due: none

Move “helm-broker” name to single place
  tests/console-backend-service/internal/domain/servicecatalog/clusterservicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicebroker_test.go
  tests/console-backend-service/internal/domain/shared/fixture/testbundle.go
Due: none

Fix ServiceBroker test
  tests/console-backend-service/internal/domain/servicecatalog/servicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog.go
  tests/console-backend-service/internal/domain/shared/wait/servicebroker.go
  tests/console-backend-service/internal/domain/shared/wait/wait.go
Due: none

Fix servicecatalog tests
  tests/console-backend-service/README.md
  tests/console-backend-service/internal/configurer/broker.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterservicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterserviceclass_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceclass_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceinstance_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  tests/console-backend-service/internal/domain/shared/setup/servicecatalog.go
  tests/console-backend-service/internal/domain/shared/wait/clusterservicebroker.go
  tests/console-backend-service/internal/domain/shared/wait/servicebroker.go
  tests/console-backend-service/internal/domain/shared/wait/serviceclass.go
  tests/console-backend-service/tester.go
Due: none

Fix servicecatalogaddons tests
  tests/console-backend-service/internal/domain/servicecatalog/clusterservicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceinstance_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  tests/console-backend-service/internal/domain/shared/fixture/serviceinstance.go
  tests/console-backend-service/internal/domain/shared/wait/clusterservicebroker.go
  tests/console-backend-service/internal/upsbroker/broker.go
  tests/console-backend-service/internal/upsbroker/clusterbroker.go
  tests/console-backend-service/internal/upsbroker/pod.go
  tests/console-backend-service/internal/upsbroker/service.go
  tests/console-backend-service/tester.go
Due: none

Installation troubleshooting documentation - new section about how to deal with dex date from the past after hibernation
  docs/kyma/docs/04-02-local-installation-from-release.md
Due: kyma-docs

Fix ServiceBroker test
  tests/console-backend-service/internal/domain/servicecatalog/servicebroker_test.go
Due: none

Add retries to apiserver-proxy test
  tests/apiserver-proxy-tests/test.sh
Due: none

Fix typos. Lots of typos
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Microfrontend backup and restore test - e2e (#3230)
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/templates/test/test-backup.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
Due: none

Format
  components/application-operator/cmd/manager/options.go
Due: console-integration, kyma-components-application-operator

Added retry in case spec is not ready
  tests/application-registry-tests/test/testkit/config.go
  tests/application-registry-tests/test/testkit/metadata_api_client.go
  tests/application-registry-tests/test/testkit/model.go
Due: none

Registry tests updated
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix bug with EOF error
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/connectorclient.go
  tests/connector-service-tests/test/testkit/securedconnectorclient.go
Due: none

Fix dependencies problem
  tests/application-operator-tests/Gopkg.lock
  tests/application-operator-tests/Gopkg.toml
Due: none

Remove obsolete
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
