Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-connectivity-certs-controller:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-connectivity-certs-controller:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-components-ui-api-layer:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Add missing test
  components/ui-api-layer/internal/domain/content/content_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Change tests
  resources/application-connector/charts/connector-service/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Make migration job a hook so that cleanup works.
  resources/application-connector-ingress/templates/upgrade-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Review fixes 3
  components/application-operator/pkg/kymahelm/application/releasemanager.go
Due: console-integration, kyma-components-application-operator

Review fixes 4
  components/application-operator/pkg/kymahelm/application/releasemanager.go
Due: console-integration, kyma-components-application-operator

Remove obsolete override
  installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Test ZIP file
  tests/asset-store/pkg/file/file.go
  tests/asset-store/testdata/package.zip
  tests/asset-store/testsuite/assetdetails.go
  tests/asset-store/testsuite/testdata.go
  tests/asset-store/testsuite/testsuite.go
Due: none

Some text
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add openApiSpec and odataSpec fields in ui-api-layer
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Cleanup temporary files on exit
  tests/asset-store/Gopkg.lock
  tests/asset-store/README.md
  tests/asset-store/testsuite/testdata.go
  tests/asset-store/testsuite/testsuite.go
Due: none

Update Readme
  tests/asset-store/README.md
Due: none

Update images
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Clean up files from system buckets
  tests/asset-store/testsuite/testdata.go
  tests/asset-store/testsuite/testsuite.go
Due: none

prow test
  README.md
Due: none

Added description of the new application argument.
  components/connector-service/README.md
  docs/application-connector/docs/08-07-renew-client-cert.md
Due: console-integration, kyma-docs

Added description of the new application argument.
  resources/application-connector/charts/connector-service/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

cluster-users-test: get kubeconfig per user
  tests/cluster-users-test/sar-test.sh
Due: none

Use fixed clsuter user tests
  resources/core/charts/cluster-users/templates/tests/test-cluster-users.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

bunch of fixes
  tests/cluster-users-test/sar-test.sh
Due: none

Documentation review.
  components/connector-service/README.md
Due: console-integration

Documentation review.
  resources/application-connector/charts/connector-service/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Implementation of certificate revocation functionality (#2899)
  components/connector-service/Gopkg.lock
  components/connector-service/README.md
  components/connector-service/cmd/connectorservice/connectorservice.go
  components/connector-service/cmd/connectorservice/handlers.go
  components/connector-service/cmd/connectorservice/options.go
  components/connector-service/docs/api/connectorapi.yaml
  components/connector-service/internal/certificates/hash.go
  components/connector-service/internal/certificates/hash_test.go
  components/connector-service/internal/externalapi/externalapi.go
  components/connector-service/internal/externalapi/managementinfohandler.go
  components/connector-service/internal/externalapi/managementinfohandler_test.go
  components/connector-service/internal/externalapi/middlewares/tokenresolver_test.go
  components/connector-service/internal/externalapi/model.go
  components/connector-service/internal/externalapi/revocationhandler.go
  components/connector-service/internal/externalapi/revocationhandler_test.go
  components/connector-service/internal/externalapi/signaturehandler.go
  components/connector-service/internal/internalapi/internalapi.go
  components/connector-service/internal/internalapi/revocationhandler.go
  components/connector-service/internal/internalapi/revocationhandler_test.go
  components/connector-service/internal/logging/middlewares/auditlogging.go
  components/connector-service/internal/logging/middlewares/requestlogging.go
  components/connector-service/internal/revocation/middlewares/revocationcheck.go
  components/connector-service/internal/revocation/middlewares/revocationcheck_test.go
  components/connector-service/internal/revocation/mocks/Manager.go
  components/connector-service/internal/revocation/mocks/RevocationListRepository.go
  components/connector-service/internal/revocation/repository.go
  components/connector-service/internal/revocation/repository_test.go
  docs/application-connector/docs/assets/connectorapi.yaml
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/certs.go
  tests/connector-service-tests/test/testkit/connectorclient.go
  tests/connector-service-tests/test/testkit/model.go
  tests/connector-service-tests/test/testkit/securedconnectorclient.go
Due: console-integration, kyma-docs

Bump ui-api-layer image for openApiSpec and odataSpec fields in SC and CSC (#2967)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update 04-04-gke-installation.md
  docs/kyma/docs/04-04-gke-installation.md
Due: kyma-docs

Update 04-05-aks-installation.md
  docs/kyma/docs/04-05-aks-installation.md
Due: kyma-docs

Test for http request to the prometheus api before backup and aftter restore (#3049)
  tests/end-to-end/backup-restore-test/backupe2e/prometheus.go
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

Bump image for kubeless integration test (#2945)
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update event-bus version (#3043)
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add upgrade functionality to the operator (#2895)
  components/application-operator/cmd/manager/manager.go
  components/application-operator/pkg/controller/controller.go
  components/application-operator/pkg/controller/reconciler.go
  components/application-operator/pkg/kymahelm/application/mocks/ApplicationClient.go
  components/application-operator/pkg/kymahelm/application/mocks/ReleaseManager.go
  components/application-operator/pkg/kymahelm/application/releasemanager.go
  components/application-operator/pkg/kymahelm/application/releasemanager_test.go
  components/application-operator/pkg/kymahelm/client.go
  components/application-operator/pkg/kymahelm/mocks/HelmClient.go
Due: console-integration, kyma-components-application-operator

Documentation updated
  docs/application-connector/docs/08-02-get-client-certificate.md
  docs/application-connector/docs/08-08-renew-client-cert.md
  docs/application-connector/docs/08-09-revoke-cert.md
Due: kyma-docs

Do not verify certificates in Minio client
  tests/asset-store/testsuite/testsuite.go
Due: none

dep ensured
  common/Gopkg.lock
Due: none

Images bump
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Increase default cert lifespan
  components/xip-patch/utils.sh
Due: console-integration

Do not try to delete assets second time
  tests/asset-store/testsuite/testsuite.go
Due: none

added new component type "controller-manager"
  components/README.md
Due: console-integration

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
