Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Removed temporary config
  resources/ory/templates/virtualservice-hydra.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump asset store
  components/cms-controller-manager/Gopkg.lock
  components/cms-controller-manager/Gopkg.toml
  components/cms-controller-manager/hack/crds/assetstore_v1alpha2_asset.yaml
  components/cms-controller-manager/hack/crds/assetstore_v1alpha2_clusterasset.yaml
Due: console-integration, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager

Change the name of the metadata field to parameters in CMS (#5123)
  components/cms-controller-manager/Gopkg.lock
  components/cms-controller-manager/Gopkg.toml
  components/cms-controller-manager/config/crds/cms_v1alpha1_clusterdocstopic.yaml
  components/cms-controller-manager/config/crds/cms_v1alpha1_docstopic.yaml
  components/cms-controller-manager/hack/crds/assetstore_v1alpha2_asset.yaml
  components/cms-controller-manager/hack/crds/assetstore_v1alpha2_clusterasset.yaml
  components/cms-controller-manager/pkg/apis/cms/v1alpha1/docstopic_common.go
  components/cms-controller-manager/pkg/apis/cms/v1alpha1/zz_generated.deepcopy.go
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterdocstopic_controller_test.go
  components/cms-controller-manager/pkg/controller/docstopic/docstopic_controller_test.go
  components/cms-controller-manager/pkg/handler/docstopic/docstopic.go
  components/cms-controller-manager/pkg/handler/docstopic/docstopic_test.go
  components/cms-controller-manager/pkg/webhookconfig/asset_webhook_config_service.go
Due: console-integration, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager

Add CMS Services
  CODEOWNERS
  components/cms-services/.gitignore
  components/cms-services/Gopkg.lock
  components/cms-services/Gopkg.toml
  components/cms-services/Makefile
  components/cms-services/README.md
  components/cms-services/before-commit.sh
  components/cms-services/cmd/asyncapi/README.md
  components/cms-services/cmd/asyncapi/main.go
  components/cms-services/cmd/asyncapi/openapi.yaml
  components/cms-services/deploy/asyncapi/Dockerfile
  components/cms-services/pkg/endpoint/asyncapi/asyncapi.go
  components/cms-services/pkg/endpoint/asyncapi/asyncapi_test.go
  components/cms-services/pkg/endpoint/asyncapi/v1/conversion_endpoint.go
  components/cms-services/pkg/endpoint/asyncapi/v1/conversion_endpoint_test.go
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/anyof_1.1.0.json
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/anyof_1.1.0.yaml
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/anyof_invalid.json
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/anyof_invalid.yaml
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/invalid.json
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/invalid.yaml
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/valid.json
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/valid.yaml
  components/cms-services/pkg/endpoint/asyncapi/v1/validation_endpoint.go
  components/cms-services/pkg/endpoint/asyncapi/v1/validation_endpoint_test.go
  components/cms-services/pkg/runtime/endpoint/mutation_endpoint.go
  components/cms-services/pkg/runtime/endpoint/mutation_endpoint_test.go
  components/cms-services/pkg/runtime/endpoint/validation_endpoint.go
  components/cms-services/pkg/runtime/endpoint/validation_endpoint_test.go
  components/cms-services/pkg/runtime/log/log.go
  components/cms-services/pkg/runtime/service/export_test.go
  components/cms-services/pkg/runtime/service/fake/service.go
  components/cms-services/pkg/runtime/service/service.go
  components/cms-services/pkg/runtime/service/service_test.go
  components/cms-services/pkg/runtime/signal/signal.go
Due: console-integration, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services

Add CMS AsyncAPI Service (#5093)
  CODEOWNERS
  components/cms-services/.gitignore
  components/cms-services/Gopkg.lock
  components/cms-services/Gopkg.toml
  components/cms-services/Makefile
  components/cms-services/README.md
  components/cms-services/before-commit.sh
  components/cms-services/cmd/asyncapi/README.md
  components/cms-services/cmd/asyncapi/main.go
  components/cms-services/cmd/asyncapi/openapi.yaml
  components/cms-services/deploy/asyncapi/Dockerfile
  components/cms-services/pkg/endpoint/asyncapi/asyncapi.go
  components/cms-services/pkg/endpoint/asyncapi/asyncapi_test.go
  components/cms-services/pkg/endpoint/asyncapi/v1/conversion_endpoint.go
  components/cms-services/pkg/endpoint/asyncapi/v1/conversion_endpoint_test.go
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/anyof_1.1.0.json
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/anyof_1.1.0.yaml
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/anyof_invalid.json
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/anyof_invalid.yaml
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/invalid.json
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/invalid.yaml
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/valid.json
  components/cms-services/pkg/endpoint/asyncapi/v1/testdata/valid.yaml
  components/cms-services/pkg/endpoint/asyncapi/v1/validation_endpoint.go
  components/cms-services/pkg/endpoint/asyncapi/v1/validation_endpoint_test.go
  components/cms-services/pkg/runtime/endpoint/mutation_endpoint.go
  components/cms-services/pkg/runtime/endpoint/mutation_endpoint_test.go
  components/cms-services/pkg/runtime/endpoint/validation_endpoint.go
  components/cms-services/pkg/runtime/endpoint/validation_endpoint_test.go
  components/cms-services/pkg/runtime/log/log.go
  components/cms-services/pkg/runtime/service/export_test.go
  components/cms-services/pkg/runtime/service/fake/service.go
  components/cms-services/pkg/runtime/service/service.go
  components/cms-services/pkg/runtime/service/service_test.go
  components/cms-services/pkg/runtime/signal/signal.go
Due: console-integration, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services

Fix gateway name
  resources/ory/templates/virtualservice-hydra.yaml
  resources/ory/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix tests
  tests/console-backend-service/internal/domain/cms/clusterdocstopic_test.go
Due: none

Add compass-system to the list of system namespaces (#5117)
  docs/console/05-01-console.md
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Remove Parostatkiem from GO projects
  CODEOWNERS
Due: none

Fix not opening lambda UI (#5034)
  resources/core/charts/kubeless/charts/lambdas-ui/templates/lambdas-microfrontend.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

v5
  docs/security/03-06-oauth2-server.md
  resources/ory/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs

Fix wrong formatting in the HB docs (#5162)
  docs/helm-broker/03-03-create-addons-repo.md
Due: post-master-kyma-docs-website, kyma-docs

remove redundant scripts (#5094)
  components/kyma-operator/scripts/run.sh
  installation/cmd/run.sh
  installation/scripts/cut.sh
  installation/scripts/extract-installer-version.sh
  installation/scripts/fetch-components-versions.ps1
  installation/scripts/fetch-components-versions.sh
  installation/scripts/installer.sh
  installation/scripts/manage-component.ps1
  installation/scripts/manage-component.sh
  installation/scripts/upload-versions.sh
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update docs/security/03-06-oauth2-server.md
  docs/security/03-06-oauth2-server.md
Due: post-master-kyma-docs-website, kyma-docs

Create basic ORY OAuth2 server doc (#5141)
  docs/kyma/04-01-overview.md
  docs/security/03-06-oauth2-server.md
  resources/ory/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs

Update dead-links and hcms
  .github/pull-request-template.md
  README.md
  docs/README.md
  docs/headless-cms/03-03-markdown-documents.md
  docs/headless-cms/assets/catalog-ui-docs.png
  docs/headless-cms/assets/left-side-nav-docs-ui.png
  docs/headless-cms/assets/nav-docs-ui.png
  milv.config.yaml
  resources/monitoring/charts/grafana/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs

Update HCMS docs
  docs/headless-cms/03-03-markdown-documents.md
Due: post-master-kyma-docs-website, kyma-docs

Remove unused functions
  tests/end-to-end/backup-restore-test/Gopkg.lock
  tests/end-to-end/backup-restore-test/Gopkg.toml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/Chart.yaml
  tests/end-to-end/backup-restore-test/utils/backup/backup.go
Due: pre-master-kyma-backup-test

Fix dead-links and update hcms screenshoots (#5166)
  .github/pull-request-template.md
  README.md
  docs/README.md
  docs/headless-cms/03-03-markdown-documents.md
  docs/headless-cms/assets/catalog-ui-docs.png
  docs/headless-cms/assets/left-side-nav-docs-ui.png
  docs/headless-cms/assets/nav-docs-ui.png
  milv.config.yaml
  resources/monitoring/charts/grafana/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs

Update image
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
Due: pre-master-kyma-backup-test

Apply suggestions from code review
  docs/backup/05-01-velero.md
Due: post-master-kyma-docs-website, kyma-docs

Update 05-01-velero.md
  docs/backup/05-01-velero.md
Due: post-master-kyma-docs-website, kyma-docs

rename runtime.kyma-project.io -> serverless.kyma-project.io
  components/knative-function-controller/Makefile
  components/knative-function-controller/README.md
  components/knative-function-controller/config/config.yaml
  components/knative-function-controller/config/crds/serverless_v1alpha1_function.yaml
  components/knative-function-controller/config/default/kustomization.yaml
  components/knative-function-controller/config/default/kustomized_config.yaml
  components/knative-function-controller/config/default/manager_cluster_role_binding_patch.yaml
  components/knative-function-controller/config/default/manager_image_patch_local_dev.yaml-e
  components/knative-function-controller/config/default/manager_image_patch_remote_dev.yaml
  components/knative-function-controller/config/default/manager_image_patch_remote_dev.yaml-e
  components/knative-function-controller/config/rbac/manager_role.yaml
  components/knative-function-controller/config/samples/serverless_v1alpha1_function-with-dep.yaml
  components/knative-function-controller/config/samples/serverless_v1alpha1_function.yaml
  components/knative-function-controller/config/samples/serverless_v1alpha1_webhook_defaults_function.yaml
  components/knative-function-controller/config/samples/serverless_v1alpha1_webhook_invalid_function.yaml
  components/knative-function-controller/pkg/apis/addtoscheme_runtime_v1alpha1.go
  components/knative-function-controller/pkg/apis/serverless/group.go
  components/knative-function-controller/pkg/apis/serverless/v1alpha1/doc.go
  components/knative-function-controller/pkg/apis/serverless/v1alpha1/function_types.go
  components/knative-function-controller/pkg/apis/serverless/v1alpha1/function_types_test.go
  components/knative-function-controller/pkg/apis/serverless/v1alpha1/register.go
  components/knative-function-controller/pkg/apis/serverless/v1alpha1/v1alpha1_suite_test.go
  components/knative-function-controller/pkg/apis/serverless/v1alpha1/zz_generated.deepcopy.go
  components/knative-function-controller/pkg/controller/function/function_controller.go
  components/knative-function-controller/pkg/controller/function/function_controller_test.go
  components/knative-function-controller/pkg/utils/build_utils.go
  components/knative-function-controller/pkg/utils/controller_utils.go
  components/knative-function-controller/pkg/utils/serving_utils.go
  components/knative-function-controller/pkg/utils/serving_utils_test.go
  components/knative-function-controller/pkg/webhook/default_server/function/mutating/create_webhook.go
  components/knative-function-controller/pkg/webhook/default_server/function/mutating/function_create_handler.go
  components/knative-function-controller/pkg/webhook/default_server/function/mutating/function_create_handler_test.go
  components/knative-function-controller/pkg/webhook/default_server/server.go
  components/knative-function-controller/pkg/webhook/default_server/webhook_test.go
Due: console-integration, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller

rename knative-function-controller -> function-controller
  resources/function-controller/Chart.yaml
  resources/function-controller/README.md
  resources/function-controller/function-build-service-account.yaml
  resources/function-controller/requirements.yaml
  resources/function-controller/templates/_helpers.tpl
  resources/function-controller/templates/cluster_role.yaml
  resources/function-controller/templates/cluster_role_binding.yaml
  resources/function-controller/templates/config.yaml
  resources/function-controller/templates/function_crd.yaml
  resources/function-controller/templates/manager.yaml
  resources/function-controller/templates/secret.yaml
  resources/function-controller/templates/service.yaml
  resources/function-controller/templates/serviceaccount.yaml
  resources/function-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

cleanup compass ui chart
  resources/compass/charts/cockpit/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

rename folder knative-function-controller -> funciton-controller
  components/function-controller/Dockerfile
  components/function-controller/Makefile
  components/function-controller/PROJECT
  components/function-controller/README.md
  components/function-controller/cmd/manager/main.go
  components/function-controller/config/default/manager_image_patch_local_dev.yaml
  components/function-controller/config/default/manager_image_patch_local_dev.yaml-e
  components/function-controller/config/default/manager_image_patch_remote_dev.yaml
  components/function-controller/config/default/manager_image_patch_remote_dev.yaml-e
  components/function-controller/pkg/apis/addtoscheme_runtime_v1alpha1.go
  components/function-controller/pkg/apis/serverless/v1alpha1/doc.go
  components/function-controller/pkg/apis/serverless/v1alpha1/register.go
  components/function-controller/pkg/controller/add_function.go
  components/function-controller/pkg/controller/function/function_controller.go
  components/function-controller/pkg/controller/function/function_controller_suite_test.go
  components/function-controller/pkg/controller/function/function_controller_test.go
  components/function-controller/pkg/utils/build_utils.go
  components/function-controller/pkg/utils/controller_utils_test.go
  components/function-controller/pkg/utils/serving_utils.go
  components/function-controller/pkg/utils/serving_utils_test.go
  components/function-controller/pkg/webhook/add_default_server.go
  components/function-controller/pkg/webhook/default_server/add_mutating_function.go
  components/function-controller/pkg/webhook/default_server/function/mutating/create_webhook.go
  components/function-controller/pkg/webhook/default_server/function/mutating/function_create_handler.go
  components/function-controller/pkg/webhook/default_server/function/mutating/function_create_handler_test.go
  components/function-controller/pkg/webhook/default_server/server.go
  components/function-controller/pkg/webhook/default_server/webhook_suite_test.go
Due: console-integration

Remove unused backup functions (#5167)
  tests/end-to-end/backup-restore-test/Gopkg.lock
  tests/end-to-end/backup-restore-test/Gopkg.toml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/Chart.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/backup-restore-test/utils/backup/backup.go
Due: pre-master-kyma-backup-test

cleanup etc/hosts entry
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

configurable host name in the MF yaml
  resources/compass/charts/cockpit/templates/microfrontend-link.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Change image tags for release 1.4-rc1
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/compass-runtime-agent/values.yaml
  resources/compass/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/kiali/values.yaml
  resources/knative-build/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/testing/values.yaml
  resources/xip-patch/values.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
  tools/load-test/deploy/chart/load-test/templates/load-test.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test

Change clusterDocsTopicsVersion
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

v1
  CODEOWNERS
Due: none

Add new TW to CODEOWNERS (#5177)
  CODEOWNERS
Due: none

Set up a scheduled backup by default (#5151)
  CODEOWNERS
  docs/backup/01-01-backup.md
  docs/backup/05-01-velero.md
  docs/backup/08-01-create-backup.md
  resources/backup/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add retries to test to improve resilience
  tests/integration/cluster-users/sar-test.sh
Due: none

Fix kyma installer
  installation/resources/installer.yaml
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector
