Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Add changes after the review
  docs/backup/05-01-velero.md
  tests/end-to-end/backup-restore-test/README.md
Due: post-master-kyma-docs-website, kyma-docs

Migrate to RawExtension
  components/cms-controller-manager/hack/crds/assetstore_v1alpha2_asset.yaml
  components/cms-controller-manager/hack/crds/assetstore_v1alpha2_bucket.yaml
  components/cms-controller-manager/hack/crds/assetstore_v1alpha2_clusterasset.yaml
  components/cms-controller-manager/hack/crds/assetstore_v1alpha2_clusterbucket.yaml
  components/cms-controller-manager/pkg/controller/clusterdocstopic/clusterdocstopic_controller_test.go
  components/cms-controller-manager/pkg/controller/docstopic/docstopic_controller_test.go
  components/cms-controller-manager/pkg/handler/docstopic/docstopic_test.go
Due: console-integration, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager

Correct a dead link
  tests/end-to-end/backup-restore-test/README.md
Due: none

Add a minor fix
  docs/tracing/05-01-jaeger.md
Due: post-master-kyma-docs-website, kyma-docs

Add a configuration document for the Tracing component (#4541)
  docs/tracing/05-01-jaeger.md
Due: post-master-kyma-docs-website, kyma-docs

added app label to all functions
  docs/application-connector/08-05-trigger-lambda-with-event.md
  docs/application-connector/08-06-call-registered-service-from-kyma.md
  docs/serverless/07-01-cli-reference.md
Due: post-master-kyma-docs-website, kyma-docs

Add find query and delete mutation for namespace (#4454)
  components/console-backend-service/internal/domain/k8s/automock/gql_namespace_converter.go
  components/console-backend-service/internal/domain/k8s/automock/namespace_svc.go
  components/console-backend-service/internal/domain/k8s/namespace_converter.go
  components/console-backend-service/internal/domain/k8s/namespace_converter_test.go
  components/console-backend-service/internal/domain/k8s/namespace_resolver.go
  components/console-backend-service/internal/domain/k8s/namespace_resolver_test.go
  components/console-backend-service/internal/domain/k8s/namespace_service.go
  components/console-backend-service/internal/domain/k8s/namespace_service_test.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

Add gql namespace integration tests (#4538)
  tests/console-backend-service/Gopkg.lock
  tests/console-backend-service/internal/domain/k8s/namespace_test.go
Due: none

Bump api-controller-test image version (#4562)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

API Gateway blacklist - add more info (#4572)
  docs/api-gateway/03-02-blacklisted-services.md
Due: post-master-kyma-docs-website, kyma-docs

Error fix
  tests/api-controller-acceptance-tests/apicontroller/component_test.go
Due: none

Error fix
  resources/core/charts/api-controller/templates/deployment.yaml
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Extend Api Gateway component test
  tests/api-controller-acceptance-tests/Gopkg.lock
  tests/api-controller-acceptance-tests/Gopkg.toml
  tests/api-controller-acceptance-tests/apicontroller/component_test.go
Due: none

Temporary repo address fix
  tests/api-controller-acceptance-tests/Gopkg.toml
Due: none

Remove resource names form Connectivity Certs Controller RBAC
  resources/application-connector/charts/connectivity-certs-controller/templates/role-binding.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump cbs and cbs-test image versions
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix test dependency
  tests/api-controller-acceptance-tests/Gopkg.lock
Due: none

bump image version
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add the link to velero configuration docs
  milv.config.yaml
Due: none

Add istio customization doc
  docs/service-mesh/03-04-istio-customization.md
Due: post-master-kyma-docs-website, kyma-docs

Add backup tests for event bus
  tests/end-to-end/backup-restore-test/Gopkg.lock
  tests/end-to-end/backup-restore-test/backupe2e/eventbus.go
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
  tests/event-bus/e2e-tester/e2e-tester.go
Due: none

Whitelist a link
  milv.config.yaml
Due: none

PO is always right
  docs/service-mesh/01-01-service-mesh.md
Due: post-master-kyma-docs-website, kyma-docs

Update 01-01-service-mesh.md
  docs/service-mesh/01-01-service-mesh.md
Due: post-master-kyma-docs-website, kyma-docs

added app label to all functions (#4574)
  docs/application-connector/08-05-trigger-lambda-with-event.md
  docs/application-connector/08-06-call-registered-service-from-kyma.md
  docs/serverless/07-01-cli-reference.md
Due: post-master-kyma-docs-website, kyma-docs

v1
  docs/service-mesh/01-01-service-mesh.md
Due: post-master-kyma-docs-website, kyma-docs

loki release upgrade
  resources/logging/templates/loki/deployment.yaml
  resources/logging/templates/loki/podsecuritypolicy.yaml
  resources/logging/templates/loki/secret.yaml
  resources/logging/templates/loki/statefulset.yaml
  resources/logging/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update event-bus test image (#4571)
  resources/event-bus/values.yaml
  tests/event-bus/Gopkg.lock
  tests/event-bus/Gopkg.toml
  tests/event-bus/e2e-tester/e2e-tester.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add information about mTLS to Service Mesh documentation (v2) (#4567)
  docs/service-mesh/01-01-service-mesh.md
Due: post-master-kyma-docs-website, kyma-docs

Removed sleeps and fixed the cleanup for serviceinstance
  tests/end-to-end/external-solution-integration/e2e.go
  tests/end-to-end/external-solution-integration/resourceskit/service_catalog_client.go
  tests/end-to-end/external-solution-integration/testkit/testservice.go
  tests/end-to-end/external-solution-integration/testsuite/suite.go
Due: none

add a workaround for bug with api update
  components/api-controller/pkg/controller/v1alpha2/controller.go
Due: console-integration

Fix ServiceCatalog backup tests
  tests/end-to-end/backup-restore-test/backupe2e/service-catalog/brokers_flow.go
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

Release 1.2.1 patch: bump images
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/service-catalog/values.yaml
  resources/velero/values.yaml
  resources/xip-patch/values.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fixed tests
  resources/core/charts/api-controller/templates/deployment.yaml
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
  tests/api-controller-acceptance-tests/apicontroller/component_test.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fixed tests
  tests/api-controller-acceptance-tests/apicontroller/component_test.go
Due: none

API-controller and tests image bump
  resources/core/charts/api-controller/templates/deployment.yaml
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update docs/api-gateway/06-01-api.md
  docs/api-gateway/06-01-api.md
Due: post-master-kyma-docs-website, kyma-docs

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
