Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Update gopkg.lock
  tests/end-to-end/upgrade/Gopkg.lock
Due: none

Import the hydra chart
  installation/resources/installer-cr.yaml.tpl
  resources/hydra/.helmignore
  resources/hydra/Chart.yaml
  resources/hydra/OWNERS
  resources/hydra/README.md
  resources/hydra/charts/postgresql-0.6.0.tgz
  resources/hydra/requirements.lock
  resources/hydra/requirements.yaml
  resources/hydra/templates/NOTES.txt
  resources/hydra/templates/_helpers.tpl
  resources/hydra/templates/configmap.yaml
  resources/hydra/templates/deployment.yaml
  resources/hydra/templates/ingress.yaml
  resources/hydra/templates/partials/_database.yaml
  resources/hydra/templates/partials/_settings.yaml
  resources/hydra/templates/service.yaml
  resources/hydra/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add Central Connection CR, update chart of Connectivity Certs Controller
  resources/application-connector/charts/connectivity-certs-controller/templates/central-connection.crd.yaml
  resources/application-connector/charts/connectivity-certs-controller/templates/cluster-role-binding.yaml
  resources/application-connector/charts/connectivity-certs-controller/templates/deployment.yaml
  resources/application-connector/charts/connectivity-certs-controller/templates/service-account.yaml
  resources/application-connector/charts/connectivity-certs-controller/values.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Added a chapter describing authentication methods
  docs/application-connector/docs/01-02-application-connector-security.md
Due: kyma-docs

Remove upgrade job for CMS (#3649)
  resources/cluster-essentials/templates/pre-upgrade-remove-crd.yaml
  resources/cms/templates/_helper_migrate_to_cms.txt
  resources/cms/templates/post-upgrade-migration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fix build
  tests/knative-serving-acceptance/Dockerfile
  tests/knative-serving-acceptance/Gopkg.lock
  tests/knative-serving-acceptance/Gopkg.toml
Due: none

fix gateway
  resources/knative-serving/templates/tests/test-serving.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fix typo, increase attempts
  tests/knative-serving-acceptance/knative_serving_test.go
Due: none

dont use local image
  resources/knative-serving/templates/tests/test-serving.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix empty pointer error
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/ui/microfrontend.go
Due: none

Fix tests
  resources/service-catalog/charts/catalog-crds/values.yaml
  tests/acceptance/pkg/retriever/class.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix local installation documentation
  docs/kyma/docs/04-02-local-installation.md
Due: kyma-docs

Apply suggestions from code review
  docs/service-catalog/docs/01-01-service-catalog.md
  docs/service-catalog/docs/03-04-experimental-features.md
Due: kyma-docs

updates for logging helm chart
  installation/resources/installer-config-cluster.yaml.tpl
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/logging/templates/promtail/configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Make mf test work properly
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/ui/microfrontend.go
Due: none

Revert "Fix local installation documentation"
  docs/kyma/docs/04-02-local-installation.md
Due: kyma-docs

ui acceptance test deployment updated
  resources/core/templates/tests/test-ui-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

run before-commit.sh in container
  tests/knative-serving-acceptance/Dockerfile
  tests/knative-serving-acceptance/Gopkg.lock
  tests/knative-serving-acceptance/Makefile
  tests/knative-serving-acceptance/before-commit.sh
Due: none

Revert "dont use local image"
  resources/knative-serving/templates/tests/test-serving.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Revert "fix gateway"
  resources/knative-serving/templates/tests/test-serving.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Revert "add rbac rules"
  resources/knative-serving/templates/tests/test-serving.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix local installation documentation (#3658)
  docs/kyma/docs/04-02-local-installation.md
Due: kyma-docs

add rbac rules, fix gateway
  resources/knative-serving/templates/tests/test-serving.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

update image reference to PR
  resources/knative-serving/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump vesrion of catalog-ui image
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

unused helm chart values removed, optional deployment components will be deployed by default
  installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/logging/charts/log-ui/templates/configmap.yaml
  resources/logging/charts/log-ui/templates/cr.yaml
  resources/logging/charts/log-ui/templates/deployment.yaml
  resources/logging/charts/log-ui/templates/service.yaml
  resources/logging/charts/log-ui/templates/virtualservice.yaml
  resources/logging/templates/loki/istio-rbac.yaml
  resources/logging/templates/loki/policy.yaml
  resources/logging/templates/loki/virtualservice.yaml
  resources/logging/templates/tests/logging.yaml
  resources/logging/values.yaml
  tests/logging/test-logging.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Charts updated
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/values.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fixed configmap
  resources/application-connector/charts/connector-service/templates/lookupconfigmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

test images
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Chart updated
  resources/application-connector/charts/connector-service/templates/lookupconfigmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix charts
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/lookupconfigmap.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

chart changes
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/templates/lookupconfigmap.yaml
  resources/application-connector/charts/connector-service/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

value updated
  resources/application-connector/charts/connector-service/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Remove test entries
  installation/resources/installer-config-local.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

syntax error fixes
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/logging/templates/promtail/daemonset.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix mgmt info tests in central connector
  tests/connector-service-tests/test/apitests/connector_test.go
Due: none

Set connector service tests image
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix tenant assertion
  tests/connector-service-tests/test/apitests/connector_test.go
Due: none
