Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Disable namespace creation test (#4434)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update the path to point to 1.2.0 release (#4392)
  docs/migration-guides/1.1-1.2.md
Due: post-master-kyma-docs-website, kyma-docs

Bump used bundles version (#4428)
  installation/scripts/testing-common.sh
  resources/helm-broker/templates/cfg-repos-url.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add business metrics to service binding usage component (#4362)
  components/service-binding-usage-controller/Gopkg.lock
  components/service-binding-usage-controller/cmd/controller/main.go
  components/service-binding-usage-controller/internal/controller/automock/business_metric.go
  components/service-binding-usage-controller/internal/controller/automock/extends.go
  components/service-binding-usage-controller/internal/controller/controller.go
  components/service-binding-usage-controller/internal/controller/controller_test.go
  components/service-binding-usage-controller/internal/controller/metric/controller_business.go
  components/service-binding-usage-controller/internal/controller/usagekind/controller.go
  components/service-binding-usage-controller/internal/controller/usagekind/controller_test.go
Due: console-integration

Move xip-patch
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add graphs to ServiceBindingUsage business metrics
  resources/monitoring/charts/grafana/dashboards/service-binding-usage-controller-dashboard.json
  resources/service-catalog-addons/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add find query and delete mutation for namespace
  components/console-backend-service/internal/domain/k8s/automock/gql_namespace_converter.go
  components/console-backend-service/internal/domain/k8s/automock/namespace_svc.go
  components/console-backend-service/internal/domain/k8s/namespace_converter.go
  components/console-backend-service/internal/domain/k8s/namespace_resolver.go
  components/console-backend-service/internal/domain/k8s/namespace_service.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

Add bogus default values
  resources/istio/charts/kyma/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

::
  components/console-backend-service/internal/domain/k8s/namespace_service_test.go
Due: console-integration

Apply TW feedback
  docs/kyma/04-02-local-installation.md
  docs/kyma/04-07-local-installation-deprecated.md
  docs/kyma/04-12-local-installation-scripts.md
  docs/kyma/04-13-local-reinstallation-deprecated.md
Due: post-master-kyma-docs-website, kyma-docs

Review fix
  tests/apiserver-proxy-tests/fetch-token/internal/idtokenprovider.go
Due: none

improve apiserver-proxy tests resilience (#4420)
  tests/apiserver-proxy-tests/Gopkg.lock
  tests/apiserver-proxy-tests/Gopkg.toml
  tests/apiserver-proxy-tests/fetch-token/internal/auth.go
  tests/apiserver-proxy-tests/fetch-token/internal/config.go
  tests/apiserver-proxy-tests/fetch-token/internal/idtokenprovider.go
Due: none

Add graphs to ServiceBindingUsage business metrics (#4425)
  resources/monitoring/charts/grafana/dashboards/service-binding-usage-controller-dashboard.json
  resources/service-catalog-addons/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update CRD
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/types.go
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/zz_generated.deepcopy.go
Due: console-integration, kyma-components-application-operator

Cleanup
  components/application-gateway/internal/proxy/proxyfactory.go
  components/application-registry/internal/metadata/applications/repository.go
Due: console-integration

Api-controller image bump
  resources/core/charts/api-controller/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Api-controller image bump
  resources/core/charts/api-controller/templates/deployment.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

improve apiserver-proxy-tests resilience image bump
  resources/core/charts/apiserver-proxy/templates/tests/test-apiserver-proxy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

improve apiserver-proxy-tests resilience image bump
  resources/core/charts/apiserver-proxy/templates/tests/test-apiserver-proxy.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix docu: remove < 1.2 references
  docs/kyma/04-04-use-your-own-domain.md
  docs/kyma/04-05-use-your-own-image.md
Due: post-master-kyma-docs-website, kyma-docs

Delete unrelevant ns docu and rename files accordingly (#4395)
  docs/application-connector/01-01-application-connector.md
  docs/kyma/03-02-namespaces.md
  docs/kyma/03-02-testing.md
  docs/kyma/03-03-charts.md
  docs/kyma/03-04-deploy-private-registry.md
Due: post-master-kyma-docs-website, kyma-docs

Fix docu: remove < 1.2 references (#4445)
  docs/kyma/04-04-use-your-own-domain.md
  docs/kyma/04-05-use-your-own-image.md
Due: post-master-kyma-docs-website, kyma-docs

Api-controller image bump (#4417)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

improve apiserver-proxy-tests resilience image bump (#4427)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump catalog, content and instances UIs
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

move gateway certs to gateway chart and configure kyma Gateway to use them
  resources/core/charts/gateway/templates/application-connector-certs.yaml
  resources/core/charts/gateway/templates/gateway.yaml
  resources/core/charts/gateway/templates/istio-ingressgateway-certs.yaml
  resources/istio/charts/gateways/values.yaml
  resources/istio/charts/kyma/templates/istio-ingressgateway-certs.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump catalog, content and instances UIs (#4450)
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update the instruction on Kyma installation from the GCP Marketplace
  docs/kyma/04-03-cluster-installation.md
  docs/kyma/05-01-overview.md
Due: post-master-kyma-docs-website, kyma-docs

Add tests for resolver and converter
  components/console-backend-service/internal/domain/k8s/namespace_converter_test.go
  components/console-backend-service/internal/domain/k8s/namespace_resolver_test.go
Due: console-integration

Add fixes
  docs/kyma/04-03-cluster-installation.md
Due: post-master-kyma-docs-website, kyma-docs

Update rbacs
  resources/core/charts/console-backend-service/templates/cluster-role.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update link
  docs/helm-broker/03-01-create-bundles.md
Due: post-master-kyma-docs-website, kyma-docs

Update Helm Broker docs (#4216)
  docs/helm-broker/03-01-create-bundles.md
  docs/helm-broker/03-04-bundles-docs.md
Due: post-master-kyma-docs-website, kyma-docs

Change gateway secret name
  resources/core/charts/gateway/templates/gateway.yaml
  resources/core/charts/gateway/templates/kyma-gateway-certs.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix imports
  components/console-backend-service/internal/domain/k8s/namespace_resolver.go
Due: console-integration

Add improvements after review
  docs/kyma/04-03-cluster-installation.md
Due: post-master-kyma-docs-website, kyma-docs

Update config docs and the instruction on Kyma installation from the GCP Marketplace (#4453)
  docs/kyma/04-03-cluster-installation.md
  docs/kyma/05-01-overview.md
Due: post-master-kyma-docs-website, kyma-docs

Unify gateway certs
  resources/application-connector/templates/ca-crt-istio-secret.yaml
  resources/core/charts/gateway/templates/application-connector-certs.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
