Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, pre-kyma-components-application-connectivity-certs-setup-job, post-kyma-components-application-connectivity-certs-setup-job, pre-master-kyma-components-application-gateway, post-master-kyma-components-application-gateway, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-backup, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-connector-service-tests, post-master-kyma-tests-connector-service-tests, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-api-controller, post-master-kyma-tests-integration-api-controller, pre-master-kyma-tests-integration-cluster-users, post-master-kyma-tests-integration-cluster-users, pre-kyma-tests-integration-event-service, post-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-logging, post-master-kyma-tests-integration-logging, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-backup-plugins, post-master-kyma-tools-backup-plugins, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  pre-kyma-components-application-connectivity-certs-setup-job: any of: ^components/application-connectivity-certs-setup-job/|^common/makefiles/
  post-kyma-components-application-connectivity-certs-setup-job: any of: ^components/application-connectivity-certs-setup-job/|^common/makefiles/
  pre-master-kyma-components-application-gateway: any of: ^components/application-gateway/
  post-master-kyma-components-application-gateway: any of: ^components/application-gateway/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  post-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: (any of: ^(resources/compass|resources/compass-runtime-agent|installation)/) or (any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$)))
  pre-master-kyma-development-artifacts-idk: any of: ^installation|^resources|^components/kyma-operator|^tools/kyma-installer
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gcs-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gcs-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/core/templates/tests\S+|resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-backup: (any of: ^((resources/backup\S+|tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))) or (any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$)))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-kind-lite: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  post-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  post-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  pre-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  post-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  pre-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/|^common/makefiles/
  post-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/|^common/makefiles/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  pre-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  post-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  post-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Improve and move the dashboards to the respective component charts (#6618)
  resources/application-connector/charts/application-registry/templates/dashboard-configmap.yaml
  resources/application-connector/charts/connector-service/templates/dashboard-configmap.yaml
  resources/backup/templates/dashboard-configmap.yaml
  resources/core/charts/apiserver-proxy/templates/dashboard-configmap.yaml
  resources/dex/templates/dashboard-configmap.yaml
  resources/event-bus/charts/event-publish-service/templates/dashboard-configmap.yaml
  resources/event-bus/charts/subscription-controller/templates/dashboard-configmap.yaml
  resources/helm-broker/templates/dashboard-configmap.yaml
  resources/logging/templates/promtail/dashboard-configmap.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/application-registry.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/connector-service.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/event-bus.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/helm-broker.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/kubernetes-apiserver-per-client.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/lambda.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/logging.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/rest-service.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/service-binding-usage-controller.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/service-catalog.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/velero.yaml
  resources/monitoring/templates/grafana/kyma-dashboards/webapps.yaml
  resources/ory/charts/hydra/charts/hydra-maester/templates/dashboard-configmap.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/templates/dashboard-configmap.yaml
  resources/service-catalog-addons/charts/service-binding-usage-controller/templates/dashboard-configmap.yaml
  resources/service-catalog/charts/catalog/templates/dashboard-configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-backup, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Update values.yaml
  resources/ory/charts/oathkeeper/charts/oathkeeper-master/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Update image
  resources/service-catalog-addons/charts/service-catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/service-catalog-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

v2
  docs/kyma/04-04-cluster-installation.md
Due: post-master-kyma-docs-website, kyma-docs

v3
  docs/kyma/04-04-cluster-installation.md
Due: post-master-kyma-docs-website, kyma-docs

formatting fix
  docs/kyma/04-04-cluster-installation.md
Due: post-master-kyma-docs-website, kyma-docs

Update monitoring integration tests
  tests/integration/monitoring/test-monitoring.go
Due: none

Fix formatting
  docs/compass/08-06-provisioner-clean-up-runtime-data.md
Due: post-master-kyma-docs-website, kyma-docs

Update image
  resources/monitoring/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Remove https:// prefix if is already there
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Enable backup tests
  tests/end-to-end/backup-restore-test/backupe2e/grafana.go
  tests/end-to-end/backup-restore-test/backupe2e/prometheus.go
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
  tests/integration/monitoring/test-monitoring.go
Due: pre-master-kyma-gke-backup

Bump application-connector images
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Update the project name to sth less misleading
  docs/rafter/08-02-set-minio-to-gateway-mode.md
Due: post-master-kyma-docs-website, kyma-docs

v5
  docs/event-bus/03-04-knative-event-mesh.md
Due: post-master-kyma-docs-website, kyma-docs

Fix rbac
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/templates/test/rbac.yaml
Due: pre-master-kyma-gke-backup

rbac
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/templates/test/rbac.yaml
Due: pre-master-kyma-gke-backup

update image
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
Due: pre-master-kyma-gke-backup

.
  installation/resources/installer-cr.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

revert rbac
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/templates/test/rbac.yaml
Due: pre-master-kyma-gke-backup

Polishing
  components/application-broker/cmd/broker/main.go
  components/application-broker/cmd/migration/main.go
  components/application-broker/internal/access/automock/application_finder.go
  components/application-broker/internal/access/automock/provision_checker.go
  components/application-broker/internal/broker/deprovision.go
  components/application-broker/internal/mapping/automock/app_getter.go
  components/application-broker/internal/mapping/automock/mapping_lister.go
  components/application-broker/internal/mapping/automock/ns_patcher.go
  components/application-broker/internal/nsbroker/automock/service_checker.go
  components/application-broker/internal/nsbroker/automock/service_name_provider.go
  components/application-broker/internal/storage/populator/automock/instance_converter.go
  components/application-broker/internal/storage/populator/automock/instance_inserter.go
  components/application-broker/internal/syncer/automock/application_cr_mapper.go
  components/application-broker/internal/syncer/automock/application_cr_validator.go
  components/application-broker/internal/syncer/automock/application_remover.go
  components/application-broker/internal/syncer/automock/application_upserter.go
Due: console-integration

Create a test for conflicts on Helm broker
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/injector/addons.go
  tests/end-to-end/upgrade/pkg/tests/service-catalog/base_flow.go
  tests/end-to-end/upgrade/pkg/tests/service-catalog/helm_broker_conflict.go
Due: none

Run make-imports-local
  components/application-broker/internal/broker/broker.go
  components/application-broker/internal/broker/provision.go
  components/application-broker/internal/broker/provision_test.go
  components/application-broker/internal/broker/testing/api_object.go
  components/application-broker/internal/broker/testing/client_assertion.go
Due: console-integration

Bump application-connector images (#6634)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Fix integration tests
  tests/integration/monitoring/Gopkg.lock
  tests/integration/monitoring/test-lambda-dashboard-requirements.go
  tests/integration/monitoring/test-monitoring.go
Due: none

Disable rafter tests
  tests/end-to-end/upgrade/main.go
Due: none

Fail test then url parsing fails
  components/application-broker/internal/broker/provision_test.go
  components/application-broker/internal/broker/testing/api_object.go
Due: console-integration

Add tests of Rafter in e2e-upgrade-tests (#6476)
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/Gopkg.toml
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/api-controller/test.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/asset_store.go
  tests/end-to-end/upgrade/pkg/tests/cms/clusterdocstopic.go
  tests/end-to-end/upgrade/pkg/tests/cms/cms.go
  tests/end-to-end/upgrade/pkg/tests/cms/docstopic.go
  tests/end-to-end/upgrade/pkg/tests/event-bus/event_bus.go
  tests/end-to-end/upgrade/pkg/tests/function/function.go
  tests/end-to-end/upgrade/pkg/tests/monitoring/metrics.go
  tests/end-to-end/upgrade/pkg/tests/rafter/asset.go
  tests/end-to-end/upgrade/pkg/tests/rafter/assetgroup.go
  tests/end-to-end/upgrade/pkg/tests/rafter/bucket.go
  tests/end-to-end/upgrade/pkg/tests/rafter/clusterasset.go
  tests/end-to-end/upgrade/pkg/tests/rafter/clusterassetgroup.go
  tests/end-to-end/upgrade/pkg/tests/rafter/clusterbucket.go
  tests/end-to-end/upgrade/pkg/tests/rafter/rafter.go
  tests/end-to-end/upgrade/pkg/tests/rafter/testdata.go
  tests/end-to-end/upgrade/pkg/tests/ui/cluster-microfrontend.go
  tests/end-to-end/upgrade/pkg/tests/ui/microfrontend.go
Due: none

Improve
  tests/integration/monitoring/test-lambda-dashboard-requirements.go
  tests/integration/monitoring/test-monitoring.go
Due: none

Add migration job of resources from AssetStore/CMS to Rafter (#6599)
  resources/rafter/templates/_helper_migration_assetstore_resources.txt
  resources/rafter/templates/_helper_migration_create_rafter_upload_service_config_map.txt
  resources/rafter/templates/_helper_migration_system_buckets.txt
  resources/rafter/templates/_helper_migration_terminator.txt
  resources/rafter/templates/_helpers.tpl
  resources/rafter/templates/migration-job-post.yaml
  resources/rafter/templates/migration-job-pre.yaml
  resources/rafter/templates/migration-job-terminator.yaml
  resources/rafter/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Enable rafter e2e upgrade tests
  tests/end-to-end/upgrade/main.go
Due: none

Improve
  tests/end-to-end/backup-restore-test/backupe2e/grafana.go
  tests/end-to-end/backup-restore-test/backupe2e/prometheus.go
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

Update Readme of upgrade tests
  tests/end-to-end/upgrade/README.md
Due: none

After Readme review
  tests/end-to-end/upgrade/README.md
Due: none

Add UAA activator component
  components/uaa-activator/.gitignore
  components/uaa-activator/Dockerfile
  components/uaa-activator/Gopkg.lock
  components/uaa-activator/Gopkg.toml
  components/uaa-activator/Makefile
  components/uaa-activator/README.md
  components/uaa-activator/chart/uaa-activator/.helmignore
  components/uaa-activator/chart/uaa-activator/Chart.yaml
  components/uaa-activator/chart/uaa-activator/templates/_helpers.tpl
  components/uaa-activator/chart/uaa-activator/templates/job.yaml
  components/uaa-activator/chart/uaa-activator/templates/rbac.yaml
  components/uaa-activator/chart/uaa-activator/templates/secret.yaml
  components/uaa-activator/chart/uaa-activator/values.yaml
  components/uaa-activator/internal/ctxutil/cancelable.go
  components/uaa-activator/internal/ctxutil/check.go
  components/uaa-activator/internal/dex/configurator.go
  components/uaa-activator/internal/dex/overrider.go
  components/uaa-activator/internal/dex/uaa_renderer.go
  components/uaa-activator/internal/scheduler/scheduler.go
  components/uaa-activator/internal/uaa/creator.go
  components/uaa-activator/internal/uaa/waiter.go
  components/uaa-activator/internal/waiter/waiter.go
  components/uaa-activator/main.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog_test.go
Due: console-integration

Move chart under resources location
  CODEOWNERS
  resources/uaa-activator/.helmignore
  resources/uaa-activator/Chart.yaml
  resources/uaa-activator/templates/_helpers.tpl
  resources/uaa-activator/templates/job.yaml
  resources/uaa-activator/templates/rbac.yaml
  resources/uaa-activator/templates/secret.yaml
  resources/uaa-activator/values.yaml
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog_test.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-kind-lite

Update tests
  tests/console-backend-service/internal/domain/rafter/clusterassetgroup_test.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterserviceclass_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceclass_test.go
Due: none

Update types in cbs-integration-tests
  tests/console-backend-service/internal/domain/rafter/clusterassetgroup_test.go
  tests/console-backend-service/internal/domain/shared/asset.go
  tests/console-backend-service/internal/domain/shared/clusterasset.go
Due: none

Add integration tests for rafter domain in console-backend-service
  tests/console-backend-service/Gopkg.lock
  tests/console-backend-service/Gopkg.toml
  tests/console-backend-service/internal/domain/cms/clusterdocstopic_test.go
  tests/console-backend-service/internal/domain/cms/cms.go
  tests/console-backend-service/internal/domain/rafter/clusterassetgroup_test.go
  tests/console-backend-service/internal/domain/rafter/rafter.go
  tests/console-backend-service/internal/domain/rafter/rafter_test.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterserviceclass_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceclass_test.go
  tests/console-backend-service/internal/domain/shared/assetgroup.go
  tests/console-backend-service/internal/domain/shared/clusterasset.go
  tests/console-backend-service/internal/domain/shared/clusterassetgroup.go
  tests/console-backend-service/internal/domain/shared/clusterdocstopic.go
  tests/console-backend-service/internal/domain/shared/clusterserviceclass.go
  tests/console-backend-service/internal/domain/shared/docstopic.go
  tests/console-backend-service/internal/domain/shared/fixture/assetgroup.go
  tests/console-backend-service/internal/domain/shared/fixture/clusterasset.go
  tests/console-backend-service/internal/domain/shared/fixture/clusterassetgroup.go
  tests/console-backend-service/internal/domain/shared/fixture/clusterdocstopic.go
  tests/console-backend-service/internal/domain/shared/fixture/docstopic.go
  tests/console-backend-service/internal/domain/shared/serviceclass.go
  tests/console-backend-service/internal/domain/shared/wait/assetgroup.go
  tests/console-backend-service/internal/domain/shared/wait/clusterassetgroup.go
  tests/console-backend-service/internal/domain/shared/wait/clusterdocstopic.go
  tests/console-backend-service/internal/domain/shared/wait/docstopic.go
  tests/console-backend-service/internal/resource/assetgroup.go
  tests/console-backend-service/internal/resource/clusterassetgroup.go
  tests/console-backend-service/internal/resource/clusterdocstopic.go
  tests/console-backend-service/internal/resource/docstopic.go
Due: none

Fix backup sample secret
  docs/backup/04-01-install-velero.md
Due: post-master-kyma-docs-website, kyma-docs

Fix sample backup secret (#6661)
  docs/backup/04-01-install-velero.md
Due: post-master-kyma-docs-website, kyma-docs
