Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration, kyma-tests-kubeless, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  prow/kyma/kyma-integration: any of: ^(resources|installation)
  prow/kyma/kyma-gke-integration: any of: ^(resources|installation)
  kyma-tests-kubeless: any of: ^tests/kubeless/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Renaming in Proxy service
  components/proxy-service/Gopkg.toml
Due: console-integration

Renaming in Metadata Service - dependencies updated
  components/metadata-service/internal/metadata/applications/mocks/ApplicationManager.go
Due: console-integration

Renaming in Metadata Service Tests - dependencies updated
  tests/metadata-service-tests/Gopkg.lock
Due: none

Revert changes in rbac-roles.yaml file
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Change even more names
  components/connection-token-handler/pkg/apis/connectorservice/group.go
  components/connection-token-handler/pkg/apis/connectorservice/v1alpha1/doc.go
  components/connection-token-handler/pkg/apis/connectorservice/v1alpha1/register.go
Due: console-integration

Change every connectorservice to applicationconnector
  components/connection-token-handler/pkg/apis/connectorservice/v1alpha1/doc.go
  components/connection-token-handler/pkg/apis/connectorservice/v1alpha1/register.go
  docs/application-connector/docs/034-gs-get-client-certificate.md
  docs/application-connector/docs/060-cr-tokenrequest.md
  resources/application-connector/charts/connection-token-handler/templates/crd.yaml
  resources/application-connector/charts/connection-token-handler/templates/role-binding.yaml
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Change component image
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Reverse some changes
  resources/application-connector/charts/connector-service/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Change dependency names due to review
  components/connection-token-handler/pkg/apis/addtoscheme_applicationconnector_v1alpha1.go
  components/connection-token-handler/pkg/controller/tokenrequest/tokenrequest_controller.go
Due: console-integration

Change folder name due to convention
  components/connection-token-handler/pkg/apis/addtoscheme_connectorservice_v1alpha1.go
  components/connection-token-handler/pkg/apis/applicationconnector/group.go
  components/connection-token-handler/pkg/apis/applicationconnector/v1alpha1/doc.go
  components/connection-token-handler/pkg/apis/applicationconnector/v1alpha1/register.go
  components/connection-token-handler/pkg/apis/applicationconnector/v1alpha1/tokenrequest_types.go
  components/connection-token-handler/pkg/apis/applicationconnector/v1alpha1/tokenrequest_types_test.go
  components/connection-token-handler/pkg/apis/applicationconnector/v1alpha1/zz_generated.deepcopy.go
  components/connection-token-handler/pkg/controller/tokenrequest/tokenrequest_controller.go
  resources/application-connector/charts/connector-service/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix typo
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Move default rbac role to combo yaml
  installation/scripts/installer.sh
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update test-serving.yaml
  resources/knative/templates/tests/test-serving.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update job.yaml
  resources/istio-kyma-patch/templates/job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Rename tokenrequest CR (#1965)
  components/connection-token-handler/pkg/apis/addtoscheme_applicationconnector_v1alpha1.go
  components/connection-token-handler/pkg/apis/applicationconnector/group.go
  components/connection-token-handler/pkg/apis/applicationconnector/v1alpha1/doc.go
  components/connection-token-handler/pkg/apis/applicationconnector/v1alpha1/register.go
  components/connection-token-handler/pkg/apis/applicationconnector/v1alpha1/tokenrequest_types.go
  components/connection-token-handler/pkg/apis/applicationconnector/v1alpha1/tokenrequest_types_test.go
  components/connection-token-handler/pkg/apis/applicationconnector/v1alpha1/zz_generated.deepcopy.go
  components/connection-token-handler/pkg/apis/connectorservice/group.go
  components/connection-token-handler/pkg/apis/connectorservice/v1alpha1/doc.go
  components/connection-token-handler/pkg/controller/tokenrequest/tokenrequest_controller.go
  docs/application-connector/docs/034-gs-get-client-certificate.md
  docs/application-connector/docs/060-cr-tokenrequest.md
  resources/application-connector/charts/connection-token-handler/templates/crd.yaml
  resources/application-connector/charts/connection-token-handler/templates/role-binding.yaml
  resources/application-connector/values.yaml
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update console and test image versions
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/console/values.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add knative serving acceptance tests container
  orchestrator.Jenkinsfile
  release.Jenkinsfile
  tests/knative-serving-acceptance/Dockerfile
  tests/knative-serving-acceptance/Gopkg.lock
  tests/knative-serving-acceptance/Gopkg.toml
  tests/knative-serving-acceptance/Jenkinsfile
  tests/knative-serving-acceptance/README.md
  tests/knative-serving-acceptance/knative_serving_test.go
Due: none

Fix branch in Gopkg.tomls
  tests/knative-serving-acceptance/Gopkg.toml
Due: none

Add support for prow
  tests/knative-serving-acceptance/Makefile
  tests/knative-serving-acceptance/before-commit.sh
Due: none

Rename RE to Application - documentation (#2008)
  docs/application-connector/docs/001-overview-application-connector.md
  docs/application-connector/docs/004-architecture-application-connector.md
  docs/application-connector/docs/008-details-ac-security.md
  docs/application-connector/docs/011-architecture-connector-service.md
  docs/application-connector/docs/013-details-consume-services.md
  docs/application-connector/docs/014-details-metadata-service.md
  docs/application-connector/docs/018-architecture-proxy-service.md
  docs/application-connector/docs/032-gs-create-application.md
  docs/application-connector/docs/032-gs-create-remote-environment.md
  docs/application-connector/docs/034-gs-get-client-certificate.md
  docs/application-connector/docs/039-gs-application-mapping.md
  docs/application-connector/docs/039-gs-environment-mapping.md
  docs/application-connector/docs/041-gs-trigger-lambda-with-event.md
  docs/application-connector/docs/043-gs-call-registered-service-from-kyma.md
  docs/application-connector/docs/044-cr-environment.md
  docs/application-connector/docs/056-cr-apllicationmapping.md
  docs/application-connector/docs/056-cr-environmentmapping.md
  docs/application-connector/docs/060-cr-tokenrequest.md
  docs/application-connector/docs/assets/001-application-connector.svg
  docs/application-connector/docs/assets/002-automatic-configuration.svg
  docs/application-connector/docs/assets/003-architecture-proxy-service.svg
  docs/application-connector/docs/assets/connectorapi.yaml
  docs/assets/crd/mapping-prod.yaml
  docs/event-bus/docs/010-details-concepts.md
  docs/event-bus/docs/011-details-event-flow-requirements.md
  docs/event-bus/docs/013-details-service-programming-model.md
  docs/kyma/docs/006-overview-how-to-start.md
  docs/service-brokers/docs/001-overview-service-brokers.md
  docs/service-brokers/docs/004-overview-ab.md
  docs/service-brokers/docs/004-overview-reb.md
  docs/service-brokers/docs/020-architecture-ab.md
  docs/service-brokers/docs/040-cr-event-activation.md
  docs/service-brokers/docs/assets/001-AB-architecture.svg
  docs/service-brokers/docs/assets/020-AB-API-service-class.html
  docs/service-brokers/docs/assets/020-AB-API-service-class.png
  docs/service-brokers/docs/assets/020-AB-event-service-class.html
  docs/service-brokers/docs/assets/020-AB-event-service-class.png
  docs/service-catalog/docs/011-details-add-service-to-the-catalog.md
Due: none

Update README.md
  tests/knative-serving-acceptance/README.md
Due: none

Apply suggestions from code review
  resources/knative/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Apply suggestions from code review
  tests/knative-serving-acceptance/README.md
Due: none

Fix sampleapp behaviour (#2057)
  tests/api-controller-acceptance-tests/apicontroller/component_test.go
  tests/api-controller-acceptance-tests/apicontroller/fixture.go
  tests/api-controller-acceptance-tests/apicontroller/integration_test.go
Due: none

Dependencies updated
  components/application-proxy/before-commit.sh
  components/application-registry/before-commit.sh
Due: console-integration

Update resources/knative/README.md
  resources/knative/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update tools/load-test/README.md
  tools/load-test/README.md
Due: none

Bump connection token handler image
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

fix permissions
  components/application-proxy/before-commit.sh
  components/application-registry/before-commit.sh
Due: console-integration

Bump connection token handler image (#2069)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix Jenkins file
  tests/knative-serving-acceptance/Jenkinsfile
Due: none

Revert gofmt changes to older version
  components/ui-api-layer/contrib/examples/service-catalog-test-data.yaml
  components/ui-api-layer/internal/domain/application/app_converter.go
  components/ui-api-layer/internal/domain/k8s/deployment_converter.go
  components/ui-api-layer/internal/domain/servicecatalog/clusterserviceplan_converter_test.go
  components/ui-api-layer/internal/domain/servicecatalog/serviceplan_converter_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer
