Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Add documentation for configurable navigation nodes (#4670)
  docs/console/05-01-console.md
  resources/core/charts/console/templates/configmap.yaml
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix issue with controlplane in Asset Store and CMS tests
  components/asset-store-controller-manager/Gopkg.lock
  components/asset-store-controller-manager/Gopkg.toml
  components/asset-store-controller-manager/Makefile
  components/cms-controller-manager/Gopkg.lock
  components/cms-controller-manager/Gopkg.toml
  components/cms-controller-manager/Makefile
Due: console-integration, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager

Removed CertificateGen from the model for getting specification
  components/application-registry/internal/externalapi/metadatahandler_test.go
  components/application-registry/internal/externalapi/model.go
  components/application-registry/internal/externalapi/servicedetailsvalidation.go
  components/application-registry/internal/externalapi/servicedetailsvalidation_test.go
  components/application-registry/internal/metadata/model/model.go
  components/application-registry/internal/metadata/secrets/strategy/certificategen.go
  components/application-registry/internal/metadata/secrets/strategy/certificategen_test.go
  components/application-registry/internal/metadata/specification/service.go
Due: console-integration

Allow concurrency in testing.sh (#4596)
  installation/scripts/testing.sh
  resources/application-connector/charts/application-operator/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/application-registry/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/connection-token-handler/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/connector-service/templates/tests/test-acceptance.yaml
  resources/application-connector/templates/tests/test-acceptance.yaml
  resources/assetstore/templates/tests/test-integration.yaml
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
  resources/core/charts/apiserver-proxy/templates/tests/test-apiserver-proxy.yaml
  resources/core/charts/cluster-users/templates/tests/test-cluster-users.yaml
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
  resources/core/templates/tests/test-console-backend-service.yaml
  resources/core/templates/tests/test-core-acceptance.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/dex/templates/tests/test-dex-connection.yaml
  resources/event-bus/templates/tests/test-e2e-tester.yaml
  resources/knative-serving/templates/tests/test-serving.yaml
  resources/logging/templates/tests/logging.yaml
  resources/monitoring/templates/tests/test-kube-prometheus.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix for build issue (goimports)
  components/application-gateway/internal/csrf/strategy/csrf_test.go
Due: console-integration

Fix for build issue (goimports)
  components/application-gateway/internal/proxy/unauthorizedresponseretrier_test.go
Due: console-integration

Fix service catalog crd chart (#4703)
  resources/service-catalog/charts/catalog-crds/templates/migration-job.yaml
  resources/service-catalog/charts/catalog-crds/templates/webhook-service.yaml
  resources/service-catalog/charts/catalog-crds/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump
  resources/assetstore/values.yaml
  resources/cms/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add cert setup job
  components/application-connectivity-certs-setup-job/.gitignore
  components/application-connectivity-certs-setup-job/Gopkg.lock
  components/application-connectivity-certs-setup-job/Gopkg.toml
  components/application-connectivity-certs-setup-job/certsetup.go
  components/application-connectivity-certs-setup-job/certsetup_test.go
  components/application-connectivity-certs-setup-job/main.go
  components/application-connectivity-certs-setup-job/mocks/Manager.go
  components/application-connectivity-certs-setup-job/mocks/SecretRepository.go
  components/application-connectivity-certs-setup-job/options.go
  components/application-connectivity-certs-setup-job/options_test.go
  components/application-connectivity-certs-setup-job/secrets.go
  components/application-connectivity-certs-setup-job/secrets_test.go
Due: console-integration

Organize toggles in LogUI
  resources/core/charts/kubeless/charts/lambdas-ui/templates/deployment.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add Dockerfile, update dependencies
  components/application-connectivity-certs-setup-job/Dockerfile
  components/application-connectivity-certs-setup-job/Gopkg.lock
  components/application-connectivity-certs-setup-job/Gopkg.toml
Due: console-integration

Change to go 1.11
  components/application-connectivity-certs-setup-job/Dockerfile
Due: console-integration

Rename gateway-tests to gateway (#4709)
  CODEOWNERS
  tests/gateway/Dockerfile
  tests/gateway/Gopkg.lock
  tests/gateway/Gopkg.toml
  tests/gateway/Makefile
  tests/gateway/README.md
  tests/gateway/can-i-commit.sh
  tests/gateway/entrypoint.sh
  tests/gateway/test/apitests/gateway_events_test.go
  tests/gateway/test/apitests/gateway_health_test.go
  tests/gateway/test/testkit/config.go
  tests/gateway/test/testkit/subscriptions_client.go
Due: none

Attempt to fix build issue
  components/application-gateway/internal/csrf/client/csrftokencache.go
Due: console-integration

Add share flag
  resources/core/charts/cluster-users/templates/tests/test-cluster-users.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add label
  resources/core/charts/cluster-users/templates/tests/test-cluster-users.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix api controller tests error handling
  tests/api-controller-acceptance-tests/apicontroller/fixture.go
  tests/api-controller-acceptance-tests/apicontroller/integration_test.go
  tests/api-controller-acceptance-tests/apicontroller/main_test.go
Due: none

Fix api controller tests error handling
  tests/api-controller-acceptance-tests/apicontroller/main_test.go
Due: none

api-controller acceptance tests image bump
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix issue with controlplane in Asset Store and CMS tests (#4713)
  components/asset-store-controller-manager/Gopkg.lock
  components/asset-store-controller-manager/Gopkg.toml
  components/asset-store-controller-manager/Makefile
  components/cms-controller-manager/Gopkg.lock
  components/cms-controller-manager/Gopkg.toml
  components/cms-controller-manager/Makefile
  resources/assetstore/values.yaml
  resources/cms/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Helm-Broker storage namespace aware
  components/helm-broker/internal/broker/automock/bundle_storage.go
  components/helm-broker/internal/broker/automock/chart_getter.go
  components/helm-broker/internal/broker/automock/chart_storage.go
  components/helm-broker/internal/broker/broker.go
  components/helm-broker/internal/broker/catalog.go
  components/helm-broker/internal/broker/catalog_test.go
  components/helm-broker/internal/broker/osbapi_test.go
  components/helm-broker/internal/broker/provision.go
  components/helm-broker/internal/broker/provision_test.go
  components/helm-broker/internal/bundle/syncer.go
  components/helm-broker/internal/bundle/syncer_test.go
  components/helm-broker/internal/model.go
  components/helm-broker/internal/storage/driver/etcd/entity_bundle.go
  components/helm-broker/internal/storage/driver/etcd/entity_chart.go
  components/helm-broker/internal/storage/driver/memory/entity_bundle.go
  components/helm-broker/internal/storage/driver/memory/entity_chart.go
  components/helm-broker/internal/storage/ext.go
  components/helm-broker/internal/storage/testing/bundle_test.go
  components/helm-broker/internal/storage/testing/chart_test.go
Due: console-integration

Improve Overview for Event Bus
  docs/event-bus/01-01-event-bus.md
Due: post-master-kyma-docs-website, kyma-docs

Apply suggestions from code review
  components/kyma-operator/README.md
  docs/kyma/04-09-upgrade.md
Due: console-integration, post-master-kyma-docs-website, kyma-docs

Improve Overview for Event Bus (#4659)
  docs/event-bus/01-01-event-bus.md
Due: post-master-kyma-docs-website, kyma-docs

v4
  docs/kyma/04-09-upgrade.md
  docs/kyma/04-10-update.md
Due: post-master-kyma-docs-website, kyma-docs

v5
  components/kyma-operator/README.md
Due: console-integration

Kyma-operator bump (#4692)
  tools/kyma-installer/kyma.Dockerfile
Due: none

v6
  components/kyma-operator/README.md
Due: console-integration

Build issue fix (goimports)
  components/application-gateway/internal/proxy/unauthorizedresponseretrier_test.go
Due: console-integration

Document upgrade procedure (#4704)
  components/kyma-operator/README.md
  docs/kyma/04-09-upgrade.md
  docs/kyma/04-10-update.md
Due: console-integration, post-master-kyma-docs-website, kyma-docs

Add Makefile
  components/application-connectivity-certs-setup-job/.gitignore
  components/application-connectivity-certs-setup-job/Makefile
  components/application-connectivity-certs-setup-job/before-commit.sh
  components/application-connectivity-certs-setup-job/certsetup_test.go
  components/application-connectivity-certs-setup-job/options.go
Due: console-integration

Change dep version
  components/application-connectivity-certs-setup-job/Gopkg.lock
Due: console-integration

Format
  components/application-connectivity-certs-setup-job/certsetup_test.go
  components/application-connectivity-certs-setup-job/options.go
Due: console-integration

Fix testing.h concurrency regexp
  installation/scripts/testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

One more fix
  installation/scripts/testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Use latest image version for log-ui
  resources/logging/charts/log-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Kyma-operator docu update
  docs/kyma/01-06-how-to-start.md
  docs/kyma/04-03-cluster-installation.md
  docs/kyma/04-04-use-your-own-domain.md
  docs/kyma/04-05-use-your-own-image.md
  docs/kyma/05-01-overview.md
  docs/kyma/05-02-custom-component-installation.md
  docs/kyma/05-03-overrides.md
  docs/kyma/14-02-basic-troubleshooting.md
  docs/kyma/14-04-common-errors.md
  docs/kyma/14-06-unable-create-helm.md
  installation/README.md
Due: kyma-integration, kyma-gke-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration

Switch to new apiserver-proxy tests (#4720)
  CODEOWNERS
  resources/core/values.yaml
  tests/apiserver-proxy-tests/.gitignore
  tests/apiserver-proxy-tests/Dockerfile
  tests/apiserver-proxy-tests/Gopkg.lock
  tests/apiserver-proxy-tests/Gopkg.toml
  tests/apiserver-proxy-tests/Makefile
  tests/apiserver-proxy-tests/README.md
  tests/apiserver-proxy-tests/before-commit.sh
  tests/apiserver-proxy-tests/fetch-token/internal/auth.go
  tests/apiserver-proxy-tests/fetch-token/internal/config.go
  tests/apiserver-proxy-tests/fetch-token/internal/idtokenprovider.go
  tests/apiserver-proxy-tests/fetch-token/main.go
  tests/apiserver-proxy-tests/test.sh
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
