Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

fix typo
  docs/backup/03-01-install-velero.md
Due: post-master-kyma-docs-website, kyma-docs

Add flags to debug issue in function_controller_test.go
  components/knative-function-controller/pkg/controller/function/function_controller_test.go
Due: console-integration

add antoineco to codeowners
  CODEOWNERS
Due: none

Fix migration job
  installation/scripts/testing-common.sh
  resources/helm-broker/templates/migration-job.yaml
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix brokers sync
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
Due: console-integration

docs: update URL of Dex project
  docs/kyma/01-03-technology-stack.md
  docs/kyma/03-01-components.md
  docs/security/01-01-security.md
  docs/security/08-03-add-connector.md
  docs/service-mesh/01-01-service-mesh.md
Due: post-master-kyma-docs-website, kyma-docs

docs: delete extra whitespaces, add newlines
  docs/application-connector/01-01-application-connector.md
  docs/application-connector/03-04-metadata-service.md
  docs/console/01-01-console.md
  docs/kyma/03-01-components.md
  docs/serverless/03-02-managing-lambdas.md
  docs/tracing/03-01-distributed-tracing.md
  docs/tracing/03-04-trace-comparison.md
  docs/tracing/10-01-traces-troubleshooting.md
Due: post-master-kyma-docs-website, kyma-docs

Fix tests
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Velero installation guide and overrides docs (#4909)
  docs/backup/03-01-install-velero.md
  docs/backup/05-01-velero.md
  docs/kyma/04-01-overview.md
Due: post-master-kyma-docs-website, kyma-docs

Remove declared NodePort service type in dex, remove nodeports in istio gateway
  resources/dex/templates/dex-service.yaml
  resources/istio/charts/gateways/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Remove declared NodePort service type in dex, remove nodeports in istio gateway
  resources/istio/charts/gateways/values.yaml
  resources/istio/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add @antoineco to CODEOWNERS (#4971)
  CODEOWNERS
Due: none

Fix Makefile
  components/knative-function-controller/Makefile
Due: console-integration

Started implementing service applying current state fetched from the Director
  components/compass-runtime-agent/internal/synchronization/converter.go
  components/compass-runtime-agent/internal/synchronization/reconciler.go
  components/compass-runtime-agent/internal/synchronization/service.go
Due: console-integration

Use AddonsConfiguration CR instead configmaps (#4776)
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/helm-broker/cmd/cm2cac/main.go
  components/helm-broker/cmd/cm2cac/migration.go
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
  installation/scripts/e2e-testing.sh
  installation/scripts/testing-common.sh
  installation/scripts/testing.sh
  resources/cluster-essentials/templates/addons-configuration.crd.yaml
  resources/cluster-essentials/templates/cluster-addons-configuration.crd.yaml
  resources/core/charts/console-backend-service/templates/cluster-role.yaml
  resources/core/charts/console-backend-service/templates/deployment.yaml
  resources/core/values.yaml
  resources/helm-broker/templates/cfg-repos-url.yaml
  resources/helm-broker/templates/cluster-role-binding.yaml
  resources/helm-broker/templates/cluster-role.yaml
  resources/helm-broker/templates/default-addons-cfg.yaml
  resources/helm-broker/templates/deploy.yaml
  resources/helm-broker/templates/helm-broker-cfg.yaml
  resources/helm-broker/templates/migration-job.yaml
  resources/helm-broker/templates/rbac.yaml
  resources/helm-broker/templates/sa.yaml
  resources/helm-broker/templates/service-broker.yaml
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Remove private data. Update README with changes in Makefile
  components/knative-function-controller/README.md
  components/knative-function-controller/config/default/manager_image_patch_local_dev.yaml
  components/knative-function-controller/config/default/manager_image_patch_remote_dev.yaml
Due: console-integration

Work on dex changes
  resources/dex/templates/dex-service.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Missing defer resp.Body.Close()
  tests/end-to-end/external-solution-integration/pkg/testkit/testservice.go
Due: pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration

Increase timeout in test
  components/knative-function-controller/pkg/controller/function/function_controller_test.go
Due: console-integration

ensure kubeless tests can be run in parallel with others (#4942)
  installation/scripts/testing.sh
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
  tests/kubeless/Dockerfile
  tests/kubeless/Gopkg.lock
  tests/kubeless/Makefile
  tests/kubeless/kubeless-tests.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, kyma-tests-kubeless

Work on dex changes
  resources/dex/templates/upgrade-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

POC Runtime Agent flow
  components/compass-runtime-agent/cmd/main.go
  components/compass-runtime-agent/internal/certificates/manager.go
  components/compass-runtime-agent/internal/certificates/model.go
  components/compass-runtime-agent/internal/compass/config_client.go
  components/compass-runtime-agent/internal/compass/connector.go
  components/compass-runtime-agent/internal/compassconnection/controller.go
  components/compass-runtime-agent/internal/compassconnection/mocks/Supervisor.go
  components/compass-runtime-agent/internal/compassconnection/supervisor.go
  components/compass-runtime-agent/internal/compassconnection/supervisor_test.go
  components/compass-runtime-agent/internal/graphql/client.go
  components/compass-runtime-agent/internal/graphql/request.go
  components/compass-runtime-agent/pkg/apis/compass/v1alpha1/types.go
Due: console-integration

updating valero json schema
  resources/velero/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Helm-broker test
  components/helm-broker/Gopkg.lock
  components/helm-broker/Makefile
  components/helm-broker/cmd/broker/main.go
  components/helm-broker/cmd/controller/main.go
  components/helm-broker/internal/broker/provision_export_test.go
  components/helm-broker/internal/broker/server.go
  components/helm-broker/internal/controller/setup.go
  components/helm-broker/test/integration/crds/ac.yaml
  components/helm-broker/test/integration/crds/cac.yaml
  components/helm-broker/test/integration/crds/clusterdocstopic.yaml
  components/helm-broker/test/integration/crds/clusterservicebroker.yaml
  components/helm-broker/test/integration/crds/docstopic.yaml
  components/helm-broker/test/integration/crds/servicebroker.yaml
  components/helm-broker/test/integration/integration_test.go
  components/helm-broker/test/integration/suite_test.go
  components/helm-broker/test/integration/testdata/acc-testing-0.0.1.tgz
  components/helm-broker/test/integration/testdata/index-acc-testing.yaml
  components/helm-broker/test/integration/testdata/index-redis.yaml
  components/helm-broker/test/integration/testdata/index.yaml
  components/helm-broker/test/integration/testdata/redis-0.0.1.tgz
  tests/acceptance/Gopkg.lock
  tests/acceptance/Gopkg.toml
  tests/acceptance/application/suite/istio.go
  tests/acceptance/servicecatalog/servicecatalog_test.go
Due: console-integration

extracted kiali into own main chart
  CODEOWNERS
  docs/kyma/01-01-in-a-nutshell.md
  docs/kyma/04-01-overview.md
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/dex/templates/dex-config-map.yaml
  resources/dex/values.yaml
  resources/istio/README.md
  resources/istio/charts/kiali/templates/clusterrole.yaml
  resources/istio/charts/kiali/templates/configmap.yaml
  resources/istio/charts/kiali/templates/demosecret.yaml
  resources/istio/charts/kiali/templates/deployment.yaml
  resources/istio/charts/kiali/templates/destinationrule.yaml
  resources/istio/charts/kiali/templates/tests/test-kiali-connection.yaml
  resources/istio/charts/kiali/values.yaml
  resources/istio/requirements.yaml
  resources/jaeger/templates/deployment.yaml
  resources/kiali/Chart.yaml
  resources/kiali/README.md
  resources/kiali/templates/_helpers.tpl
  resources/kiali/templates/clustermicrofrontend.yaml
  resources/kiali/templates/clusterrole.yaml
  resources/kiali/templates/clusterrolebinding.yaml
  resources/kiali/templates/configmap.yaml
  resources/kiali/templates/deployment.yaml
  resources/kiali/templates/destinationrule.yaml
  resources/kiali/templates/policy.yaml
  resources/kiali/templates/secret.yaml
  resources/kiali/templates/service.yaml
  resources/kiali/templates/serviceaccount.yaml
  resources/kiali/templates/servicemonitor.yaml
  resources/kiali/templates/tests/test-kiali-connection.yaml
  resources/kiali/templates/virtualservice.yaml
  resources/kiali/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Helm-broker test (#4951)
  components/helm-broker/Gopkg.lock
  components/helm-broker/Makefile
  components/helm-broker/cmd/broker/main.go
  components/helm-broker/cmd/controller/main.go
  components/helm-broker/internal/broker/provision_export_test.go
  components/helm-broker/internal/broker/server.go
  components/helm-broker/internal/controller/setup.go
  components/helm-broker/test/integration/crds/ac.yaml
  components/helm-broker/test/integration/crds/cac.yaml
  components/helm-broker/test/integration/crds/clusterdocstopic.yaml
  components/helm-broker/test/integration/crds/clusterservicebroker.yaml
  components/helm-broker/test/integration/crds/docstopic.yaml
  components/helm-broker/test/integration/crds/servicebroker.yaml
  components/helm-broker/test/integration/integration_test.go
  components/helm-broker/test/integration/suite_test.go
  components/helm-broker/test/integration/testdata/acc-testing-0.0.1.tgz
  components/helm-broker/test/integration/testdata/index-acc-testing.yaml
  components/helm-broker/test/integration/testdata/index-redis.yaml
  components/helm-broker/test/integration/testdata/index.yaml
  components/helm-broker/test/integration/testdata/redis-0.0.1.tgz
  tests/acceptance/Gopkg.lock
  tests/acceptance/Gopkg.toml
  tests/acceptance/application/suite/istio.go
  tests/acceptance/servicecatalog/servicecatalog_test.go
Due: console-integration

extracted kiali into own main chart
  resources/istio/README.md
Due: kyma-integration, kyma-gke-integration, console-integration

AddonConfiguration well documented in kyma-project.io (#4758)
  components/helm-broker/README.md
  docs/helm-broker/01-01-helm-broker.md
  docs/helm-broker/02-01-helm-broker.md
  docs/helm-broker/02-02-deep-dive.md
  docs/helm-broker/03-01-create-addons.md
  docs/helm-broker/03-02-bind-addons.md
  docs/helm-broker/03-03-create-addons-repo.md
  docs/helm-broker/03-03-create-bundles-repo.md
  docs/helm-broker/03-04-bundles-docs.md
  docs/helm-broker/03-04-fetch-addons-from-https-servers.md
  docs/helm-broker/03-05-bundles-validation.md
  docs/helm-broker/03-05-registration-rules.md
  docs/helm-broker/03-06-addons-validation.md
  docs/helm-broker/03-07-addons-docs.md
  docs/helm-broker/05-01-helm-broker.md
  docs/helm-broker/06-01-clusteraddonsconfiguration.md
  docs/helm-broker/06-02-addonsconfiguration.md
  docs/helm-broker/08-01-configure-hb.md
  docs/helm-broker/assets/hb-cluster.svg
  docs/helm-broker/assets/hb-deep-dive.svg
  docs/helm-broker/assets/hb-namespaced.svg
  docs/helm-broker/assets/hb-registration.svg
Due: console-integration, post-master-kyma-docs-website, kyma-docs

extracted kiali into own main chart
  resources/istio/charts/kiali/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Helm BRoker migration test fix, enhance before_commit script for cmds
  components/helm-broker/before-commit.sh
  components/helm-broker/cmd/cm2cac/migration_test.go
Due: console-integration

Helm BRoker migration test fix, enhance before_commit script for cmds (#4979)
  components/helm-broker/before-commit.sh
  components/helm-broker/cmd/cm2cac/migration_test.go
Due: console-integration

Apply fixes
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  components/console-backend-service/internal/experimental/featuretoggles.go
Due: console-integration

Add support for the ClusterAddonsConfiguration in GQL queries
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  components/console-backend-service/internal/experimental/featuretoggles.go
Due: console-integration

Remove deprecated impl of the AddonsCfg from console-backend-service
  components/console-backend-service/Gopkg.lock
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/addons_cfg_lister.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/addons_cfg_mutations.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/addons_cfg_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/addons_cfg_updater.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/bindable_resource_lister.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/service_binding_usage_operations.go
  components/console-backend-service/internal/domain/servicecatalogaddons/automock/status_binding_usage_extractor.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_converter.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_converter_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_resolver_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_service.go
  components/console-backend-service/internal/domain/servicecatalogaddons/clusteraddonsconfiguration_service_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/export_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/automock/export.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/automock/gql_config_map_addons_configuration_converter.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/clusteraddonsconfiguration_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/config_map_addonsconfiguration.go
  components/console-backend-service/internal/domain/servicecatalogaddons/listener/config_map_addonsconfiguration_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  components/console-backend-service/internal/experimental/featuretoggles.go
Due: console-integration

Change charts
  resources/core/charts/console-backend-service/templates/deployment.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Building test cluster.
  tests/dummy_file
Due: none

Disable legacy rbac roles
  resources/core/charts/cluster-users/templates/clusterroles-k8s-io.yaml
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Remove rbac
  resources/core/charts/cluster-users/templates/clusterroles-k8s-io.yaml
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade
