Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Fix backup tests (#4609)
  installation/scripts/e2e-testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add test for excluded paths
  tests/api-controller-acceptance-tests/apicontroller/integration_test.go
Due: none

Add test for excluded paths image bump
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

skip delete if release doesn't exist
  components/installer/pkg/kymainstallation/step.go
  components/installer/pkg/kymainstallation/stepsfactory.go
  components/installer/pkg/steps/installation.go
Due: console-integration

fix condition
  components/installer/pkg/apis/installer/v1alpha1/types.go
Due: console-integration

uninstall status
  components/installer/pkg/config/installation-data.go
  components/installer/pkg/kymainstallation/step.go
  components/installer/pkg/kymainstallation/stepsfactory.go
  components/installer/pkg/steps/installation.go
  components/installer/pkg/steps/remove-kyma-components.go
Due: console-integration

initial
  components/installer/Gopkg.lock
  components/installer/Gopkg.toml
  components/installer/pkg/installation/controller.go
  components/installer/pkg/kymainstallation/step.go
  components/installer/pkg/kymainstallation/stepsfactory.go
  components/installer/pkg/steps/installation.go
Due: console-integration

uninstall: log error only
  components/installer/pkg/kymainstallation/step.go
Due: console-integration

Move dex tests to separate dir
  tests/acceptance/Dockerfile
  tests/acceptance/entrypoint.sh
  tests/integration/dex/Dockerfile
  tests/integration/dex/Gopkg.lock
  tests/integration/dex/Gopkg.toml
  tests/integration/dex/Makefile
  tests/integration/dex/README.md
  tests/integration/dex/build.sh
  tests/integration/dex/dex/config.go
  tests/integration/dex/dex/dex_test.go
  tests/integration/dex/dex/idtokenprovider.go
  tests/integration/dex/entrypoint.sh
Due: none

add missing CE headers to test
  tests/event-bus/e2e-tester/e2e-tester.go
Due: none

More detailed info
  docs/asset-store/06-01-asset.md
  docs/asset-store/06-03-clusterasset.md
  docs/headless-cms/03-01-headless-cms-in-console.md
  docs/headless-cms/06-01-docstopic.md
  docs/headless-cms/06-02-clusterdocstopic.md
Due: post-master-kyma-docs-website, kyma-docs

Update core and dex charts
  resources/core/values.yaml
  resources/dex/templates/tests/rbac-dex-integration.yaml
  resources/dex/templates/tests/test-dex-integration.yaml
  resources/dex/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

restore errors
  components/installer/pkg/kymainstallation/step.go
Due: console-integration

Apiserver proxy test should use FQDN of configurations generator service
  tests/apiserver-proxy-tests/test.sh
Due: none

Apiserver proxy test image bump
  resources/core/charts/apiserver-proxy/templates/tests/test-apiserver-proxy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Move istio-kyma-patch logic to istio subchart (#4472)
  components/istio-kyma-patch/patch.sh
  docs/application-connector/08-10-rotate-root-ca.md
  resources/application-connector/charts/connectivity-certs-controller/README.md
  resources/application-connector/charts/connectivity-certs-controller/values.yaml
  resources/application-connector/charts/connector-service/README.md
  resources/application-connector/templates/ca-crt-istio-secret.yaml
  resources/application-connector/values.yaml
  resources/core/charts/gateway/templates/application-connector-certs.yaml
  resources/core/charts/gateway/templates/gateway.yaml
  resources/core/charts/gateway/templates/kyma-gateway-certs.yaml
  resources/istio-kyma-patch/templates/NOTES.txt
  resources/istio-kyma-patch/templates/configmap.yaml
  resources/istio-kyma-patch/templates/istio-ingressgateway-certs.yaml
  resources/istio-kyma-patch/templates/job.yaml
  resources/istio-kyma-patch/values.yaml
  resources/istio/charts/customization/Chart.yaml
  resources/istio/charts/customization/templates/destination-rule.yaml
  resources/istio/charts/customization/templates/label-job.yaml
  resources/istio/charts/customization/values.yaml
  resources/istio/charts/gateways/values.yaml
  resources/istio/requirements.yaml
  resources/istio/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Simplify test name, change kill signal
  resources/dex/templates/tests/rbac-dex-integration.yaml
  resources/dex/templates/tests/test-dex-connection.yaml
  resources/dex/templates/tests/test-dex-integration.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump istio kyma patch image
  resources/istio-kyma-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update 03-03-service-programming-model.md
  docs/event-bus/03-03-service-programming-model.md
Due: post-master-kyma-docs-website, kyma-docs

Align event delivery with cloud events specification (#4585)
  components/event-bus/cmd/event-bus-publish-knative/dockerBuild.sh
  components/event-bus/cmd/event-bus-publish-knative/handlers/publish.go
  components/event-bus/cmd/event-bus-subscription-controller-knative/dockerBuild.sh
  components/event-bus/internal/trace/tags.go
  docs/event-bus/03-03-service-programming-model.md
  tests/event-bus/e2e-tester/e2e-tester.go
Due: console-integration, post-master-kyma-docs-website, kyma-docs

Bump istio kyma patch image (#4618)
  resources/istio-kyma-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Changes based on review comments
  tests/end-to-end/external-solution-integration/Gopkg.toml
  tests/end-to-end/external-solution-integration/e2e.go
  tests/end-to-end/external-solution-integration/resourceskit/k8s_resources_check.go
  tests/end-to-end/external-solution-integration/testkit/testservice.go
  tests/end-to-end/external-solution-integration/testsuite/suite.go
  tests/end-to-end/external-solution-integration/wait/wait.go
Due: none

docu
  components/installer/README.md
  docs/kyma/06-01-installation.md
Due: console-integration, post-master-kyma-docs-website, kyma-docs

Fix typo, try to remove SA
  resources/dex/templates/tests/test-dex-connection.yaml
  resources/dex/templates/tests/test-dex-integration.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

test
  test
Due: none

Add backup tests for event bus
  tests/end-to-end/backup-restore-test/Gopkg.lock
  tests/end-to-end/backup-restore-test/backupe2e/eventbus.go
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/event-bus/e2e-tester/e2e-tester.go
Due: pre-master-kyma-backup-test

Enable backup tests only for event-bus for verification
  tests/end-to-end/backup-restore-test/backupe2e/eventbus.go
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/templates/test/test-backup.yaml
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: pre-master-kyma-backup-test

Rebased+
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

Running just eventing tests
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

Changed image for backup restore
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
Due: pre-master-kyma-backup-test

Testing
  tests/end-to-end/backup-restore-test/backupe2e/eventbus.go
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

Testing
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

init commit
  components/console-backend-service/Gopkg.lock
  components/console-backend-service/main.go
  components/console-backend-service/pkg/tracing/tracer.go
  installation/resources/installer-cr.yaml.tpl
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

modify docker image
  components/console-backend-service/Dockerfile
  components/console-backend-service/Gopkg.toml
Due: console-integration

code review comments addressed
  components/console-backend-service/docs/configuration.md
  components/console-backend-service/main.go
  components/console-backend-service/pkg/tracing/config.go
  components/console-backend-service/pkg/tracing/handler.go
  resources/core/charts/console-backend-service/templates/deployment.yaml
  resources/core/charts/console-backend-service/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade
