Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-backup, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-connector-service-tests, post-master-kyma-tests-connector-service-tests, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-cluster-users, post-master-kyma-tests-integration-cluster-users, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-logging, post-master-kyma-tests-integration-logging, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  post-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gcs-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gcs-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/core/templates/tests\S+|resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-backup: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  post-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  post-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  pre-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  post-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

update dependencies
  components/compass-runtime-agent/go.mod
  components/compass-runtime-agent/go.sum
  tests/compass-runtime-agent/Gopkg.lock
  tests/compass-runtime-agent/Gopkg.toml
Due: console-integration, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

update dependencies with very specific version of dep
  tests/compass-runtime-agent/Gopkg.lock
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

use another buildpack
  tests/compass-runtime-agent/Gopkg.lock
Due: pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Update dependencies for Runtime Agent (#5833)
  components/compass-runtime-agent/go.mod
  components/compass-runtime-agent/go.sum
  tests/compass-runtime-agent/Gopkg.lock
  tests/compass-runtime-agent/Gopkg.toml
Due: console-integration, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent

Use develop images of Application Connector
  resources/application-connector/values.yaml
  resources/compass-runtime-agent/values.yaml
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix typo
  resources/compass-runtime-agent/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump isntaller version
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix compass config
  resources/compass/charts/cockpit/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Use develop images of Application Connector (#5834)
  resources/application-connector/values.yaml
  resources/compass-runtime-agent/values.yaml
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump images on monitoring and logging for release
  resources/logging/values.yaml
  resources/monitoring/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump images
  resources/core/values.yaml
  resources/knative-serving/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump kubeless test
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add a small formatting change in metrics docs
  docs/headless-cms/09-02-asyncapi-service.md
Due: post-master-kyma-docs-website, kyma-docs

Add a small formatting change in metrics docs (#5841)
  docs/headless-cms/09-02-asyncapi-service.md
Due: post-master-kyma-docs-website, kyma-docs

fix grammar
  docs/kyma/04-04-cluster-installation.md
Due: post-master-kyma-docs-website, kyma-docs

Update values.yaml
  resources/knative-serving/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

List/Get Channels from cache
  components/event-bus/Gopkg.lock
  components/event-bus/Gopkg.toml
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
Due: console-integration

Parameterize wait logic in CreateChannel func
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
Due: console-integration

Run dep ensure
  components/event-bus/Gopkg.lock
Due: console-integration

Correct metric type numbering
  docs/asset-store/14-01-asset-store-controller.md
  docs/asset-store/14-02-asset-metadata-service.md
  docs/asset-store/14-03-asset-upload-service.md
  docs/headless-cms/14-01-cms-controller-manager.md
  docs/headless-cms/14-02-asyncapi-service.md
Due: post-master-kyma-docs-website, kyma-docs

Correct the article before xip.io
  docs/kyma/04-04-cluster-installation.md
Due: post-master-kyma-docs-website, kyma-docs

Update istio to 1.2.6
  resources/istio-init/Chart.yaml
  resources/istio-init/values.yaml
  resources/istio/charts/certmanager/Chart.yaml
  resources/istio/charts/galley/Chart.yaml
  resources/istio/charts/gateways/Chart.yaml
  resources/istio/charts/grafana/Chart.yaml
  resources/istio/charts/istiocoredns/Chart.yaml
  resources/istio/charts/kiali/Chart.yaml
  resources/istio/charts/mixer/Chart.yaml
  resources/istio/charts/nodeagent/Chart.yaml
  resources/istio/charts/pilot/Chart.yaml
  resources/istio/charts/prometheus/Chart.yaml
  resources/istio/charts/security/Chart.yaml
  resources/istio/charts/sidecarInjectorWebhook/Chart.yaml
  resources/istio/charts/tracing/Chart.yaml
  resources/istio/requirements.yaml
  resources/istio/templates/configmap.yaml
  resources/istio/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update istio to 1.2.6
  resources/istio-init/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update istio to 1.2.6
  resources/istio-kyma-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

add CreateNamespaceModal to new Core-UI
  resources/compass/charts/cockpit/values.yaml
  resources/core/charts/console/values.yaml
  resources/logging/charts/log-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

eventing patch for pre-upgrade job
  resources/knative-eventing/charts/knative-eventing/templates/pre-upgrade-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Initial
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/domain/serverless/convert/function.go
  components/console-backend-service/internal/domain/serverless/convert/function_test.go
  components/console-backend-service/internal/domain/serverless/disabled/resolver.go
  components/console-backend-service/internal/domain/serverless/function_service.go
  components/console-backend-service/internal/domain/serverless/pretty/kind.go
  components/console-backend-service/internal/domain/serverless/serverless.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  resources/function-controller/templates/backendmodule.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix imports
  components/console-backend-service/internal/domain/serverless/convert/function_test.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Update docs type numbering
  docs/asset-store/11-01-asset-store-controller.md
  docs/asset-store/11-02-asset-metadata-service.md
  docs/asset-store/11-03-asset-upload-service.md
  docs/headless-cms/11-01-cms-controller-manager.md
  docs/headless-cms/11-02-asyncapi-service.md
  docs/kyma/16-01-try-out-kyma.md
  docs/service-catalog/15-01-overview.md
  docs/service-catalog/15-02-catalog-view.md
  docs/service-catalog/15-03-instances-view.md
  docs/service-catalog/15-04-specifications-in-console-ui.md
  docs/service-catalog/17-01-service-brokers.md
  docs/service-catalog/17-02-gcp-broker.md
  docs/service-catalog/17-03-azure-broker.md
  docs/service-catalog/17-04-aws-broker.md
Due: post-master-kyma-docs-website, kyma-docs

Rename converter
  components/console-backend-service/internal/domain/serverless/convert/function.go
  components/console-backend-service/internal/domain/serverless/convert/function_test.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

fix wrong url and insanely high retry delay
  tests/knative-serving/Gopkg.lock
  tests/knative-serving/Gopkg.toml
  tests/knative-serving/knative_serving_test.go
Due: none

Add Vary Origin header to DEX
  resources/dex/templates/dex-virtual-service.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix dependencies
  components/console-backend-service/Gopkg.lock
  components/console-backend-service/internal/domain/serverless/convert/function.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Update istio to 1.2.6 (#5851)
  resources/istio-init/Chart.yaml
  resources/istio-init/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/istio/charts/certmanager/Chart.yaml
  resources/istio/charts/galley/Chart.yaml
  resources/istio/charts/gateways/Chart.yaml
  resources/istio/charts/grafana/Chart.yaml
  resources/istio/charts/istiocoredns/Chart.yaml
  resources/istio/charts/kiali/Chart.yaml
  resources/istio/charts/mixer/Chart.yaml
  resources/istio/charts/nodeagent/Chart.yaml
  resources/istio/charts/pilot/Chart.yaml
  resources/istio/charts/prometheus/Chart.yaml
  resources/istio/charts/security/Chart.yaml
  resources/istio/charts/sidecarInjectorWebhook/Chart.yaml
  resources/istio/charts/tracing/Chart.yaml
  resources/istio/requirements.yaml
  resources/istio/templates/configmap.yaml
  resources/istio/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add Vary Origin header to DEX (#5854)
  resources/dex/templates/dex-virtual-service.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

code cleanup
  tests/knative-serving/knative_serving_test.go
Due: none

remove fmt.Printf
  tests/knative-serving/knative_serving_test.go
Due: none

bump image to PR-IMAGE
  resources/knative-serving/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

revert to old image
  resources/knative-serving/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade
