Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Fix resource spec of functions
  tests/perf/prerequisites/serverless/function-size-l.yaml
  tests/perf/prerequisites/serverless/function-size-m.yaml
  tests/perf/prerequisites/serverless/function-size-s.yaml
  tests/perf/prerequisites/serverless/function-size-xl.yaml
Due: none

Set kyma ref in gopkg
  components/application-gateway/Gopkg.lock
  components/application-gateway/Gopkg.toml
  components/application-registry/Gopkg.lock
  components/application-registry/Gopkg.toml
Due: console-integration

Bump Application Broker image - ApplicationMapping enables selected services (#4165)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump OSB API contract enhancement
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

GRant kyma-admin access t otesting api group (#4163)
  resources/core/charts/cluster-users/templates/clusterroles-kyma-project-io.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fixes
  components/app-connector-validation-proxy/Gopkg.lock
  components/app-connector-validation-proxy/Gopkg.toml
  components/app-connector-validation-proxy/cmd/appconnectorvalidationproxy/options.go
  components/app-connector-validation-proxy/internal/validationproxy/handler.go
  components/app-connector-validation-proxy/internal/validationproxy/handler_test.go
  components/app-connector-validation-proxy/internal/validationproxy/mocks/ApplicationManager.go
  components/application-operator/charts/application/templates/validation-proxy.yaml
  components/application-operator/charts/application/values.yaml
  components/application-operator/pkg/kymahelm/application/releasemanager.go
Due: console-integration, kyma-components-application-operator

Format
  components/app-connector-validation-proxy/cmd/appconnectorvalidationproxy/options.go
Due: console-integration

Revert "GRant kyma-admin access t otesting api group (#4163)"
  resources/core/charts/cluster-users/templates/clusterroles-kyma-project-io.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Tests
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver_test.go
Due: console-integration

Tests
  components/console-backend-service/internal/domain/k8s/automock/gql_resource_quota_converter.go
  components/console-backend-service/internal/domain/k8s/resourcequota_converter.go
  components/console-backend-service/internal/domain/k8s/resourcequota_converter_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver_test.go
Due: console-integration

Tests
  components/console-backend-service/internal/domain/k8s/automock/export.go
  components/console-backend-service/internal/domain/k8s/automock/gql_resource_quota_converter.go
  components/console-backend-service/internal/domain/k8s/automock/resource_quota_lister.go
  components/console-backend-service/internal/domain/k8s/export_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_converter.go
  components/console-backend-service/internal/domain/k8s/resourcequota_converter_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver.go
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver_test.go
  components/console-backend-service/internal/domain/k8s/resourcequota_service_test.go
Due: console-integration

Add mutation for creating resource quota
  components/console-backend-service/internal/domain/k8s/resourcequota_resolver.go
  components/console-backend-service/internal/domain/k8s/resourcequota_service.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

Update values.yaml
  resources/core/charts/cluster-users/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix toggles
  docs/headless-cms/03-03-markdown-documents.md
  docs/headless-cms/08-01-add-new-documentation-to-console.md
  docs/headless-cms/assets/docs-toggle-source.png
  docs/headless-cms/assets/docs-toggle.png
  docs/headless-cms/assets/docs-ui-question-mark.png
  docs/headless-cms/assets/docs.png
Due: post-master-kyma-docs-website, kyma-docs

Update kyma ref in gopkg for application-* components (#4169)
  components/application-gateway/Gopkg.lock
  components/application-gateway/Gopkg.toml
  components/application-registry/Gopkg.lock
  components/application-registry/Gopkg.toml
Due: console-integration

Fix incorrect comment of clusterDocsTopicsVersion (#4160)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix toggles (#4175)
  docs/headless-cms/03-03-markdown-documents.md
  docs/headless-cms/08-01-add-new-documentation-to-console.md
  docs/headless-cms/assets/docs-toggle-source.png
  docs/headless-cms/assets/docs-toggle.png
  docs/headless-cms/assets/docs-ui-question-mark.png
  docs/headless-cms/assets/docs.png
Due: post-master-kyma-docs-website, kyma-docs

Renaming
  components/app-connector-validation-proxy/.gitignore
  components/app-connector-validation-proxy/Dockerfile
  components/application-connectivity-validator/.gitignore
  components/application-connectivity-validator/Dockerfile
  components/application-connectivity-validator/Gopkg.lock
  components/application-connectivity-validator/Gopkg.toml
  components/application-connectivity-validator/Makefile
  components/application-connectivity-validator/before-commit.sh
  components/application-connectivity-validator/cmd/applicationconnectivityvalidator/applicationconnectivityvalidator.go
  components/application-connectivity-validator/cmd/applicationconnectivityvalidator/options.go
  components/application-connectivity-validator/internal/apperrors/apperrors.go
  components/application-connectivity-validator/internal/apperrors/apperrors_test.go
  components/application-connectivity-validator/internal/httpconsts/httpconsts.go
  components/application-connectivity-validator/internal/httperrors/httperrors.go
  components/application-connectivity-validator/internal/httptools/response.go
  components/application-connectivity-validator/internal/validationproxy/handler.go
  components/application-connectivity-validator/internal/validationproxy/handler_test.go
  components/application-connectivity-validator/internal/validationproxy/proxy.go
  components/application-operator/charts/application/templates/validator.yaml
  components/application-operator/charts/application/templates/virtual-service.yaml
  components/application-operator/charts/application/values.yaml
  components/application-operator/cmd/manager/manager.go
  components/application-operator/cmd/manager/options.go
  components/application-operator/pkg/kymahelm/application/overrides.go
  components/application-operator/pkg/kymahelm/application/releasemanager_test.go
Due: console-integration, kyma-components-application-operator

Fix documentation
  docs/headless-cms/03-03-markdown-documents.md
Due: post-master-kyma-docs-website, kyma-docs

Reduce istio-kyma-patch logic (#4151)
  installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  resources/istio-kyma-patch/README.md
  resources/istio-kyma-patch/templates/configmap.yaml
  resources/istio/charts/gateways/templates/deployment.yaml
  resources/istio/charts/gateways/values.yaml
  resources/istio/charts/security/templates/create-custom-resources-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix documentation (#4176)
  docs/headless-cms/03-03-markdown-documents.md
Due: post-master-kyma-docs-website, kyma-docs

Service instances in catalog view image bump
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Modified Application Connector diagram
  docs/application-connector/02-01-application-connector.md
  docs/application-connector/assets/001-application-connector.svg
Due: post-master-kyma-docs-website, kyma-docs

Bump
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump gateway tests image
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Set images from PR
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Expand istio limits on cluster settings
  installation/resources/installer-config-cluster.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump OSB API contract enhancement (#4058)
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Apply suggestions from code review
  docs/kyma/04-02-local-installation.md
Due: post-master-kyma-docs-website, kyma-docs

Added README.md
  components/application-connectivity-validator/README.md
Due: console-integration

Update eventactivation_converter.go
  components/console-backend-service/internal/domain/application/eventactivation_converter.go
Due: console-integration

wrong Kyma version changed
  docs/kyma/04-02-local-installation.md
  docs/kyma/04-07-local-installation-deprecated.md
  docs/kyma/04-13-local-reinstallation-deprecated.md
  installation/cmd/run.ps1
  installation/cmd/run.sh
  installation/scripts/build-kyma-installer.ps1
  installation/scripts/build-kyma-installer.sh
  installation/scripts/clean-up.ps1
  installation/scripts/clean-up.sh
  installation/scripts/configure-components.ps1
  installation/scripts/configure-components.sh
  installation/scripts/install-tiller.ps1
  installation/scripts/install-tiller.sh
  installation/scripts/installer.ps1
  installation/scripts/installer.sh
  installation/scripts/minikube.ps1
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Function for parsing certificate headers
  components/connector-service/internal/httphelpers/certinfo.go
  components/connector-service/internal/httphelpers/certinfo_test.go
Due: console-integration

Add 9443 to host ports
  resources/istio-kyma-patch/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

ServiceMonitor for kube API server
  resources/monitoring/charts/exporter-kubernetes/templates/servicemonitor.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Running namespacecontroller test
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
Due: none

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
