Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

monitoring: enable test concurrency
  resources/monitoring/templates/tests/test-kube-prometheus.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Apply suggestions from code review
  docs/backup/03-02-create-backup.md
  docs/backup/03-03-restore-backup.md
  resources/velero/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs

Update docs/event-bus/02-01-event-bus.md
  docs/event-bus/02-01-event-bus.md
Due: post-master-kyma-docs-website, kyma-docs

Enable concurrency
  resources/core/charts/cluster-users/templates/tests/test-cluster-users.yaml
  resources/dex/templates/tests/test-dex-connection.yaml
  resources/dex/templates/tests/test-dex-integration.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Added JSON schema file for the top-level values.yaml
  resources/monitoring/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

adding json schema to serviceCatalog charts
  resources/service-catalog/charts/catalog-crds/values.schema.json
  resources/service-catalog/charts/catalog/values.schema.json
  resources/service-catalog/charts/etcd-stateful/values.schema.json
  resources/service-catalog/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix doc for event bus (#4929)
  docs/event-bus/02-01-event-bus.md
  docs/event-bus/assets/publish-events.svg
Due: post-master-kyma-docs-website, kyma-docs

adding json schema to applicationConnector charts
  resources/application-connector/charts/application-operator/values.schema.json
  resources/application-connector/charts/application-registry/values.schema.json
  resources/application-connector/charts/connectivity-certs-controller/values.schema.json
  resources/application-connector/charts/connector-service/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

adding json schema to helm-broker charts
  resources/helm-broker/charts/etcd-stateful/values.schema.json
  resources/helm-broker/charts/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Remove project-scoped CODEOWNERS file. Correct issues in README file. Fix sample yamls. Add year and project owner to LICENSE file.
  components/knative-function-controller/CODEOWNERS
  components/knative-function-controller/Dockerfile
  components/knative-function-controller/PROJECT
  components/knative-function-controller/README.md
  components/knative-function-controller/config/config.yaml
  components/knative-function-controller/config/samples/runtime_v1alpha1_function-with-dep.yaml
  components/knative-function-controller/config/samples/runtime_v1alpha1_function.yaml
  components/knative-function-controller/config/samples/runtime_v1alpha1_webhook_defaults_function.yaml
  components/knative-function-controller/config/samples/runtime_v1alpha1_webhook_invalid_function.yaml
  components/knative-function-controller/licenses/LICENSE
Due: console-integration

Added json schema for monitoring alert manager values.yaml
  resources/monitoring/charts/alertmanager/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Added json schema for grafana values.yaml
  resources/monitoring/charts/grafana/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Added json schema for prometheus values.yaml
  resources/monitoring/charts/prometheus/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fixes for JSON schemas
  resources/monitoring/charts/alertmanager/values.schema.json
  resources/monitoring/charts/grafana/values.schema.json
  resources/monitoring/charts/prometheus/values.schema.json
  resources/monitoring/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

logging: enable concurrent tests.
  resources/logging/templates/tests/logging.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fixed alert-manager json schema
  resources/monitoring/charts/alertmanager/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update resources/knative-build/README.md
  resources/knative-build/README.md
Due: kyma-integration, kyma-gke-integration, console-integration

Added default values and examples
  resources/monitoring/charts/grafana/values.schema.json
  resources/monitoring/charts/prometheus/values.schema.json
  resources/monitoring/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Enable concurrency (#4933)
  resources/core/charts/cluster-users/templates/tests/test-cluster-users.yaml
  resources/dex/templates/tests/test-dex-connection.yaml
  resources/dex/templates/tests/test-dex-integration.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Added Supervisor and Connector scaffolding
  components/compass-runtime-agent/cmd/main.go
  components/compass-runtime-agent/cmd/options.go
  components/compass-runtime-agent/internal/compass/connector.go
  components/compass-runtime-agent/internal/compass/connector_test.go
  components/compass-runtime-agent/internal/compass/mocks/Connector.go
  components/compass-runtime-agent/internal/compassconnection/config.go
  components/compass-runtime-agent/internal/compassconnection/controller_suite_test.go
  components/compass-runtime-agent/internal/compassconnection/controller_test.go
  components/compass-runtime-agent/internal/compassconnection/mocks/CRManager.go
  components/compass-runtime-agent/internal/compassconnection/mocks/Supervisor.go
  components/compass-runtime-agent/internal/compassconnection/supervisor.go
  components/compass-runtime-agent/internal/compassconnection/supervisor_test.go
  components/compass-runtime-agent/pkg/apis/compass/v1alpha1/types.go
  components/compass-runtime-agent/scripts/update_mocks.sh
Due: console-integration

review fixes
  resources/istio/charts/security/templates/create-custom-resources-job.yaml
  resources/istio/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

after review
  components/helm-broker/cmd/controller/main.go
  components/helm-broker/internal/config/config.go
  components/helm-broker/internal/config/controller_config.go
  components/helm-broker/internal/controller/addons/repository.go
  components/helm-broker/internal/controller/addons/repository_test.go
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
  components/helm-broker/internal/controller/addonsconfiguration_controller_test.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller_test.go
Due: console-integration

Connector Service
  docs/application-connector/05-04-connector-service.md
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump octopus version
  resources/testing/charts/octopus/templates/clustertestsuite.crd.yaml
  resources/testing/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Building test cluster.
  tests/dummy_file
Due: none

fix configs
  components/helm-broker/internal/config/config.go
  components/helm-broker/internal/config/controller_config.go
Due: console-integration

Added JSON schemas for monitoring components (#4934)
  resources/monitoring/charts/alertmanager/values.schema.json
  resources/monitoring/charts/grafana/values.schema.json
  resources/monitoring/charts/prometheus/values.schema.json
  resources/monitoring/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

App Operator
  components/application-operator/README.md
  docs/application-connector/05-01-application-operator.md
Due: console-integration, kyma-components-application-operator, post-master-kyma-docs-website, kyma-docs

review fixes
  resources/istio/charts/gateways/values.yaml
  resources/istio/charts/grafana/dashboards/istio-performance-dashboard.json
  resources/istio/values.yaml
  resources/monitoring/charts/grafana/dashboards/istio-galley-dashboard.json
  resources/monitoring/charts/grafana/dashboards/istio-mixer-dashboard.json
  resources/monitoring/charts/grafana/dashboards/istio-performance-dashboard.json
  resources/monitoring/charts/grafana/dashboards/istio-pilot-dashboard.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

adding json schema to assetstore charts
  resources/assetstore/charts/asset-metadata-service/values.schema.json
  resources/assetstore/charts/asset-store-controller-manager/values.schema.json
  resources/assetstore/charts/asset-upload-service/values.schema.json
  resources/assetstore/charts/minio/values.schema.json
  resources/assetstore/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

adding json schema to cms charts
  resources/cms/charts/cms-controller-manager/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add charts
  components/compass-runtime-agent/Gopkg.lock
  components/compass-runtime-agent/before-commit.sh
  components/compass-runtime-agent/cmd/options.go
  resources/compass-runtime-agent/templates/deployment.yaml
  resources/compass-runtime-agent/templates/token-config-map.yaml
  resources/compass-runtime-agent/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

adding json schema to event-bus charts
  resources/event-bus/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

adding json schema to jaeger charts
  resources/jaeger/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

adding json schema to logging charts
  resources/logging/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

adding json schema to velero charts
  resources/velero/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

adding json schema to monitoring charts
  resources/monitoring/charts/alertmanager/values.schema.json
  resources/monitoring/charts/grafana/values.schema.json
  resources/monitoring/charts/prometheus/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add checks
  components/compass-runtime-agent/internal/compass/connector_test.go
Due: console-integration

Improve
  docs/backup/03-02-create-backup.md
  docs/backup/assets/backup.yaml
  resources/velero/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs

Fix
  docs/backup/03-02-create-backup.md
Due: post-master-kyma-docs-website, kyma-docs

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
