Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Update Event-Bus version (#3499)
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix
  resources/application-connector/values.yaml
  resources/cluster-essentials/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Reduced the memory limits to 8192
  installation/scripts/minikube.ps1
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Apply fix for windows installation
  installation/scripts/installer.ps1
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update event bus changes with PR#3454
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix upgrade compatability
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/templates/deployment.yaml
  resources/nats-streaming/templates/statefulset.yaml
  resources/nats-streaming/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Upgrade getting successfully installed
  resources/event-bus/charts/publish-knative/templates/_helpers.tpl
  resources/event-bus/charts/publish-knative/templates/deployment.yaml
  resources/event-bus/charts/publish-knative/templates/service.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Successfull upgrade happening on the GKE cluster
  resources/event-bus/charts/publish-knative/templates/deployment.yaml
  resources/event-bus/charts/publish-knative/templates/service.yaml
  resources/nats-streaming/templates/statefulset.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update installation docs
  docs/kyma/docs/04-03-cluster-installation.md
Due: kyma-docs

Apply suggestions from code review from Szymon
  installation/cmd/run.ps1
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

local successful installation with knative by default
  installation/cmd/run.sh
  installation/scripts/installer.ps1
  installation/scripts/installer.sh
  resources/ark/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/charts/publish/Chart.yaml
  resources/event-bus/charts/publish/templates/_helpers.tpl
  resources/event-bus/charts/publish/templates/deployment.yaml
  resources/event-bus/charts/publish/templates/service.yaml
  resources/event-bus/charts/publish/values.yaml
  resources/event-bus/charts/push/Chart.yaml
  resources/event-bus/charts/push/templates/_helpers.tpl
  resources/event-bus/charts/push/templates/deployment.yaml
  resources/event-bus/charts/push/values.yaml
  resources/event-bus/charts/sub-validator/.helmignore
  resources/event-bus/charts/sub-validator/Chart.yaml
  resources/event-bus/charts/sub-validator/templates/_helpers.tpl
  resources/event-bus/charts/sub-validator/templates/deployment.yaml
  resources/event-bus/charts/sub-validator/values.yaml
  resources/event-bus/requirements.yaml
  resources/event-bus/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/jaeger/values.yaml
  resources/knative-eventing/requirements.yaml
  resources/knative-eventing/values.yaml
  resources/knative-provisioner-natss/requirements.yaml
  resources/knative-serving/requirements.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/prometheus-operator/values.yaml
  resources/service-catalog/values.yaml
  resources/xip-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Delete knative flags
  installation/cmd/run.ps1
  installation/cmd/run.sh
  installation/scripts/installer.ps1
  installation/scripts/installer.sh
  resources/ark/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/requirements.yaml
  resources/event-bus/values.yaml
  resources/istio-kyma-patch/templates/configmap.yaml
  resources/istio-kyma-patch/values.yaml
  resources/jaeger/values.yaml
  resources/knative-eventing/values.yaml
  resources/knative-provisioner-natss/values.yaml
  resources/knative-serving/templates/tests/test-service.yaml
  resources/knative-serving/templates/tests/test-serving.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/templates/statefulset.yaml
  resources/nats-streaming/values.yaml
  resources/prometheus-operator/values.yaml
  resources/service-catalog/values.yaml
  resources/xip-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Remove extra flags and out them directly in the minikube run
  installation/cmd/run.ps1
  installation/cmd/run.sh
  installation/scripts/minikube.ps1
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Use gql for config maps and cluster service brokers (#3388)
  resources/core/charts/console/values.yaml
  resources/core/templates/tests/rbac-test-console-backend-service.yaml
  resources/logging/charts/log-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fix lint errors
  tests/end-to-end/upgrade/pkg/tests/monitoring/grafana.go
  tests/end-to-end/upgrade/pkg/tests/monitoring/metrics.go
Due: none

Add upgrade tests for cms and assetstore domain (#3457)
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/Gopkg.toml
  tests/end-to-end/upgrade/README.md
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/dynamicresource/client.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/asset.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/asset_store.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/assetdata.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/bucket.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/clusterasset.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/clusterbucket.go
  tests/end-to-end/upgrade/pkg/tests/cms/clusterdocstopic.go
  tests/end-to-end/upgrade/pkg/tests/cms/cms.go
  tests/end-to-end/upgrade/pkg/tests/cms/docstopic.go
  tests/end-to-end/upgrade/pkg/waiter/waiter.go
Due: none

Replacing logging storage from file system to persistence volume claims (#3332)
  resources/logging/Chart.yaml
  resources/logging/templates/loki/_helpers.tpl
  resources/logging/templates/loki/configmap.yaml
  resources/logging/templates/loki/deployment.yaml
  resources/logging/templates/loki/istio-rbac.yaml
  resources/logging/templates/loki/networkpolicy.yaml
  resources/logging/templates/loki/podsecuritypolicy.yaml
  resources/logging/templates/loki/policy.yaml
  resources/logging/templates/loki/pvc.yaml
  resources/logging/templates/loki/role.yaml
  resources/logging/templates/loki/rolebinding.yaml
  resources/logging/templates/loki/secret.yaml
  resources/logging/templates/loki/service.yaml
  resources/logging/templates/loki/serviceaccount.yaml
  resources/logging/templates/promtail/_helpers.tpl
  resources/logging/templates/promtail/configmap.yaml
  resources/logging/templates/promtail/daemonset.yaml
  resources/logging/templates/promtail/podsecuritypolicy.yaml
  resources/logging/templates/promtail/role.yaml
  resources/logging/templates/promtail/rolebinding.yaml
  resources/logging/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump Asset Store image (#3432)
  resources/assetstore/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add missing double-quote at the end
  installation/cmd/run.ps1
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fix script to use bash
  resources/cms/templates/_helper_migrate_to_cms.txt
  resources/cms/templates/configmap.yaml
  resources/cms/templates/pre-install-migration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump Console Backend Service tests (#3416)
  resources/core/templates/tests/rbac-test-console-backend-service.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add missing double-quote at the end (#3520)
  installation/cmd/run.ps1
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add missing authorization directives to queries
  components/console-backend-service/internal/authz/auth.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/domain/servicecatalog/dep.go
  components/console-backend-service/internal/domain/servicecatalog/disabled/resolver.go
  components/console-backend-service/internal/domain/servicecatalog/mock_gql_service_instance_converter.go
  components/console-backend-service/internal/domain/servicecatalog/servicecatalog.go
  components/console-backend-service/internal/domain/servicecatalog/serviceinstance_converter.go
  components/console-backend-service/internal/domain/servicecatalog/serviceinstance_converter_test.go
  components/console-backend-service/internal/domain/servicecatalog/serviceinstance_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/disabled/resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicebindingusage_converter_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicebindingusage_resolver.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicebindingusage_resolver_test.go
  components/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  tests/console-backend-service/internal/domain/apicontroller/apis_test.go
  tests/console-backend-service/internal/domain/application/application_test.go
  tests/console-backend-service/internal/domain/authentication/idppreset_authz_test.go
  tests/console-backend-service/internal/domain/authentication/idppreset_common.go
  tests/console-backend-service/internal/domain/authentication/idppreset_test.go
  tests/console-backend-service/internal/domain/k8s/k8s_test.go
  tests/console-backend-service/internal/domain/k8s/limitrange_test.go
  tests/console-backend-service/internal/domain/k8s/pod_test.go
  tests/console-backend-service/internal/domain/k8s/replicaset_test.go
  tests/console-backend-service/internal/domain/k8s/resource_test.go
  tests/console-backend-service/internal/domain/k8s/resourcequota_test.go
  tests/console-backend-service/internal/domain/k8s/service_test.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterservicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterserviceclass_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicebinding_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceclass_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceinstance_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicebinding_usage_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  tests/console-backend-service/internal/domain/shared/auth/suite.go
  tests/console-backend-service/internal/domain/ui/backendmodule_test.go
Due: console-integration

Add simple token cache to gql client
  components/console-backend-service/internal/gqlschema/schema_gen.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterservicebroker_test.go
  tests/console-backend-service/internal/domain/servicecatalog/clusterserviceclass_test.go
  tests/console-backend-service/internal/domain/servicecatalog/serviceclass_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  tests/console-backend-service/internal/graphql/client.go
Due: console-integration

Set securityContext runAsUser in connector-service deployment (#3504)
  resources/application-connector/charts/connector-service/templates/deployment.yaml
  resources/application-connector/charts/connector-service/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fix script to use bash
  resources/cms/templates/_helper_migrate_to_cms.txt
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fix script to use bash
  resources/cms/templates/pre-install-migration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

readiness checks disabled, readiness chekck will not work since service enable istio rbac rules and mTLS
  resources/logging/templates/loki/deployment.yaml
  resources/logging/templates/loki/istio-rbac.yaml
  resources/logging/templates/loki/policy.yaml
  resources/logging/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

final fix that makes sure no failure if no apps are registered
  resources/cms/templates/_helper_migrate_to_cms.txt
  resources/cms/templates/pre-install-migration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Refactor kyma roles (#3473)
  resources/core/charts/cluster-users/templates/clusterroles-istio-io.yaml
  resources/core/charts/cluster-users/templates/clusterroles-k8s-io.yaml
  resources/core/charts/cluster-users/templates/clusterroles-kubeless-io.yaml
  resources/core/charts/cluster-users/templates/clusterroles-kyma-project-io.yaml
  resources/core/charts/cluster-users/templates/rbac-roles.yaml
  resources/core/charts/cluster-users/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

- Creates api for function - Add verbs to resources in rbc file - Update Gopkg.lock
  tests/end-to-end/upgrade/Gopkg.lock
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
  tests/end-to-end/upgrade/pkg/tests/function/function.go
Due: none

Bump image of Application Gateway Tests
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update Gopkg.lock
  tests/end-to-end/upgrade/Gopkg.lock
Due: none

Acceptance tests: modified retry parameters and added cloning response body in check for specification
  tests/application-registry-tests/test/testkit/metadata_api_client.go
Due: none

Fix golint, goimports and fmt issues
  tests/end-to-end/upgrade/main.go
  tests/end-to-end/upgrade/pkg/tests/function/function.go
Due: none

different delete policy
  resources/cms/templates/pre-install-migration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix cms and assetstore upgrade tests
  tests/end-to-end/upgrade/pkg/tests/asset-store/asset.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/clusterasset.go
  tests/end-to-end/upgrade/pkg/tests/cms/cms.go
  tests/end-to-end/upgrade/pkg/tests/cms/docstopic.go
Due: none

Bump console catalog and instances ui images
  resources/service-catalog-addons/charts/catalog-ui/templates/deployment.yaml
  resources/service-catalog-addons/charts/instances-ui/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector
