Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  prow/kyma/kyma-integration: any of: ^(resources|installation)
  prow/kyma/kyma-gke-integration: any of: ^(resources|installation)

Fix typo in image version
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix url for OK Log url (#1646)
  docs/logging/docs/010-details-access-oklog.md
Due: none

Update run.sh
  installation/cmd/run.sh
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add updated diagrams with proper extension and minor documentation updates
  docs/tracing/docs/020-architecture-tracing.md
  docs/tracing/docs/assets/request-traces.png
  docs/tracing/docs/assets/request-traces.svg
  docs/tracing/docs/assets/store-traces.png
  docs/tracing/docs/assets/store-traces.svg
  docs/tracing/docs/assets/tracing-architecture.png
  docs/tracing/docs/assets/tracing-architecture.svg
Due: none

Update types.go
  components/installer/pkg/apis/installer/v1alpha1/types.go
Due: none

Update installer_client.go
  components/installer/pkg/client/clientset/versioned/typed/installer/v1alpha1/installer_client.go
Due: none

Added tests scenerios
  components/metadata-service/internal/externalapi/model.go
  tests/metadata-service-tests/Gopkg.lock
  tests/metadata-service-tests/Gopkg.toml
  tests/metadata-service-tests/test/apitests/metadata_test.go
  tests/metadata-service-tests/test/testkit/k8sresources_client.go
  tests/metadata-service-tests/test/testkit/model.go
Due: none

Update installation.go
  components/installer/pkg/client/informers/externalversions/installer/v1alpha1/installation.go
Due: none

Update controller.go
  components/installer/pkg/installation/controller.go
Due: none

Make jaeger optional for local
  CODEOWNERS
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/scripts/clean-up.sh
  resources/core/charts/jaeger/README.md
  resources/core/requirements.yaml
  resources/jaeger/.helmignore
  resources/jaeger/Chart.yaml
  resources/jaeger/README.md
  resources/jaeger/templates/_helpers.tpl
  resources/jaeger/templates/deployment.yaml
  resources/jaeger/templates/service.yaml
  resources/jaeger/templates/virtualservice.yaml
  resources/jaeger/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Better feature gates handling in run.sh
  installation/cmd/run.sh
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update Chart.yaml
  resources/knative-installer/Chart.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update components/remote-environment-controller/README.md
  components/remote-environment-controller/README.md
Due: none

Updated RE Client
  components/remote-environment-controller/Gopkg.lock
  components/remote-environment-controller/Gopkg.toml
Due: none

Refactor Remote Environemnt to support different types of credentials (#1474)
  resources/application-connector/templates/remote-environment.crd.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Correct wrong formatting of CR names in docs
  components/api-controller/README.md
  components/idppreset/README.md
  components/installer/README.md
  components/remote-environment-broker/README.md
  components/remote-environment-broker/cmd/poc-events/findings.md
  docs/api-gateway/docs/001-overview-api-gateway.md
  docs/api-gateway/docs/005-architecture-api-gateway.md
  docs/api-gateway/docs/008-details-security.md
  docs/api-gateway/docs/011-cr-api.md
  docs/application-connector/docs/004-architecture-application-connector.md
  docs/application-connector/docs/014-details-metadata-service.md
  docs/application-connector/docs/018-architecture-proxy-service.md
  docs/application-connector/docs/039-gs-environment-mapping.md
  docs/application-connector/docs/044-cr-environment.md
  docs/application-connector/docs/048-cr-environmentmapping.md
  docs/console/docs/001-overview-console.md
  docs/console/docs/010-details-uiextensibility.md
  docs/console/docs/021-cr-microfrontend.md
  docs/console/docs/022-cr-clustermicrofrontend.md
  docs/event-bus/docs/013-details-service-programming-model.md
  docs/event-bus/docs/030-cr-subscription.md
  docs/kyma/docs/050-cr-installation.md
  docs/security/docs/011-cr-groups.md
  docs/security/docs/012-cr-idppresets.md
  docs/serverless/docs/020-details-custom-resources.md
  docs/service-brokers/docs/040-cr-event-activation.md
  docs/service-catalog/docs/040-cr-service-binding-usage.md
  docs/service-catalog/docs/041-cr-usage-kind.md
Due: none

Missed fix
  components/metadata-service/README.md
Due: none

add newline before printing overrides
  components/installer/pkg/kymahelm/kyma-helm-client.go
Due: none

Remote Environment Controller Improvement (#1497)
  components/remote-environment-controller/Gopkg.lock
  components/remote-environment-controller/Gopkg.toml
  components/remote-environment-controller/README.md
  components/remote-environment-controller/cmd/manager/manager.go
  components/remote-environment-controller/cmd/manager/options.go
  components/remote-environment-controller/pkg/controller/controller.go
  components/remote-environment-controller/pkg/controller/mocks/ManagerClient.go
  components/remote-environment-controller/pkg/controller/mocks/RemoteEnvironmentClient.go
  components/remote-environment-controller/pkg/controller/mocks/RemoteEnvironmentManagerClient.go
  components/remote-environment-controller/pkg/controller/reconciler.go
  components/remote-environment-controller/pkg/controller/reconciler_test.go
  components/remote-environment-controller/pkg/kymahelm/client.go
  components/remote-environment-controller/pkg/kymahelm/mocks/HelmClient.go
  components/remote-environment-controller/pkg/kymahelm/remoteenvironemnts/mocks/ReleaseManager.go
  components/remote-environment-controller/pkg/kymahelm/remoteenvironemnts/overrides.go
  components/remote-environment-controller/pkg/kymahelm/remoteenvironemnts/releasemanager.go
  components/remote-environment-controller/pkg/kymahelm/remoteenvironemnts/releasemanager_test.go
Due: none

Upgrade Heptio Ark to v0.10.0
  installation/resources/ark-secret.yaml.tpl
  resources/ark/templates/configmap.yaml
  resources/ark/templates/crd-backupstoragelocations.yaml
  resources/ark/templates/crd-configs.yaml
  resources/ark/templates/crd-volumesnapshotlocations.yaml
  resources/ark/templates/deployment.yaml
  resources/ark/templates/hook-delete.yaml
  resources/ark/templates/hook-deploy.yaml
  resources/ark/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Correct wrong formatting of CR names in docs (#1695)
  components/api-controller/README.md
  components/idppreset/README.md
  components/installer/README.md
  components/metadata-service/README.md
  components/remote-environment-broker/README.md
  components/remote-environment-broker/cmd/poc-events/findings.md
  docs/api-gateway/docs/001-overview-api-gateway.md
  docs/api-gateway/docs/005-architecture-api-gateway.md
  docs/api-gateway/docs/008-details-security.md
  docs/api-gateway/docs/011-cr-api.md
  docs/application-connector/docs/004-architecture-application-connector.md
  docs/application-connector/docs/014-details-metadata-service.md
  docs/application-connector/docs/018-architecture-proxy-service.md
  docs/application-connector/docs/039-gs-environment-mapping.md
  docs/application-connector/docs/044-cr-environment.md
  docs/application-connector/docs/048-cr-environmentmapping.md
  docs/console/docs/001-overview-console.md
  docs/console/docs/010-details-uiextensibility.md
  docs/console/docs/021-cr-microfrontend.md
  docs/console/docs/022-cr-clustermicrofrontend.md
  docs/event-bus/docs/013-details-service-programming-model.md
  docs/event-bus/docs/030-cr-subscription.md
  docs/kyma/docs/050-cr-installation.md
  docs/security/docs/011-cr-groups.md
  docs/security/docs/012-cr-idppresets.md
  docs/serverless/docs/020-details-custom-resources.md
  docs/service-brokers/docs/040-cr-event-activation.md
  docs/service-catalog/docs/040-cr-service-binding-usage.md
  docs/service-catalog/docs/041-cr-usage-kind.md
Due: none

Add disk info on buildpack command
  components/api-controller/Jenkinsfile
  components/apiserver-proxy/Jenkinsfile
  components/binding-usage-controller/Jenkinsfile
  components/configurations-generator/Jenkinsfile
  components/connector-service/Jenkinsfile
  components/environments/Jenkinsfile
  components/event-bus/Jenkinsfile
  components/event-service/Jenkinsfile
  components/helm-broker/Jenkinsfile
  components/installer/Jenkinsfile
  components/istio-kyma-patch/Jenkinsfile
  components/istio-webhook/Jenkinsfile
  components/metadata-service/Jenkinsfile
  components/proxy-service/Jenkinsfile
  components/remote-environment-broker/Jenkinsfile
  components/remote-environment-controller/Jenkinsfile
  components/ui-api-layer/Jenkinsfile
  tests/acceptance/Jenkinsfile
  tests/api-controller-acceptance-tests/Jenkinsfile
  tests/connector-service-tests/Jenkinsfile
  tests/event-bus/Jenkinsfile
  tests/gateway-tests/Jenkinsfile
  tests/kubeless-test-client/Jenkinsfile
  tests/logging/Jenkinsfile
  tests/metadata-service-tests/Jenkinsfile
  tests/remote-environment-controller-tests/Jenkinsfile
  tests/test-environments/Jenkinsfile
  tests/test-logging-monitoring/Jenkinsfile
  tests/ui-api-layer-acceptance-tests/Jenkinsfile
  tools/alpine-net/Jenkinsfile
  tools/etcd-backup/Jenkinsfile
  tools/etcd-tls-setup/Jenkinsfile
  tools/stability-checker/Jenkinsfile
  tools/static-users-generator/Jenkinsfile
  tools/watch-pods/Jenkinsfile
Due: prow/components/ui-api-layer, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer

Modify component Jenkinsfiles (#1698)
  components/api-controller/Jenkinsfile
  components/apiserver-proxy/Jenkinsfile
  components/binding-usage-controller/Jenkinsfile
  components/configurations-generator/Jenkinsfile
  components/connector-service/Jenkinsfile
  components/environments/Jenkinsfile
  components/event-bus/Jenkinsfile
  components/event-service/Jenkinsfile
  components/helm-broker/Jenkinsfile
  components/installer/Jenkinsfile
  components/istio-kyma-patch/Jenkinsfile
  components/istio-webhook/Jenkinsfile
  components/metadata-service/Jenkinsfile
  components/proxy-service/Jenkinsfile
  components/remote-environment-broker/Jenkinsfile
  components/remote-environment-controller/Jenkinsfile
  components/ui-api-layer/Jenkinsfile
  tests/acceptance/Jenkinsfile
  tests/api-controller-acceptance-tests/Jenkinsfile
  tests/connector-service-tests/Jenkinsfile
  tests/event-bus/Jenkinsfile
  tests/gateway-tests/Jenkinsfile
  tests/kubeless-test-client/Jenkinsfile
  tests/logging/Jenkinsfile
  tests/metadata-service-tests/Jenkinsfile
  tests/remote-environment-controller-tests/Jenkinsfile
  tests/test-environments/Jenkinsfile
  tests/test-logging-monitoring/Jenkinsfile
  tests/ui-api-layer-acceptance-tests/Jenkinsfile
  tools/alpine-net/Jenkinsfile
  tools/etcd-backup/Jenkinsfile
  tools/etcd-tls-setup/Jenkinsfile
  tools/stability-checker/Jenkinsfile
  tools/static-users-generator/Jenkinsfile
  tools/watch-pods/Jenkinsfile
Due: prow/components/ui-api-layer, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer

secured api registration docs
  docs/application-connector/docs/004-architecture-application-connector.md
  docs/application-connector/docs/036-gs-register-manage-services.md
  docs/application-connector/docs/037-gs-register-secured-api.md
Due: none

Added info on detailedErrorResponse flag (#1168)
  resources/application-connector/charts/metadata-service/README.md
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Enable Async binding operations in Service Catalog
  resources/service-catalog/charts/catalog/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

update api specs
  docs/application-connector/docs/assets/connectorapi.yaml
  docs/application-connector/docs/assets/metadataapi.yaml
Due: none

Remove default re (#1458) (#1584)
  components/connector-service/docs/api/connectorapi.yaml
  components/metadata-service/README.md
  docs/application-connector/docs/008-details-ac-security.md
  docs/application-connector/docs/assets/connectorapi.yaml
  docs/kyma/docs/050-cr-installation.md
  installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  installation/scripts/clean-up.sh
  installation/scripts/testing.sh
  resources/application-connector/values.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/remote-environments/.helmignore
  resources/remote-environments/Chart.yaml
  resources/remote-environments/README.md
  resources/remote-environments/templates/NOTES.txt
  resources/remote-environments/templates/_helpers.tpl
  resources/remote-environments/templates/remote-env.yaml
  resources/remote-environments/values.yaml
  tests/connector-service-tests/Gopkg.lock
  tests/connector-service-tests/Gopkg.toml
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/k8sClient.go
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

review update
  docs/application-connector/docs/037-gs-register-secured-api.md
Due: none

Minor fixes
  components/metadata-service/internal/externalapi/metadatahandler.go
  components/metadata-service/internal/externalapi/servicedetailsvalidation.go
  components/metadata-service/internal/externalapi/servicedetailsvalidation_test.go
  components/metadata-service/internal/metadata/serviceapi/serviceapiservice.go
  components/metadata-service/internal/metadata/specification/specservice.go
  tests/metadata-service-tests/test/testkit/metadata_api_client.go
Due: none

update gke instructions
  docs/kyma/docs/032-inst-gke-installation.md
Due: none

gke manual update
  docs/kyma/docs/032-inst-gke-installation.md
Due: none

Enable Async binding operations in Service Catalog (#1700)
  resources/service-catalog/charts/catalog/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update RE Controller image
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration
