Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, kyma-tests-kubeless-integration, kyma-tests-kubeless, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Added tests for Certificates Service
  components/connector-service/internal/api/application/externalapi/infohandler.go
  components/connector-service/internal/api/application/externalapi/signaturehandler_test.go
  components/connector-service/internal/applications/repository.go
  components/connector-service/internal/certificates/mocks/CertificateUtility.go
  components/connector-service/internal/certificates/mocks/Service.go
  components/connector-service/internal/certificates/service.go
  components/connector-service/internal/certificates/service_test.go
  components/connector-service/internal/secrets/mocks/Manager.go
  components/connector-service/internal/secrets/mocks/Repository.go
  components/connector-service/internal/secrets/repository_test.go
  components/connector-service/internal/tokens/cache/mocks/TokenCache.go
  components/connector-service/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_kymagroup.go
  components/connector-service/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/kymagroup.go
  components/connector-service/pkg/client/listers/applicationconnector/v1alpha1/kymagroup.go
Due: console-integration

Fix unmarshalling, added comments
  components/connector-service/internal/api/application/externalapi/infohandler.go
  components/connector-service/internal/api/kymacluster/externalapi/signaturehandler.go
  components/connector-service/internal/applications/repository.go
  components/connector-service/internal/kymagroup/repository.go
Due: console-integration

Token Service unit tests
  components/connector-service/internal/tokens/cache.go
  components/connector-service/internal/tokens/cache/mocks/TokenCache.go
  components/connector-service/internal/tokens/mocks/Cache.go
  components/connector-service/internal/tokens/mocks/Service.go
  components/connector-service/internal/tokens/service.go
  components/connector-service/internal/tokens/service_test.go
Due: console-integration

Rename environments -> namespace-controller (#2127)
  components/namespace-controller/README.md
  resources/core/charts/environments/Chart.yaml
  resources/core/charts/environments/README.md
  resources/core/charts/namespace-controller/.helmignore
  resources/core/charts/namespace-controller/Chart.yaml
  resources/core/charts/namespace-controller/README.md
  resources/core/charts/namespace-controller/templates/0-service-account.yaml
  resources/core/charts/namespace-controller/templates/1-role.yaml
  resources/core/charts/namespace-controller/templates/2-role-binding.yaml
  resources/core/charts/namespace-controller/templates/3-bootstrap-roles.yaml
  resources/core/charts/namespace-controller/templates/4-deployment.yaml
  resources/core/charts/namespace-controller/templates/_helpers.tpl
  resources/core/charts/namespace-controller/templates/tests/test-namespace-controller.yaml
  resources/core/charts/namespace-controller/values.yaml
  resources/core/requirements.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Add update helm chart functionality for charts already deployed
  components/helm-broker/internal/bind/renderer.go
  components/helm-broker/internal/bind/renderer_test.go
  components/helm-broker/internal/broker/automock/bind_template_renderer.go
  components/helm-broker/internal/broker/automock/helm_client.go
  components/helm-broker/internal/broker/broker.go
  components/helm-broker/internal/broker/osbapi_test.go
  components/helm-broker/internal/broker/provision.go
  components/helm-broker/internal/broker/provision_test.go
  components/helm-broker/internal/helm/automock/helm_delete_installer.go
  components/helm-broker/internal/helm/client.go
  components/helm-broker/internal/helm/client_test.go
  components/helm-broker/internal/helm/dep.go
Due: console-integration

Make pluggable authentication domain
  components/ui-api-layer/Gopkg.lock
  components/ui-api-layer/Gopkg.toml
  components/ui-api-layer/hack/regenerate-mocks.sh
  components/ui-api-layer/internal/domain/authentication/authentication.go
  components/ui-api-layer/internal/domain/authentication/disabled/resolver.go
  components/ui-api-layer/internal/domain/root_resolver.go
  components/ui-api-layer/internal/module/module.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Make kubeless and apicontroller domains pluggable
  components/ui-api-layer/internal/domain/apicontroller/apicontroller.go
  components/ui-api-layer/internal/domain/apicontroller/disabled/resolver.go
  components/ui-api-layer/internal/domain/authentication/authentication.go
  components/ui-api-layer/internal/domain/kubeless/disabled/resolver.go
  components/ui-api-layer/internal/domain/kubeless/kubeless.go
  components/ui-api-layer/internal/domain/root_resolver.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Export Resolver interface in every module
  components/ui-api-layer/internal/domain/apicontroller/apicontroller.go
  components/ui-api-layer/internal/domain/authentication/authentication.go
  components/ui-api-layer/internal/domain/content/content.go
  components/ui-api-layer/internal/domain/kubeless/kubeless.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Use latest client for BackendModule CR
  tests/ui-api-layer-acceptance-tests/Gopkg.lock
  tests/ui-api-layer-acceptance-tests/Gopkg.toml
  tests/ui-api-layer-acceptance-tests/internal/domain/application/application_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/ui/backendmodule_test.go
Due: none

Make content module pluggable
  components/ui-api-layer/internal/domain/application/eventactivation_resolver.go
  components/ui-api-layer/internal/domain/content/content.go
  components/ui-api-layer/internal/domain/content/disabled/api_spec_getter.go
  components/ui-api-layer/internal/domain/content/disabled/async_api_spec_getter.go
  components/ui-api-layer/internal/domain/content/disabled/content_getter.go
  components/ui-api-layer/internal/domain/content/disabled/resolver.go
  components/ui-api-layer/internal/domain/root_resolver.go
  components/ui-api-layer/internal/domain/servicecatalog/clusterserviceclass_resolver.go
  components/ui-api-layer/internal/domain/servicecatalog/serviceclass_resolver.go
  components/ui-api-layer/internal/module/error.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Format code
  tests/ui-api-layer-acceptance-tests/internal/domain/application/application.go
  tests/ui-api-layer-acceptance-tests/internal/domain/application/application_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/authentication/authentication.go
  tests/ui-api-layer-acceptance-tests/internal/domain/authentication/idppreset_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/k8s/limitrange_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/k8s/resourcequota_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/clusterservicebroker_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/servicebinding_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/servicebinding_usage_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/servicebroker_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/servicecatalog_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/serviceclass_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/serviceinstance_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/ui/backendmodule_test.go
  tests/ui-api-layer-acceptance-tests/internal/module/enabled.go
  tests/ui-api-layer-acceptance-tests/internal/module/module.go
Due: none

Remove BackendModule CRs
  resources/application-connector/templates/backendmodule.yaml
  resources/core/charts/api-controller/templates/backendmodule.yaml
  resources/core/charts/console/templates/backendmodule.yaml
  resources/core/charts/kubeless/templates/backendmodule.yaml
  resources/core/charts/minio/templates/backendmodule.yaml
  resources/core/charts/service-catalog-addons/templates/backendmodule.yaml
  resources/core/templates/tests/test-ui-api-acceptance.yaml
  resources/service-catalog/templates/backendmodule.yaml
Due: kyma-integration, kyma-gke-integration, console-integration

Fix UI API Layer acceptance tests
  tests/ui-api-layer-acceptance-tests/internal/domain/servicecatalog/usage_kind_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/ui/backendmodule_test.go
Due: none

Add DisabledModuleError
  components/ui-api-layer/internal/module/error.go
  components/ui-api-layer/internal/module/module.go
  components/ui-api-layer/internal/module/pluggable.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Refactor enable function for Pluggable type
  components/ui-api-layer/internal/domain/apicontroller/api_resolver.go
  components/ui-api-layer/internal/domain/apicontroller/apicontroller.go
  components/ui-api-layer/internal/domain/authentication/authentication.go
  components/ui-api-layer/internal/domain/authentication/idppreset_resolver.go
  components/ui-api-layer/internal/domain/kubeless/function_resolver.go
  components/ui-api-layer/internal/domain/kubeless/kubeless.go
  components/ui-api-layer/internal/module/pluggable.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Refactor pluggable module
  components/ui-api-layer/internal/domain/authentication/authentication.go
  components/ui-api-layer/internal/module/module.go
  components/ui-api-layer/internal/module/pluggable.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Fix BackendModule service tests
  components/ui-api-layer/internal/domain/authentication/authentication.go
  components/ui-api-layer/internal/domain/root_resolver.go
  components/ui-api-layer/internal/domain/ui/backendmodule_service_test.go
  components/ui-api-layer/internal/module/module.go
  components/ui-api-layer/internal/module/pluggable.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Create Pluggable helper for PluggableResolvers
  components/ui-api-layer/internal/domain/authentication/authentication.go
  components/ui-api-layer/internal/module/module.go
  components/ui-api-layer/internal/module/pluggable.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Make all informer factories nil when modules are disabled
  components/ui-api-layer/internal/domain/apicontroller/apicontroller.go
  components/ui-api-layer/internal/domain/authentication/authentication.go
  components/ui-api-layer/internal/domain/content/content.go
  components/ui-api-layer/internal/domain/kubeless/kubeless.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Make application module pluggable
  components/ui-api-layer/internal/domain/apicontroller/apicontroller.go
  components/ui-api-layer/internal/domain/application/app.go
  components/ui-api-layer/internal/domain/application/application.go
  components/ui-api-layer/internal/domain/application/disabled/application_lister.go
  components/ui-api-layer/internal/domain/application/disabled/resolver.go
  components/ui-api-layer/internal/domain/application/eventactivation_resolver.go
  components/ui-api-layer/internal/domain/content/content.go
  components/ui-api-layer/internal/domain/k8s/environment_service.go
  components/ui-api-layer/internal/domain/kubeless/kubeless.go
  components/ui-api-layer/internal/domain/root_resolver.go
  components/ui-api-layer/internal/domain/servicecatalog/clusterserviceclass_resolver.go
  components/ui-api-layer/internal/domain/servicecatalog/serviceclass_resolver.go
  components/ui-api-layer/internal/module/error.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Rename `KUBE_CONFIG` env to `KUBECONFIG`
  components/ui-api-layer/docs/configuration.md
  tests/ui-api-layer-acceptance-tests/README.md
  tests/ui-api-layer-acceptance-tests/internal/client/config.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Add tests for application and content modules
  components/ui-api-layer/internal/domain/apicontroller/apicontroller_test.go
  components/ui-api-layer/internal/domain/apicontroller/export_test.go
  components/ui-api-layer/internal/domain/application/application.go
  components/ui-api-layer/internal/domain/application/application_test.go
  components/ui-api-layer/internal/domain/application/export_test.go
  components/ui-api-layer/internal/domain/application/gateway/service.go
  components/ui-api-layer/internal/domain/authentication/export_test.go
  components/ui-api-layer/internal/domain/content/content.go
  components/ui-api-layer/internal/domain/content/content_test.go
  components/ui-api-layer/internal/domain/content/export_test.go
  components/ui-api-layer/internal/domain/kubeless/export_test.go
  components/ui-api-layer/internal/domain/kubeless/function_service_test.go
  components/ui-api-layer/internal/domain/kubeless/kubeless_test.go
  components/ui-api-layer/internal/domain/servicecatalog/export_test.go
  components/ui-api-layer/internal/domain/servicecatalog/servicecatalog_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Fix tests
  components/ui-api-layer/internal/domain/apicontroller/api_resolver_test.go
  components/ui-api-layer/internal/domain/authentication/export_test.go
  components/ui-api-layer/internal/domain/authentication/idppreset_resolver_test.go
  components/ui-api-layer/internal/domain/kubeless/export_test.go
  components/ui-api-layer/internal/domain/kubeless/function_resolver_test.go
  tests/ui-api-layer-acceptance-tests/internal/domain/ui/backendmodule_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Make servicecatalog module pluggable
  components/ui-api-layer/internal/domain/k8s/deployment_resolver.go
  components/ui-api-layer/internal/domain/root_resolver.go
  components/ui-api-layer/internal/domain/servicecatalog/disabled/resolver.go
  components/ui-api-layer/internal/domain/servicecatalog/disabled/service_binding_getter.go
  components/ui-api-layer/internal/domain/servicecatalog/disabled/service_binding_usage_lister.go
  components/ui-api-layer/internal/domain/servicecatalog/servicecatalog.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Add tests for kubeless, servicecatalog, authentication and apicontroller domains
  components/ui-api-layer/internal/domain/apicontroller/apicontroller.go
  components/ui-api-layer/internal/domain/apicontroller/apicontroller_test.go
  components/ui-api-layer/internal/domain/apicontroller/export_test.go
  components/ui-api-layer/internal/domain/authentication/authentication.go
  components/ui-api-layer/internal/domain/authentication/authentication_test.go
  components/ui-api-layer/internal/domain/authentication/export_test.go
  components/ui-api-layer/internal/domain/kubeless/export_test.go
  components/ui-api-layer/internal/domain/kubeless/function_service_test.go
  components/ui-api-layer/internal/domain/kubeless/kubeless.go
  components/ui-api-layer/internal/domain/kubeless/kubeless_test.go
  components/ui-api-layer/internal/domain/servicecatalog/export_test.go
  components/ui-api-layer/internal/domain/servicecatalog/servicecatalog.go
  components/ui-api-layer/internal/domain/servicecatalog/servicecatalog_test.go
  components/ui-api-layer/internal/module/pluggable.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Fix panic for servicecatalog domain
  components/ui-api-layer/internal/domain/servicecatalog/servicecatalog.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Fix panic on exit when module pluggability enabled
  components/ui-api-layer/internal/module/error.go
  components/ui-api-layer/internal/module/module.go
  components/ui-api-layer/internal/module/pluggable.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Improve testing for pluggable modules
  components/ui-api-layer/internal/domain/apicontroller/apicontroller_test.go
  components/ui-api-layer/internal/domain/application/application_test.go
  components/ui-api-layer/internal/domain/authentication/authentication_test.go
  components/ui-api-layer/internal/domain/content/content_test.go
  components/ui-api-layer/internal/domain/k8s/deployment_resolver.go
  components/ui-api-layer/internal/domain/kubeless/kubeless_test.go
  components/ui-api-layer/internal/domain/servicecatalog/servicecatalog_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Generated mocks added some tests
  components/connector-service/cmd/connectorservice/connectorservice.go
  components/connector-service/internal/api/application/externalapi/infohandler.go
  components/connector-service/internal/api/application/externalapi/signaturehandler.go
  components/connector-service/internal/api/kymacluster/externalapi/signaturehandler.go
  components/connector-service/internal/api/kymacluster/internalapi/tokenhandler_test.go
  components/connector-service/internal/applications/mocks/Repository.go
  components/connector-service/internal/applications/repository.go
  components/connector-service/internal/kymagroup/mocks/Repository.go
  components/connector-service/internal/kymagroup/repository.go
  components/connector-service/internal/tokens/mocks/TokenGenerator.go
  components/connector-service/internal/uuid/mocks/Generator.go
Due: console-integration

Token handlers unit tests
  components/connector-service/internal/api/application/internalapi/tokenhandler.go
  components/connector-service/internal/api/application/internalapi/tokenhandler_test.go
  components/connector-service/internal/api/kymacluster/externalapi/infohandler.go
  components/connector-service/internal/api/kymacluster/externalapi/infohandler_test.go
  components/connector-service/internal/api/kymacluster/internalapi/tokenhandler_test.go
  components/connector-service/internal/verification/mocks/Service.go
Due: console-integration

Update codeowners
  CODEOWNERS
Due: none

define checkRBAC directive, add basic implementation and configuration
  components/ui-api-layer/internal/gqlschema/models_gen.go
  components/ui-api-layer/internal/gqlschema/schema.graphql
  components/ui-api-layer/internal/gqlschema/schema_gen.go
  components/ui-api-layer/main.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Teset cleanup in progress
  components/connector-service/internal/api/application/externalapi/infohandler_test.go
  components/connector-service/internal/api/application/externalapi/signaturehandler_test.go
  components/connector-service/internal/api/application/internalapi/internalapi.go
  components/connector-service/internal/api/application/internalapi/tokenhandler.go
  components/connector-service/internal/api/application/internalapi/tokenhandler_test.go
Due: console-integration

review updates
  docs/kyma/docs/036-inst-xip.io-domain.md
Due: kyma-docs

punctuation
  docs/kyma/docs/036-inst-xip.io-domain.md
Due: kyma-docs

v3
  docs/kyma/docs/035-inst-xip.io-domain.md
Due: kyma-docs

v5
  docs/kyma/docs/036-inst-xip.io-domain.md
Due: kyma-docs

xip.io docs 1st draft
  docs/kyma/docs/032-inst-gke-installation.md
  docs/kyma/docs/035-inst-xip.io-domain.md
Due: kyma-docs

v2
  docs/kyma/docs/035-inst-xip.io-domain.md
Due: kyma-docs
