Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-compass-runtime-agent, post-master-kyma-components-compass-runtime-agent, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-gke-backup, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-connector-service-tests, post-master-kyma-tests-connector-service-tests, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-api-controller, post-master-kyma-tests-integration-api-controller, pre-master-kyma-tests-integration-cluster-users, post-master-kyma-tests-integration-cluster-users, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-logging, post-master-kyma-tests-integration-logging, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-backup-plugins, post-master-kyma-tools-backup-plugins, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  post-master-kyma-components-compass-runtime-agent: any of: ^components/compass-runtime-agent/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-development-artifacts-idk: any of: ^installation|^resources|^components/kyma-operator|^tools/kyma-installer
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gcs-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gcs-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-az-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/core/templates/tests\S+|resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-backup: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  post-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  post-master-kyma-tests-integration-api-controller: any of: ^tests/integration/api-controller/
  pre-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  post-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  pre-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  post-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  post-master-kyma-tools-backup-plugins: any of: ^tools/backup-plugins/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Set Max Channels for natss-streaming (#6000)
  resources/nats-streaming/templates/statefulset.yaml
  resources/nats-streaming/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

bunch of small fixes
  tests/integration/api-gateway/gateway-tests/main_test.go
Due: none

Add test
  components/apiserver-proxy/cmd/proxy/reload/watch.go
  components/apiserver-proxy/cmd/proxy/reload/watch_test.go
Due: console-integration

Move doc.go to a correct place
  components/apiserver-proxy/cmd/proxy/doc.go
  components/apiserver-proxy/cmd/proxy/reload/doc.go
Due: console-integration

Fix bugs after restructuring, add tests for find and update
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/domain/serverless/function/service_test.go
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Review fixes
  components/apiserver-proxy/cmd/proxy/main.go
  components/apiserver-proxy/cmd/proxy/reload/doc.go
  components/apiserver-proxy/cmd/proxy/reload/reload.go
Due: console-integration

Update dependencies
  components/apiserver-proxy/Gopkg.lock
  components/apiserver-proxy/Gopkg.toml
Due: console-integration

Review fix
  components/apiserver-proxy/cmd/proxy/main.go
Due: console-integration

Add postreview fixes
  docs/kyma/01-01-in-a-nutshell.md
Due: post-master-kyma-docs-website, kyma-docs

fix knative-serving test (#5984)
  tests/knative-serving/Makefile
  tests/knative-serving/knative_serving_test.go
Due: none

update image
  resources/knative-serving/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update values.yaml
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Review fix
  components/apiserver-proxy/cmd/proxy/main.go
  components/apiserver-proxy/cmd/proxy/reload/watch.go
Due: console-integration

Add "test" comment
  resources/core/charts/console/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Enable cbs tests
  resources/core/charts/console-backend-service/values.yaml
  tests/console-backend-service/internal/domain/k8s/service_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicebinding_usage_test.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Enable metrics and add charts (#6057)
  installation/resources/installer-config-local.yaml.tpl
  resources/dex/Chart.yaml
  resources/dex/templates/dex-config-map.yaml
  resources/dex/templates/dex-service.yaml
  resources/dex/templates/service-monitor.yaml
  resources/dex/values.yaml
  resources/monitoring/charts/grafana/dashboards/dex-dashboard.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gcs-gateway, pre-master-kyma-gke-minio-az-gateway, pre-master-kyma-gke-minio-gcs-gateway-migration, pre-master-kyma-gke-minio-az-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

format
  tests/console-backend-service/internal/domain/k8s/service_test.go
Due: none

even more stuff
  components/event-bus/cmd/event-publish-service/handlers/publish_cloud_events.go
  components/event-bus/findings.md
Due: console-integration

add token client
  tests/integration/api-gateway/oauth2/fetchtoken.go
  tests/integration/api-gateway/oauth2/fetchtoken_test.go
  tests/integration/api-gateway/oauth2/types.go
Due: none

Refactor Service Catalog acceptance tests (#6019)
  resources/core/values.yaml
  resources/service-catalog/templates/tests/rbac.yaml
  resources/service-catalog/templates/tests/test.yaml
  resources/service-catalog/values.yaml
  tests/acceptance/README.md
  tests/acceptance/application/README.md
  tests/acceptance/application/app_test.go
  tests/acceptance/application/cmd/fake-gateway/main.go
  tests/acceptance/application/cmd/gateway-client/main.go
  tests/acceptance/application/contrib/Dockerfile
  tests/acceptance/application/contrib/build.sh
  tests/acceptance/application/contrib/pod.yaml
  tests/acceptance/application/contrib/rbac.yaml
  tests/acceptance/application/mapping_test.go
  tests/acceptance/application/suite/app_testsuite.go
  tests/acceptance/application/suite/application.go
  tests/acceptance/application/suite/binding_usage.go
  tests/acceptance/application/suite/istio.go
  tests/acceptance/application/suite/kubernetes.go
  tests/acceptance/application/suite/mapping_testsuite.go
  tests/acceptance/before-commit.sh
  tests/acceptance/pkg/report/report.go
  tests/acceptance/servicecatalog/helpers_test.go
  tests/service-catalog/.gitignore
  tests/service-catalog/Dockerfile
  tests/service-catalog/Gopkg.lock
  tests/service-catalog/Gopkg.toml
  tests/service-catalog/Makefile
  tests/service-catalog/OWNERS
  tests/service-catalog/README.md
  tests/service-catalog/cmd/env-tester/README.md
  tests/service-catalog/cmd/env-tester/dto/dto.go
  tests/service-catalog/cmd/env-tester/main.go
  tests/service-catalog/entrypoint.sh
  tests/service-catalog/test/binding_usage_test.go
  tests/service-catalog/test/servicecatalog_test.go
  tests/service-catalog/utils/istio/istio.go
  tests/service-catalog/utils/repeat/repeat.go
  tests/service-catalog/utils/report/report.go
  tests/service-catalog/utils/retriever/class.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Solution2
  resources/knative-eventing/charts/knative-eventing/templates/pre-upgrade-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

remove main + move fetchtoken to pkg + small fixes
  tests/integration/api-gateway/gateway-tests/Gopkg.lock
  tests/integration/api-gateway/gateway-tests/Gopkg.toml
  tests/integration/api-gateway/gateway-tests/go.mod
  tests/integration/api-gateway/gateway-tests/go.sum
  tests/integration/api-gateway/gateway-tests/main.go
  tests/integration/api-gateway/gateway-tests/main_test.go
  tests/integration/api-gateway/gateway-tests/pkg/oauth2/fetchtoken.go
  tests/integration/api-gateway/gateway-tests/pkg/oauth2/fetchtoken_test.go
  tests/integration/api-gateway/gateway-tests/pkg/oauth2/types.go
Due: none

fix
  tests/integration/api-gateway/gateway-tests/pkg/oauth2/fetchtoken.go
  tests/integration/api-gateway/gateway-tests/pkg/oauth2/fetchtoken_test.go
  tests/integration/api-gateway/gateway-tests/pkg/oauth2/types.go
Due: none

goimports-ed
  tests/integration/api-gateway/gateway-tests/pkg/oauth2/fetchtoken.go
  tests/integration/api-gateway/gateway-tests/pkg/oauth2/fetchtoken_test.go
  tests/integration/api-gateway/gateway-tests/pkg/resourcemanager/manager.go
Due: none

fix2
  tests/integration/api-gateway/gateway-tests/pkg/oauth2/fetchtoken_test.go
Due: none

NATS Channel Plugin
  components/backup-plugins/Gopkg.lock
  components/backup-plugins/Gopkg.toml
  components/backup-plugins/internal/plugins/nats-channels.go
  components/backup-plugins/main.go
Due: console-integration

remove ns from common yaml
  components/cms-services/go.mod
  tests/integration/api-gateway/gateway-tests/main_test.go
  tests/integration/api-gateway/gateway-tests/manifests/common.yaml
  tests/integration/api-gateway/gateway-tests/manifests/test-ns.yaml
  tests/integration/api-gateway/gateway-tests/pkg/manifestprocessor/processor.go
Due: console-integration, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services

sending events seems to work...lets build some tests
  components/event-bus/api/publish/api.go
  components/event-bus/cmd/event-publish-service/application/application.go
  components/event-bus/cmd/event-publish-service/handlers/publish_cloud_events.go
  components/event-bus/findings.md
  components/event-bus/internal/trace/tags.go
Due: console-integration

Handle error case when message cannot be parsed from event
  components/event-bus/cmd/event-publish-service/handlers/publish_cloud_events.go
Due: console-integration

Fix test that checks only supported cloud event versions are supported
  components/event-bus/test/util/v2/publish.go
Due: console-integration

Review fix
  components/apiserver-proxy/cmd/proxy/main.go
  components/apiserver-proxy/cmd/proxy/reload/reload.go
  components/apiserver-proxy/internal/authn/oidc.go
Due: console-integration

upgrade make file
  components/backup-plugins/Gopkg.toml
  components/backup-plugins/Makefile
Due: console-integration

Revert Make
  components/backup-plugins/Makefile
Due: console-integration

fix upgrade
  resources/knative-provisioner-natss/charts/knative-provisioner-natss/templates/pre-upgrade-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-development-artifacts-idk, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add test using binary encoded cloud event
  components/event-bus/cmd/event-publish-service/application/application_test.go
  components/event-bus/test/util/v2/publish.go
Due: console-integration

Extend Authenticator with Cancel() function
  components/apiserver-proxy/cmd/proxy/main.go
  components/apiserver-proxy/cmd/proxy/reload/reload.go
  components/apiserver-proxy/internal/authn/oidc.go
Due: console-integration

Simplifying
  components/apiserver-proxy/cmd/proxy/main.go
  components/apiserver-proxy/cmd/proxy/reload/reload.go
Due: console-integration

Review fix
  components/apiserver-proxy/cmd/proxy/reload/reload.go
Due: console-integration

Add tabletest for valid CE v0.3 and v1.0 events
  components/event-bus/cmd/event-publish-service/application/application_test.go
Due: console-integration
