Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Improve unit tests
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
  components/helm-broker/internal/controller/addonsconfiguration_controller_test.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller_test.go
Due: console-integration

Move Runtime Agent to separate chart
  CODEOWNERS
  resources/compass-runtime-agent/.helmignore
  resources/compass-runtime-agent/Chart.yaml
  resources/compass-runtime-agent/templates/deployment.yaml
  resources/compass-runtime-agent/values.yaml
  resources/compass/charts/runtime-agent-chart/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add Compass Runtime Agent to installer CR
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update resources
  installation/resources/installer-config-local.yaml.tpl
  resources/assetstore/charts/asset-store-controller-manager/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add missing unit tests, move some services to controller pkg
  components/helm-broker/cmd/controller/main.go
  components/helm-broker/internal/broker/broker_syncer_test.go
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
  components/helm-broker/internal/controller/addonsconfiguration_controller_test.go
  components/helm-broker/internal/controller/broker/broker_facade.go
  components/helm-broker/internal/controller/broker/broker_facade_test.go
  components/helm-broker/internal/controller/broker/broker_syncer.go
  components/helm-broker/internal/controller/broker/broker_syncer_test.go
  components/helm-broker/internal/controller/broker/cluster_broker_facade.go
  components/helm-broker/internal/controller/broker/cluster_broker_facade_test.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller_test.go
Due: console-integration

Release 1.3.0: bump images
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/compass/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/velero/values.yaml
  resources/xip-patch/values.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test

Enable resource limits on sds image
  resources/istio/charts/gateways/templates/deployment.yaml
  resources/istio/charts/gateways/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Remove changes from values.yaml
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Move resource definitions to main values
  resources/istio/charts/mixer/values.yaml
  resources/istio/charts/pilot/values.yaml
  resources/istio/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add architecture deep dive
  docs/helm-broker/02-02-deep-dive.md
Due: post-master-kyma-docs-website, kyma-docs

Remove the 1.2-1.3 migration guide
  docs/migration-guides/1.2-1.3.md
Due: post-master-kyma-docs-website, kyma-docs

Remove the 1.2-1.3 migration guide (#4892)
  docs/migration-guides/1.2-1.3.md
Due: post-master-kyma-docs-website, kyma-docs

Fix renaming
  resources/knative-serving-crds-init/charts/knative-serving-crds-init/templates/delete-crd-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

minor changes
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
  components/helm-broker/internal/controller/addonsconfiguration_controller_test.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller_test.go
  components/helm-broker/internal/controller/docs_provider.go
  components/helm-broker/internal/controller/protection_test.go
Due: console-integration

Filter package during unpack in Asset Store (#4830)
  components/asset-store-controller-manager/pkg/loader/package_loader.go
  installation/resources/installer-config-local.yaml.tpl
  resources/assetstore/charts/asset-store-controller-manager/values.yaml
  resources/assetstore/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Huuuuuuuge rfactor
  tests/application-operator-tests/Gopkg.lock
  tests/end-to-end/external-solution-integration/Gopkg.lock
  tests/end-to-end/external-solution-integration/Gopkg.toml
  tests/end-to-end/external-solution-integration/consts/consts.go
  tests/end-to-end/external-solution-integration/e2e.go
  tests/end-to-end/external-solution-integration/resourceskit/eventing_client.go
  tests/end-to-end/external-solution-integration/resourceskit/token_request_client.go
  tests/end-to-end/external-solution-integration/step/step.go
  tests/end-to-end/external-solution-integration/testkit/connector.go
  tests/end-to-end/external-solution-integration/testkit/events.go
  tests/end-to-end/external-solution-integration/testkit/lambda.go
  tests/end-to-end/external-solution-integration/testkit/model.go
  tests/end-to-end/external-solution-integration/testkit/registry.go
  tests/end-to-end/external-solution-integration/testkit/testservice.go
  tests/end-to-end/external-solution-integration/testkit/wait.go
  tests/end-to-end/external-solution-integration/testsuite/check_counter_pod.go
  tests/end-to-end/external-solution-integration/testsuite/connect_application.go
  tests/end-to-end/external-solution-integration/testsuite/create_application.go
  tests/end-to-end/external-solution-integration/testsuite/create_event_activation.go
  tests/end-to-end/external-solution-integration/testsuite/create_mapping.go
  tests/end-to-end/external-solution-integration/testsuite/create_service_binding.go
  tests/end-to-end/external-solution-integration/testsuite/create_service_binding_usage.go
  tests/end-to-end/external-solution-integration/testsuite/create_service_instance.go
  tests/end-to-end/external-solution-integration/testsuite/create_subscription.go
  tests/end-to-end/external-solution-integration/testsuite/deploy_lambda.go
  tests/end-to-end/external-solution-integration/testsuite/register_test_service.go
  tests/end-to-end/external-solution-integration/testsuite/send_event.go
  tests/end-to-end/external-solution-integration/testsuite/start_test_server.go
  tests/end-to-end/external-solution-integration/testsuite/suite.go
  tests/end-to-end/external-solution-integration/wait/wait.go
Due: none

kiali image update to version 1.1.0
  resources/istio/charts/kiali/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

kiali upgrade changes for version 1.1.0
  resources/istio/charts/kiali/templates/clusterrole.yaml
  resources/istio/charts/kiali/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

demo secret removed
  resources/istio/charts/kiali/templates/demosecret.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix controller
  components/helm-broker/.gitignore
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
  components/helm-broker/internal/controller/addonsconfiguration_controller_test.go
  components/helm-broker/internal/controller/automock/bundle_storage.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller_test.go
  components/helm-broker/internal/controller/docs_provider.go
  components/helm-broker/internal/controller/ext.go
Due: console-integration

Fix codeowners
  CODEOWNERS
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

Cherrypick Use RuntimeID header as CN for Runtime certificate AppContext and Cluster context simplified to ClientContext
  components/connector-service/before-commit.sh
  components/connector-service/cmd/connectorservice/handlers.go
  components/connector-service/internal/clientcontext/application.go
  components/connector-service/internal/clientcontext/application_test.go
  components/connector-service/internal/clientcontext/cluster.go
  components/connector-service/internal/clientcontext/cluster_test.go
  components/connector-service/internal/clientcontext/clustercontextstrategy.go
  components/connector-service/internal/clientcontext/clustercontextstrategy_test.go
  components/connector-service/internal/clientcontext/extractor.go
  components/connector-service/internal/clientcontext/extractor_test.go
  components/connector-service/internal/clientcontext/middlewares/clientcontext.go
  components/connector-service/internal/clientcontext/middlewares/clientcontext_test.go
  components/connector-service/internal/clientcontext/middlewares/clustercontext.go
  components/connector-service/internal/clientcontext/middlewares/clustercontext_test.go
  components/connector-service/internal/clientcontext/middlewares/contextfromsubject.go
  components/connector-service/internal/clientcontext/middlewares/contextfromsubject_test.go
  components/connector-service/internal/clientcontext/model.go
  components/connector-service/internal/externalapi/clientidentity.go
  components/connector-service/internal/externalapi/csrinfohandler_test.go
  components/connector-service/internal/externalapi/externalapi.go
  components/connector-service/internal/logging/contextlogger.go
  tests/connector-service-tests/scripts/run-local-tests.sh
Due: console-integration

Cherrypick Use RuntimeID header as CN for Runtime certificate AppContext and Cluster context simplified to ClientContext
  components/connector-service/cmd/connectorservice/handlers.go
  components/connector-service/internal/clientcontext/cluster.go
  components/connector-service/internal/clientcontext/cluster_test.go
  components/connector-service/internal/clientcontext/clustercontextstrategy.go
  components/connector-service/internal/clientcontext/clustercontextstrategy_test.go
  components/connector-service/internal/clientcontext/extractor.go
  components/connector-service/internal/clientcontext/extractor_test.go
  components/connector-service/internal/clientcontext/middlewares/clientcontext.go
  components/connector-service/internal/clientcontext/middlewares/clientcontext_test.go
  components/connector-service/internal/clientcontext/middlewares/contextfromsubject.go
  components/connector-service/internal/clientcontext/middlewares/contextfromsubject_test.go
  components/connector-service/internal/clientcontext/mocks/ClusterContextStrategy.go
  components/connector-service/internal/clientcontext/model.go
  components/connector-service/internal/externalapi/clientidentity.go
  components/connector-service/internal/externalapi/csrinfohandler_test.go
  components/connector-service/internal/externalapi/externalapi.go
  components/connector-service/internal/externalapi/managementinfohandler_test.go
  components/connector-service/internal/externalapi/middlewares/lookup/lookup.go
  components/connector-service/internal/externalapi/middlewares/lookup/lookup_test.go
  components/connector-service/internal/externalapi/middlewares/lookup/mocks/LookupService.go
  components/connector-service/internal/externalapi/middlewares/runtimehealthcheck_test.go
  components/connector-service/internal/externalapi/middlewares/runtimeurls.go
  components/connector-service/internal/externalapi/middlewares/runtimeurls_test.go
  components/connector-service/internal/internalapi/tokenhandler_test.go
  components/connector-service/internal/logging/contextlogger.go
  components/connector-service/internal/tokens/creator_test.go
Due: console-integration

Use Interface instead of Clientset in overrides
  components/kyma-operator/Gopkg.lock
  components/kyma-operator/pkg/overrides/config-reader.go
  components/kyma-operator/pkg/overrides/overrides.go
Due: console-integration

Revert to dep 0.4
  components/kyma-operator/Gopkg.lock
Due: console-integration

Use Interface instead of Clientset in overrides (#4897)
  components/kyma-operator/pkg/overrides/config-reader.go
  components/kyma-operator/pkg/overrides/overrides.go
Due: console-integration

Kubeconfig load improvement; Multiple errors from test service cleanup
  tests/end-to-end/external-solution-integration/Gopkg.lock
  tests/end-to-end/external-solution-integration/Gopkg.toml
  tests/end-to-end/external-solution-integration/e2e.go
  tests/end-to-end/external-solution-integration/testkit/testservice.go
Due: none

Use github.com/pkg/errors instead of errors
  tests/end-to-end/external-solution-integration/resourceskit/lambda_client.go
  tests/end-to-end/external-solution-integration/testkit/certificates.go
  tests/end-to-end/external-solution-integration/testkit/connector.go
  tests/end-to-end/external-solution-integration/testkit/pod.go
  tests/end-to-end/external-solution-integration/testkit/testservice.go
  tests/end-to-end/external-solution-integration/testsuite/create_application.go
  tests/end-to-end/external-solution-integration/testsuite/create_service_binding_usage.go
  tests/end-to-end/external-solution-integration/testsuite/create_service_instance.go
  tests/end-to-end/external-solution-integration/testsuite/create_subscription.go
  tests/end-to-end/external-solution-integration/testsuite/deploy_lambda.go
Due: none

fmt
  tests/end-to-end/external-solution-integration/deploy.yaml
  tests/end-to-end/external-solution-integration/step/step.go
  tests/end-to-end/external-solution-integration/testkit/connector.go
  tests/end-to-end/external-solution-integration/testkit/model.go
  tests/end-to-end/external-solution-integration/testkit/testservice.go
  tests/end-to-end/external-solution-integration/testsuite/create_application.go
  tests/end-to-end/external-solution-integration/testsuite/create_mapping.go
  tests/end-to-end/external-solution-integration/testsuite/create_service_binding_usage.go
  tests/end-to-end/external-solution-integration/testsuite/create_service_instance.go
  tests/end-to-end/external-solution-integration/testsuite/create_subscription.go
  tests/end-to-end/external-solution-integration/testsuite/deploy_lambda.go
  tests/end-to-end/external-solution-integration/testsuite/register_test_service.go
  tests/end-to-end/external-solution-integration/testsuite/start_test_server.go
Due: none

Cleanup errors
  tests/end-to-end/external-solution-integration/e2e.go
  tests/end-to-end/external-solution-integration/resourceskit/app_connector_client.go
  tests/end-to-end/external-solution-integration/resourceskit/service_catalog_client.go
  tests/end-to-end/external-solution-integration/resourceskit/token_request_client.go
  tests/end-to-end/external-solution-integration/testkit/events.go
  tests/end-to-end/external-solution-integration/testkit/testservice.go
  tests/end-to-end/external-solution-integration/testsuite/check_counter_pod.go
  tests/end-to-end/external-solution-integration/testsuite/create_application.go
  tests/end-to-end/external-solution-integration/testsuite/create_service_binding_usage.go
  tests/end-to-end/external-solution-integration/testsuite/create_service_instance.go
  tests/end-to-end/external-solution-integration/testsuite/deploy_lambda.go
  tests/end-to-end/external-solution-integration/testsuite/start_test_server.go
Due: none

Client identity mapper added
  components/connector-service/internal/clientcontext/cluster.go
  components/connector-service/internal/clientcontext/extractor.go
  components/connector-service/internal/clientcontext/model.go
  components/connector-service/internal/externalapi/csrinfohandler_test.go
  components/connector-service/internal/externalapi/externalapi.go
  components/connector-service/internal/externalapi/managementinfohandler.go
  components/connector-service/internal/externalapi/managementinfohandler_test.go
  components/connector-service/internal/identitymapper/clientidentity.go
Due: console-integration

fix
  docs/event-bus/10-01-basic-troubleshooting.md
Due: post-master-kyma-docs-website, kyma-docs

fix
  docs/event-bus/10-02-troubleshooting-kyma-tracing.md
Due: post-master-kyma-docs-website, kyma-docs

Title adjustment
  docs/event-bus/10-01-basic-troubleshooting.md
Due: post-master-kyma-docs-website, kyma-docs

Add troubleshooting docs for Event Bus
  docs/event-bus/03-04-troubleshooting.md
  docs/event-bus/10-01-basic-troubleshooting.md
  docs/event-bus/10-02-troubleshooting-kyma-tracing.md
  docs/tracing/02-01-tracing.md
Due: post-master-kyma-docs-website, kyma-docs

Review fixes
  docs/event-bus/10-02-troubleshooting-kyma-tracing.md
  docs/tracing/02-01-tracing.md
Due: post-master-kyma-docs-website, kyma-docs

Deps updated
  components/connector-service/Gopkg.lock
Due: console-integration

Compass runtime agent chart (#4875)
  CODEOWNERS
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/compass-runtime-agent/.helmignore
  resources/compass-runtime-agent/Chart.yaml
  resources/compass-runtime-agent/templates/deployment.yaml
  resources/compass-runtime-agent/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Mock added
  components/connector-service/internal/externalapi/middlewares/runtimeregistry/mocks/RuntimeRegistryService.go
Due: console-integration
