Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Remove Kubernetes Dashboard from GKE installation (#3762)
  docs/kyma/docs/04-03-cluster-installation.md
Due: kyma-docs

add support for minio gateway in tests
  installation/resources/installer-config-cluster.yaml.tpl
  resources/assetstore/values.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-azure-service-classes.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-gcp-service-classes.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-hb-service-classes.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fetch selfsubjectrules with user token
  components/console-backend-service/internal/authn/middleware.go
  components/console-backend-service/internal/domain/k8s/selfsubjectrules_converter.go
  components/console-backend-service/internal/domain/k8s/selfsubjectrules_resolver.go
  components/console-backend-service/internal/domain/k8s/selfsubjectrules_service.go
Due: console-integration

fetch selfsubjectrules with user token
  components/console-backend-service/internal/domain/k8s/resource_service.go
Due: console-integration

Add retries to CBS k8s update mutations tests (#3712)
  tests/console-backend-service/Dockerfile
  tests/console-backend-service/internal/configurer/broker.go
  tests/console-backend-service/internal/configurer/testbundle.go
  tests/console-backend-service/internal/domain/apicontroller/apis_test.go
  tests/console-backend-service/internal/domain/authentication/idppreset_common.go
  tests/console-backend-service/internal/domain/k8s/configmap_test.go
  tests/console-backend-service/internal/domain/k8s/limitrange_test.go
  tests/console-backend-service/internal/domain/k8s/pod_test.go
  tests/console-backend-service/internal/domain/k8s/replicaset_test.go
  tests/console-backend-service/internal/domain/k8s/resource_test.go
  tests/console-backend-service/internal/domain/k8s/resourcequota_test.go
  tests/console-backend-service/internal/domain/k8s/secret_test.go
  tests/console-backend-service/internal/domain/k8s/service_test.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  tests/console-backend-service/internal/domain/shared/wait/clusterdocstopic.go
  tests/console-backend-service/internal/domain/shared/wait/docstopic.go
  tests/console-backend-service/internal/domain/shared/wait/servicebinding.go
  tests/console-backend-service/internal/domain/shared/wait/serviceinstance.go
  tests/console-backend-service/internal/domain/ui/backendmodule_test.go
  tests/console-backend-service/pkg/exit/exit.go
  tests/console-backend-service/pkg/retrier/retry.go
  tests/console-backend-service/pkg/waiter/waiter.go
Due: none

Update values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Use console and lambda images from console pr
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Apiserver-proxy test image bump (#3759)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Dependencies updated
  components/event-service/Gopkg.lock
Due: console-integration

Dependencies updated (again)
  components/event-service/Gopkg.lock
  components/event-service/Gopkg.toml
Due: console-integration

Necessary comments added
  components/event-service/internal/events/registered/activeevents.go
  components/event-service/internal/externalapi/activeeventshandler.go
  components/event-service/internal/externalapi/externalapi.go
Due: console-integration

Necessary comments added
  components/event-service/internal/httptools/response.go
Due: console-integration

azure/gcp/hb clusterdocstopic created
  resources/core/charts/docs/charts/documentation/templates/docs-azure-service-classes.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-gcp-service-classes.yaml
  resources/core/charts/docs/charts/documentation/templates/docs-hb-service-classes.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Release 1.0 - RC1 (#3736)
  docs/migration-guides/0.9-1.0.md
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  installation/scripts/testing.sh
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/ark/values.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/helm-broker/templates/cfg-repos-url.yaml
  resources/helm-broker/templates/destination-rule.yaml
  resources/helm-broker/templates/policy.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/templates/tests/logging.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/service-catalog/values.yaml
  resources/xip-patch/values.yaml
  tests/apiserver-proxy-tests/test.sh
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

go fmt
  components/event-service/internal/externalapi/activeeventshandler.go
  components/event-service/internal/externalapi/activeeventshandler_test.go
  components/event-service/internal/externalapi/externalapi.go
  components/event-service/internal/httptools/response.go
Due: console-integration

Fix validation regex
  components/application-operator/pkg/kymahelm/application/releasemanager.go
  components/application-operator/pkg/kymahelm/application/releasemanager_test.go
Due: console-integration, kyma-components-application-operator

Service registration
  tests/end-to-end/external-solution-integration/testkit/certificates.go
  tests/end-to-end/external-solution-integration/testkit/connector.go
  tests/end-to-end/external-solution-integration/testkit/model.go
  tests/end-to-end/external-solution-integration/testkit/registry.go
  tests/end-to-end/external-solution-integration/testsuite/suite.go
Due: none

Bump console version
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Review changes
  components/connector-service/internal/clientcontext/middlewares/contextfromsubject.go
Due: console-integration

Application chart updated
  components/application-operator/charts/application/templates/ingress.yaml
Due: console-integration, kyma-components-application-operator

Migration from helm test to Octopus (#3503)
  docs/kyma/docs/03-03-testing.md
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  installation/scripts/e2e-testing.sh
  installation/scripts/testing-common.sh
  installation/scripts/testing.sh
  resources/application-connector/charts/application-operator/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/application-registry/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/connection-token-handler/templates/tests/test-acceptance.yaml
  resources/application-connector/charts/connector-service/templates/tests/test-acceptance.yaml
  resources/assetstore/templates/tests/test-integration.yaml
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
  resources/core/charts/apiserver-proxy/templates/tests/test-apiserver-proxy.yaml
  resources/core/charts/cluster-users/templates/tests/test-cluster-users.yaml
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
  resources/core/charts/namespace-controller/templates/tests/test-namespace-controller.yaml
  resources/core/templates/tests/test-core-acceptance.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/dex/templates/tests/test-dex-connection.yaml
  resources/event-bus/templates/tests/test-e2e-tester.yaml
  resources/logging/templates/tests/logging.yaml
  resources/monitoring/templates/tests/test-kube-prometheus.yaml
  resources/testing/.helmignore
  resources/testing/Chart.yaml
  resources/testing/README.md
  resources/testing/charts/octopus/.helmignore
  resources/testing/charts/octopus/Chart.yaml
  resources/testing/charts/octopus/templates/_helpers.tpl
  resources/testing/charts/octopus/templates/clustertestsuite.crd.yaml
  resources/testing/charts/octopus/templates/manager.yaml
  resources/testing/charts/octopus/templates/rbac_role.yaml
  resources/testing/charts/octopus/templates/rbac_role_binding.yaml
  resources/testing/charts/octopus/templates/service-account.yaml
  resources/testing/charts/octopus/templates/testdefinition.crd.yaml
  resources/testing/charts/octopus/values.yaml
  resources/testing/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

test images
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Path changed to PathPrefix
  components/event-service/internal/externalapi/externalapi.go
Due: console-integration

Enable console backend service acceptance tests (#3688)
  resources/core/templates/tests/rbac-test-console-backend-service.yaml
  resources/core/templates/tests/test-console-backend-service.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Removing istio ns
  docs/backup/docs/assets/system-backup.yaml
Due: kyma-docs

Triggering image creation
  tests/end-to-end/backup-restore-test/backupe2e/prometheus.go
Due: none

Fix addonsConfigs subsription
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

Fix addonsConfigs subsription (#3773)
  components/console-backend-service/internal/domain/servicecatalogaddons/addonsconfiguration_service.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

Bump console backend service version
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump console backend service version (#3774)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fetch impersonated selfsubjectrules
  components/console-backend-service/internal/authn/middleware.go
  components/console-backend-service/internal/domain/k8s/selfsubjectrules_converter.go
  components/console-backend-service/internal/domain/k8s/selfsubjectrules_resolver.go
  components/console-backend-service/internal/domain/k8s/selfsubjectrules_service.go
Due: console-integration

Disable microfrontends test
  tests/end-to-end/upgrade/main.go
Due: none

fmt
  tests/end-to-end/upgrade/main.go
Due: none

Update MF tests
  tests/end-to-end/upgrade/pkg/tests/ui/cluster-microfrontend.go
  tests/end-to-end/upgrade/pkg/tests/ui/microfrontend.go
Due: none

Bump helm-broker version (#3764)
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Minor change
  tests/end-to-end/upgrade/pkg/tests/ui/cluster-microfrontend.go
Due: none

Release 1.0.0-rc2
  components/application-broker/Gopkg.lock
  components/application-operator/Gopkg.lock
  components/installer/Gopkg.lock
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/ark/values.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/service-catalog/values.yaml
  resources/xip-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump upgrade tests image (#3748)
  resources/core/charts/console/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/templates/rbac.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Allow group and tenant only if central set to true
  components/connector-service/cmd/connectorservice/handlers.go
  components/connector-service/internal/clientcontext/clustercontextstrategy.go
  components/connector-service/internal/clientcontext/clustercontextstrategy_test.go
  components/connector-service/internal/clientcontext/middlewares/applicationcontext.go
  components/connector-service/internal/clientcontext/middlewares/applicationcontext_test.go
  components/connector-service/internal/clientcontext/middlewares/clustercontext.go
  components/connector-service/internal/clientcontext/middlewares/clustercontext_test.go
  components/connector-service/internal/clientcontext/mocks/ClusterContextStrategy.go
  components/connector-service/internal/clientcontext/model.go
  components/connector-service/internal/internalapi/tokenhandler.go
Due: console-integration
