Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration, kyma-tests-kubeless, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-components-ui-api-layer:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/kyma-integration:
  optional: true
  labels:
    preset-sa-vm-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-and-start-kyma.sh

prow/kyma/kyma-gke-integration:
  optional: true
  labels:
    preset-sa-gke-kyma-integration: 'true'
    preset-gc-compute-envs: 'true'
    preset-gc-project-env: 'true'
    preset-build-pr: 'true'
    preset-docker-push-repository: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

kyma-tests-kubeless:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

WIP: Testing an hard coded image
  tools/load-test/deploy/chart/load-test/.helmignore
  tools/load-test/deploy/chart/load-test/Chart.yaml
  tools/load-test/deploy/chart/load-test/templates/_helpers.tpl
  tools/load-test/deploy/chart/load-test/templates/load-tests.yaml
  tools/load-test/deploy/chart/load-test/values.yaml
Due: none

Refined README for load-test chart
  tools/load-test/README.md
Due: none

add specific cr to xip-io installation
  installation/resources/installer-cr-cluster-xip-io.yaml.tpl
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

remove xip-installation.yaml
  installation/resources/xip-installation.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

TokenRequest CRD changed
  resources/application-connector/charts/connection-token-handler/templates/crd.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix Gopkg.lock file
  tests/acceptance/Gopkg.lock
Due: none

Updated CRD of token request
  resources/application-connector/charts/connection-token-handler/templates/crd.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

extend logging
  components/installer/pkg/kymahelm/kyma-helm-client.go
  components/installer/pkg/kymainstallation/stepsfactory.go
Due: console-integration

fix
  components/installer/pkg/kymainstallation/stepsfactory.go
Due: console-integration

Use new revision of test-ingressgateway
  tests/api-controller-acceptance-tests/Gopkg.lock
  tests/api-controller-acceptance-tests/apicontroller/integration_test.go
  tests/kubeless-integration/Gopkg.lock
  tests/kubeless-integration/test-kubeless.go
Due: none

Add Makefile to make it compatible with prow
  tools/load-test/Makefile
Due: none

FIXES!
  tests/api-controller-acceptance-tests/Gopkg.lock
  tests/api-controller-acceptance-tests/apicontroller/integration_test.go
  tests/kubeless-integration/Gopkg.lock
  tests/kubeless-integration/test-kubeless.go
Due: none

Add missing Kyma docs image build
  docs/docs-build.yaml
Due: none

Add missing Kyma docs image build (#2061)
  docs/docs-build.yaml
Due: none

Disable deletion hook
  resources/core/charts/api-controller/templates/tests/test-namespace.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update mf and cmf crds
  docs/console/docs/022-cr-clustermicrofrontend.md
  docs/console/docs/assets/cmf-environment.yaml
  resources/core/charts/console/templates/clustermicrofrontend.crd.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update resources/application-connector/charts/application-broker/README.md
  resources/application-connector/charts/application-broker/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Remove chart, expose namespace as env
  resources/core/charts/api-controller/templates/tests/test-namespace.yaml
  tests/api-controller-acceptance-tests/apicontroller/component_test.go
  tests/api-controller-acceptance-tests/apicontroller/fixture.go
  tests/api-controller-acceptance-tests/apicontroller/integration_test.go
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Remove comments
  tests/api-controller-acceptance-tests/apicontroller/fixture.go
Due: none

Added Gopkg.lock and toml
  tools/load-test/Gopkg.lock
  tools/load-test/Gopkg.toml
Due: none

Install dependencies in Jenkins as well
  tools/load-test/Jenkinsfile
Due: none

Move chart to a separate PR
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fixed makefile
  tools/load-test/Makefile
Due: none

Validate Prow images
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  resources/application-connector/values.yaml
  resources/ark/values.yaml
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/console/values.yaml
  resources/core/charts/docs/charts/content-ui/Chart.yaml
  resources/core/charts/docs/charts/content-ui/templates/deployment.yaml
  resources/core/charts/helm-broker/charts/etcd-stateful/values.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/templates/deployment.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
  resources/core/charts/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/core/charts/service-catalog-addons/charts/brokers-ui/templates/deployment.yaml
  resources/core/charts/service-catalog-addons/charts/catalog-ui/templates/deployment.yaml
  resources/core/charts/service-catalog-addons/charts/instances-ui/templates/deployment.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/service-catalog/charts/etcd-stateful/values.yaml
  resources/service-catalog/values.yaml
  tools/kyma-installer/kyma.Dockerfile
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix test from reb-ns-for- to ab-ns-for-
  tests/acceptance/servicecatalog/servicecatalog_test.go
Due: none

Rename Remote Environment to Application (#1997)
  installation/resources/installer-config-cluster.yaml.tpl
  installation/resources/installer-config-local.yaml.tpl
  resources/application-connector/charts/application-broker/Chart.yaml
  resources/application-connector/charts/application-broker/README.md
  resources/application-connector/charts/application-broker/templates/cluster-role.yaml
  resources/application-connector/charts/application-broker/templates/configmap.yaml
  resources/application-connector/charts/application-broker/templates/deployment.yaml
  resources/application-connector/charts/application-broker/templates/service.yaml
  resources/application-connector/charts/application-broker/values.yaml
  resources/application-connector/charts/connection-token-handler/templates/crd.yaml
  resources/application-connector/charts/metadata-service/templates/remote-environments-minio-secret.yaml
  resources/application-connector/charts/metadata-service/values.yaml
  resources/application-connector/templates/application.crd.yaml
  resources/application-connector/templates/cluster-role-binding.yaml
  resources/application-connector/templates/remote-env-ca-secret.yaml
  resources/application-connector/values.yaml
  resources/ark/values.yaml
  resources/cluster-essentials/templates/environment-mapping.crd.yaml
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/kubeless/charts/lambdas-ui/templates/deployment.yaml
  resources/core/charts/ui-api/README.md
  resources/core/charts/ui-api/scripts/filter_testcase.lua
  resources/core/charts/ui-api/templates/cluster-role.yaml
  resources/core/charts/ui-api/templates/deployment.yaml
  resources/core/templates/tests/rbac-core-acceptance.yaml
  resources/core/templates/tests/test-core-acceptance.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
  resources/core/values.yaml
  resources/monitoring/charts/grafana/dashboards/service-catalog.json
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Application Operator: rename Remote Environment to Application (#2019)
  components/application-operator/Dockerfile
  components/application-operator/Gopkg.lock
  components/application-operator/Gopkg.toml
  components/application-operator/README.md
  components/application-operator/charts/application/.helmignore
  components/application-operator/charts/application/Chart.yaml
  components/application-operator/charts/application/README.md
  components/application-operator/charts/application/templates/NOTES.txt
  components/application-operator/charts/application/templates/_helpers.tpl
  components/application-operator/charts/application/templates/deployment.yaml
  components/application-operator/charts/application/templates/ingress.yaml
  components/application-operator/charts/application/templates/role-binding.yaml
  components/application-operator/charts/application/templates/service.yaml
  components/application-operator/charts/application/templates/tests/test-acceptance.yaml
  components/application-operator/charts/application/values.yaml
  components/application-operator/charts/remote-environments/Chart.yaml
  components/application-operator/charts/remote-environments/README.md
  components/application-operator/cmd/manager/manager.go
  components/application-operator/cmd/manager/options.go
  components/application-operator/hack/update-codegen.sh
  components/application-operator/pkg/apis/api.go
  components/application-operator/pkg/apis/applicationconnector/v1alpha1/types.go
  components/application-operator/pkg/controller/controller.go
  components/application-operator/pkg/controller/mocks/ApplicationManagerClient.go
  components/application-operator/pkg/controller/reconciler.go
  components/application-operator/pkg/controller/reconciler_test.go
  components/application-operator/pkg/kymahelm/application/mocks/ReleaseManager.go
  components/application-operator/pkg/kymahelm/application/overrides.go
  components/application-operator/pkg/kymahelm/application/releasemanager.go
  components/application-operator/pkg/kymahelm/application/releasemanager_test.go
  tests/application-operator-tests/Gopkg.lock
  tests/application-operator-tests/Gopkg.toml
  tests/application-operator-tests/test/controllertests/controller_test.go
  tests/application-operator-tests/test/testkit/k8sresources_check.go
  tests/application-operator-tests/test/testkit/k8sresources_client.go
  tests/application-operator-tests/test/testkit/suite.go
  tests/gateway-tests/test/apitests/gateway_events_test.go
  tests/gateway-tests/test/testkit/config.go
Due: console-integration

Renaming Connector Service (#2005)
  components/connection-token-handler/Gopkg.lock
  components/connection-token-handler/pkg/apis/connectorservice/v1alpha1/tokenrequest_types.go
  components/connection-token-handler/pkg/controller/tokenrequest/tokenrequest_client.go
  components/connection-token-handler/pkg/controller/tokenrequest/tokenrequest_client_test.go
  components/connection-token-handler/pkg/controller/tokenrequest/tokenrequest_controller.go
  components/connector-service/docs/api/connectorapi.yaml
  components/connector-service/internal/externalapi/externalapi.go
  components/connector-service/internal/externalapi/infohandler.go
  components/connector-service/internal/externalapi/infohandler_test.go
  components/connector-service/internal/externalapi/signaturehandler.go
  components/connector-service/internal/externalapi/signaturehandler_test.go
  components/connector-service/internal/internalapi/internalapi.go
  components/connector-service/internal/internalapi/tokenhandler.go
  components/connector-service/internal/internalapi/tokenhandler_test.go
  components/connector-service/internal/monitoring/middleware/code_middleware_test.go
  components/connector-service/internal/monitoring/middleware/duration_middleware_test.go
  components/connector-service/internal/secrets/repository_test.go
  components/connector-service/internal/tokens/mocks/TokenGenerator.go
  components/connector-service/internal/tokens/tokencache/mocks/TokenCache.go
  components/connector-service/internal/tokens/tokencache/tokencache.go
  components/connector-service/internal/tokens/tokens.go
  components/connector-service/internal/tokens/tokens_test.go
  docs/application-connector/docs/assets/connectorapi.yaml
  resources/monitoring/charts/grafana/dashboards/connector-service-dashboard.json
  tests/connector-service-tests/Gopkg.lock
  tests/connector-service-tests/Gopkg.toml
  tests/connector-service-tests/README.md
  tests/connector-service-tests/test/apitests/connector_test.go
  tests/connector-service-tests/test/testkit/connectorclient.go
  tests/connector-service-tests/test/testkit/k8sClient.go
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Adjust acceptance test after renaming RemoteEnvironment (#2052)
  tests/acceptance/Dockerfile
  tests/acceptance/Gopkg.lock
  tests/acceptance/Gopkg.toml
  tests/acceptance/application/README.md
  tests/acceptance/application/app_test.go
  tests/acceptance/application/cmd/fake-gateway/main.go
  tests/acceptance/application/cmd/gateway-client/main.go
  tests/acceptance/application/contrib/Dockerfile
  tests/acceptance/application/contrib/build.sh
  tests/acceptance/application/contrib/pod.yaml
  tests/acceptance/application/contrib/rbac.yaml
  tests/acceptance/application/mapping_test.go
  tests/acceptance/application/suite/app_testsuite.go
  tests/acceptance/application/suite/application.go
  tests/acceptance/application/suite/binding_usage.go
  tests/acceptance/application/suite/istio.go
  tests/acceptance/application/suite/kubernetes.go
  tests/acceptance/application/suite/mapping_testsuite.go
  tests/acceptance/build.sh
  tests/acceptance/entrypoint.sh
  tests/acceptance/remote-environment/suite/remote_environment.go
  tests/acceptance/servicecatalog/binding_usage_test.go
  tests/acceptance/servicecatalog/servicecatalog_test.go
Due: none

Update and adjust ui-api-acceptance code for Application (#2038)
  tests/ui-api-layer-acceptance-tests/domain/application/application_test.go
  tests/ui-api-layer-acceptance-tests/domain/remoteenvironment/remoteenvironment_test.go
Due: none

Bump images after renaming
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Bumped acceptance tests
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Renaming Remote Environment to Application - Metadata Service
  components/metadata-service/Gopkg.toml
  components/metadata-service/cmd/metadataservice/metadataservice.go
  components/metadata-service/internal/metadata/applications/repository.go
  components/metadata-service/internal/metadata/applications/util.go
Due: console-integration

Manager mock
  components/metadata-service/internal/metadata/remoteenv/mocks/ApplicationManager.go
Due: console-integration

remoteenv directory renamed to applications parameters and variable names changed
  components/metadata-service/cmd/metadataservice/metadataservice.go
  components/metadata-service/internal/metadata/accessservice/accessservicemanager.go
  components/metadata-service/internal/metadata/accessservice/accessservicemanager_test.go
  components/metadata-service/internal/metadata/applications/mocks/ApplicationManager.go
  components/metadata-service/internal/metadata/remoteenv/mocks/ApplicationManager.go
  components/metadata-service/internal/metadata/serviceapi/serviceapiservice_test.go
  components/metadata-service/internal/metadata/servicedefservice_test.go
Due: console-integration

Renaming in Metadata Service Tests
  tests/metadata-service-tests/test/apitests/metadata_test.go
  tests/metadata-service-tests/test/k8stests/k8sresource_test.go
Due: none

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  prow/kyma/kyma-integration: any of: ^(resources|installation)
  prow/kyma/kyma-gke-integration: any of: ^(resources|installation)
  kyma-tests-kubeless: any of: ^tests/kubeless/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
