Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration, kyma-tests-kubeless, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-components-ui-api-layer:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/kyma-integration:
  optional: true
  labels:
    preset-sa-vm-kyma-integration: 'true'
    preset-gc-project-env: 'true'
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-and-start-kyma.sh

prow/kyma/kyma-gke-integration:
  optional: true
  labels:
    preset-sa-gke-kyma-integration: 'true'
    preset-gc-compute-envs: 'true'
    preset-gc-project-env: 'true'
    preset-build-pr: 'true'
    preset-docker-push-repository: 'true'
    preset-dind-enabled: 'true'
  decorate: true
  spec:
    containers:
  ...

kyma-tests-kubeless:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Add ApplicationMapping client
  CODEOWNERS
  components/application-broker/pkg/apis/applicationconnector/v1alpha1/types.go
  components/application-broker/pkg/apis/applicationconnector/v1alpha1/zz_generated.deepcopy.go
  components/application-broker/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/applicationconnector_client.go
  components/application-broker/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/applicationmapping.go
  components/application-broker/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_applicationconnector_client.go
  components/application-broker/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_applicationmapping.go
  components/application-broker/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/generated_expansion.go
  components/application-broker/pkg/client/informers/externalversions/applicationconnector/v1alpha1/applicationmapping.go
  components/application-broker/pkg/client/informers/externalversions/applicationconnector/v1alpha1/interface.go
  components/application-broker/pkg/client/informers/externalversions/generic.go
  components/application-broker/pkg/client/listers/applicationconnector/v1alpha1/applicationmapping.go
  components/application-broker/pkg/client/listers/applicationconnector/v1alpha1/expansion_generated.go
Due: console-integration

Revert "increase timeout as builds have been killed before they could finish"
  Jenkinsfile
Due: none

Add ApplicationMapping client (#2021)
  CODEOWNERS
  components/application-broker/pkg/apis/applicationconnector/v1alpha1/types.go
  components/application-broker/pkg/apis/applicationconnector/v1alpha1/zz_generated.deepcopy.go
  components/application-broker/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/applicationconnector_client.go
  components/application-broker/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/applicationmapping.go
  components/application-broker/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_applicationconnector_client.go
  components/application-broker/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/fake/fake_applicationmapping.go
  components/application-broker/pkg/client/clientset/versioned/typed/applicationconnector/v1alpha1/generated_expansion.go
  components/application-broker/pkg/client/informers/externalversions/applicationconnector/v1alpha1/applicationmapping.go
  components/application-broker/pkg/client/informers/externalversions/applicationconnector/v1alpha1/interface.go
  components/application-broker/pkg/client/informers/externalversions/generic.go
  components/application-broker/pkg/client/listers/applicationconnector/v1alpha1/applicationmapping.go
  components/application-broker/pkg/client/listers/applicationconnector/v1alpha1/expansion_generated.go
Due: console-integration

Revert "Update before-commit.sh"
  components/apiserver-proxy/before-commit.sh
Due: console-integration

Pass token for subscriptions in UI API Layer acceptance tests the same way like on UI (#2002)
  tests/ui-api-layer-acceptance-tests/Dockerfile
  tests/ui-api-layer-acceptance-tests/Gopkg.lock
  tests/ui-api-layer-acceptance-tests/Gopkg.toml
  tests/ui-api-layer-acceptance-tests/client/client.go
  tests/ui-api-layer-acceptance-tests/domain/authentication/idppreset_test.go
  tests/ui-api-layer-acceptance-tests/domain/remoteenvironment/remoteenvironment_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/clusterservicebroker_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/clusterserviceclass_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/servicebroker_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/serviceclass_test.go
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/serviceinstance_test.go
  tests/ui-api-layer-acceptance-tests/graphql/client.go
  tests/ui-api-layer-acceptance-tests/graphql/request.go
  tests/ui-api-layer-acceptance-tests/graphql/websocket.go
Due: none

Changed Application Connector cluster role to use Application
  resources/application-connector/templates/cluster-role-binding.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Implement suggestions
  components/configurations-generator/Jenkinsfile
  components/configurations-generator/Makefile
  components/configurations-generator/before-commit.sh
Due: console-integration

Bump UI API Acceptance tests
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Correct the "lambda/function" formatting
  components/binding-usage-controller/examples/README.md
  docs/application-connector/docs/004-architecture-application-connector.md
  docs/application-connector/docs/018-architecture-proxy-service.md
  docs/application-connector/docs/020-details-pass-access-token-in-request-header.md
  docs/event-bus/docs/001-overview-event-bus.md
  docs/serverless/docs/001-overview-serverless.md
Due: console-integration, prow/kyma/components/binding-usage-controller

Remove articles
  components/binding-usage-controller/examples/README.md
Due: console-integration, prow/kyma/components/binding-usage-controller

Fix the link
  components/binding-usage-controller/examples/README.md
Due: console-integration, prow/kyma/components/binding-usage-controller

Cleaner commit
  components/configurations-generator/Gopkg.lock
  components/configurations-generator/Gopkg.toml
  components/configurations-generator/Jenkinsfile
  components/configurations-generator/Makefile
  components/configurations-generator/before-commit.sh
Due: console-integration

Remove the link
  docs/event-bus/docs/001-overview-event-bus.md
Due: none

Bump UI API Acceptance tests (#2024)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Extract unpacking jsonSchema to separate package in servicecatalog domain
  components/ui-api-layer/internal/domain/servicecatalog/clusterserviceplan_converter.go
  components/ui-api-layer/internal/domain/servicecatalog/jsonschema/jsonschema.go
  components/ui-api-layer/internal/domain/servicecatalog/jsonschema/jsonschema_test.go
  components/ui-api-layer/internal/domain/servicecatalog/serviceplan_converter.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Make Catalog UI to be more resilient on empty creating schemas (#1969)
  components/ui-api-layer/internal/domain/servicecatalog/clusterserviceplan_converter.go
  components/ui-api-layer/internal/domain/servicecatalog/clusterserviceplan_converter_test.go
  components/ui-api-layer/internal/domain/servicecatalog/jsonschema/jsonschema.go
  components/ui-api-layer/internal/domain/servicecatalog/jsonschema/jsonschema_test.go
  components/ui-api-layer/internal/domain/servicecatalog/serviceplan_converter.go
  components/ui-api-layer/internal/domain/servicecatalog/serviceplan_converter_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Fix unhandled err checking in BUC project (#2010)
  components/binding-usage-controller/Gopkg.lock
  components/binding-usage-controller/Gopkg.toml
  components/binding-usage-controller/before-commit.sh
  components/binding-usage-controller/cmd/controller/main.go
  components/binding-usage-controller/internal/controller/controller.go
  components/binding-usage-controller/internal/controller/errors.go
  components/binding-usage-controller/internal/controller/labels_fetcher.go
  components/binding-usage-controller/internal/controller/usagekind/protection_controller.go
  components/binding-usage-controller/internal/controller/usagekind/protection_controller_test.go
Due: console-integration, prow/kyma/components/binding-usage-controller

Add ApplicationMapping to know types in client
  components/application-broker/pkg/apis/applicationconnector/v1alpha1/register.go
Due: console-integration

Bump the BindingUsageController version
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Rename REB chart to AB (#2022)
  resources/application-connector/charts/application-broker/.helmignore
  resources/application-connector/charts/application-broker/Chart.yaml
  resources/application-connector/charts/application-broker/README.md
  resources/application-connector/charts/application-broker/templates/_helpers.tpl
  resources/application-connector/charts/application-broker/templates/cluster-role-binding.yaml
  resources/application-connector/charts/application-broker/templates/cluster-role.yaml
  resources/application-connector/charts/application-broker/templates/configmap.yaml
  resources/application-connector/charts/application-broker/templates/deployment.yaml
  resources/application-connector/charts/application-broker/templates/service-account.yaml
  resources/application-connector/charts/application-broker/templates/service.yaml
  resources/application-connector/charts/application-broker/values.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Minor style fixes
  docs/tracing/docs/012-details-trace-comparison.md
  docs/tracing/docs/020-architecture-tracing.md
Due: none

Correct the "lambda/function" formatting (#2025)
  components/binding-usage-controller/examples/README.md
  docs/application-connector/docs/004-architecture-application-connector.md
  docs/application-connector/docs/018-architecture-proxy-service.md
  docs/application-connector/docs/020-details-pass-access-token-in-request-header.md
  docs/event-bus/docs/001-overview-event-bus.md
  docs/serverless/docs/001-overview-serverless.md
Due: console-integration, prow/kyma/components/binding-usage-controller

Add review comments
  docs/tracing/docs/012-details-trace-comparison.md
  docs/tracing/docs/020-architecture-tracing.md
Due: none

update kubeless version in test images
  tests/kubeless-integration/Dockerfile
  tests/kubeless/Dockerfile
Due: kyma-tests-kubeless

rephrase test output
  tests/kubeless/kubeless-tests.go
Due: kyma-tests-kubeless

Upgrade kubeless to 1.0.0 (test images) (#2031)
  tests/kubeless-integration/Dockerfile
  tests/kubeless/Dockerfile
  tests/kubeless/kubeless-tests.go
Due: kyma-tests-kubeless

Rename controller-manager to function-controller
  resources/core/charts/kubeless/templates/kubeless-controller-deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

update scripts to use kubeless-1.0.0
  installation/cmd/ci.build.ps1
  installation/cmd/ci.build.sh
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

update runtime images
  resources/core/charts/kubeless/templates/kubeless-configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update kubeless images to 1.0.0
  resources/core/charts/kubeless/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Renaming in Metadata Service - labels, tests
  components/metadata-service/internal/k8sconsts/k8sconsts.go
  components/metadata-service/internal/k8sconsts/nameresolver.go
  components/metadata-service/internal/k8sconsts/nameresolver_test.go
  components/metadata-service/internal/metadata/applications/repository_test.go
  components/metadata-service/internal/metadata/istio/repository_test.go
  components/metadata-service/internal/metadata/istio/service_test.go
  components/metadata-service/internal/metadata/secrets/repository_test.go
  components/metadata-service/internal/metadata/specification/service_test.go
Due: console-integration

Renaming in Proxy Service - labels
  components/proxy-service/internal/k8sconsts/k8sconsts.go
  components/proxy-service/internal/k8sconsts/nameresolver.go
  components/proxy-service/internal/k8sconsts/nameresolver_test.go
Due: console-integration

Renaming in Proxy Service - tests
  components/proxy-service/internal/proxy/proxy_test.go
Due: console-integration

Update CODEOWNERS
  CODEOWNERS
Due: none

Add Makefile for prow to static-users-generator (#2023)
  tools/static-users-generator/Makefile
Due: none

Update SC version in the documentation
  docs/service-catalog/docs/030-cli-reference.md
Due: none

Bump the BindingUsageController version (#2030)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Bumped Application Connector components
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

run validation on CI
  common/Jenkinsfile
  orchestrator.Jenkinsfile
Due: none

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  prow/kyma/kyma-integration: any of: ^(resources|installation)
  prow/kyma/kyma-gke-integration: any of: ^(resources|installation)
  kyma-tests-kubeless: any of: ^tests/kubeless/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
