Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

minor fixes
  components/helm-broker/internal/controller/broker/broker_facade.go
  components/helm-broker/internal/controller/broker/cluster_broker_facade.go
Due: console-integration

Added interface to be used by controller and some building blocks from Application Registry
  components/compass-runtime-agent/Gopkg.lock
  components/compass-runtime-agent/Gopkg.toml
  components/compass-runtime-agent/internal/apperrors/apperrors.go
  components/compass-runtime-agent/internal/apperrors/apperrors_test.go
  components/compass-runtime-agent/internal/httpconsts/httpconsts.go
  components/compass-runtime-agent/internal/k8sconsts/k8sconsts.go
  components/compass-runtime-agent/internal/k8sconsts/mocks/NameResolver.go
  components/compass-runtime-agent/internal/k8sconsts/nameresolver.go
  components/compass-runtime-agent/internal/k8sconsts/nameresolver_test.go
  components/compass-runtime-agent/internal/k8sconsts/util.go
  components/compass-runtime-agent/internal/synchronization/applications/mocks/ApplicationManager.go
  components/compass-runtime-agent/internal/synchronization/applications/mocks/Manager.go
  components/compass-runtime-agent/internal/synchronization/applications/mocks/ServiceRepository.go
  components/compass-runtime-agent/internal/synchronization/applications/repository.go
  components/compass-runtime-agent/internal/synchronization/applications/repository_test.go
  components/compass-runtime-agent/internal/synchronization/applications/util.go
  components/compass-runtime-agent/internal/synchronization/applications/util_test.go
  components/compass-runtime-agent/internal/synchronization/assetstore/docstopic/model.go
  components/compass-runtime-agent/internal/synchronization/assetstore/docstopicrepository.go
  components/compass-runtime-agent/internal/synchronization/assetstore/docstopicrepository_test.go
  components/compass-runtime-agent/internal/synchronization/assetstore/mocks/DocsTopicRepository.go
  components/compass-runtime-agent/internal/synchronization/assetstore/mocks/ResourceInterface.go
  components/compass-runtime-agent/internal/synchronization/assetstore/mocks/Service.go
  components/compass-runtime-agent/internal/synchronization/assetstore/service.go
  components/compass-runtime-agent/internal/synchronization/assetstore/service_test.go
  components/compass-runtime-agent/internal/synchronization/assetstore/upload/client.go
  components/compass-runtime-agent/internal/synchronization/assetstore/upload/client_test.go
  components/compass-runtime-agent/internal/synchronization/assetstore/upload/mocks/Client.go
  components/compass-runtime-agent/internal/synchronization/reconciler.go
  components/compass-runtime-agent/internal/synchronization/service.go
Due: console-integration

Adjust chart
  resources/compass-runtime-agent/templates/deployment.yaml
  resources/compass-runtime-agent/templates/token-config-map.yaml
  resources/compass-runtime-agent/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

enable concurrecy for knative-serving test (#4921)
  CODEOWNERS
  resources/knative-serving/templates/tests/test-serving.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

build binary in container
  tests/kubeless/Dockerfile
Due: kyma-tests-kubeless

update dependencies
  tests/kubeless/Gopkg.lock
Due: kyma-tests-kubeless

Styling
  tests/end-to-end/external-solution-integration/Gopkg.lock
  tests/end-to-end/external-solution-integration/Gopkg.toml
  tests/end-to-end/external-solution-integration/before-commit.sh
  tests/end-to-end/external-solution-integration/cmd/runner/main.go
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
  tests/end-to-end/external-solution-integration/internal/scenario/scenario.go
  tests/end-to-end/external-solution-integration/internal/scenario/send_event_and_check_counter.go
  tests/end-to-end/external-solution-integration/internal/utils.go
  tests/end-to-end/external-solution-integration/pkg/helpers/k8s.go
  tests/end-to-end/external-solution-integration/pkg/helpers/lambda.go
  tests/end-to-end/external-solution-integration/pkg/resourceskit/token_request_client.go
  tests/end-to-end/external-solution-integration/pkg/step/cli.go
  tests/end-to-end/external-solution-integration/pkg/step/step.go
  tests/end-to-end/external-solution-integration/pkg/testkit/connector.go
  tests/end-to-end/external-solution-integration/pkg/testkit/events.go
  tests/end-to-end/external-solution-integration/pkg/testkit/model.go
  tests/end-to-end/external-solution-integration/pkg/testkit/testservice.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/connect_application.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_mapping.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_service_binding.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_service_binding_usage.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_service_instance.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_subscription.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/deploy_lambda.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/send_event.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/sleep.go
Due: none

TestDefinition
  resources/core/templates/tests/rbac-test-e2e-external-solution.yaml
  resources/core/templates/tests/test-e2e-external-solution.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Handle removal of init container logs
  tests/knative-build/knative_build_test.go
Due: none

introduce retry for pre test cleanup
  tests/kubeless/kubeless-tests.go
Due: kyma-tests-kubeless

Add technical review suggestions
  components/helm-broker/README.md
  docs/helm-broker/01-01-helm-broker.md
  docs/helm-broker/02-01-helm-broker.md
  docs/helm-broker/02-02-deep-dive.md
  docs/helm-broker/03-01-create-addons.md
  docs/helm-broker/03-03-create-addons-repo.md
  docs/helm-broker/03-04-fetch-addons-from-https-servers.md
  docs/helm-broker/03-05-addons-validation.md
  docs/helm-broker/03-06-addons-docs.md
  docs/helm-broker/06-01-clusteraddonsconfiguration.md
  docs/helm-broker/06-02-addonsconfiguration.md
  docs/helm-broker/08-01-fetch-remote-addons.md
  docs/helm-broker/assets/cluster-addon.yaml
  docs/helm-broker/assets/namespaced-addon.yaml
Due: console-integration, post-master-kyma-docs-website, kyma-docs

unified minikubeIP handling
  installation/resources/installer-config-local.yaml.tpl
  resources/application-connector/charts/application-registry/templates/deployment.yaml
  resources/application-connector/templates/tests/test-acceptance.yaml
  resources/assetstore/charts/asset-store-controller-manager/templates/statefulset.yaml
  resources/assetstore/templates/tests/test-integration.yaml
  resources/compass/templates/test-compass-end-to-end.yaml
  resources/core/charts/apiserver-proxy/templates/deployment.yaml
  resources/core/charts/apiserver-proxy/templates/tests/test-apiserver-proxy.yaml
  resources/core/charts/console-backend-service/templates/deployment.yaml
  resources/core/charts/iam-kubeconfig-service/templates/deployment.yaml
  resources/core/templates/tests/test-console-backend-service.yaml
  resources/core/templates/tests/test-ui-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix formatting and docs order
  docs/helm-broker/03-04-fetch-addons-from-https-servers.md
  docs/helm-broker/03-05-registration-rules.md
  docs/helm-broker/03-06-addons-validation.md
  docs/helm-broker/03-07-addons-docs.md
Due: post-master-kyma-docs-website, kyma-docs

Fix formatting
  docs/helm-broker/03-04-fetch-addons-from-https-servers.md
Due: post-master-kyma-docs-website, kyma-docs

Fix formatting v.3
  docs/helm-broker/03-04-fetch-addons-from-https-servers.md
Due: post-master-kyma-docs-website, kyma-docs

Fix formatting v.4
  docs/helm-broker/03-04-fetch-addons-from-https-servers.md
Due: post-master-kyma-docs-website, kyma-docs

replace go build by docker build
  tests/kubeless/Makefile
Due: kyma-tests-kubeless

cleanup logging
  tests/kubeless/kubeless-tests.go
Due: kyma-tests-kubeless

remove profiling code
  components/event-bus/cmd/event-bus-publish-knative/main.go
Due: console-integration

unified minikubeIP handling
  installation/resources/installer-config-local.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

move json schema file to the right path
  resources/helm-broker/values.schema.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

fix test
  components/event-bus/internal/knative/util/kn-eventing.go
Due: console-integration

minor fixes
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
Due: console-integration

refactor and syncs fix
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller_test.go
Due: console-integration

Improve general monitoring documentation
  docs/monitoring/01-01-monitoring.md
  docs/monitoring/02-01-monitoring.md
  docs/monitoring/assets/monitoring-architecture.svg
  docs/monitoring/assets/monitoring.png
Due: post-master-kyma-docs-website, kyma-docs

Edit the diagram
  docs/monitoring/assets/monitoring-architecture.svg
Due: post-master-kyma-docs-website, kyma-docs

enable concurrency for the test
  resources/core/charts/kubeless/templates/tests/test-kubeless.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump images to non-pr versions
  resources/helm-broker/values.yaml
  resources/service-catalog-addons/charts/brokers-ui/Chart.yaml
  resources/service-catalog-addons/charts/brokers-ui/values.yaml
  resources/service-catalog-addons/charts/catalog-ui/Chart.yaml
  resources/service-catalog-addons/charts/catalog-ui/values.yaml
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
  resources/service-catalog-addons/charts/instances-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update the Prometheus description
  docs/monitoring/02-01-monitoring.md
Due: post-master-kyma-docs-website, kyma-docs

Fix path
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix path 2
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Reduce number of constants
  tests/end-to-end/external-solution-integration/internal/consts/consts.go
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
  tests/end-to-end/external-solution-integration/pkg/helpers/lambda.go
  tests/end-to-end/external-solution-integration/pkg/testkit/connector.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_application.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_event_activation.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_mapping.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_namespace.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_service_binding.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_service_binding_usage.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_service_instance.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_subscription.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/deploy_lambda.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/register_test_service.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/send_event.go
Due: none

Use official image in charts
  resources/core/templates/tests/test-e2e-external-solution.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

More cleanup
  tests/end-to-end/external-solution-integration/internal/consts/consts.go
  tests/end-to-end/external-solution-integration/internal/example_schema/consts.go
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
  tests/end-to-end/external-solution-integration/internal/scenario/send_event_and_check_counter.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_service_binding_usage.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_subscription.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/register_test_service.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/send_event.go
Due: none

resolve in makefile
  tests/end-to-end/external-solution-integration/Makefile
Due: none

Application Gateway overrides cookies on retry
  components/application-gateway/internal/csrf/strategy/csrf.go
  components/application-gateway/internal/csrf/strategy/csrf_test.go
  components/application-gateway/internal/proxy/proxy_test.go
  components/application-gateway/internal/proxy/unauthorizedresponseretrier_test.go
  components/application-gateway/pkg/httpconsts/httpconsts.go
Due: console-integration

Format
  components/application-gateway/internal/proxy/unauthorizedresponseretrier_test.go
Due: console-integration

Apply suggestions from code review
  docs/backup/01-01-backup.md
  docs/backup/03-02-create-backup.md
  docs/backup/03-03-restore-backup.md
  resources/velero/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs

Improve
  docs/backup/03-02-create-backup.md
Due: post-master-kyma-docs-website, kyma-docs
