Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  prow/kyma/kyma-integration: any of: ^(resources|installation)
  prow/kyma/kyma-gke-integration: any of: ^(resources|installation)

Get kubeless logs (#1498)
  resources/core/charts/kubeless/templates/tests/k8s.yaml
  tests/kubeless-test-client/test-kubeless.go
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Bump the UI tests version (#1467)
  resources/core/templates/tests/test-ui-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Golang version in Dockerfile changed #1458
  tests/connector-service-tests/Dockerfile
Due: none

packages update #1458
  tests/connector-service-tests/Gopkg.lock
Due: none

Bump ui-api-acceptance-tests version (#1511)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update the documentation image (#1496)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Documentation updated #1458
  docs/application-connector/docs/008-details-ac-security.md
Due: none

Updated dependencies #1458
  tests/connector-service-tests/Gopkg.lock
Due: none

Fix usagekind test on ui api (#1342)
  tests/ui-api-layer-acceptance-tests/domain/servicecatalog/usage_kind_test.go
Due: none

Adjust alert rule to monitor all pods in *-system namespace (#1503)
  resources/core/charts/monitoring/charts/alert-rules/templates/unhealthy-pods-rules.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Updated dependencies #1458
  tests/connector-service-tests/Gopkg.toml
Due: none

Documentation update #1458
  components/connector-service/docs/api/connectorapi.yaml
  components/metadata-service/README.md
  docs/application-connector/docs/008-details-ac-security.md
  docs/kyma/docs/050-cr-installation.md
Due: none

Default RE removed from installation scripts #1458
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Getting started for Service Catalog about registering a broker (#1448)
  docs/service-catalog/docs/050-gs-broker-registration.md
Due: none

Integrate Websocket usage for Instances UI (#1454)
  resources/core/charts/service-catalog/charts/catalog-ui/Chart.yaml
  resources/core/charts/service-catalog/charts/instances-ui/Chart.yaml
  resources/core/charts/service-catalog/charts/instances-ui/templates/configmap.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add "Install Kyma with custom Istio deployment" docs (#1509)
  docs/kyma/docs/037-inst-custom-istio.md
  docs/service-mesh/docs/010-istio-patch.md
  docs/service-mesh/docs/100-istio-installation.md
Due: none

Handle 422 error in ui-api (#1449)
  components/ui-api-layer/Gopkg.lock
  components/ui-api-layer/internal/domain/remoteenvironment/pretty/kind.go
  components/ui-api-layer/internal/domain/remoteenvironment/re_resolver.go
  components/ui-api-layer/pkg/gqlerror/errors.go
  components/ui-api-layer/pkg/gqlerror/errors_test.go
Due: prow/components/ui-api-layer, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer

Helm-Broker use multiple repository URLs and refresh bundles every `catalog` call (#1483)
  components/helm-broker/Gopkg.lock
  components/helm-broker/Gopkg.toml
  components/helm-broker/README.md
  components/helm-broker/cmd/broker/main.go
  components/helm-broker/contrib/minimal-config.yaml
  components/helm-broker/internal/broker/automock/catalog_getter.go
  components/helm-broker/internal/broker/automock/syncer.go
  components/helm-broker/internal/broker/bind.go
  components/helm-broker/internal/broker/broker.go
  components/helm-broker/internal/broker/broker_export_test.go
  components/helm-broker/internal/broker/broker_syncer.go
  components/helm-broker/internal/broker/broker_syncer_test.go
  components/helm-broker/internal/broker/catalog.go
  components/helm-broker/internal/broker/catalog_syncer.go
  components/helm-broker/internal/broker/catalog_syncer_test.go
  components/helm-broker/internal/broker/ctx.go
  components/helm-broker/internal/broker/deprovision.go
  components/helm-broker/internal/broker/export_test.go
  components/helm-broker/internal/broker/lastop.go
  components/helm-broker/internal/broker/middleware.go
  components/helm-broker/internal/broker/osbapi_test.go
  components/helm-broker/internal/broker/provision.go
  components/helm-broker/internal/broker/server.go
  components/helm-broker/internal/broker/unbind.go
  components/helm-broker/internal/bundle/automock/provider.go
  components/helm-broker/internal/bundle/local_repository.go
  components/helm-broker/internal/bundle/populator.go
  components/helm-broker/internal/bundle/populator_test.go
  components/helm-broker/internal/bundle/provider.go
  components/helm-broker/internal/bundle/provider_test.go
  components/helm-broker/internal/bundle/syncer.go
  components/helm-broker/internal/bundle/syncer_test.go
  components/helm-broker/internal/bundle/testdata/index.yaml
  components/helm-broker/internal/bundle/testdata/redis-0.0.1.tgz
  components/helm-broker/internal/config/config.go
  components/helm-broker/internal/model.go
  docs/service-brokers/docs/011-configuration-helm-broker.md
Due: none

Update GKE installation guide (#1310)
  docs/kyma/docs/032-inst-gke-installation.md
Due: none

Documentation for microfrontends (#1354)
  docs/Jenkinsfile
  docs/README.md
  docs/console/docs.config.json
  docs/console/docs/001-overview-console.md
  docs/console/docs/010-details-uiextensibility.md
  docs/console/docs/021-cr-microfrontend.md
  docs/console/docs/022-cr-clustermicrofrontend.md
  docs/console/docs/assets/cmf-admin-section.png
  docs/console/docs/assets/cmf-cluster.yaml
  docs/console/docs/assets/cmf-environment.yaml
  docs/console/docs/assets/mf-namespaced.yaml
  docs/console/docs/assets/mf-one-namespace.png
  docs/manifest.yaml
Due: none

Remove dex github connector documentation - duplicate (#1533)
  resources/dex/github.md
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Bump BUC version (#1441)
  docs/service-catalog/docs/012-details-provisioning-and-binding.md
  docs/service-catalog/docs/013-details-unbinding-corner-case.md
  docs/service-catalog/docs/040-cr-service-binding-usage.md
  docs/service-catalog/docs/assets/provisioning-and-binding.html
  docs/service-catalog/docs/assets/provisioning-and-binding.png
  docs/service-catalog/docs/assets/unbinding-corner-case.html
  docs/service-catalog/docs/assets/unbinding-corner-case.png
  docs/service-catalog/docs/assets/unbinding.html
  docs/service-catalog/docs/assets/unbinding.png
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Bump documentation image (#1532)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

K8s Dashboard Proxy component
  components/k8s-dashboard-proxy/.gitignore
  components/k8s-dashboard-proxy/Dockerfile
  components/k8s-dashboard-proxy/Gopkg.toml
  components/k8s-dashboard-proxy/Jenkinsfile
  components/k8s-dashboard-proxy/Makefile
  components/k8s-dashboard-proxy/README.md
  components/k8s-dashboard-proxy/cmd/reverseproxy/reverseproxy.go
  orchestrator.Jenkinsfile
Due: none

Remove installer version arg in kyma-installer pipeline
  kyma-installer/Jenkinsfile
Due: none

Remove installer version arg in kyma-installer pipeline (#1538)
  kyma-installer/Jenkinsfile
Due: none

Fix bugs in charts
  resources/core/requirements.yaml
  resources/core/templates/istio-injection-label.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add retry on error for installer operations
  resources/core/requirements.yaml
  resources/core/templates/istio-injection-label.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update Minio Readme.md
  resources/core/charts/minio/README.md
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Small fix in the alert rules
  resources/core/charts/monitoring/charts/alert-rules/templates/unhealthy-pods-rules.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Add e2e tests for backup and restore with heptio ark
  CODEOWNERS
  tests/backup-restore-e2e/.gitignore
  tests/backup-restore-e2e/Gopkg.lock
  tests/backup-restore-e2e/Gopkg.toml
  tests/backup-restore-e2e/README.md
  tests/backup-restore-e2e/backup_test.go
  tests/backup-restore-e2e/consts/consts.go
  tests/backup-restore-e2e/framework/framework.go
  tests/backup-restore-e2e/framework/main_entry.go
  tests/backup-restore-e2e/main_test.go
  tests/backup-restore-e2e/restore_test.go
  tests/backup-restore-e2e/utils/common.go
  tests/backup-restore-e2e/utils/spec_util.go
  tests/backup-restore-e2e/utils/wait_util.go
Due: none

Update README.md
  resources/README.md
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Update README.md
  README.md
Due: none
