Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Excluding pods
  docs/backup/docs/assets/system-backup.yaml
Due: post-master-kyma-docs-website, kyma-docs

Grant all kyma roles access to testing api group (#4174)
  resources/core/charts/cluster-users/templates/clusterroles-kyma-project-io.yaml
  resources/core/charts/cluster-users/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix broken links (#4149)
  docs/backup/01-01-backup.md
  docs/backup/03-01-backup-configuration.md
  docs/backup/03-02-create-backup.md
  resources/ark/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add event payload schema to EventActivationEvent (#4161)
  components/console-backend-service/internal/domain/application/eventactivation_converter.go
  components/console-backend-service/internal/domain/application/eventactivation_converter_test.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

Extend API calls with headers and query params property - bump (#4144)
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

application gateway benchmark test updates
  tests/perf/README.md
  tests/perf/components/application-gateway/application_gateway.js
  tests/perf/prerequisites/application-gateway/setup.sh
  tests/perf/prerequisites/examples/setup.sh
Due: none

Added Kiali feature to the Istio installation (#4019)
  installation/resources/installer-config-local.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  installation/scripts/minikube.sh
  resources/istio/README.md
  resources/istio/charts/kiali/templates/clusterrole.yaml
  resources/istio/charts/kiali/templates/configmap.yaml
  resources/istio/charts/kiali/templates/destinationrule.yaml
  resources/istio/charts/kiali/templates/secret.yaml
  resources/istio/charts/kiali/templates/virtualservice.yaml
  resources/istio/charts/kiali/values.yaml
  resources/istio/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fixed gopkg lock
  tools/velero-plugins/Gopkg.lock
Due: none

Change ARK references to Velero (#3783)
  docs/backup/assets/all-backup.yaml
  docs/backup/assets/system-backup.yaml
  tests/end-to-end/backup-restore-test/Gopkg.lock
  tests/end-to-end/backup-restore-test/Gopkg.toml
  tests/end-to-end/backup-restore-test/backupe2e/function.go
  tests/end-to-end/backup-restore-test/backupe2e/prometheus.go
  tests/end-to-end/backup-restore-test/backupe2e/statefulset.go
  tests/end-to-end/backup-restore-test/restore_cluster_backup_test.go
  tests/end-to-end/backup-restore-test/utils/backup/backup.go
  tools/ark-plugins/.gitignore
  tools/velero-plugins/.gitignore
  tools/velero-plugins/Dockerfile
  tools/velero-plugins/Gopkg.lock
  tools/velero-plugins/Gopkg.toml
  tools/velero-plugins/Makefile
  tools/velero-plugins/README.md
  tools/velero-plugins/before-commit.sh
  tools/velero-plugins/internal/plugins/owner_reference.go
  tools/velero-plugins/internal/plugins/service_instance.go
  tools/velero-plugins/main.go
Due: post-master-kyma-docs-website, kyma-docs

example scripts updated
  tests/perf/README.md
Due: none

Bump end to end upgrade test (#4133)
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: none

Application Gateway performance test (#4181)
  tests/perf/README.md
  tests/perf/components/application-gateway/application_gateway.js
  tests/perf/prerequisites/application-gateway/setup.sh
  tests/perf/prerequisites/examples/setup.sh
Due: none

Update CODEOWNERS (#4084)
  CODEOWNERS
Due: none

Add support of selective mapping to backend console
  components/console-backend-service/Gopkg.lock
  components/console-backend-service/before-commit.sh
  components/console-backend-service/internal/domain/application/app_resolver.go
  components/console-backend-service/internal/domain/application/app_resolver_test.go
  components/console-backend-service/internal/domain/application/app_service.go
  components/console-backend-service/internal/domain/application/app_service_test.go
  components/console-backend-service/internal/domain/application/application.go
  components/console-backend-service/internal/domain/application/automock/app_svc.go
  components/console-backend-service/internal/domain/application/disabled/resolver.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/applicationmappingservice.go
  components/console-backend-service/internal/gqlschema/applicationmappingservice_test.go
  components/console-backend-service/internal/gqlschema/config.yml
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
Due: console-integration

Remove resource quota and change function code
  tests/perf/prerequisites/serverless/function-size-l.yaml
  tests/perf/prerequisites/serverless/function-size-m.yaml
  tests/perf/prerequisites/serverless/function-size-s.yaml
  tests/perf/prerequisites/serverless/function-size-xl.yaml
  tests/perf/prerequisites/serverless/namespace.yaml
Due: none

Disable size-xl due to missing resources
  tests/perf/prerequisites/serverless/namespace.yaml
  tests/perf/prerequisites/serverless/resource_quota.yaml
  tests/perf/prerequisites/serverless/setup.sh
Due: none

Use combined k6 run file
  tests/perf/components/serverless/api-latency-lambdas-Size-S.js
Due: none

Add specRequestTimeout parameter to configuration and bump image
  resources/application-connector/charts/application-registry/templates/deployment.yaml
  resources/application-connector/charts/application-registry/values.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Small improvements
  components/console-backend-service/internal/domain/k8s/namespace_resolver.go
Due: console-integration

Ensure users.adminGroup is defined
  resources/core/charts/cluster-users/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix test
  components/console-backend-service/internal/domain/k8s/namespace_resolver_test.go
Due: console-integration

Polishing
  tests/perf/components/serverless/api-latency-lambdas-Size-S.js
Due: none

Fine tune doc for eventing (#4145)
  docs/event-bus/02-01-event-bus.md
Due: post-master-kyma-docs-website, kyma-docs

Ensure users.adminGroup is defined
  installation/resources/installer-config-local.yaml.tpl
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Rename function
  tests/perf/components/serverless/api-latency-lambdas-size-l.js
  tests/perf/components/serverless/api-latency-lambdas-size-m.js
  tests/perf/components/serverless/api-latency-lambdas-size-xl.js
  tests/perf/components/serverless/perf-test-serverless.js
Due: none

add a possibility to set CORS settings for virtualservices created by api-controller
  components/api-controller/Gopkg.lock
  components/api-controller/cmd/controller/main.go
  components/api-controller/pkg/apis/networking.istio.io/v1alpha3/types.go
  components/api-controller/pkg/apis/networking.istio.io/v1alpha3/zz_generated.deepcopy.go
  components/api-controller/pkg/controller/authentication/v2/authenticationv2_integration_test.go
  components/api-controller/pkg/controller/authentication/v2/authenticationv2_test.go
  components/api-controller/pkg/controller/networking/v1/networkingv1.go
  components/api-controller/pkg/controller/networking/v1/networkingv1_integration_test.go
  components/api-controller/pkg/controller/networking/v1/networkingv1_test.go
Due: console-integration

revert Gopkg.lock
  components/api-controller/Gopkg.lock
Due: console-integration

revert newer go fmt fixes
  components/api-controller/pkg/controller/authentication/v2/authenticationv2_integration_test.go
  components/api-controller/pkg/controller/authentication/v2/authenticationv2_test.go
Due: console-integration

update values and deployment file
  resources/core/charts/api-controller/templates/deployment.yaml
  resources/core/charts/api-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

bump api-controller image to temporary version
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

update documentation
  components/api-controller/README.md
Due: console-integration

fix values
  resources/core/charts/api-controller/templates/deployment.yaml
  resources/core/charts/api-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

fix values
  resources/core/charts/api-controller/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Template functions using FUNC_DELAY parameter
  tests/perf/prerequisites/serverless/api.yaml
  tests/perf/prerequisites/serverless/function-size-l.yaml
  tests/perf/prerequisites/serverless/function-size-m.yaml
  tests/perf/prerequisites/serverless/function-size-s.yaml
  tests/perf/prerequisites/serverless/function-size-xl.yaml
  tests/perf/prerequisites/serverless/setup.sh
Due: none

Polishing
  tests/perf/components/serverless/perf-test-serverless.js
  tests/perf/prerequisites/serverless/setup.sh
Due: none

Add custom trends
  tests/perf/components/serverless/perf-test-serverless.js
Due: none

Remove todo comment
  tests/perf/components/serverless/perf-test-serverless.js
Due: none

Bump images
  resources/event-bus/charts/publish-knative/templates/deployment.yaml
  resources/event-bus/charts/subscription-controller-knative/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Use new lambda view with filtered logs (#4123)
  resources/core/charts/kubeless/charts/lambdas-ui/values.yaml
  resources/logging/charts/log-ui/templates/cr.yaml
  resources/logging/charts/log-ui/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Ensure users.adminGroup is defined (#4184)
  installation/resources/installer-config-local.yaml.tpl
  resources/core/charts/cluster-users/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector
