Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-asset-store-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

pre-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

post-master-kyma-components-cms-controller-manager:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/test-infra/buildpack-golang-kubebuilder:v20190208-813daef
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

Fix controller
  components/helm-broker/Gopkg.lock
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
Due: console-integration

Add Table Driven Testing in checkSubscriberReceivedEventHeaders function
  tests/event-bus/e2e-tester/e2e-tester.go
Due: none

clean up
  tests/event-bus/e2e-tester/e2e-tester.go
Due: none

fix fmt
  components/application-connectivity-validator/cmd/applicationconnectivityvalidator/options.go
Due: console-integration

v1
  docs/kyma/04-01-overview.md
Due: post-master-kyma-docs-website, kyma-docs

Generate mocks, pass before-commit
  components/helm-broker/Gopkg.lock
  components/helm-broker/Gopkg.toml
  components/helm-broker/config/crds/addons_v1alpha1_addonsconfiguration.yaml
  components/helm-broker/config/crds/addons_v1alpha1_clusteraddonsconfiguration.yaml
  components/helm-broker/internal/broker/broker_syncer.go
  components/helm-broker/internal/broker/broker_syncer_test.go
  components/helm-broker/internal/bundle/docs_provider_test.go
  components/helm-broker/internal/bundle/http_repository.go
  components/helm-broker/internal/controller/addons/addon.go
  components/helm-broker/internal/controller/addons/addon_test.go
  components/helm-broker/internal/controller/addons/repository.go
  components/helm-broker/internal/controller/addons/repository_collection.go
  components/helm-broker/internal/controller/addons/repository_collection_test.go
  components/helm-broker/internal/controller/addons/repository_test.go
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
  components/helm-broker/internal/controller/addonsconfiguration_controller_test.go
  components/helm-broker/internal/controller/automock/broker_facade.go
  components/helm-broker/internal/controller/automock/broker_syncer.go
  components/helm-broker/internal/controller/automock/bundle_provider.go
  components/helm-broker/internal/controller/automock/cluster_broker_facade.go
  components/helm-broker/internal/controller/automock/cluster_broker_syncer.go
  components/helm-broker/internal/controller/automock/cluster_docs_provider.go
  components/helm-broker/internal/controller/automock/docs_provider.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
  components/helm-broker/internal/controller/mocks/Factory.go
  components/helm-broker/internal/controller/protection.go
Due: console-integration

Bump UI-acceptance-tests
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix links in installation overview (#4861)
  docs/kyma/04-01-overview.md
Due: post-master-kyma-docs-website, kyma-docs

renaming
  resources/knative-serving-crds-init/charts/knative-serving-crds-init/templates/delete-crd-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Sanitize admin password on input
  installation/scripts/installer.sh
  resources/core/charts/apiserver-proxy/templates/tests/test-apiserver-proxy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump event-bus, event-service, application-validator, application-operator images
  resources/application-connector/values.yaml
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Apply resource constraints(requests and limits) for dex, iam-kubeconfig-service
  resources/core/charts/iam-kubeconfig-service/templates/deployment.yaml
  resources/core/charts/iam-kubeconfig-service/values.yaml
  resources/dex/templates/dex-deployment.yaml
  resources/dex/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Added Review Comments
  tests/event-bus/e2e-tester/e2e-tester.go
Due: none

Bump event-bus test image to PR-4860
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Apply resource constraints(requests and limits) for api-controller
  resources/core/charts/api-controller/templates/deployment.yaml
  resources/core/charts/api-controller/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update values.yaml
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Apply resource constraints(requests and limits) for apiserver-proxy
  resources/core/charts/apiserver-proxy/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update values.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Implementation of Review Comments #2
  tests/event-bus/e2e-tester/e2e-tester.go
Due: none

Rollback to stable test
  tests/event-bus/e2e-tester/e2e-tester.go
Due: none

Added Review Comments/Fixed-tests
  tests/event-bus/e2e-tester/e2e-tester.go
Due: none

Added Review Comments #4
  tests/event-bus/e2e-tester/e2e-tester.go
Due: none

Bump event-bus, event-service, application-validator, application-operator images (#4848)
  resources/application-connector/values.yaml
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix tests
  tests/event-bus/e2e-tester/e2e-tester.go
Due: none

LookupService refactor
  components/connector-service/cmd/connectorservice/handlers.go
  components/connector-service/cmd/connectorservice/options.go
  components/connector-service/internal/externalapi/middlewares/lookup/lookup.go
  components/connector-service/internal/externalapi/middlewares/lookup/lookup_test.go
  components/connector-service/internal/externalapi/middlewares/lookup/mocks/LookupService.go
  components/connector-service/internal/externalapi/middlewares/lookup/testdata/config.json
  components/connector-service/internal/externalapi/middlewares/runtimeregistry/runtimeregistryservice.go
  components/connector-service/internal/externalapi/middlewares/runtimeregistry/runtimeregistryservice_test.go
  components/connector-service/internal/externalapi/middlewares/runtimeregistry/testdata/config.json
  components/connector-service/internal/externalapi/middlewares/runtimeurls.go
  components/connector-service/internal/externalapi/middlewares/runtimeurls_test.go
  components/connector-service/internal/graphql/service.go
Due: console-integration

Release 1.3-rc2: bump images
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  installation/resources/watch-pods.yaml
  resources/application-connector-helper/values.yaml
  resources/application-connector/values.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/values.yaml
  resources/cms/values.yaml
  resources/compass/values.yaml
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/event-bus/values.yaml
  resources/helm-broker/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/knative-serving/values.yaml
  resources/logging/values.yaml
  resources/monitoring/values.yaml
  resources/nats-streaming/values.yaml
  resources/service-catalog-addons/values.yaml
  resources/velero/values.yaml
  resources/xip-patch/values.yaml
  tests/end-to-end/backup-restore-test/deploy/chart/backup-test/values.yaml
  tests/end-to-end/upgrade/chart/upgrade/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test

Revert "Bump UI-acceptance-tests"
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Allow authorization and content-type headers in api-controller (#4822)
  resources/core/charts/api-controller/values.yaml
  tests/integration/api-controller/apicontroller/component_test.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

moved logging and monitoring tests (#4849)
  CODEOWNERS
  resources/logging/templates/tests/logging.yaml
  resources/logging/values.yaml
  resources/monitoring/templates/tests/test-kube-prometheus.yaml
  resources/monitoring/values.yaml
  tests/integration/logging/Dockerfile
  tests/integration/logging/Gopkg.lock
  tests/integration/logging/Gopkg.toml
  tests/integration/logging/Makefile
  tests/integration/logging/test-logging.go
  tests/integration/logging/testCounterPod.yaml
  tests/integration/monitoring/Dockerfile
  tests/integration/monitoring/Gopkg.lock
  tests/integration/monitoring/Gopkg.toml
  tests/integration/monitoring/Makefile
  tests/integration/monitoring/README.md
  tests/integration/monitoring/test-lambda-dashboard-requirements.go
  tests/integration/monitoring/test-monitoring.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Documentation for fetching spec from secured URL (#4814)
  components/application-registry/README.md
  components/application-registry/docs/api/api.yaml
  docs/application-connector/05-02-application-registry.md
  docs/application-connector/08-03-register-manage-services.md
  docs/application-connector/assets/metadataapi.yaml
Due: console-integration, post-master-kyma-docs-website, kyma-docs

Add Migration Guide for the 1.3 release (#4842)
  docs/migration-guides/1.2-1.3.md
Due: post-master-kyma-docs-website, kyma-docs

Acceptance test for fetching protected apispec (#4779)
  tests/application-gateway-tests/Gopkg.lock
  tests/application-gateway-tests/spec.json
  tests/application-gateway-tests/test/executor/Dockerfile
  tests/application-gateway-tests/test/executor/proxy/mock/applicationserver.go
  tests/application-gateway-tests/test/executor/proxy/mock/basicauthhandler.go
  tests/application-gateway-tests/test/executor/proxy/mock/headershandler.go
  tests/application-gateway-tests/test/executor/proxy/mock/oauthhandler.go
  tests/application-gateway-tests/test/executor/proxy/mock/queryparamshandler.go
  tests/application-gateway-tests/test/executor/proxy/suite.go
  tests/application-gateway-tests/test/executor/proxy/tests/proxy_test.go
  tests/application-gateway-tests/test/executor/testkit/registry/client.go
  tests/application-gateway-tests/test/executor/testkit/registry/model.go
Due: none

Refactor e2e-tester.go for event-bus (#4860)
  tests/event-bus/e2e-tester/e2e-tester.go
Due: none

Fix for flickering application status (#4843)
  components/application-connectivity-validator/README.md
  components/application-connectivity-validator/cmd/applicationconnectivityvalidator/applicationconnectivityvalidator.go
  components/application-connectivity-validator/cmd/applicationconnectivityvalidator/options.go
  components/application-connectivity-validator/internal/externalapi/externalapi.go
  components/application-connectivity-validator/internal/externalapi/healthcheckhandler.go
  components/application-connectivity-validator/internal/externalapi/healthcheckhandler_test.go
  components/application-operator/charts/application/templates/service.yaml
  components/application-operator/charts/application/templates/validator.yaml
  components/application-operator/charts/application/values.yaml
Due: console-integration, kyma-components-application-operator

Bump test-event image to master sha d72e2c1f
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Implement cluster scoper controller
  components/helm-broker/cmd/controller/main.go
  components/helm-broker/internal/controller/addons/repository_collection.go
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
Due: console-integration

Enable concurrency in api-controller tests and apiserver-proxy tests (#4847)
  installation/scripts/installer.sh
  installation/scripts/testing.sh
  resources/core/charts/api-controller/templates/tests/test-api-controller.yaml
  resources/core/charts/apiserver-proxy/templates/tests/test-apiserver-proxy.yaml
  resources/core/values.yaml
  tests/integration/api-controller/apicontroller/component_test.go
  tests/integration/api-controller/apicontroller/fixture.go
  tests/integration/api-controller/apicontroller/integration_test.go
  tests/integration/api-controller/apicontroller/main_test.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
