Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-cms-services, post-master-kyma-components-cms-services, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-helm-broker, post-master-kyma-components-helm-broker, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, pre-master-kyma-components-knative-function-controller, post-master-kyma-components-knative-function-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, kyma-metadata-schema-governance, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-compass-runtime-agent, post-master-kyma-tests-compass-runtime-agent, pre-master-kyma-tests-connector-service-tests, post-master-kyma-tests-connector-service-tests, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration, pre-master-kyma-tests-integration-cluster-users, post-master-kyma-tests-integration-cluster-users, pre-master-kyma-tests-integration-event-service, post-master-kyma-tests-integration-event-service, pre-master-kyma-tests-integration-logging, post-master-kyma-tests-integration-logging, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-cms-services: any of: ^components/cms-services/
  post-master-kyma-components-cms-services: any of: ^components/cms-services/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  post-kyma-components-console-backend-service: any of: ^components/console-backend-service/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  post-master-kyma-components-helm-broker: any of: ^components/helm-broker/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  pre-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  post-master-kyma-components-knative-function-controller: any of: ^components/knative-function-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-gke-compass-integration: any of: ^((resources/compass\S+|resources/compass-runtime-agent\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-integration-with-compass: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  kyma-metadata-schema-governance: any of: ^resources/.*/values.schema.json$
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  post-master-kyma-tests-compass-runtime-agent: any of: ^tests/compass-runtime-agent/
  pre-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  post-master-kyma-tests-connector-service-tests: any of: ^tests/connector-service-tests/
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  pre-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  post-master-kyma-tests-end-to-end-external-solution-integration: any of: ^tests/end-to-end/external-solution-integration/
  pre-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  post-master-kyma-tests-integration-cluster-users: any of: ^tests/integration/cluster-users/
  pre-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  post-master-kyma-tests-integration-event-service: any of: ^tests/integration/event-service/
  pre-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  post-master-kyma-tests-integration-logging: any of: ^tests/integration/logging/
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Fix HTTP 500 in event-bus
  components/event-bus/Gopkg.toml
  components/event-bus/api/push/eventing.kyma-project.io/v1alpha1/types.go
  components/event-bus/cmd/subscription-controller/cmd/manager/main.go
  components/event-bus/internal/knative/subscription/controller/eventactivation/reconcile.go
  components/event-bus/internal/knative/subscription/controller/eventactivation/reconcile_test.go
  components/event-bus/internal/knative/subscription/controller/knativechannel/controller.go
  components/event-bus/internal/knative/subscription/controller/knativechannel/reconcile.go
  components/event-bus/internal/knative/subscription/controller/knativechannel/reconcile_test.go
  components/event-bus/internal/knative/subscription/controller/knativesubscription/controller.go
  components/event-bus/internal/knative/subscription/controller/knativesubscription/reconcile.go
  components/event-bus/internal/knative/subscription/controller/knativesubscription/reconcile_test.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
  components/event-bus/internal/knative/util/kn-subscription-builder.go
  components/event-bus/internal/knative/util/ky-controller.go
  components/event-bus/internal/knative/util/util.go
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
  tests/end-to-end/external-solution-integration/pkg/step/retry.go
  tests/end-to-end/external-solution-integration/pkg/testkit/events.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_subscription.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/deploy_lambda.go
Due: console-integration, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration

Revert back max retry
  tests/application-connector-tests/test/testkit/retry.go
Due: none

Fixes as per the PR review
  components/event-bus/internal/knative/subscription/controller/eventactivation/controller.go
  components/event-bus/internal/knative/subscription/controller/knativechannel/controller.go
  components/event-bus/internal/knative/subscription/controller/knativesubscription/controller.go
  components/event-bus/internal/knative/subscription/controller/subscription/controller.go
  tests/event-bus/e2e-tester/e2e-tester.go
Due: console-integration

Changed a var name
  components/event-bus/internal/knative/subscription/controller/knativesubscription/reconcile_test.go
Due: console-integration

Fix rebase issue
  components/event-bus/internal/knative/util/kn-eventing.go
Due: console-integration

Fine tuned external solution test
  tests/application-connector-tests/test/testkit/retry.go
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
  tests/end-to-end/external-solution-integration/pkg/step/retry.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/check_counter_pod.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/deploy_lambda.go
Due: pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration

restrict prefix length
  components/event-bus/internal/knative/publish/opts/opts.go
  components/event-bus/internal/knative/subscription/opts/opts.go
  components/event-bus/internal/knative/util/kn-eventing.go
Due: console-integration

Revert "Break test to check CI behavoiour"
  components/console-backend-service/internal/domain/k8s/configmap_converter_test.go
Due: console-integration, pre-kyma-components-console-backend-service, post-kyma-components-console-backend-service

Remove 1.15 migration jobs from Application Connector (#5749)
  components/application-operator/charts/application/templates/migration-job-1-5.yaml
  resources/application-connector/charts/application-registry/templates/migration-job-1-5.yaml
  resources/application-connector/charts/connection-token-handler/templates/migration-job-1-5.yaml
  resources/application-connector/charts/connectivity-certs-controller/templates/migration-job-1-5.yaml
  resources/application-connector/charts/connector-service/templates/migration-job-1-5.yaml
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Remove coverage file also when tests fail (#5725)
  common/before-commit.sh
  components/api-controller/before-commit.sh
  components/apiserver-proxy/before-commit.sh
  components/application-broker/before-commit.sh
  components/application-connectivity-certs-setup-job/before-commit.sh
  components/application-connectivity-validator/before-commit.sh
  components/application-gateway/before-commit.sh
  components/application-operator/before-commit.sh
  components/application-registry/before-commit.sh
  components/asset-metadata-service/before-commit.sh
  components/asset-upload-service/before-commit.sh
  components/compass-runtime-agent/before-commit.sh
  components/connection-token-handler/before-commit.sh
  components/connectivity-certs-controller/before-commit.sh
  components/connector-service/before-commit.sh
  components/event-bus/before-commit.sh
  components/event-service/before-commit.sh
  components/iam-kubeconfig-service/before-commit.sh
  components/idppreset/before-commit.sh
  components/k8s-dashboard-proxy/before-commit.sh
  components/kyma-operator/before-commit.sh
  components/namespace-controller/before-commit.sh
  components/service-binding-usage-controller/before-commit.sh
Due: console-integration, kyma-components-application-operator, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service

move gateway hosts with mtls to a separate gateways + remove application-connector-certs
  resources/application-connector/charts/connector-service/templates/gateway.yaml
  resources/application-connector/charts/connector-service/templates/virtualservice-mtls.yaml
  resources/compass/charts/gateway/templates/gateway.yaml
  resources/compass/charts/gateway/templates/virtualservice-mtls.yaml
  resources/compass/values.yaml
  resources/core/charts/gateway/templates/application-connector-certs.yaml
  resources/core/charts/gateway/templates/gateway.yaml
  resources/core/charts/gateway/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

remove mtls certs for compass
  resources/compass/charts/gateway/templates/gateway-certs-mtls.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

remove not used value
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

api-gateway bump
  installation/resources/installer-cr-cluster-runtime.yaml.tpl
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/api-gateway/templates/deployment.yaml
  resources/api-gateway/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update agent configuration job
  resources/compass/templates/agent-configuration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Cleanup
  resources/compass/templates/agent-configuration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix missing tests on CI with go-dep-mk (#5770)
  scripts/go-dep.mk
Due: none

Show Istio config in the acceptnace test (#5668)
  resources/core/templates/tests/rbac.yaml
  resources/core/templates/tests/test.yaml
  resources/core/values.yaml
  tests/acceptance/Gopkg.lock
  tests/acceptance/README.md
  tests/acceptance/application/suite/app_testsuite.go
  tests/acceptance/application/suite/kubernetes.go
  tests/acceptance/application/suite/mapping_testsuite.go
  tests/acceptance/pkg/repeat/repeat.go
  tests/acceptance/servicecatalog/binding_usage_test.go
  tests/acceptance/servicecatalog/helpers_test.go
  tests/acceptance/servicecatalog/istio_test.go
  tests/acceptance/servicecatalog/servicecatalog_test.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Changed config provider to read Config Map directly
  components/compass-runtime-agent/cmd/main.go
  components/compass-runtime-agent/cmd/options.go
  components/compass-runtime-agent/internal/config/mocks/ConfigMapManager.go
  components/compass-runtime-agent/internal/config/provider.go
  components/compass-runtime-agent/internal/config/provider_main_test.go
  components/compass-runtime-agent/internal/config/provider_test.go
Due: console-integration

api-gateway bump
  resources/api-gateway/Chart.yaml
  resources/api-gateway/files/crd-apirules.yaml
  resources/api-gateway/templates/crd-configmap.yaml
  resources/api-gateway/templates/crd-job.yaml
  resources/api-gateway/templates/deployment.yaml
  resources/api-gateway/templates/rbac.yaml
  resources/api-gateway/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Removing knative messaging from scheme
  components/event-bus/internal/knative/subscription/controller/eventactivation/reconcile_test.go
Due: console-integration

Updated charts
  resources/compass-runtime-agent/templates/deployment.yaml
  resources/compass-runtime-agent/templates/role-binding.yaml
  resources/compass-runtime-agent/values.yaml
  resources/compass/templates/agent-configuration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Align with Compass chart
  resources/compass/charts/connector/templates/oathkeeper-rule.yaml
  resources/compass/charts/connector/templates/tests/test-connector.yaml
  resources/compass/charts/connector/values.yaml
  resources/compass/charts/gateway/templates/oathkeeper-rules.yaml
  resources/compass/charts/gateway/templates/virtualservice-secure.yaml
  resources/compass/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump HB image after improving livness probes
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

api-gateway bump
  resources/api-gateway/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fixes as per the PR review
  components/event-bus/cmd/event-publish-service/publisher/publisher.go
  components/event-bus/internal/knative/subscription/controller/knativechannel/reconcile_test.go
  components/event-bus/internal/knative/subscription/controller/knativesubscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
Due: console-integration

update images
  resources/core/values.yaml
  resources/dex/values.yaml
  resources/istio-kyma-patch/values.yaml
  resources/xip-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add @sayanh to external-solution-integration codeowners
  CODEOWNERS
Due: none

GCP broker enabled by default
  docs/helm-broker/01-01-helm-broker.md
  docs/service-catalog/13-01-service-brokers.md
  docs/service-catalog/13-02-gcp-broker.md
  installation/scripts/testing-common.sh
  resources/helm-broker/templates/default-addons-cfg.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix HTTP 500 in event-bus (#5718)
  components/event-bus/Gopkg.toml
  components/event-bus/api/push/eventing.kyma-project.io/v1alpha1/types.go
  components/event-bus/cmd/event-publish-service/publisher/publisher.go
  components/event-bus/cmd/subscription-controller/cmd/manager/main.go
  components/event-bus/internal/knative/subscription/controller/eventactivation/reconcile.go
  components/event-bus/internal/knative/subscription/controller/eventactivation/reconcile_test.go
  components/event-bus/internal/knative/subscription/controller/knativechannel/controller.go
  components/event-bus/internal/knative/subscription/controller/knativechannel/reconcile.go
  components/event-bus/internal/knative/subscription/controller/knativechannel/reconcile_test.go
  components/event-bus/internal/knative/subscription/controller/knativesubscription/controller.go
  components/event-bus/internal/knative/subscription/controller/knativesubscription/reconcile.go
  components/event-bus/internal/knative/subscription/controller/knativesubscription/reconcile_test.go
  components/event-bus/internal/knative/subscription/controller/subscription/controller.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile.go
  components/event-bus/internal/knative/subscription/controller/subscription/reconcile_test.go
  components/event-bus/internal/knative/util/kn-eventing.go
  components/event-bus/internal/knative/util/kn-eventing_test.go
  components/event-bus/internal/knative/util/kn-subscription-builder.go
  components/event-bus/internal/knative/util/ky-controller.go
  components/event-bus/internal/knative/util/util.go
  tests/end-to-end/external-solution-integration/internal/scenario/e2e.go
  tests/end-to-end/external-solution-integration/pkg/step/retry.go
  tests/end-to-end/external-solution-integration/pkg/testkit/events.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/check_counter_pod.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/create_subscription.go
  tests/end-to-end/external-solution-integration/pkg/testsuite/deploy_lambda.go
  tests/event-bus/e2e-tester/e2e-tester.go
Due: console-integration, pre-master-kyma-tests-end-to-end-external-solution-integration, post-master-kyma-tests-end-to-end-external-solution-integration

upgrading event-bus vendor
  tests/event-bus/Gopkg.lock
  tests/event-bus/Gopkg.toml
Due: none

kyma-operator
  tools/kyma-installer/kyma.Dockerfile
Due: none

Removing Santiago
  CODEOWNERS
Due: none

remove required permissions
  resources/core/charts/console/templates/core-microfrontend.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

api-gateway docu...
  components/api-controller/README.md
Due: console-integration

Add post-review fixes
  docs/asset-store/03-04-supported-webhooks.md
Due: post-master-kyma-docs-website, kyma-docs

bump console image
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

replace knative-build with tekton-pipelines
  CODEOWNERS
  installation/resources/installer-cr-cluster-runtime.yaml.tpl
  installation/resources/installer-cr-cluster-with-compass.yaml.tpl
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/function-controller/Chart.yaml
  resources/function-controller/README.md
  resources/tekton-init/Chart.yaml
  resources/tekton-init/OWNERS
  resources/tekton-init/README.md
  resources/tekton-init/templates/crds.yaml
  resources/tekton/Chart.yaml
  resources/tekton/OWNERS
  resources/tekton/README.md
  resources/tekton/requirements.yaml
  resources/tekton/templates/config.yaml
  resources/tekton/templates/controller.yaml
  resources/tekton/templates/policy.yaml
  resources/tekton/templates/rbac.yaml
  resources/tekton/templates/tests/rbac.yaml
  resources/tekton/templates/tests/test.yaml
  resources/tekton/templates/webhook.yaml
  resources/tekton/values.yaml
  tests/knative-build/Gopkg.toml
  tests/knative-build/knative_build_test.go
  tests/tekton-pipelines/Dockerfile
  tests/tekton-pipelines/Gopkg.lock
  tests/tekton-pipelines/Gopkg.toml
  tests/tekton-pipelines/Makefile
  tests/tekton-pipelines/OWNERS
  tests/tekton-pipelines/before-commit.sh
  tests/tekton-pipelines/build.yaml
  tests/tekton-pipelines/rbac.yaml
  tests/tekton-pipelines/tekton-tester.go
  tests/tekton-pipelines/test.yaml
  tests/tekton-pipelines/testpod.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-compass-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

hide tekton-pipelines and serverless-system namespaces in console
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-gke-integration-with-compass, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

upgrading event-bus vendor (#5779)
  tests/event-bus/Gopkg.lock
  tests/event-bus/Gopkg.toml
Due: none
