Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-artifacts-ondemand, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  pre-master-kyma-gke-central-connector: any of: ^(resources|installation)
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Acceptance tests: refactoring
  tests/application-registry-tests/test/testkit/metadata_api_client.go
Due: none

Adjust testing.sh
  installation/scripts/testing.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Namespace-controller tests - roles cleanup (#3477)
  tests/test-namespace-controller/test-namespace-controller.sh
Due: none

After review v2
  docs/backup/docs/assets/all-backup.yaml
  tests/end-to-end/backup-restore-test/Gopkg.lock
  tests/end-to-end/backup-restore-test/Gopkg.toml
  tests/end-to-end/backup-restore-test/Makefile
  tests/end-to-end/backup-restore-test/before-commit.sh
  tests/end-to-end/backup-restore-test/deploy/all-backup.yaml
  tests/end-to-end/backup-restore-test/deploy/system-backup.yaml
  tests/end-to-end/backup-restore-test/utils/backup/backup.go
Due: kyma-docs

Apply naming pattern and length restriction on the event components (#3409)
  resources/cluster-essentials/templates/event-activation.crd.yaml
  resources/cluster-essentials/templates/eventing-subscription.crd.yaml
  resources/event-bus/charts/publish-knative/templates/deployment.yaml
  resources/event-bus/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Acceptance tests: fix
  tests/application-registry-tests/test/testkit/metadata_api_client.go
Due: none

Fixed review comments
  components/event-bus/cmd/event-bus-publish-knative/handlers/publish.go
  components/event-bus/cmd/event-bus-publish-knative/publisher/publisher.go
Due: console-integration

Test case
  components/event-bus/cmd/event-bus-publish-knative/application/application_test.go
Due: console-integration

temp change
  components/event-service/internal/events/api/types.go
Due: console-integration

Rename handler method
  components/asset-store-controller-manager/pkg/controller/asset/asset_controller.go
  components/asset-store-controller-manager/pkg/controller/bucket/bucket_controller.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/clusterasset_controller.go
  components/asset-store-controller-manager/pkg/controller/clusterbucket/clusterbucket_controller.go
  components/asset-store-controller-manager/pkg/handler/asset/asset.go
  components/asset-store-controller-manager/pkg/handler/asset/asset_test.go
  components/asset-store-controller-manager/pkg/handler/bucket/bucket.go
  components/asset-store-controller-manager/pkg/handler/bucket/bucket_test.go
Due: console-integration, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager

Revert event-service Gopkg.lock
  components/event-service/Gopkg.lock
Due: console-integration

Add status and reason to the event service publish response
  components/event-service/internal/events/api/types.go
Due: console-integration

Bump helm-broker image, add develope mode env variable (#3488)
  docs/helm-broker/docs/05-04-configure-hb.md
  installation/resources/installer-config-local.yaml.tpl
  resources/helm-broker/templates/deploy.yaml
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add migration script to Headless CMS for applications registered before 0.9
  resources/assetstore/charts/minio/README.md
  resources/cms/templates/_helper_migrate_to_cms.txt
  resources/cms/templates/_helpers.tpl
  resources/cms/templates/configmap.yaml
  resources/cms/templates/pre-install-migration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Removing not needed env variables
  resources/cms/templates/_helper_migrate_to_cms.txt
  resources/cms/templates/pre-install-migration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Proper auth settings
  resources/cms/templates/pre-install-migration-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Delete main.go
  components/helm-broker/cmd/broker/main.go
Due: console-integration

only helm chart
  components/helm-broker/cmd/broker/main.go
  components/helm-broker/internal/helm/client.go
  components/helm-broker/internal/helm/client_test.go
  components/helm-broker/internal/helm/config.go
Due: console-integration

fix image name
  resources/helm-broker/templates/deploy.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Update 03-03-tiller-tls.md
  docs/security/docs/03-03-tiller-tls.md
Due: kyma-docs

bump helm-broker image version
  resources/helm-broker/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Bump image - Knative docs (#3465)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Implement query, subscription and mutation for secrets (#3312)
  components/console-backend-service/internal/domain/k8s/automock/export.go
  components/console-backend-service/internal/domain/k8s/automock/gql_secret_converter.go
  components/console-backend-service/internal/domain/k8s/automock/secret_svc.go
  components/console-backend-service/internal/domain/k8s/export_test.go
  components/console-backend-service/internal/domain/k8s/k8s.go
  components/console-backend-service/internal/domain/k8s/listener/automock/export.go
  components/console-backend-service/internal/domain/k8s/listener/automock/gql_secret_converter.go
  components/console-backend-service/internal/domain/k8s/listener/secret.go
  components/console-backend-service/internal/domain/k8s/listener/secret_test.go
  components/console-backend-service/internal/domain/k8s/pretty/kind.go
  components/console-backend-service/internal/domain/k8s/secret_converter.go
  components/console-backend-service/internal/domain/k8s/secret_converter_test.go
  components/console-backend-service/internal/domain/k8s/secret_resolver.go
  components/console-backend-service/internal/domain/k8s/secret_resolver_test.go
  components/console-backend-service/internal/domain/k8s/secret_service.go
  components/console-backend-service/internal/domain/k8s/secret_service_test.go
  components/console-backend-service/internal/domain/root_resolver.go
  components/console-backend-service/internal/gqlschema/models_gen.go
  components/console-backend-service/internal/gqlschema/schema.graphql
  components/console-backend-service/internal/gqlschema/schema_gen.go
  tests/console-backend-service/internal/domain/k8s/secret_test.go
Due: console-integration

Fix for Operator Tests
  components/application-registry/internal/metadata/specification/assetstore/docstopicrepository.go
  components/application-registry/internal/metadata/specification/assetstore/docstopicrepository_test.go
Due: console-integration

use real images
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix override value
  resources/application-connector/charts/application-operator/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Improve tests and README.md
  tests/end-to-end/upgrade/README.md
  tests/end-to-end/upgrade/pkg/tests/asset-store/asset.go
  tests/end-to-end/upgrade/pkg/tests/asset-store/clusterasset.go
Due: none

Update 04-03-cluster-installation.md
  docs/kyma/docs/04-03-cluster-installation.md
Due: kyma-docs

some commit
  tests/end-to-end/upgrade/pkg/tests/asset-store/asset.go
Due: none

Update 04-12-local-installation-scripts.md
  docs/kyma/docs/04-12-local-installation-scripts.md
Due: kyma-docs

Fix detecting if Bucket is ready in Asset Store (#3417)
  components/asset-store-controller-manager/README.md
  components/asset-store-controller-manager/config/crds/assetstore_v1alpha2_asset.yaml
  components/asset-store-controller-manager/config/crds/assetstore_v1alpha2_bucket.yaml
  components/asset-store-controller-manager/config/crds/assetstore_v1alpha2_clusterasset.yaml
  components/asset-store-controller-manager/config/crds/assetstore_v1alpha2_clusterbucket.yaml
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/asset_common_types.go
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/asset_types.go
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/bucket_common_types.go
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/bucket_types.go
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/clusterasset_types.go
  components/asset-store-controller-manager/pkg/apis/assetstore/v1alpha2/clusterbucket_types.go
  components/asset-store-controller-manager/pkg/controller/asset/asset_controller.go
  components/asset-store-controller-manager/pkg/controller/asset/asset_controller_suite_test.go
  components/asset-store-controller-manager/pkg/controller/asset/asset_controller_test.go
  components/asset-store-controller-manager/pkg/controller/asset/config.go
  components/asset-store-controller-manager/pkg/controller/bucket/bucket_controller.go
  components/asset-store-controller-manager/pkg/controller/bucket/bucket_controller_suite_test.go
  components/asset-store-controller-manager/pkg/controller/bucket/bucket_controller_test.go
  components/asset-store-controller-manager/pkg/controller/bucket/config.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/clusterasset_controller.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/clusterasset_controller_suite_test.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/clusterasset_controller_test.go
  components/asset-store-controller-manager/pkg/controller/clusterasset/config.go
  components/asset-store-controller-manager/pkg/controller/clusterbucket/clusterbucket_controller.go
  components/asset-store-controller-manager/pkg/controller/clusterbucket/clusterbucket_controller_suite_test.go
  components/asset-store-controller-manager/pkg/controller/clusterbucket/clusterbucket_controller_test.go
  components/asset-store-controller-manager/pkg/controller/clusterbucket/config.go
  components/asset-store-controller-manager/pkg/handler/asset/asset.go
  components/asset-store-controller-manager/pkg/handler/asset/asset_test.go
  components/asset-store-controller-manager/pkg/handler/asset/pretty/reason.go
  components/asset-store-controller-manager/pkg/handler/bucket/bucket.go
  components/asset-store-controller-manager/pkg/handler/bucket/bucket_test.go
  components/asset-store-controller-manager/pkg/handler/bucket/pretty/reason.go
  components/asset-store-controller-manager/pkg/store/automock/store.go
  components/asset-store-controller-manager/pkg/store/store.go
Due: console-integration, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager

Add review fixes
  tests/console-backend-service/internal/configurer/broker.go
  tests/console-backend-service/internal/configurer/namespace.go
  tests/console-backend-service/internal/configurer/testbundle.go
  tests/console-backend-service/internal/domain/servicecatalog/servicecatalog_test.go
  tests/console-backend-service/internal/domain/servicecatalogaddons/servicecatalogaddons_test.go
  tests/console-backend-service/internal/exit/exit.go
  tests/console-backend-service/tester.go
Due: none

fix for promtail pod health check
  resources/logging/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Add monitoring to console component
  resources/core/charts/console/templates/deployment.yaml
  resources/core/charts/console/templates/service.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix bool value
  resources/application-connector/charts/application-operator/templates/tests/test-acceptance.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix bool value
  resources/application-connector/charts/application-operator/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

image bump - PR-3398
  resources/cms/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Event-bus tests on Knative (#3411)
  installation/scripts/testing.sh
  tests/event-bus/Gopkg.lock
  tests/event-bus/Gopkg.toml
  tests/event-bus/e2e-tester/e2e-tester.go
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector
