Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager, prow/kyma/components/binding-usage-controller, pre-master-kyma-components-cms-controller-manager, post-master-kyma-components-cms-controller-manager, pre-master-kyma-components-connectivity-certs-controller, post-master-kyma-components-connectivity-certs-controller, pre-master-kyma-components-dex-static-user-configurer, post-master-kyma-components-dex-static-user-configurer, pre-master-kyma-components-iam-kubeconfig-service, post-master-kyma-components-iam-kubeconfig-service, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, post-master-kyma-docs-website, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector, pre-master-kyma-backup-test, pre-master-kyma-artifacts-ondemand, pre-master-kyma-tests-integration-dex, post-master-kyma-tests-integration-dex, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, pre-master-kyma-tools-gcp-broker-provider, post-master-kyma-tools-gcp-broker-provider, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  pre-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  post-master-kyma-components-asset-store-controller-manager: any of: ^components/asset-store-controller-manager/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  pre-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  post-master-kyma-components-cms-controller-manager: any of: ^components/cms-controller-manager/
  pre-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  post-master-kyma-components-connectivity-certs-controller: any of: ^components/connectivity-certs-controller/
  pre-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  post-master-kyma-components-dex-static-user-configurer: any of: ^components/dex-static-user-configurer/
  pre-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  post-master-kyma-components-iam-kubeconfig-service: any of: ^components/iam-kubeconfig-service/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  post-master-kyma-docs-website: any of: ^docs/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-minio-gateway: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-minio-gateway-migration: any of: ^(resources\/assetstore|installation)
  pre-master-kyma-gke-integration: any of: ^((resources\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-upgrade: any of: ^((resources\S+|installation\S+|tests/end-to-end/upgrade/chart/upgrade/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-gke-central-connector: any of: ^((resources/application-connector\S+|installation\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-backup-test: any of: ^((tests/end-to-end/backup-restore-test/deploy/chart/backup-test/\S+)(\.[^.][^.][^.]+$|\.[^.][^dD]$|\.[^mM][^.]$|\.[^.]$|/[^.]+$))
  pre-master-kyma-artifacts-ondemand: any of: ^tools/watch-pods
  pre-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  post-master-kyma-tests-integration-dex: any of: ^tests/integration/dex
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  pre-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  post-master-kyma-tools-gcp-broker-provider: any of: ^tools/gcp-broker-provider/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Check also ParamsSecret in the acceptance tests
  tests/application-registry-tests/test/k8stests/k8sresource_test.go
  tests/application-registry-tests/test/testkit/k8sresources_check.go
  tests/application-registry-tests/test/testkit/model.go
Due: none

Add params secrets check
  tests/application-registry-tests/test/k8stests/k8sresource_test.go
  tests/application-registry-tests/test/testkit/k8sresources_check.go
Due: none

Delete getting not existing application in the test
  tests/application-registry-tests/test/k8stests/k8sresource_test.go
Due: none

Update images
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Fix error in edit namespace modal
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Lets try again
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/knative-serving-crds-init/Chart.yaml
  resources/knative-serving-crds-init/README.md
  resources/knative-serving-crds-init/charts/knative-serving-crds/Chart.yaml
  resources/knative-serving-crds-init/charts/knative-serving-crds/templates/delete-crd-job.yaml
  resources/knative-serving-crds-init/templates/dummy.yaml
  resources/knative-serving-crds/charts/knative-serving-crds/templates/serving.yaml
  resources/knative-serving-crds/requirements.yaml
  resources/knative-serving/requirements.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Split the provider impl in helm-broker, add kind errors
  components/helm-broker/.gitignore
  components/helm-broker/internal/bundle/errors.go
  components/helm-broker/internal/bundle/errors_test.go
  components/helm-broker/internal/bundle/populator.go
  components/helm-broker/internal/bundle/populator_dto_test.go
  components/helm-broker/internal/bundle/provider.go
  components/helm-broker/internal/bundle/repository_config.go
  components/helm-broker/pkg/apis/addons/v1alpha1/reason.go
Due: console-integration

Dep ensure
  components/application-registry/Gopkg.lock
Due: console-integration

Split the provider impl in helm-broker, add kind errors (#4817)
  components/helm-broker/.gitignore
  components/helm-broker/internal/bundle/errors.go
  components/helm-broker/internal/bundle/errors_test.go
  components/helm-broker/internal/bundle/populator.go
  components/helm-broker/internal/bundle/populator_dto_test.go
  components/helm-broker/internal/bundle/provider.go
  components/helm-broker/internal/bundle/repository_config.go
  components/helm-broker/pkg/apis/addons/v1alpha1/reason.go
Due: console-integration

Ch#1
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
Due: console-integration

Add (Cluster)AddonsConfiguration controllers
  components/helm-broker/Gopkg.lock
  components/helm-broker/Gopkg.toml
  components/helm-broker/cmd/controller/main.go
  components/helm-broker/internal/broker/provision_export_test.go
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
  components/helm-broker/internal/controller/bundle/bundle_provider.go
  components/helm-broker/internal/controller/bundle/errors.go
  components/helm-broker/internal/controller/bundle/form.go
  components/helm-broker/internal/controller/bundle/form_test.go
  components/helm-broker/internal/controller/bundle/http_client.go
  components/helm-broker/internal/controller/bundle/http_client_test.go
  components/helm-broker/internal/controller/bundle/loader.go
  components/helm-broker/internal/controller/bundle/loader_test.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
  components/helm-broker/internal/controller/repository/addon.go
  components/helm-broker/internal/controller/repository/repository.go
  components/helm-broker/internal/controller/repository/repository_collection.go
  components/helm-broker/pkg/apis/addons/v1alpha1/common.go
  components/helm-broker/pkg/apis/addons/v1alpha1/common_test.go
  components/helm-broker/pkg/apis/addons/v1alpha1/types.go
  components/helm-broker/pkg/apis/apis.go
Due: console-integration

Handle ServiceBrokers and create config
  components/helm-broker/.gitignore
  components/helm-broker/before-commit.sh
  components/helm-broker/cmd/broker/main.go
  components/helm-broker/cmd/controller/main.go
  components/helm-broker/internal/broker/broker_facade.go
  components/helm-broker/internal/broker/broker_syncer.go
  components/helm-broker/internal/broker/cluster_broker_facade.go
  components/helm-broker/internal/controller/bundle/bundle_provider.go
  components/helm-broker/internal/controller/bundle/loader.go
  components/helm-broker/internal/controller/config/config.go
Due: console-integration

Ch#2
  components/helm-broker/cmd/controller/main.go
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
  components/helm-broker/internal/controller/bundle/bundle_provider.go
  components/helm-broker/internal/controller/bundle/http_client.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
  components/helm-broker/internal/controller/config/config.go
  components/helm-broker/internal/controller/repository/addon.go
  components/helm-broker/internal/controller/repository/repository.go
  components/helm-broker/internal/controller/repository/repository_collection.go
Due: console-integration

fix
  components/helm-broker/Gopkg.lock
  components/helm-broker/cmd/controller/main.go
  components/helm-broker/internal/broker/broker_facade.go
  components/helm-broker/internal/broker/cluster_broker_facade.go
  components/helm-broker/internal/bundle/repository_controller.go
  components/helm-broker/internal/controller/addonsconfiguration_controller.go
  components/helm-broker/internal/controller/clusteraddonsconfiguration_controller.go
Due: console-integration

Acceptance test for fetching protected apispec (#4779)
  resources/application-connector/values.yaml
  tests/application-gateway-tests/Gopkg.lock
  tests/application-gateway-tests/spec.json
  tests/application-gateway-tests/test/executor/Dockerfile
  tests/application-gateway-tests/test/executor/proxy/mock/applicationserver.go
  tests/application-gateway-tests/test/executor/proxy/mock/basicauthhandler.go
  tests/application-gateway-tests/test/executor/proxy/mock/headershandler.go
  tests/application-gateway-tests/test/executor/proxy/mock/oauthhandler.go
  tests/application-gateway-tests/test/executor/proxy/mock/queryparamshandler.go
  tests/application-gateway-tests/test/executor/proxy/suite.go
  tests/application-gateway-tests/test/executor/proxy/tests/proxy_test.go
  tests/application-gateway-tests/test/executor/testkit/registry/client.go
  tests/application-gateway-tests/test/executor/testkit/registry/model.go
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, pre-master-kyma-gke-central-connector

Revert image for octopus
  resources/testing/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Renaming
  resources/knative-serving-crds-init/Chart.yaml
  resources/knative-serving-crds-init/charts/knative-serving-crds-init/Chart.yaml
  resources/knative-serving-crds-init/charts/knative-serving-crds-init/templates/delete-crd-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add missing change to cluster-users tests (#4821)
  resources/core/values.yaml
  tests/integration/cluster-users/sar-test.sh
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix error in edit namespace modal (#4825)
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Filter package during unpack in Asset Store
  components/asset-store-controller-manager/pkg/loader/package_loader.go
Due: console-integration, pre-master-kyma-components-asset-store-controller-manager, post-master-kyma-components-asset-store-controller-manager

Bump
  resources/assetstore/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-minio-gateway, pre-master-kyma-gke-minio-gateway-migration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Extend cors headers list
  components/apiserver-proxy/cmd/proxy/main.go
Due: console-integration

bump image
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Delete pre-upgrade-job.yaml
  resources/helm-broker/templates/pre-upgrade-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix rbac
  resources/knative-serving-crds-init/charts/knative-serving-crds-init/templates/delete-crd-job.yaml
  resources/knative-serving-crds-init/templates/dummy.yaml
  resources/knative-serving-crds/templates/dummy.yaml
  resources/knative-serving/requirements.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix before-commit, format code
  components/application-registry/before-commit.sh
  components/application-registry/internal/metadata/accessservice/accessservicemanager.go
  components/application-registry/internal/metadata/accessservice/accessservicemanager_test.go
  components/application-registry/internal/metadata/istio/repository.go
  components/application-registry/internal/metadata/istio/repository_test.go
  components/application-registry/internal/metadata/secrets/repository.go
  components/application-registry/internal/metadata/secrets/service_test.go
  components/application-registry/internal/metadata/serviceapi/serviceapiservice_test.go
  components/application-registry/internal/metadata/servicedefservice.go
  components/application-registry/internal/metadata/servicedefservice_test.go
Due: console-integration

Adjust test to match new headers
  tests/integration/api-controller/apicontroller/component_test.go
Due: none

Bump Kyma-operator image
  tools/kyma-installer/kyma.Dockerfile
Due: none

Fix
  tests/integration/api-controller/apicontroller/component_test.go
Due: none

Fix typo
  tests/integration/api-controller/apicontroller/component_test.go
Due: none

Fix some review issues
  components/application-registry/cmd/applicationregistry/handlers.go
  components/application-registry/internal/k8sconsts/k8sconsts.go
  components/application-registry/internal/metadata/servicedefservice.go
  tests/application-registry-tests/test/k8stests/k8sresource_test.go
  tests/application-registry-tests/test/testkit/k8sresources_check.go
  tests/application-registry-tests/test/testkit/util.go
Due: console-integration

Bump Kyma-operator image (#4833)
  tools/kyma-installer/kyma.Dockerfile
Due: none

Fix review issues
  components/application-registry/internal/k8sconsts/k8sconsts.go
  components/application-registry/internal/k8sconsts/util.go
  components/application-registry/internal/metadata/accessservice/accessservicemanager.go
  components/application-registry/internal/metadata/accessservice/accessservicemanager_test.go
  components/application-registry/internal/metadata/istio/repository.go
  components/application-registry/internal/metadata/istio/repository_test.go
  components/application-registry/internal/metadata/secrets/repository.go
  components/application-registry/internal/metadata/servicedefservice_test.go
  tests/application-registry-tests/test/k8stests/k8sresource_test.go
Due: console-integration

External API for the validator
  components/application-connectivity-validator/README.md
  components/application-connectivity-validator/cmd/applicationconnectivityvalidator/applicationconnectivityvalidator.go
  components/application-connectivity-validator/cmd/applicationconnectivityvalidator/options.go
  components/application-connectivity-validator/internal/externalapi/externalapi.go
  components/application-connectivity-validator/internal/externalapi/healthcheckhandler.go
  components/application-connectivity-validator/internal/externalapi/healthcheckhandler_test.go
Due: console-integration

Update deployment args and services for the validator
  components/application-operator/charts/application/templates/validator.yaml
  components/application-operator/charts/application/values.yaml
Due: console-integration, kyma-components-application-operator

Add test for creating service when getting UID fails
  components/application-registry/internal/metadata/servicedefservice_test.go
Due: console-integration

Update components/application-registry/docs/api/api.yaml
  components/application-registry/docs/api/api.yaml
Due: console-integration

Update docs/application-connector/assets/metadataapi.yaml
  docs/application-connector/assets/metadataapi.yaml
Due: post-master-kyma-docs-website, kyma-docs

TargetURL added to examples
  docs/application-connector/08-03-register-manage-services.md
Due: post-master-kyma-docs-website, kyma-docs
