Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-components-ui-api-layer:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-docs:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-and-start-kyma.sh
      resources:
        requests:
          memory: 100Mi
          cpu: 50m
  labels:
  ...

testing
  tests/acceptance/dex/idtokenprovider.go
  tests/ui-api-layer-acceptance-tests/internal/graphql/idtokenprovider.go
Due: none

fix dex tests
  tests/acceptance/dex/idtokenprovider.go
  tests/ui-api-layer-acceptance-tests/internal/graphql/idtokenprovider.go
Due: none

remove PR versions from values.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Check if api is in capabilities
  resources/core/charts/apiserver-proxy/templates/hpa.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix test for multi dex providers (#2457)
  tests/acceptance/Gopkg.lock
  tests/acceptance/dex/idtokenprovider.go
  tests/ui-api-layer-acceptance-tests/Gopkg.lock
  tests/ui-api-layer-acceptance-tests/internal/graphql/idtokenprovider.go
Due: none

Bump version of acceptance tests and ui-api-layer-acceptance-tests
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add gql pod subscription
  components/ui-api-layer/internal/domain/k8s/automock/pod_svc.go
  components/ui-api-layer/internal/domain/k8s/listener/automock/export.go
  components/ui-api-layer/internal/domain/k8s/listener/automock/gql_pod_converter.go
  components/ui-api-layer/internal/domain/k8s/listener/pod.go
  components/ui-api-layer/internal/domain/k8s/listener/pod_test.go
  components/ui-api-layer/internal/domain/k8s/pod_resolver.go
  components/ui-api-layer/internal/domain/k8s/pod_resolver_test.go
  components/ui-api-layer/internal/domain/k8s/pod_service.go
  components/ui-api-layer/internal/domain/k8s/pod_service_test.go
  components/ui-api-layer/internal/domain/root_resolver.go
  components/ui-api-layer/internal/gqlschema/models_gen.go
  components/ui-api-layer/internal/gqlschema/schema.graphql
  components/ui-api-layer/internal/gqlschema/schema_gen.go
  tests/ui-api-layer-acceptance-tests/internal/domain/k8s/pod_test.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

adapt patch
  components/istio-kyma-patch/patch.sh
  resources/istio-kyma-patch/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add nats-streamin to the table of components
  docs/kyma/docs/04-01-overview.md
Due: kyma-docs

fix
  resources/istio-kyma-patch/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump ui api layer and acceptance tests images
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add nats-streamin to the table of components (#2497)
  docs/kyma/docs/04-01-overview.md
Due: kyma-docs

Apply review comments
  docs/kyma/docs/04-04-gke-installation.md
  docs/kyma/docs/04-05-aks-installation.md
  docs/kyma/docs/04-06-gke-xip.io-domain.md
  docs/kyma/docs/04-07-aks-xip.io-domain.md
Due: kyma-docs

Upgrade minikube and K8S version (#2346)
  docs/kyma/docs/04-02-local-installation-from-release.md
  docs/kyma/docs/04-04-gke-installation.md
  installation/scripts/is-ready.ps1
  installation/scripts/minikube.ps1
  installation/scripts/minikube.sh
  installation/scripts/prow/kyma-integration-on-debian/install-deps-debian.sh
Due: kyma-integration, kyma-gke-integration, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update milv.config.yaml
  milv.config.yaml
Due: none

Remove old installer version
  docs/kyma/docs/04-04-gke-installation.md
  docs/kyma/docs/04-05-aks-installation.md
  docs/kyma/docs/04-06-gke-xip.io-domain.md
  docs/kyma/docs/04-07-aks-xip.io-domain.md
Due: kyma-docs

Bump version of acceptance tests and ui-api-layer-acceptance-tests (#2494)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix Azure Broker class docs
  docs/service-brokers/azure-broker-service-classes/azure-eventhubs/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-textanalytics/docs/plans-details.md
  docs/service-brokers/helm-broker-service-classes/azure-broker/docs/plans-details.md
Due: kyma-docs

Updated docs and readme
  components/connector-service/README.md
  docs/application-connector/docs/02-02-connector-service.md
Due: console-integration, kyma-docs

fix
  components/istio-kyma-patch/patch.sh
  resources/istio-kyma-patch/templates/configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix Azure Broker class docs (#2506)
  docs/service-brokers/azure-broker-service-classes/azure-eventhubs/docs.config.json
  docs/service-brokers/azure-broker-service-classes/azure-textanalytics/docs/plans-details.md
  docs/service-brokers/helm-broker-service-classes/azure-broker/docs/plans-details.md
Due: kyma-docs

link fix
  docs/kyma/docs/04-01-overview.md
Due: kyma-docs

Add option for providing admin password in Windows OS
  installation/cmd/run.ps1
  installation/scripts/generate-local-config.ps1
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

link fix (#2509)
  docs/kyma/docs/04-01-overview.md
Due: kyma-docs

Change hpa manifest name, clean deployment
  resources/core/charts/apiserver-proxy/templates/autoscale.yaml
  resources/core/charts/apiserver-proxy/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Added replace section
  docs/application-connector/docs/02-01-application-connector.md
  docs/application-connector/docs/08-04-register-secured-api.md
Due: kyma-docs

improve handling user info related errors in authn package
  components/ui-api-layer/internal/authn/middleware.go
  components/ui-api-layer/internal/authz/rbac.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

remove obsolete documentation from ui-api chart
  resources/core/charts/ui-api/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Remove Resource Quotas from system namespaces
  installation/resources/installer-local.yaml
  installation/resources/installer.yaml
  resources/application-connector/templates/resource-quotas.yaml
  resources/cluster-essentials/templates/resource-quotas.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix kyma-integration via mock
  tests/end-to-end/external-solution-integration/e2e_test.go
  tests/end-to-end/external-solution-integration/testkit/mock_app_client.go
  tests/end-to-end/external-solution-integration/testkit/token_request_client.go
Due: none

Resize screenshot so that it displays well on UI
  docs/service-catalog/docs/assets/instances.png
Due: kyma-docs

Bump docs version
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add lambda client WIP
  tests/end-to-end/external-solution-integration/Gopkg.lock
  tests/end-to-end/external-solution-integration/testkit/lambda_client.go
Due: none

remove blank lines as suggested in review
  components/ui-api-layer/internal/authz/auth.go
  tests/ui-api-layer-acceptance-tests/internal/graphql/client.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

revert explicitly ignoring error in call to flag.Set
  components/ui-api-layer/main.go
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

bug fixed, promtail can not access local files
  resources/logging/templates/loki/deployment.yaml
  resources/logging/templates/loki/policy.yaml
  resources/logging/templates/loki/service.yaml
  resources/logging/templates/promtail/daemonset.yaml
  resources/logging/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

test updated after some bug fixes
  tests/logging/test-logging.go
Due: none

Create hpa for apiserver-proxy, first draft (#2464)
  resources/core/charts/apiserver-proxy/templates/autoscale.yaml
  resources/core/charts/apiserver-proxy/templates/deployment.yaml
  resources/core/charts/apiserver-proxy/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
