Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, kyma-components-application-operator, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, kyma-docs, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade, kyma-tests-kubeless-integration, kyma-tests-kubeless, pre-master-kyma-tools-etcd-tls-setup, post-master-kyma-tools-etcd-tls-setup, pre-master-kyma-tools-failery, post-master-kyma-tools-failery, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

prow/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/snapshot/test/integration:0.0.1

kyma-gke-integration:
  optional: true
  labels:
    preset-compute-service-account: 'true'
  spec:
    containers:
    - image: alpine
      command:
      - /bin/echo
      args:
      - starting fake gke test integration job

console-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-node:v20181130-b28250b
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-components-application-operator:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

prow/kyma/components/binding-usage-controller:
  decorate: true
  labels:
    preset-dind-enabled: 'true'
    preset-sa-gcr-push: 'true'
    preset-docker-push-repository: 'true'
    preset-build-pr: 'true'
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/buildpack-golang:0.0.1
      securityContext:
        privileged: true
      command:
  ...

prow/kyma/components/ui-api-layer/tests:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma/components/ui-api-layer:
  optional: true
  spec:
    containers:
    - image: alpine
      command:
      - /bin/printenv

kyma-components-ui-api-layer:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

kyma-docs:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/test-infra/buildpack-golang:v20181119-afd3fbd
      securityContext:
        privileged: true
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/build.sh
      args:
  ...

pre-master-kyma-integration:
  decorate: true
  spec:
    containers:
    - image: eu.gcr.io/kyma-project/prow/bootstrap:0.0.1
      command:
      - /home/prow/go/src/github.com/kyma-project/test-infra/prow/scripts/provision-vm-and-start-kyma.sh
      resources:
        requests:
          memory: 100Mi
          cpu: 50m
  labels:
  ...

Fix tests
  tests/api-controller-acceptance-tests/apicontroller/component_test.go
Due: none

ingress fix
  resources/application-connector/charts/connector-service/templates/ingress.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix stability checker notifier template
  tools/stability-checker/internal/notifier/templates.go
Due: none

Remove the duplicated file and fix numeration
  docs/service-catalog/docs/03-02-add-service-to-the-catalog.md
  docs/service-catalog/docs/03-02-provisioning-and-binding.md
  docs/service-catalog/docs/03-03-backup-and-restore.md
Due: kyma-docs

Fix stability checker notifier template (#2669)
  tools/stability-checker/internal/notifier/templates.go
Due: none

Fix the link
  components/helm-broker/README.md
Due: console-integration

Add further asset store configuration (#2665)
  resources/core/charts/docs/charts/documentation/templates/docs-job.yaml
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fixes
  components/assetstore-controller-manager/pkg/assethook/webhook.go
  components/assetstore-controller-manager/pkg/cleaner/cleaner.go
  components/assetstore-controller-manager/pkg/controller/asset/asset_controller.go
  components/assetstore-controller-manager/pkg/controller/asset/asset_controller_test.go
  components/assetstore-controller-manager/pkg/controller/asset/asset_pending.go
  components/assetstore-controller-manager/pkg/controller/asset/asset_reason.go
  components/assetstore-controller-manager/pkg/controller/asset/bucket/fake/informer.go
  components/assetstore-controller-manager/pkg/controller/asset/webhook/mutation_webhook.go
  components/assetstore-controller-manager/pkg/controller/asset/webhook/validation_webhook.go
  components/assetstore-controller-manager/pkg/controller/bucket/bucket_controller.go
  components/assetstore-controller-manager/pkg/errorsPkg/errors.go
  components/assetstore-controller-manager/pkg/loader/package_loader.go
Due: console-integration

Update chart
  resources/assetstore/README.md
  resources/assetstore/charts/assetstore-controller-manager/README.md
  resources/assetstore/charts/assetstore-controller-manager/templates/statefulset.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix readme
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Cleanup minio chart
  resources/assetstore/charts/minio/templates/deployment.yaml
  resources/assetstore/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Image pull policy
  resources/assetstore/charts/assetstore-controller-manager/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Change deployment strategy
  installation/resources/installer-config-local.yaml.tpl
  resources/assetstore/charts/minio/templates/deployment.yaml
  resources/assetstore/charts/minio/values.yaml
  resources/assetstore/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update readme
  resources/assetstore/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update minio chart
  resources/assetstore/charts/minio/README-old.md
  resources/assetstore/charts/minio/templates/NOTES.txt
  resources/assetstore/charts/minio/templates/content-upload-configmap.yaml
  resources/assetstore/charts/minio/templates/deployment.yaml
  resources/assetstore/charts/minio/templates/secrets.yaml
  resources/assetstore/charts/minio/values.yaml
  resources/assetstore/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix buckets job
  resources/assetstore/charts/minio/templates/post-install-create-bucket-job.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Asset store chart
  installation/scripts/minikube.sh
  resources/assetstore/charts/assetstore-controller-manager/.helmignore
  resources/assetstore/charts/assetstore-controller-manager/Chart.yaml
  resources/assetstore/charts/assetstore-controller-manager/templates/_helpers.tpl
  resources/assetstore/charts/assetstore-controller-manager/templates/cluster-role-binding.yaml
  resources/assetstore/charts/assetstore-controller-manager/templates/cluster-role.yaml
  resources/assetstore/charts/assetstore-controller-manager/templates/service-account.yaml
  resources/assetstore/charts/assetstore-controller-manager/templates/service.yaml
  resources/assetstore/charts/assetstore-controller-manager/templates/statefulset.yaml
  resources/assetstore/charts/assetstore-controller-manager/values.yaml
  resources/assetstore/charts/minio/templates/content-upload-configmap.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add Asset Store chart
  CODEOWNERS
  installation/resources/installer-config-local.yaml.tpl
  installation/resources/installer-cr-cluster-xip-io.yaml.tpl
  installation/resources/installer-cr-cluster.yaml.tpl
  installation/resources/installer-cr.yaml.tpl
  resources/application-connector/charts/application-registry/values.yaml
  resources/assetstore/.helmignore
  resources/assetstore/Chart.yaml
  resources/assetstore/README.md
  resources/assetstore/charts/minio/Chart.yaml
  resources/assetstore/charts/minio/README-old.md
  resources/assetstore/charts/minio/README.md
  resources/assetstore/charts/minio/templates/NOTES.txt
  resources/assetstore/charts/minio/templates/_helper_create_bucket.txt
  resources/assetstore/charts/minio/templates/_helpers.tpl
  resources/assetstore/charts/minio/templates/configmap.yaml
  resources/assetstore/charts/minio/templates/content-upload-configmap.yaml
  resources/assetstore/charts/minio/templates/content-upload-podpreset.yaml
  resources/assetstore/charts/minio/templates/deployment.yaml
  resources/assetstore/charts/minio/templates/ingress.yaml
  resources/assetstore/charts/minio/templates/networkpolicy.yaml
  resources/assetstore/charts/minio/templates/post-install-create-bucket-job.yaml
  resources/assetstore/charts/minio/templates/pvc.yaml
  resources/assetstore/charts/minio/templates/secrets.yaml
  resources/assetstore/charts/minio/templates/service.yaml
  resources/assetstore/charts/minio/templates/statefulset.yaml
  resources/assetstore/charts/minio/templates/virtualservice.yaml
  resources/assetstore/charts/minio/values.yaml
  resources/assetstore/requirements.yaml
  resources/assetstore/templates/backendmodule.yaml
  resources/assetstore/values.yaml
  resources/cluster-essentials/templates/asset.crd.yaml
  resources/cluster-essentials/templates/bucket.crd.yaml
  resources/core/charts/minio/templates/backendmodule.yaml
  resources/core/charts/minio/templates/configmap.yaml
  resources/core/charts/ui-api/templates/deployment.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Revert minikube
  installation/scripts/minikube.sh
Due: kyma-integration, kyma-gke-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Policy
  resources/assetstore/charts/assetstore-controller-manager/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Readme fix and revert minikube change
  installation/scripts/minikube.sh
  resources/assetstore/charts/assetstore-controller-manager/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Update asset chart
  resources/assetstore/charts/assetstore-controller-manager/templates/service.yaml
  resources/assetstore/charts/assetstore-controller-manager/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Upgrade GQLGen
  components/ui-api-layer/Gopkg.lock
  components/ui-api-layer/Gopkg.toml
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

Bump stability checker image
  tools/stability-checker/deploy/chart/stability-checker/values.yaml
Due: none

Bump stability checker image (#2671)
  tools/stability-checker/deploy/chart/stability-checker/values.yaml
Due: none

bump console image
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Add REST API monitoring dashboard (#2652)
  resources/monitoring/charts/alert-rules/templates/alert-rules-rest-services-configmap.yaml
  resources/monitoring/charts/alert-rules/templates/rest-services-alert-rules.yaml
  resources/monitoring/charts/grafana/dashboards/rest-service.json
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump the acceptance_tests img (#2636)
  resources/core/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

add guidelines on how to choose the right verb
  components/ui-api-layer/docs/security.md
Due: prow/components/ui-api-layer, console-integration, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer

remove Envoy filters, lua scripts and AuthnPolicy
  resources/core/charts/ui-api/scripts/filter.lua
  resources/core/charts/ui-api/scripts/filter_testcase.lua
  resources/core/charts/ui-api/templates/authentication.yaml
  resources/core/charts/ui-api/templates/envoy-filter-graphql-resources-to-header.yaml
  resources/core/charts/ui-api/templates/envoy-filter.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump instances-ui image
  resources/service-catalog-addons/charts/instances-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fixes
  components/assetstore-controller-manager/pkg/cleaner/cleaner.go
  components/assetstore-controller-manager/pkg/controller/asset/asset_controller.go
  components/assetstore-controller-manager/pkg/controller/asset/asset_controller_suite_test.go
  components/assetstore-controller-manager/pkg/controller/asset/asset_pending.go
  components/assetstore-controller-manager/pkg/controller/asset/asset_reason.go
  components/assetstore-controller-manager/pkg/controller/asset/webhook/validation_webhook.go
  components/assetstore-controller-manager/pkg/errors/errors.go
Due: console-integration

bump console image (#2674)
  resources/core/charts/console/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix test
  components/assetstore-controller-manager/pkg/controller/asset/asset_controller_test.go
Due: console-integration

Update makefile
  components/assetstore-controller-manager/Makefile
  components/assetstore-controller-manager/README.md
Due: console-integration

Improve the SC components' description
  docs/kyma/docs/03-01-components.md
  docs/service-catalog/docs/13-01-service-brokers.md
Due: kyma-docs

Apply suggestions from code review
  resources/assetstore/README.md
  resources/assetstore/charts/assetstore-controller-manager/README.md
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Bump Content UI image
  resources/core/charts/docs/charts/content-ui/Chart.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, pre-master-kyma-integration, pre-master-kyma-gke-integration, pre-master-kyma-gke-upgrade

Fix the ci-gometalinter for event-bus
  components/event-bus/Makefile
Due: console-integration

Update codeowners
  CODEOWNERS
Due: none

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  kyma-components-application-operator: any of: ^components/application-operator/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  kyma-docs: any of: ^docs/
  pre-master-kyma-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-integration: any of: ^(resources|installation)
  pre-master-kyma-gke-upgrade: any of: ^(resources|installation)
  kyma-tests-kubeless-integration: any of: ^tests/kubeless-integration/
  kyma-tests-kubeless: any of: ^tests/kubeless/
  pre-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  post-master-kyma-tools-etcd-tls-setup: any of: ^tools/etcd-tls-setup/
  pre-master-kyma-tools-failery: any of: ^tools/failery/
  post-master-kyma-tools-failery: any of: ^tools/failery/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
