Repository kyma-project/kyma: changes, and which Prow jobs are due for each by the changed paths.
All: prow/components/ui-api-layer, kyma-integration, kyma-gke-integration, console-integration, prow/kyma/components/binding-usage-controller, prow/kyma/components/ui-api-layer/tests, kyma/components/ui-api-layer, kyma-components-ui-api-layer, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration, kyma-tests-kubeless, prow/test-infra/test-job-yaml-definitions, prow/test-infra/test-jobs-yaml-definitions

Path conditions:
  prow/components/ui-api-layer: any of: components/ui-api-layer
  kyma-integration: any of: ^(resources|installation)
  kyma-gke-integration: any of: ^(resources|installation)
  console-integration: any of: ^components/|^resources/
  prow/kyma/components/binding-usage-controller: any of: components/binding-usage-controller/
  prow/kyma/components/ui-api-layer/tests: any of: components/ui-api-layer/
  kyma/components/ui-api-layer: any of: components/ui-api-layer/
  kyma-components-ui-api-layer: any of: ^components/ui-api-layer/
  prow/kyma/kyma-integration: any of: ^(resources|installation)
  prow/kyma/kyma-gke-integration: any of: ^(resources|installation)
  kyma-tests-kubeless: any of: ^tests/kubeless/
  prow/test-infra/test-job-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)
  prow/test-infra/test-jobs-yaml-definitions: any of: (/prow/jobs)|(/development/tools/jobs)

Bumped version of gateway-tests
  resources/application-connector/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Fix reName and add TypeMeta for EA
  components/application-broker/cmd/poc-finalizers/controller.go
  components/application-broker/internal/broker/catalog_test.go
  components/application-broker/internal/broker/deprovision.go
  components/application-broker/internal/broker/fix_test.go
  components/application-broker/internal/broker/provision.go
  components/application-broker/internal/mapping/controller.go
  components/application-broker/internal/mapping/controller_test.go
Due: console-integration

Apply suggestions from KG code review
  docs/kyma/docs/030-inst-local-installation-from-release.md
Due: none

add xip-patch chart and xip-installation.yaml
  installation/resources/xip-installation.yaml
  resources/xip-patch/Chart.yaml
  resources/xip-patch/templates/clusterrole.yaml
  resources/xip-patch/templates/clusterrolebinding.yaml
  resources/xip-patch/templates/job.yaml
  resources/xip-patch/templates/serviceaccount.yaml
  resources/xip-patch/values.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

fix
  installation/resources/xip-installation.yaml
Due: kyma-integration, kyma-gke-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

fix
  components/xip-patch/.dockerignore
  components/xip-patch/Dockerfile
  components/xip-patch/Jenkinsfile
  components/xip-patch/Makefile
  components/xip-patch/xip-patch.sh
  orchestrator.Jenkinsfile
Due: console-integration

Update local installation guide - checking installation status + troubleshooting (#2047)
  docs/kyma/docs/030-inst-local-installation-from-release.md
Due: none

Minor fixes
  components/application-operator/cmd/manager/manager.go
  components/application-operator/pkg/apis/api.go
  components/application-operator/pkg/controller/reconciler.go
  components/application-operator/pkg/controller/reconciler_test.go
  tests/application-operator-tests/test/testkit/suite.go
  tests/gateway-tests/test/apitests/gateway_events_test.go
  tests/gateway-tests/test/testkit/config.go
Due: console-integration

language tweaks
  common/README.md
Due: none

Create common package (#2018)
  CODEOWNERS
  common/Gopkg.lock
  common/Gopkg.toml
  common/Jenkinsfile
  common/Makefile
  common/README.md
  common/before-commit.sh
  common/doc.go
  orchestrator.Jenkinsfile
Due: none

Remove core upgrade from installer (#2003)
  components/installer/pkg/kymainstallation/step.go
Due: console-integration

Rename env to namespaces in console docu
  docs/console/docs/001-overview-console.md
  docs/console/docs/010-details-uiextensibility.md
  docs/console/docs/021-cr-microfrontend.md
  docs/console/docs/022-cr-clustermicrofrontend.md
Due: none

fix
  resources/xip-patch/templates/clusterrole.yaml
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Change namespace to custom one, which is created by helm. Enable istio on the namespace. Refactor nameing
  resources/core/charts/api-controller/templates/tests/test-namespace.yaml
  tests/api-controller-acceptance-tests/apicontroller/component_test.go
  tests/api-controller-acceptance-tests/apicontroller/fixture.go
  tests/api-controller-acceptance-tests/apicontroller/integration_test.go
Due: kyma-integration, kyma-gke-integration, console-integration, prow/kyma/kyma-integration, prow/kyma/kyma-gke-integration

Move to common, add tests and docs
  common/Gopkg.lock
  common/Gopkg.toml
  common/ingressgateway/doc.go
  common/ingressgateway/ingressgateway.go
  common/ingressgateway/ingressgateway_test.go
  tests/tools/Gopkg.toml
  tests/tools/ingressgateway/ingressgateway.go
Due: none

Fix naming 2
  tests/api-controller-acceptance-tests/apicontroller/component_test.go
  tests/api-controller-acceptance-tests/apicontroller/integration_test.go
Due: none

before-commit fixes
  common/Gopkg.lock
  common/ingressgateway/doc.go
  common/ingressgateway/ingressgateway.go
  common/ingressgateway/ingressgateway_test.go
Due: none

Fix test name
  common/ingressgateway/ingressgateway_test.go
Due: none

Removed Gopkg.toml and removed validate stage
  tools/load-test/Gopkg.toml
  tools/load-test/Jenkinsfile
Due: none

Update README.md
  tools/load-test/README.md
Due: none

Added info on inodes to slave diagnostics
  tools/load-test/Jenkinsfile
Due: none

Formatted with new lines
  tools/load-test/deploy/chart/load-test/.helmignore
Due: none

Added @channel tag to fail notification
  tools/load-test/load-test.go
Due: none

Removed extra chars
  tools/load-test/main.go
Due: none

Added quotes
  tools/load-test/deploy/chart/load-test/templates/load-test.yaml
Due: none

Some fixes
  tools/load-test/main.go
Due: none

Update documentation - README.md
  tools/load-test/README.md
Due: none

ADD a wip documentation into the README.md
  tools/load-test/README.md
Due: none

Fine tuned helm chart
  tools/load-test/deploy/chart/load-test/templates/load-tests.yaml
  tools/load-test/deploy/chart/load-test/values.yaml
Due: none

Formatted with new lines
  tools/load-test/Dockerfile
  tools/load-test/Jenkinsfile
  tools/load-test/before-commit.sh
  tools/load-test/deploy/chart/load-test/Chart.yaml
  tools/load-test/deploy/chart/load-test/templates/_helpers.tpl
  tools/load-test/deploy/chart/load-test/templates/load-test.yaml
  tools/load-test/deploy/chart/load-test/values.yaml
  tools/load-test/k8syaml/function.yaml
  tools/load-test/k8syaml/ns.yaml
Due: none

Some more fixes
  tools/load-test/deploy/chart/load-test/templates/load-tests.yaml
  tools/load-test/main.go
Due: none

Fixed gometalinter issues
  tools/load-test/main.go
Due: none

Asthetic changes to main.go
  tools/load-test/main.go
Due: none

Revert "Implement a performance test for kubeless functions Horizontal Pod Austoscaler"
  tests/test-horizontal-pod-autoscaler-functions/Dockerfile
  tests/test-horizontal-pod-autoscaler-functions/js/test.js
  tests/test-horizontal-pod-autoscaler-functions/k8syaml/api.yaml
  tests/test-horizontal-pod-autoscaler-functions/k8syaml/function.yaml
  tests/test-horizontal-pod-autoscaler-functions/k8syaml/ns.yaml
  tests/test-horizontal-pod-autoscaler-functions/test-hpa-functions.go
  tests/test-horizontal-pod-autoscaler-functions/test/function/function.go
Due: none

Implement a load test for kubeless functions Horizontal Pod Austoscaler Add entry for /tools/load-test in CODEOWNERS, orchestrator.Jenkinsfile and release.Jenkinsfile
  CODEOWNERS
  orchestrator.Jenkinsfile
  release.Jenkinsfile
  tools/load-test/Dockerfile
  tools/load-test/Gopkg.toml
  tools/load-test/Jenkinsfile
  tools/load-test/README.md
  tools/load-test/before-commit.sh
  tools/load-test/deploy/.helmignore
  tools/load-test/deploy/Chart.yaml
  tools/load-test/deploy/load-test/templates/_helpers.tpl
  tools/load-test/deploy/load-test/templates/load-tests.yaml
  tools/load-test/deploy/values.yaml
  tools/load-test/k8syaml/function.yaml
  tools/load-test/k8syaml/ns.yaml
  tools/load-test/main.go
Due: none

Implement a performance test for kubeless functions Horizontal Pod Austoscaler
  tests/test-horizontal-pod-autoscaler-functions/Dockerfile
  tests/test-horizontal-pod-autoscaler-functions/js/test.js
  tests/test-horizontal-pod-autoscaler-functions/k8syaml/api.yaml
  tests/test-horizontal-pod-autoscaler-functions/k8syaml/function.yaml
  tests/test-horizontal-pod-autoscaler-functions/k8syaml/ns.yaml
  tests/test-horizontal-pod-autoscaler-functions/test-hpa-functions.go
  tests/test-horizontal-pod-autoscaler-functions/test/function/function.go
Due: none

Handled slack notifications for time out case
  tools/load-test/load-test.go
Due: none

Added inodes info
  tools/load-test/Jenkinsfile
Due: none

Renamed file
  tools/load-test/load-test.go
Due: none
